<template>
  <MapsPreviewGeoserverLayer v-if="section" :layer="section.tableName" />
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Section } from "@backPrisma/client";

import MapsPreviewGeoserverLayer from "@/components/maps/MapsPreviewGeoserverLayer.vue";

// DATA

const sectionId = computed(() => Number(useRoute().params.sectionId as string));

const section = ref<Section>();

// ON MOUNTED
onMounted(() => {
  findSection(sectionId.value);
});

// METHODS

async function findSection(sectionId: number) {
  try {
    section.value = await requester.sections.findOne(sectionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
