<template>
  <MapsPreviewGeoJson v-if="geojson" :geojson="geojson" />
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import MapsPreviewGeoJson from "@/components/maps/MapsPreviewGeoJson.vue";

// DATA

const sectionId = computed(() => Number(useRoute().params.sectionId as string));
const dataId = computed(() => Number(useRoute().params.dataId as string));

const geojson = ref<GeoJSON.Feature>();

// ON MOUNTED
onMounted(() => {
  getBasesGeojson(sectionId.value, dataId.value);
});

// METHODS

async function getBasesGeojson(sectionId: number, dataId: number) {
  try {
    geojson.value = await requester.sections.getDataGeojson(sectionId, dataId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
