<template>
  <v-row>
    <v-col
      v-for="(categoria, index) in categorias"
      :key="index"
      cols="12"
      sm="6"
      lg="3"
    >
      <div class="font-weight-bold">{{ categoria.title }}</div>
      <div>
        <div v-for="item in categoria.items" :key="item">
          {{ item }}
        </div>
      </div>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12" sm="12" lg="3">
      <div class="font-weight-bold">Suporte</div>
      <div class="d-flex align-center">
        <a
          :href="`mailto:${emailSuporte}`"
          target="_blank"
          class="text-black text-decoration-none"
        >
          <v-icon icon="mdi-email" size="small" start />
        </a>
        <a
          :href="`mailto:${emailSuporte}`"
          target="_blank"
          class="text-black text-decoration-none"
        >
          <span>{{ emailSuporte }}</span>
        </a>
      </div>
    </v-col>
    <v-col cols="12" sm="6" lg="6">
      <div class="font-weight-bold">Código disponível em</div>
      <div>
        <a :href="linkRepositorio" target="_blank" class="text-black">
          {{ linkRepositorio }}
        </a>
      </div>
    </v-col>
    <v-col cols="12" sm="6" lg="3">
      <div class="font-weight-bold">Licença</div>
      <div>
        <a
          :href="licenca.href"
          target="_blank"
          class="d-flex align-start text-black"
        >
          <span class="text-no-wrap">{{ licenca.title }}</span>
          <img :src="licenca.imgSrc" width="88" class="ml-2" />
        </a>
      </div>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
// DATA

const categorias = [
  { title: "Realização", items: ["Instituto Lidas"] },
  { title: "Desenvolvimento", items: ["Unifesp", "InterSCity", "IME-USP "] },
  {
    title: "Parcerias",
    items: ["FE-USP", "NAI-FEUSP", "ObservaSaúde", "CEPEDOC", "Candeeiro"],
  },
  { title: "Apoio/Financiamento", items: ["FAPESP", "CNPQ", "(OPAS/OMS)"] },
];

const emailSuporte = "lidas@lidas.org.br";
const linkRepositorio = "https://gitlab.com/culturaeduca/culturaeduca";
const licenca = {
  href: "https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br",
  title: "CC BY-NC-SA 4.0",
  imgSrc:
    "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png",
};
</script>
