<template>
  <v-footer absolute app :color="color">
    <v-container class="py-8">
      <v-row>
        <v-col cols="12">
          <div class="text-h6">{{ title }}</div>
        </v-col>
      </v-row>
      <FooterContent />
    </v-container>
  </v-footer>
</template>

<script setup lang="ts">
import FooterContent from "./FooterContent.vue";

// PROPS
export interface Props {
  color?: string;
}
withDefaults(defineProps<Props>(), {
  color: "white",
});

// DATA

const title = `${new Date().getFullYear()} — CulturaEduca`;
</script>
