<template>
  <v-footer color="white" absolute app class="py-0 elevation-2">
    <div class="d-flex justify-space-between align-center text-caption w-100">
      <v-bottom-sheet v-model="bottomSheet">
        <template v-slot:activator="{ props }">
          <div
            class="d-flex align-center cursor-pointer w-100 py-1"
            v-bind="props"
          >
            <span> {{ title }} </span>
            <v-icon icon="mdi-chevron-up" />
          </div>
        </template>
        <v-card color="white">
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <div class="d-flex align-center justify-space-between">
                  <span class="text-h6">{{ title }}</span>
                  <v-btn
                    variant="plain"
                    icon="mdi-chevron-down"
                    @click="bottomSheet = false"
                  />
                </div>
              </v-col>
            </v-row>
            <FooterContent />
          </v-card-text>
        </v-card>
      </v-bottom-sheet>
      <a
        :href="licenca.href"
        target="_blank"
        class="d-flex align-center text-black text-decoration-none ml-2"
      >
        <span class="text-no-wrap">{{ licenca.title }}</span>
        <img :src="licenca.imgSrc" width="64" class="ml-2" />
      </a>
    </div>
  </v-footer>
</template>

<script setup lang="ts">
import { ref } from "vue";
import FooterContent from "./FooterContent.vue";

// DATA

const bottomSheet = ref(false);
const title = `${new Date().getFullYear()} — CulturaEduca`;
const licenca = {
  href: "https://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt-br",
  title: "CC BY-NC-SA 4.0",
  imgSrc:
    "https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png",
};
</script>
