<template>
  <template v-if="usuario">
    <v-card-title class="text-h6 pb-0">{{ usuario.nome }}</v-card-title>
    <v-card-subtitle class="text-body-2">{{ usuario.email }}</v-card-subtitle>
    <v-divider class="mt-3" />
  </template>
  <v-list-item :to="{ name: 'Home' }" exact>
    <v-list-item-title>Página inicial</v-list-item-title>
  </v-list-item>
  <v-divider />
  <template v-if="!usuario">
    <v-list variant="flat" density="compact">
      <v-list-item :to="{ name: 'AuthEntrar' }">
        <v-list-item-title class="d-flex align-center">
          <span class="text-body-1">Entrar</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </template>
  <template v-else>
    <v-list variant="flat" density="compact" class="py-0">
      <v-list-item :to="{ name: 'UsuariosInicio' }" exact>
        <v-list-item-title class="d-flex align-center">
          <span class="text-body-1">Meu perfil</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item @click="signOutDebounce()">
        <v-list-item-title class="d-flex align-center">
          <span class="text-body-1">Sair</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </template>
</template>

<script lang="ts" setup>
import { ref, computed } from "vue";
import { debounce } from "lodash";
import { useAuthStore } from "@/store/auth.store";
import { emitAlertError } from "@/plugins/eventBus";
import { useRouter } from "vue-router";

const router = useRouter();
const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);
const loading = ref(false);

const signOutDebounce = debounce(signOut, 300);
async function signOut() {
  loading.value = true;
  try {
    await authStore.signOut();
    router.push({ name: "Home" });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
