<template>
  <div class="d-flex justify-center align-center fill-height">
    <v-icon icon="mdi-tools" start size="x-large" color="neutral" />
    <span class="text-h6 text-neutral">Página em construção</span>
  </div>
</template>
