<template>
  <!-- CONFIRMATION DIALOG -->
  <v-dialog v-model="dialog" :width="width" persistent>
    <v-card rounded>
      <v-card-text class="pb-0">
        <div class="text-h6">{{ title }}</div>
        <div class="text-body-2 text-medium-emphasis">
          {{ description }}
        </div>
      </v-card-text>
      <v-card-actions class="d-flex justify-space-between align-center">
        <v-btn
          variant="plain"
          :color="cancelColor"
          :prepend-icon="cancelIcon"
          @click="onClickCancel()"
        >
          {{ cancelText }}
        </v-btn>
        <v-btn
          variant="text"
          :color="okColor"
          :append-icon="okIcon"
          @click="onClickOk()"
        >
          {{ okText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref, onMounted, onUnmounted } from "vue";
import {
  CONFIRMATION_DIALOG_OPEN_EVENT_KEY,
  CONFIRMATION_DIALOG_RESPONSE_EVENT_KEY,
  EventBus,
} from "@/plugins/eventBus";

const eventId = ref<number>();

const title = ref("Confirmar");
const description = ref("");
const okText = ref("OK");
const okColor = ref("success");
const okIcon = ref("");
const cancelText = ref("Cancelar");
const cancelColor = ref("");
const cancelIcon = ref("");

const width = ref<string | number>(420);
const dialog = ref(false);

onMounted(() => {
  EventBus.on(
    CONFIRMATION_DIALOG_OPEN_EVENT_KEY,
    (options: {
      id: number;
      data: {
        title: string;
        description?: string;
        okText?: string;
        okColor?: string;
        okIcon?: string;
        cancelText?: string;
        cancelColor?: string;
        cancelIcon?: string;
        width?: string | number;
      };
    }) => {
      if (eventId.value) {
        EventBus.emit(CONFIRMATION_DIALOG_RESPONSE_EVENT_KEY, {
          id: eventId.value,
          data: null,
          err: new Error("New confirmation"),
        });
      }
      eventId.value = options.id;
      title.value = options.data.title ?? "Confirmar";
      description.value = options.data.description ?? "";
      okText.value = options.data.okText ?? "OK";
      okColor.value = options.data.okColor ?? "success";
      okIcon.value = options.data.okIcon ?? "";
      cancelText.value = options.data.cancelText ?? "Cancelar";
      cancelColor.value = options.data.cancelColor ?? "";
      cancelIcon.value = options.data.cancelIcon ?? "";
      width.value = options.data.width || 420;
      dialog.value = true;
    }
  );
});

function onClickOk() {
  EventBus.emit(CONFIRMATION_DIALOG_RESPONSE_EVENT_KEY, {
    id: eventId.value,
    data: true,
    err: null,
  });
  dialog.value = false;
  eventId.value = undefined;
}

function onClickCancel() {
  EventBus.emit(CONFIRMATION_DIALOG_RESPONSE_EVENT_KEY, {
    id: eventId.value,
    data: false,
    err: null,
  });
  dialog.value = false;
  eventId.value = undefined;
}

onUnmounted(() => {
  EventBus.off(CONFIRMATION_DIALOG_OPEN_EVENT_KEY);
});
</script>
