<template>
  <v-app-bar :density="density" :elevation="elevation">
    <v-container :fluid="containerFluid" class="py-0">
      <v-row justify="center" align="center">
        <v-col
          cols="12"
          sm="4"
          class="d-flex justify-space-between align-center"
        >
          <router-link :to="{ name: 'Home' }">
            <v-img src="/img/logo.svg" :width="logoWidth" />
          </router-link>
          <v-app-bar-nav-icon
            v-if="$vuetify.display.xs"
            @click="drawer = !drawer"
          />
        </v-col>
        <template v-if="$vuetify.display.smAndUp">
          <v-col cols="4" class="d-flex justify-center align-center">
            <v-btn rounded :to="{ name: 'Mapa' }" :size="btnSizes">Mapa</v-btn>
            <v-btn rounded :to="{ name: 'Rede' }" :size="btnSizes">Rede</v-btn>
            <v-btn rounded :to="{ name: 'Sobre' }" :size="btnSizes">
              Sobre
            </v-btn>
          </v-col>
          <v-col cols="4" class="d-flex justify-end align-center">
            <template v-if="!usuario">
              <v-btn
                :size="btnSizes"
                rounded
                :to="{ name: 'AuthCriarConta' }"
                exact
              >
                Criar conta
              </v-btn>
              <v-btn
                :size="btnSizes"
                variant="flat"
                rounded
                color="primary"
                :to="{ name: 'AuthEntrar' }"
                exact
              >
                Entrar
              </v-btn>
            </template>
            <template v-else>
              <v-menu location="bottom right" offset="10">
                <template v-slot:activator="{ props }">
                  <v-btn
                    rounded
                    :size="btnSizes"
                    v-bind="props"
                    data-test="user-menu-button"
                  >
                    <v-icon icon="mdi-account" start />
                    <span class="text-truncate" style="max-width: 120px">
                      {{ usuario.nome }}
                    </span>
                    <v-icon icon="mdi-menu-down" end />
                  </v-btn>
                </template>
                <v-card rounded style="border-radius: 10px; min-width: 250px">
                  <MenuUsuario />
                </v-card>
              </v-menu>
            </template>
          </v-col>
        </template>
      </v-row>
    </v-container>
  </v-app-bar>
  <v-navigation-drawer v-model="drawer" location="right" temporary>
    <v-card tile variant="flat">
      <MenuUsuario />
    </v-card>
  </v-navigation-drawer>
</template>

<script lang="ts" setup>
import { ref, computed } from "vue";
import { useAuthStore } from "@/store/auth.store";
import MenuUsuario from "./MenuUsuario.vue";

// PROPS
export interface Props {
  elevation?: number;
  density?: "comfortable" | "compact" | "default" | "prominent";
  logoWidth?: number;
  btnSizes?: "x-small" | "small" | "regular" | "large" | "x-large";
  containerFluid?: boolean;
}
withDefaults(defineProps<Props>(), {
  elevation: 4,
  density: "default",
  logoWidth: 60,
  containerFluid: false,
});

// DATA

const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);

const drawer = ref(false);
</script>
