<template>
  <div v-if="question">
    <v-card v-if="raw" theme="dark">
      <v-card-text>
        <pre>question:</pre>
        <pre>{{ question }}</pre>
      </v-card-text>
    </v-card>
    <v-card v-else variant="outlined" color="grey-lighten-2">
      <v-table density="compact">
        <tbody>
          <tr
            v-for="(property, index) in questionProperties"
            :key="property.name"
            :class="{ 'bg-grey-lighten-4': index % 2 === 0 }"
          >
            <th width="1">{{ property.title }}</th>
            <td>
              <template v-if="property.type === 'boolean'">
                <span v-if="question?.[property.name]" class="text-success">
                  Yes
                </span>
                <span v-else class="text-error">No</span>
              </template>
              <template v-else-if="property.type === 'datetime'">
                <span v-if="question?.[property.name]">
                  {{ filterFormatDate(question?.[property.name]) }}
                </span>
                <span v-else class="text-disabled">N/A</span>
              </template>
              <template v-else>
                <span v-if="question?.[property.name]">
                  {{ question?.[property.name] }}
                </span>
                <span v-else class="text-disabled">N/A</span>
              </template>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { inject, Ref } from "vue";
import { filterFormatDate } from "@/utils/filters";
import { QuestionWithTablesAndColumns } from "@/utils/questions-helper.utils";
import { useRoute } from "vue-router";
import { computed } from "vue";

// DATA

const route = useRoute();
const raw = computed(() => route.query?.raw === "true");

const question = inject<Ref<QuestionWithTablesAndColumns>>("question");

const questionProperties = [
  { name: "uri", title: "URI", type: "string" },
  { name: "title", title: "Title", type: "string" },
  { name: "description", title: "Description", type: "string" },
  { name: "viewName", title: "View Name", type: "string" },
  { name: "materialized", title: "Materialized", type: "boolean" },
  { name: "createdAt", title: "Created at", type: "datetime" },
  { name: "updatedAt", title: "Updated at", type: "datetime" },
];
</script>
