<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-database-edit" class="text-h4" start />
    <h1 class="text-h4">Question Raw SQL</h1>
  </div>
  <v-divider class="my-3" />
  <v-card
    theme="dark"
    style="height: calc(100vh - 200px); padding: 1em 1em 4em 0em"
  >
    <SqlCodeEditor @preview="preview" @save="save" />
  </v-card>
</template>

<script lang="ts" setup>
import SqlCodeEditor from "@/components/SqlCodeEditor.vue";

function preview(code: string) {
  console.log("Preview", code);
}
function save(code: string) {
  console.log("Save", code);
}
</script>
