<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-table-search" class="text-h4" start />
    <h1 class="text-h4">Questions</h1>
  </div>
  <v-divider class="mt-2 mb-4" />

  <!-- SEARCH BAR -->
  <div class="d-flex align-center mb-2">
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
  </div>

  <!-- TABLE QUESTIONS -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>URI</th>
          <th>Title</th>
          <th>Description</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th class="text-center">Details</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in questionsFiltered" :key="item.id">
          <td>
            <router-link
              class="font-weight-medium text-decoration-none"
              :to="{ name: 'QuestionsView', params: { questionId: item.id } }"
            >
              {{ item.uri }}
            </router-link>
          </td>
          <td>{{ item.title }}</td>
          <td>
            <span v-if="item.description" v-text="item.description" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td class="text-center">
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{ name: 'QuestionsView', params: { questionId: item.id } }"
            />
          </td>
          <td class="text-center">
            <v-btn icon="mdi-pencil" color="warning" variant="text" disabled />
          </td>
          <td class="text-center">
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeQuestion(item.id)"
              :loading="loading.removeQuestion"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted } from "vue";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { filterFormatDate } from "@/utils/filters";
import { Question } from "@backPrisma/client";
import { cleanString } from "@/utils/string-functions.utils";

const loading = ref({
  questions: true,
  removeQuestion: false,
});

const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const questions = ref<Question[]>([]);
const questionsFiltered = computed(() =>
  questions.value.filter((question) => {
    return (
      cleanString(question.uri).includes(cleanSearch.value) ||
      cleanString(question.title).includes(cleanSearch.value) ||
      cleanString(question.description || "").includes(cleanSearch.value)
    );
  })
);

onMounted(() => {
  findAllQuestions();
});

async function removeQuestion(questionId: number) {
  loading.value.removeQuestion = true;
  try {
    await requester.questions.remove(questionId);
    emitAlertSuccess("Question successfully removed");
    const index = questions.value.findIndex(
      (question) => question.id === questionId
    );
    if (index >= 0) {
      questions.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.removeQuestion = false;
  }
}

async function findAllQuestions() {
  loading.value.questions = true;
  try {
    questions.value = await requester.questions.findAll();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.questions = false;
  }
}
</script>
