<template>
  <div v-if="question">
    <v-card variant="outlined" color="grey-lighten-2" class="mb-3">
      <v-table density="compact">
        <thead>
          <tr class="bg-grey-lighten-4">
            <th class="text-medium-emphasis">Column Name</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="questionColumn in question.questionColumns"
            :key="questionColumn.id"
          >
            <td class="text-medium-emphasis">
              {{ getColumnName(questionColumn) }}
            </td>
            <td>{{ getProperty("name", questionColumn) }}</td>
            <td>{{ getProperty("description", questionColumn) }}</td>
            <td>{{ getProperty("type", questionColumn) }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div class="d-flex justify-end align-center">
      <v-btn variant="outlined" size="small" @click="generateBaseItemsJson">
        JSON
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { inject, Ref } from "vue";
import { Attribute, AttributeSeries, QuestionColumn } from "@backPrisma/client";
import { emitAlertSuccess } from "@/plugins/eventBus";
import { QuestionWithTablesAndColumns } from "@/utils/questions-helper.utils";

// DATA

const question = inject<Ref<QuestionWithTablesAndColumns>>("question");

// FUNCTIONS

function getAttribute(
  questionColumn: QuestionColumn & {
    attributeSeries: AttributeSeries & { attributes: Attribute[] };
  }
) {
  const questionQueryTable = question.value.questionTables.find(
    (el) => el.id === questionColumn.questionTableId
  );
  const attribute = questionColumn.attributeSeries.attributes.find(
    (el) => el.sectionId === questionQueryTable.sectionId
  );
  return attribute;
}

function getColumnName(
  questionColumn: QuestionColumn & {
    attributeSeries: AttributeSeries & { attributes: Attribute[] };
  }
) {
  const questionTable = question.value.questionTables.find(
    (el) => el.id === questionColumn.questionTableId
  );
  const tableName = questionTable.section.tableName;
  const aliasIndex = questionTable.aliasIndex;
  const name = getProperty("name", questionColumn);
  return `${tableName}_${aliasIndex}_${name}`;
}

function getProperty(
  property: "id" | "name" | "description" | "type",
  questionColumn: QuestionColumn & {
    attributeSeries: AttributeSeries & { attributes: Attribute[] };
  }
) {
  if (questionColumn?.[property]) return questionColumn[property];
  const attribute = getAttribute(questionColumn);
  return attribute?.[property];
}

function generateBaseItemsJson() {
  const json = JSON.stringify(
    question.value.questionColumns.map((questionColumn, index) => ({
      order: index,
      title: getProperty("name", questionColumn),
      description: getProperty("description", questionColumn),
      type: getProperty("type", questionColumn),
      column: `question_column_${questionColumn.id}`,
    }))
  );
  navigator.clipboard.writeText(json);
  emitAlertSuccess("JSON copied to clipboard");
}
</script>
