<template>
  <div v-if="question">TODO</div>
</template>

<script lang="ts" setup>
import { inject, Ref } from "vue";
import { QuestionWithTablesAndColumns } from "@/utils/questions-helper.utils";

// DATA

const question = inject<Ref<QuestionWithTablesAndColumns>>("question");
</script>
