<template>
  <div>
    <template v-if="dataset.format !== DatasetFormatEnum.NON_GEOSPATIAL">
      <!-- GEOMETRY -->
      <h2 class="text-h5">Geometry</h2>
      <v-divider class="mt-1 mb-3" />
      <!-- TABLE GEOMETRY -->
      <v-card variant="outlined" color="grey-lighten-2" class="mb-4">
        <v-table hover density="compact">
          <thead>
            <tr>
              <th>Default Geometry Column</th>
              <th>Type</th>
              <th>
                <div class="d-flex justify-space-between align-center">
                  <span>Geometry source</span>
                  <v-btn
                    variant="text"
                    prepend-icon="mdi-text-search-variant"
                    @click="inferMappingGeometry()"
                  >
                    Infer
                  </v-btn>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              :class="defaultColumnGeometry.geoType ? '' : 'bg-amber-lighten-5'"
            >
              <td>{{ DefaultSectionTableColumnEnum.GEOMETRY }}</td>
              <td>{{ defaultColumnGeometryDbType }}</td>
              <td>
                <v-autocomplete
                  v-model="defaultColumnGeometry.geoType"
                  :items="itemsGeometry"
                  variant="outlined"
                  density="compact"
                  hide-details
                  clearable
                  class="my-1"
                />
              </td>
            </tr>
            <!-- GEOJSON -->
            <tr
              v-if="
                defaultColumnGeometry.geoType ===
                DataIngestionGeoTypeEnum.GEOJSON
              "
            >
              <td :colspan="headersAttributes.length + 2" class="px-0">
                <v-card variant="flat">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12">
                        <v-alert
                          :type="
                            dataIngestionFeatureHasGeometry
                              ? 'success'
                              : 'error'
                          "
                          variant="outlined"
                          density="compact"
                        >
                          <span
                            class="text-subtitle-1 font-weight-medium"
                            v-text="
                              dataIngestionFeatureHasGeometry
                                ? 'Geometry found in collection'
                                : 'Geometry not found in collection'
                            "
                          />
                        </v-alert>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </td>
            </tr>
            <!-- LAT_LNG -->
            <tr
              v-else-if="
                defaultColumnGeometry.geoType ===
                DataIngestionGeoTypeEnum.LAT_LNG
              "
            >
              <td :colspan="headersAttributes.length + 2" class="px-0">
                <v-card variant="flat">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-autocomplete
                          label="Property - Latitude"
                          v-model="defaultColumnGeometry.geoPropertyNameLat"
                          placeholder="Select property"
                          :items="dataIngestionFeatureProperties"
                          item-title="property"
                          item-value="property"
                          hide-details
                          variant="outlined"
                          density="compact"
                          clearable
                          class="my-1"
                        />
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-autocomplete
                          label="Property - Longitude"
                          v-model="defaultColumnGeometry.geoPropertyNameLng"
                          placeholder="Select property"
                          :items="dataIngestionFeatureProperties"
                          item-title="property"
                          item-value="property"
                          hide-details
                          variant="outlined"
                          density="compact"
                          clearable
                          class="my-1"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </td>
            </tr>
            <!-- WKT -->
            <tr
              v-else-if="
                defaultColumnGeometry.geoType === DataIngestionGeoTypeEnum.WKT
              "
            >
              <td :colspan="headersAttributes.length + 2" class="px-0">
                <v-card variant="flat">
                  <v-card-text>
                    <v-row>
                      <v-col cols="12">
                        <v-autocomplete
                          label="Property - WKT"
                          v-model="defaultColumnGeometry.geoPropertyNameWkt"
                          placeholder="Select property"
                          :items="dataIngestionFeatureProperties"
                          item-title="property"
                          item-value="property"
                          hide-details
                          variant="outlined"
                          density="compact"
                          clearable
                          class="my-1"
                        />
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </template>
    <!-- PROPERTIES -->
    <h2 class="text-h5">Properties</h2>
    <v-divider class="mt-1 mb-3" />
    <!-- TABLE PROPERTIES -->
    <v-card variant="outlined" color="grey-lighten-2">
      <v-table hover density="compact">
        <thead>
          <tr>
            <!-- ATTRIBUTES -->
            <th
              v-for="header in headersAttributes"
              :key="header.value"
              :class="header?.class"
            >
              {{ header.title }}
            </th>
            <th class="text-center px-0">
              <v-btn
                :icon="
                  expandHeadersAttributes
                    ? 'mdi-arrow-collapse-left'
                    : 'mdi-arrow-expand-left'
                "
                variant="flat"
                density="compact"
                @click="expandHeadersAttributes = !expandHeadersAttributes"
              />
            </th>
            <!-- PROPERTIES -->
            <th>
              <div class="d-flex justify-space-between align-center">
                <span>Property</span>
                <v-btn
                  prepend-icon="mdi-text-search-variant"
                  variant="text"
                  @click="inferMappingProperties()"
                  class="mr-6"
                >
                  Infer
                </v-btn>
              </div>
            </th>
            <th>Type</th>
            <th class="text-center">Required</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="attribute in attributesPropertiesOrdered"
            :key="attribute.id"
            :class="
              (attribute._mode === 'property' && !!attribute._property) ||
              (attribute._mode === 'expression' && !!attribute._expression)
                ? ''
                : 'bg-amber-lighten-5'
            "
          >
            <td
              v-for="header in headersAttributes"
              :key="header.value"
              :class="header?.cellClass"
            >
              <IconBooleanValue
                v-if="header.type === 'boolean'"
                :value="attribute[header.value]"
                color-false="grey-lighten-2"
              />
              <span v-else v-text="attribute[header.value]" />
            </td>
            <td class="text-center px-0"></td>
            <td>
              <v-autocomplete
                v-if="attribute._mode === 'property'"
                v-model="attribute._property"
                placeholder="Select property"
                :items="dataIngestionFeatureProperties"
                item-title="property"
                item-value="property"
                append-icon="mdi-swap-horizontal"
                prepend-inner-icon="mdi-table-column"
                hide-details
                variant="outlined"
                density="compact"
                clearable
                class="my-1"
                @click:append="attribute._mode = 'expression'"
              />
              <v-text-field
                v-else
                v-model="attribute._expression"
                placeholder="Write expression"
                append-icon="mdi-swap-horizontal"
                prepend-inner-icon="mdi-function-variant"
                hide-details
                variant="outlined"
                density="compact"
                clearable
                class="my-1"
                @click:append="attribute._mode = 'property'"
              />
            </td>
            <td>
              <span v-if="attribute._property">
                <v-chip
                  v-for="t in getPropertyType(attribute._property)"
                  :key="t"
                  :text="t"
                  class="mr-2"
                />
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
            <td class="text-center">
              <span v-if="attribute._property">
                <span
                  v-text="
                    getPropertyRequired(attribute._property) ? 'Yes' : 'No'
                  "
                />
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-divider class="my-4" />
    <v-btn
      prepend-icon="mdi-floppy"
      color="success"
      @click="mapAttributesDebounce(dataIngestion.id)"
    >
      Save
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref } from "vue";
import { JSONSchema7 } from "json-schema";
import { debounce, orderBy } from "lodash";
import { Attribute, DataIngestion, Dataset } from "@backPrisma/client";
import { MapAttributesDataIngestionDto } from "@backSrc/data-ingestions/dto";
import { AttributeTypeEnum } from "@backSrc/attributes/attributes.constants";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";
import IconBooleanValue from "@/components/IconBooleanValue.vue";
import { DataIngestionGeoTypeEnum } from "@backSrc/data-ingestions/data-ingestions.contants";
import { DefaultSectionTableColumnEnum } from "@backSrc/sections/sections.contants";
import { DatasetFormatEnum } from "@backSrc/datasets/datasets.constants";

// INJECT
const dataset = inject<Ref<Dataset>>("dataset");
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// DATA / COMPUTED

const dataIngestionFeatureProperties = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  const featureProperties = collectionSchema.properties?.properties as any;
  return orderBy(
    Object.keys(featureProperties?.properties).map((key) => {
      const type = featureProperties?.properties[key]?.type;
      return {
        property: key,
        type: Array.isArray(type) ? type : [type],
        required: (featureProperties?.required || []).includes(key),
      };
    }),
    (el) => el.property.toLocaleLowerCase()
  );
});

const dataIngestionFeatureHasGeometry = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  return !!collectionSchema.properties?.geometry;
});

const itemsGeometry = ref([
  { value: DataIngestionGeoTypeEnum.GEOJSON, title: "GeoJSON" },
  { value: DataIngestionGeoTypeEnum.LAT_LNG, title: "Latitude/Longitude" },
  { value: DataIngestionGeoTypeEnum.WKT, title: "WKT" },
]);

const defaultColumnGeometry = ref<{
  geoType: DataIngestionGeoTypeEnum | null;
  geoPropertyNameLat: string | null;
  geoPropertyNameLng: string | null;
  geoPropertyNameWkt: string | null;
}>({
  geoType: null,
  geoPropertyNameLat: null,
  geoPropertyNameLng: null,
  geoPropertyNameWkt: null,
});
const defaultColumnGeometryDbType = computed(() => {
  switch (dataset.value.format) {
    case DatasetFormatEnum.GEOSPATIAL_POINT:
      return "GEOMETRY (POINT, 4326)";
    case DatasetFormatEnum.GEOSPATIAL_LINE:
      return "GEOMETRY (MULTILINE, 4326)";
    case DatasetFormatEnum.GEOSPATIAL_POLYGON:
      return "GEOMETRY (MULTIPOLYGON, 4326)";
    default:
      return null;
  }
});

const attributesProperties = ref<
  (Attribute & {
    _mode: "property" | "expression";
    _property: string | null;
    _expression: string | null;
  })[]
>();
const attributesPropertiesOrdered = computed(() =>
  orderBy(attributesProperties.value, ["order"], ["asc"])
);
const expandHeadersAttributes = ref(false);
const headersAttributes = computed(() => [
  { value: "rawFileProperty", title: "Expected Property", type: "string" },
  { value: "name", title: "Attribute", type: "string" },
  {
    value: "description",
    title: "Description",
    type: "string",
    cellClass: "text-medium-emphasis",
  },
  { value: "type", title: "Type", type: "string" },
  ...(expandHeadersAttributes.value
    ? [
        {
          value: "optional",
          title: "Optional",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "indexable",
          title: "Indexable",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "unique",
          title: "Unique",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
        {
          value: "sensitiveData",
          title: "Sensitive data",
          type: "boolean",
          class: "text-center",
          cellClass: "text-center",
        },
      ]
    : []),
]);

onMounted(() => {
  findAttributes(dataIngestion.value.sectionId);
});

// METHODS

function getPropertyType(property: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === property
  )?.type;
}

function getPropertyRequired(property: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === property
  )?.required;
}

function findExistingPropertyEqual(value: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => el.property === value
  )?.property;
}

function findExistingPropertySimilar(value: string) {
  return dataIngestionFeatureProperties.value?.find(
    (el) => cleanString(el.property) === cleanString(value)
  )?.property;
}

function inferMappingProperties() {
  attributesProperties.value.forEach((attribute) => {
    attribute._property =
      findExistingPropertyEqual(attribute.rawFileProperty) ||
      findExistingPropertySimilar(attribute.rawFileProperty) ||
      findExistingPropertyEqual(attribute.name) ||
      findExistingPropertySimilar(attribute.name) ||
      null;
  });
}

function inferMappingGeometry() {
  defaultColumnGeometry.value.geoType = dataIngestionFeatureHasGeometry.value
    ? DataIngestionGeoTypeEnum.GEOJSON
    : null;
  defaultColumnGeometry.value.geoPropertyNameLat = null;
  defaultColumnGeometry.value.geoPropertyNameLng = null;
  defaultColumnGeometry.value.geoPropertyNameWkt = null;
}

async function findAttributes(sectionId: number) {
  try {
    const attributes = await requester.sections.findAttributes(sectionId);
    attributesProperties.value = attributes
      .filter(
        (el) =>
          ![AttributeTypeEnum.GEOMETRY, AttributeTypeEnum.GEOGRAPHY].includes(
            el.type as AttributeTypeEnum
          )
      )
      .map((el) => ({
        ...el,
        _mode: "property",
        _property: null,
        _expression: null,
      }));
  } catch (err) {
    emitAlertError(err);
  }
}

const mapAttributesDebounce = debounce(mapAttributes, 300);
async function mapAttributes(dataIngestionId: number) {
  try {
    const dto: MapAttributesDataIngestionDto = {
      columns: attributesProperties.value
        .filter(
          (el) =>
            (el._mode === "property" && !!el._property) ||
            (el._mode === "expression" && !!el._expression?.trim())
        )
        .map((el) => ({
          attributeId: el.id,
          propertyName: el._mode === "property" ? el._property || null : null,
          expression:
            el._mode === "expression" ? el._expression?.trim() || null : null,
        })),
      geoType: defaultColumnGeometry.value.geoType,
      geoPropertyNameLat:
        defaultColumnGeometry.value.geoType === DataIngestionGeoTypeEnum.LAT_LNG
          ? defaultColumnGeometry.value.geoPropertyNameLat
          : null,
      geoPropertyNameLng:
        defaultColumnGeometry.value.geoType === DataIngestionGeoTypeEnum.LAT_LNG
          ? defaultColumnGeometry.value.geoPropertyNameLng
          : null,
      geoPropertyNameWkt:
        defaultColumnGeometry.value.geoType === DataIngestionGeoTypeEnum.WKT
          ? defaultColumnGeometry.value.geoPropertyNameWkt
          : null,
    };
    await requester.dataIngestions.mapAttributes(dataIngestionId, dto);
    emitAlertSuccess("Attributes mapped successfully");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
