<template>
  <v-row>
    <v-col cols="12" lg="6" xl="8">
      <h2 class="text-h5">File</h2>
      <v-divider class="mt-1 mb-2" />
      <DataIngestionsFileInfo class="mb-4" />
      <h2 class="text-h5">Schema</h2>
      <v-divider class="mt-1 mb-1" />
      <DataIngestionsCollectionSchemaTable />
    </v-col>
    <v-col cols="12" lg="6" xl="4">
      <h2 class="text-h5">Log</h2>
      <v-divider class="mt-1 mb-3" />
      <DataIngestionsLogTable />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import DataIngestionsLogTable from "@/components/data-ingestions/DataIngestionsLogTable.vue";
import DataIngestionsCollectionSchemaTable from "@/components/data-ingestions/DataIngestionsCollectionSchemaTable.vue";
import DataIngestionsFileInfo from "@/components/data-ingestions/DataIngestionsFileInfo.vue";
</script>
