<template>
  <v-row v-if="showParseFileBtn">
    <v-col cols="12" sm="6" md="4" lg="3" xl="2">
      <div class="d-flex align-start">
        <v-text-field
          v-model="form.batchSize"
          label="Batch Size"
          variant="outlined"
          type="number"
          density="compact"
          class="mr-2"
        />
        <v-btn
          prepend-icon="mdi-upload"
          color="success"
          @click="parseFileDebounce(dataIngestion.id)"
        >
          Parse file
        </v-btn>
      </div>
    </v-col>
  </v-row>
  <DataIngestionsCollectionTable v-else :dataIngestionId="dataIngestion.id" />
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";
import { debounce } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion, DataIngestionLog } from "@backPrisma/client";

import DataIngestionsCollectionTable from "@/components/data-ingestions/DataIngestionsCollectionTable.vue";
import { computed } from "vue";
import { ParseFileDataIngestionDto } from "@backSrc/data-ingestions/dto";
import { ref } from "vue";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");
const dataIngestionCurrentLog = inject<Ref<DataIngestionLog>>(
  "dataIngestionCurrentLog"
);

const showParseFileBtn = computed(() =>
  ["FILE_UPLOAD_SUCCESS", "FILE_PARSING_FAILED"].includes(
    dataIngestionCurrentLog?.value?.status
  )
);

// EMITS
const emit = defineEmits<{
  (e: "file-parsed"): void;
}>();

// DATA
const form = ref({
  batchSize: 10000,
});

// METHODS
const parseFileDebounce = debounce(parseFile, 300);
async function parseFile(dataIngestionId: number) {
  try {
    const dto: ParseFileDataIngestionDto = {
      batchSize: Number(form.value.batchSize),
    };
    await requester.dataIngestions.parseFile(dataIngestionId, dto);
    emit("file-parsed");
    emitAlertSuccess("File parsing started");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
