<template>
  <div>
    <v-file-input
      :label="!formFile && fileInputDisabled ? 'File already uploaded' : ''"
      v-model="formFile"
      variant="outlined"
      :disabled="fileInputDisabled"
    />
    <v-btn
      prepend-icon="mdi-upload"
      color="success"
      :disabled="!formFile"
      @click="uploadFile(dataIngestion.id)"
      :loading="loading"
    >
      Upload
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, inject, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion, DataIngestionLog } from "@backPrisma/client";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");
const dataIngestionCurrentLog = inject<Ref<DataIngestionLog>>(
  "dataIngestionCurrentLog"
);

// DATA
const loading = ref(false);
const formFile = ref<File>(null);

const fileInputDisabled = computed(
  () =>
    !["CREATED", "FILE_UPLOAD_FAILURE"].includes(
      dataIngestionCurrentLog.value?.status
    )
);

// FUNCTIONS

async function uploadFile(dataIngestionId: number) {
  loading.value = true;
  try {
    // const formData = new FormData();
    // formData.append("file", formFile.value);
    // await requester.dataIngestions.uploadFile(dataIngestionId, formData);
    const presignedUrl =
      await requester.dataIngestions.createPresignedUploadUrl(dataIngestionId, {
        fileOriginalName: formFile.value.name,
      });
    emitAlertSuccess("File upload started successfully");
    await fetch(presignedUrl, { method: "PUT", body: formFile.value });
  } catch (err) {
    emitAlertError(err);
  } finally {
    try {
      await requester.dataIngestions.checkUploadedFile(dataIngestionId);
    } catch (err) {
      emitAlertError(err);
    } finally {
      loading.value = false;
    }
  }
}
</script>
