<template>
  <v-row>
    <v-col cols="12" sm="6" md="4" lg="3" xl="2">
      <div class="d-flex align-start">
        <v-text-field
          v-model="form.batchSize"
          label="Batch Size"
          variant="outlined"
          type="number"
          density="compact"
          class="mr-2"
        />
        <v-btn
          prepend-icon="mdi-database-import"
          color="success"
          @click="loadDataDebounce(dataIngestion.id)"
        >
          Load data
        </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { inject, ref, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

import { DataIngestion } from "@backPrisma/client";
import { debounce } from "lodash";
import { LoadDataDataIngestionDto } from "@backSrc/data-ingestions/dto";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// EMITS
const emit = defineEmits<{
  (e: "data-ingestion-started"): void;
}>();

// DATA
const form = ref({
  batchSize: 1000,
});

// METHODS
const loadDataDebounce = debounce(loadData, 300);
async function loadData(dataIngestionId: number) {
  try {
    const dto: LoadDataDataIngestionDto = {
      batchSize: Number(form.value.batchSize),
    };
    await requester.dataIngestions.loadData(dataIngestionId, dto);
    emit("data-ingestion-started");
    emitAlertSuccess("Data ingestion started successfully");
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
