<template>
  <v-card
    height="348px"
    elevation="3"
    style="
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
    "
  >
    <div
      style="position: absolute; top: 208px; left: 55px; z-index: 2 !important"
    >
      <v-avatar size="130px" color="white">
        <v-icon :icon="baseInfo?.icon" size="65" :color="baseInfo?.color" />
      </v-avatar>
    </div>
    <div
      style="
        position: absolute;
        top: 140px;
        left: 0;
        z-index: 1 !important;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 240px;
        pointer-events: none;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      "
    >
      <h1 class="text-h6">
        <span style="pointer-events: all">{{ entityNome }}</span>
      </h1>
      <div class="text-body-2 text-medium-emphasis">
        <span style="pointer-events: all">{{ baseInfo?.categoria }}</span>
      </div>
    </div>
    <div style="height: 300px">
      <MapaGenerico
        v-bind="initialValues"
        style="pointer-events: all; z-index: 0"
      />
    </div>
    <v-tabs
      v-model="tab"
      bg-color="white"
      color="primary"
      style="padding-left: 240px"
    >
      <v-tab :value="1">Ficha</v-tab>
      <v-tab :value="2">Rede</v-tab>
      <v-tab :value="3">Equipamentos</v-tab>
      <v-tab :value="4">Entorno</v-tab>
    </v-tabs>
  </v-card>
  <v-window v-model="tab">
    <v-window-item :value="1">
      <v-container v-if="entityData">
        <v-card
          v-for="secao in entityData.base.sections"
          :key="secao.order"
          :title="secao.title"
          class="mb-2"
          rounded
        >
          <v-card-text>
            <table class="w-100">
              <tr v-for="(item, index) in secao.items" :key="index">
                <th
                  class="text-left font-weight-medium py-1 pl-1 pr-2"
                  width="120px"
                >
                  {{ item.title }}
                </th>
                <td class="py-1 pl-2 pr-1">
                  <span v-if="entityData.entity[item.column]">{{
                    entityData.entity[item.column]
                  }}</span>
                  <span v-else class="text-disabled">N/A</span>
                </td>
              </tr>
            </table>
          </v-card-text>
        </v-card>
      </v-container>
    </v-window-item>
  </v-window>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted } from "vue";
import { useRoute } from "vue-router";

import MapaGenerico from "@/components/mapas/MapaGenerico.vue";
import requester from "@/requester";

const initialValues = {
  lat: Number(import.meta.env.VITE_MAP_INITIAL_LAT ?? -23.5558),
  lng: Number(import.meta.env.VITE_MAP_INITIAL_LNG ?? -46.6396),
  zoom: Number(import.meta.env.VITE_MAP_INITIAL_ZOOM ?? 14),
};

const tab = ref(1);

const route = useRoute();
const base = computed(() => route.params.base as string);
const entityId = computed(() => route.params.id as string);

const baseOptions = {
  escolas: {
    icon: "mdi-school",
    color: "primary",
    categoria: "Escola",
  },
};
const baseInfo = computed(() => baseOptions?.[base.value]);
const entityData = ref();
const entityNome = computed(() => {
  if (!entityData.value) return null;
  const { base, entity } = entityData.value;
  return entity[base.columnName];
});

onMounted(() => {
  getEntity();
});

async function getEntity() {
  try {
    entityData.value = await requester.bases.findEntityByPk(
      base.value,
      entityId.value
    );
  } catch (error) {
    console.error(error);
  }
}

// <MapaGenerico :lat="-23" :lng="-46" />
// linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
</script>
