<template>
  <v-sheet class="waves">
    <v-container class="py-12">
      <!-- TITULO -->
      <v-row justify="center">
        <v-col md="9" lg="7" xl="5">
          <h1 class="text-h3 text-center font-weight-medium mb-6">
            Conheça e mapeie o seu território com a gente
          </h1>
          <p class="text-body-1 text-center text-medium-emphasis mb-6">
            Uma plataforma educativa de mapeamento colaborativo e dados abertos
            para apoio a projetos locais, comunidades, pesquisas e políticas
            públicas.
          </p>
          <div class="d-flex justify-center mb-6">
            <v-btn
              variant="flat"
              rounded
              color="primary"
              size="large"
              class="ma-2"
              :to="{ name: 'Mapa' }"
              exact
            >
              Ir ao mapa
            </v-btn>
            <v-btn
              variant="outlined"
              rounded
              color="primary"
              size="large"
              class="ma-2"
              :to="
                usuario
                  ? { name: 'UsuariosInicio' }
                  : { name: 'AuthCriarConta' }
              "
            >
              Participe
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <!-- IMAGENS -->
      <v-row justify="space-around" align="center" class="mb-6">
        <template v-for="(imagem, index) in imagens">
          <v-col
            v-if="$vuetify.display.mdAndUp || index % 2 === 1"
            :key="index"
            align-self="center"
          >
            <v-card
              rounded
              elevation="4"
              style="border-radius: 1em"
              :class="imagem.class"
            >
              <v-img :src="imagem.src" :aspect-ratio="4 / 3" cover />
            </v-card>
          </v-col>
        </template>
      </v-row>
    </v-container>
  </v-sheet>
  <!-- ORGS -->
  <!-- <v-sheet color="primary">
    <v-container class="py-10">
      <v-row justify="space-around" align="center">
        <v-col
          cols="6"
          sm="4"
          lg="1"
          v-for="(logo, index) in logos"
          :key="index"
        >
          <a
            :href="logo.href"
            target="_blank"
            class="d-flex flex-column align-center justify-center py-2"
          >
            <v-img :src="logo.src" :width="logo.width" />
          </a>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet> -->
  <!-- ICONS -->
  <v-sheet color="primary">
    <v-container class="py-12">
      <v-row justify="space-between" class="mb-6">
        <v-col cols="12" md="6">
          <h2 class="text-h4 font-weight-medium">
            Consulte as principais informações públicas sobre o seu território
          </h2>
        </v-col>
        <v-col cols="12" md="4">
          <p class="text-body-1">
            O CulturaEduca reúne informações de vários bancos de dados em escala
            intraurbana.
          </p>
        </v-col>
      </v-row>
      <v-row justify="space-around" align="start">
        <v-col
          cols="6"
          md="3"
          lg="2"
          v-for="(icon, index) in icons"
          :key="index"
        >
          <div class="d-flex flex-column align-center justify-start">
            <v-card
              class="mb-4"
              width="100"
              height="100"
              rounded
              elevation="4"
              color="white"
              style="border-radius: 2em"
            >
              <div class="d-flex align-center justify-center fill-height">
                <v-icon size="60" :icon="icon.icon" color="primary"></v-icon>
              </div>
            </v-card>
            <div class="text-body-1 font-weight-medium text-center">
              {{ icon.title }}
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
  <!-- REDE -->
  <v-sheet color="neutral-lighten-4">
    <v-container class="py-12">
      <h2 class="text-h4 text-center mb-6">
        Nós por nós: as redes dos territórios por quem vive neles
      </h2>
      <p class="text-body-1 text-center text-medium-emphasis mb-6">
        Mapeie ações e locais, e conheça e se vincule a outros agentes do seu
        território.
      </p>
      <v-row>
        <v-col cols="12" md="6" xl="5">
          <v-card rounded elevation="4" style="border-radius: 1em">
            <v-img src="/img/home_rede.jpeg" aspect-ratio="4:3" cover />
          </v-card>
        </v-col>
        <v-col cols="12" md="6" xl="7">
          <div
            class="d-flex flex-column align-start justify-center fill-height"
          >
            <div v-for="(item, index) in rede" :key="index" class="mb-4">
              <div class="d-flex align-center mb-2">
                <v-icon
                  start
                  size="large"
                  color="secondary"
                  icon="mdi-check-circle"
                />
                <h3 class="text-h6">{{ item.title }}</h3>
              </div>
              <p class="text-body-1 text-medium-emphasis mb-4">
                {{ item.description }}
              </p>
            </div>
            <v-btn
              variant="flat"
              rounded
              color="primary"
              size="large"
              :to="{ name: 'Rede' }"
            >
              Saiba mais
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
  <!-- SOBRE -->
  <v-sheet color="white">
    <v-container class="py-8">
      <v-row>
        <v-col cols="12" md="6" xl="7">
          <div
            class="d-flex flex-column align-start justify-center fill-height"
          >
            <h2 class="text-h4 mb-6">
              A plataforma de análise local de dados públicos e mapeamento
              colaborativo mais acessada do Brasil
            </h2>
            <v-btn
              variant="flat"
              rounded
              color="primary"
              size="large"
              :to="{ name: 'Sobre' }"
            >
              Saiba mais
            </v-btn>
          </div>
        </v-col>
        <v-col cols="12" md="6" xl="5">
          <v-card rounded elevation="4" style="border-radius: 1em">
            <v-img src="/img/home_sobre.jpeg" aspect-ratio="4:3" cover />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
</template>

<script lang="ts" setup>
import { ref, computed, onBeforeMount } from "vue";
import { useAuthStore } from "@/store/auth.store";

const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);

const imagens = ref([
  { src: "/img/home_exemplo1.png", class: "mr-sm-2 mr-md-4 mr-lg-8 mr-xl-12" },
  { src: "/img/home_exemplo2.png", class: "" },
  { src: "/img/home_exemplo3.png", class: "ml-sm-2 ml-md-4 ml-lg-8 ml-xl-12" },
]);

const logos = ref([
  { src: "/img/logos/fapesp.png", width: "100", href: "https://fapesp.br/" },
  { src: "/img/logos/cnpq.png", width: "100", href: "https://www.gov.br/cnpq" },
  { src: "/img/logos/lidas.png", width: "100", href: "" },
  {
    src: "/img/logos/unifesp.png",
    width: "100",
    href: "https://www.unifesp.br/",
  },
  { src: "/img/logos/ime.png", width: "100", href: "https://www.ime.usp.br/" },
  {
    src: "/img/logos/interscity.png",
    width: "100",
    href: "https://interscity.org/",
  },
  {
    src: "/img/logos/feusp.png",
    width: "100",
    href: "https://www4.fe.usp.br/",
  },
  {
    src: "/img/logos/nai.png",
    width: "100",
    href: "https://sites.usp.br/naifeusp/",
  },
  {
    src: "/img/logos/candeeiro.png",
    width: "100",
    href: "http://candeeiro.org.br/",
  },
]);

const icons = ref([
  { icon: "mdi-account-group", title: "População" },
  { icon: "mdi-office-building", title: "Atendimento dos serviços públicos" },
  { icon: "mdi-earth", title: "Meio ambiente" },
  { icon: "mdi-plus", title: "E muito mais" },
]);

const rede = ref([
  {
    title: "Agentes",
    description: "Pessoas ou coletivos que atuam no seu local.",
  },
  {
    title: "Atividades e projetos",
    description: "Um mapa do que você faz e do que acontece perto de você.",
  },
  {
    title: "Memória do território",
    description: "Lugares e eventos importantes para a sua comunidade.",
  },
]);

// ON BEFORE MOUNT
onBeforeMount(() => {
  window.scrollTo({ top: 0 });
});
</script>

<style scoped>
.waves {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='1' stroke='hsla(0, 0%, 96%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
</style>
