<template>
  <div style="width: 100%; height: 100%; position: relative">
    <div
      ref="mapContainer"
      style="position: absolute; width: 100%; height: 100%"
    />
    <MapaPopup ref="refMapaPopup" :entities="popupEntities" />
    <MapaOverlay />
  </div>
</template>

<script lang="ts" setup>
import { onMounted, provide, computed, ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { debounce, meanBy } from "lodash";
import {
  geoJSON,
  GeoJSON,
  Icon,
  LatLng,
  LatLngExpression,
  LeafletMouseEvent,
  Map,
  Marker,
  TileLayer,
} from "leaflet";
import "leaflet/dist/leaflet.css";
import {
  emitMainMarkerDragEnd,
  EventBus,
  MAIN_MARKER_DRAG_END_EVENT_KEY,
} from "@/plugins/eventBus";
import { useBasesStore } from "@/store/bases.store";
import { useBgTileLayerStore } from "@/store/bg-tile-layer.store";
import MapaOverlay from "@/components/mapas/MapaOverlay.vue";
import MapaPopup from "@/components/mapas/MapaPopup.vue";
import { BaseCategoryTypeEnum } from "@backSrc/bases/bases.constants";

// DATA

const route = useRoute();
const router = useRouter();
const bgTileLayerStore = useBgTileLayerStore();
const basesStore = useBasesStore();

const defaultValues = {
  minZoom: Number(import.meta.env.VITE_MAP_MIN_ZOOM ?? 4),
  maxZoom: Number(import.meta.env.VITE_MAP_MAX_ZOOM ?? 18),
};

const initialValues = {
  lat: Number(import.meta.env.VITE_MAP_INITIAL_LAT ?? -23.5489),
  lng: Number(import.meta.env.VITE_MAP_INITIAL_LNG ?? -46.6388),
  zoom: Number(import.meta.env.VITE_MAP_INITIAL_ZOOM ?? 14),
};

const routeQueryLatLng = computed(() =>
  !Number.isNaN(Number(route.query?.lat)) &&
  !Number.isNaN(Number(route.query?.lng))
    ? new LatLng(Number(route.query?.lat), Number(route.query?.lng))
    : null
);
const routeQueryZoom = computed(() =>
  !Number.isNaN(Number(route.query?.zoom)) ? Number(route.query?.zoom) : null
);

const mapContainer = ref();
const refMapaPopup = ref();

const map = ref<Map>();

const geojson = ref(null);
provide("geojson", geojson);
const boundaryInfo = ref(null);
provide("boundaryInfo", boundaryInfo);

const geojsonLayer = ref<GeoJSON>();
provide("map", map);

const mainMarker = ref<Marker>();
provide("mainMarker", mainMarker);

const bgTileLayer = ref<TileLayer>();
provide("bgTileLayer", bgTileLayer);

const popupEntities = ref([]);

// ON MOUNTED
onMounted(() => {
  const initialLatLng =
    routeQueryLatLng.value ?? new LatLng(initialValues.lat, initialValues.lng);
  const initialZoom = routeQueryZoom.value ?? initialValues.zoom;
  initMap(initialLatLng, initialZoom);
});

// WATCHERS
watch(geojson, async (newGeojson) => {
  if (newGeojson) {
    updatePolygon(newGeojson);

    //Check all unchecked equipment bases, uncheck all others
    basesStore.bases.forEach((base) => {
      if (
        base.category.type === BaseCategoryTypeEnum.EQUIPAMENTO ||
        (base.category.type === BaseCategoryTypeEnum.REDE &&
          base.category.uri ===
            (import.meta.env.VITE_DEFAULT_CATEGORY_ACOES_URI || "acoes"))
      ) {
        if (!base.checked) basesStore.checkBase(base.uri);
      } else {
        if (base.checked) {
          basesStore.checkBase(base.uri);
          base.wmsTileLayer.removeFrom(map.value);
          if (base.polygonTileLayer)
            base.polygonTileLayer.removeFrom(map.value);
        }
      }
    });

    if (boundaryInfo.value) {
      const boundaryBase = basesStore.getBase(boundaryInfo.value.baseUri);
      basesStore.applyDatasetFilterToBases(
        boundaryBase.geoserverUri,
        boundaryInfo.value.column,
        boundaryInfo.value.value
      );
      basesStore.checkedBases.forEach((base) => {
        base.wmsTileLayer.removeFrom(map.value);
        base.polygonTileLayer.addTo(map.value);
        base.polygonTileLayer.redraw();
      });
    }
  } else {
    // Remove polygon from map
    if (geojsonLayer.value) {
      geojsonLayer.value.remove();
    }
    basesStore.bases.forEach((base) => {
      base.polygonTileLayer.removeFrom(map.value);
    });
    basesStore.checkedBases.forEach((base) => {
      base.wmsTileLayer.addTo(map.value);
      base.wmsTileLayer.redraw();
    });

    // Restore initial view
    const initialLatLng = new LatLng(initialValues.lat, initialValues.lng);
    const initialZoom = initialValues.zoom;
    map.value.setView(initialLatLng, initialZoom);
  }
});

// FUNCTIONS

async function initMap(latLng: LatLng, zoom: number) {
  // map
  map.value = new Map(mapContainer.value, {
    preferCanvas: true,
    zoomControl: false,
    maxZoom: defaultValues.maxZoom,
    minZoom: defaultValues.minZoom,
  }).setView(latLng, zoom);
  // map event listener: zoom
  map.value.addEventListener("zoom", (e) => {
    const newZoom = e.target.getZoom();
    routeUpsertQuery({ zoom: String(newZoom) });
  });

  map.value.addEventListener("click", (e: LeafletMouseEvent) => {
    loadEntitiesPopup(e.latlng);
  });
  map.value.addEventListener("mousemove", (e: LeafletMouseEvent) => {
    checkEntitiesToUpdateCursorDebounce(e.latlng);
  });
  refMapaPopup.value?.init();

  // bg tile layer
  bgTileLayer.value = new TileLayer(bgTileLayerStore.source.url, {
    attribution: bgTileLayerStore.source.attribution,
    maxZoom: defaultValues.maxZoom,
    minZoom: defaultValues.minZoom,
  });
  bgTileLayer.value.addTo(map.value);

  // main marker
  mainMarker.value = new Marker(latLng, {
    icon: new Icon({
      iconUrl: "/img/marker/default.png",
      iconSize: [25, 41], // Size of the icon
      iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
      // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
    }),
    draggable: true,
  });
  // override marker setLatLng function to emit movestart and moveend
  const _setLatLng = mainMarker.value.setLatLng;
  mainMarker.value.setLatLng = function (latLng: LatLngExpression) {
    this.fire("movestart", this.getLatLng());
    _setLatLng.call(this, latLng);
    this.fire("moveend", this.getLatLng());
    return this;
  };
  // moveend
  mainMarker.value.addEventListener("moveend", (e) => {
    const latLng = e.target.getLatLng();
    map.value.setView(e.target.getLatLng());
    routeUpsertQuery({
      lat: latLng.lat.toFixed(5),
      lng: latLng.lng.toFixed(5),
    });
  });
  mainMarker.value.addEventListener("dragend", (e) => {
    emitMainMarkerDragEnd(e.target.getLatLng());
  });
  mainMarker.value.addTo(map.value);
  EventBus.on(MAIN_MARKER_DRAG_END_EVENT_KEY, (latLng: LatLng) => {
    mainMarker.value.setLatLng(latLng);
  });

  // redraw checked bases
  basesStore.checkedBases.forEach((base) => {
    if (geojson.value) {
      base.wmsTileLayer.removeFrom(map.value);
      base.polygonTileLayer.addTo(map.value);
      base.polygonTileLayer.redraw();
    } else {
      base.polygonTileLayer.removeFrom(map.value);
      base.wmsTileLayer.addTo(map.value);
      base.wmsTileLayer.redraw();
    }
  });
}

async function routeUpsertQuery(query: { [k: string]: any }) {
  router.replace({ query: { ...route.query, ...query } });
}

async function loadEntitiesPopup(latLng: LatLng) {
  const point = map.value.latLngToContainerPoint(latLng);
  const size = map.value.getSize();
  const bbox = map.value.getBounds().toBBoxString();
  const entities = await basesStore.getEntitiesFromLatLng({
    point,
    size,
    bbox,
  });
  popupEntities.value = entities
    .flat()
    .sort((a, b) =>
      String(a.nome.toLowerCase()).localeCompare(String(b.nome.toLowerCase()))
    );
  if (popupEntities.value.length > 0) {
    const popupLatLng = new LatLng(
      meanBy(
        popupEntities.value,
        (e) => e?.geom?.coordinates?.[1] || latLng.lat
      ),
      meanBy(
        popupEntities.value,
        (e) => e?.geom?.coordinates?.[0] || latLng.lng
      )
    );
    refMapaPopup.value?.open(popupLatLng);
  }
}

const checkEntitiesToUpdateCursorDebounce = debounce(
  checkEntitiesToUpdateCursor,
  200
);
async function checkEntitiesToUpdateCursor(latLng: LatLng) {
  const point = map.value.latLngToContainerPoint(latLng);
  const size = map.value.getSize();
  const bbox = map.value.getBounds().toBBoxString();
  const hasEntities = await basesStore.checkEntitiesFromLatLng({
    point,
    size,
    bbox,
  });
  map.value.getContainer().style.cursor = hasEntities ? "pointer" : "";
}

function updatePolygon(geoData: GeoJSON.Feature) {
  if (geojsonLayer.value) {
    geojsonLayer.value.remove();
  }

  geojsonLayer.value = geoJSON(geoData);
  geojsonLayer.value.addTo(map.value);

  map.value.fitBounds(geojsonLayer.value.getBounds());
}
</script>
