<template>
  <!-- A REDE -->
  <v-sheet color="primary">
    <v-container class="py-8">
      <v-row>
        <v-col cols="12" md="6" xl="7">
          <div
            class="d-flex flex-column align-start justify-center fill-height"
          >
            <h1 class="text-h4 font-weight-medium mb-6">
              A Rede do Cultura Educa
            </h1>
            <p class="text-body-1 mb-6">
              Nossa rede busca mostrar e construir conexões – nós – onde agentes
              de diversos campos de saber e prática se ligam. Acreditamos,
              sobretudo, que há um forte componente territorial nessas conexões,
              por isso, a base dessa rede é o mapa. Por isso também,
              privilegiamos a dimensão “intraurbana”, ou seja, um olhar para o
              seu local específico, sua comunidade, onde a vida efetivamente
              acontece, e que poucas vezes os dados públicos trazem.
            </p>
            <p class="text-body-1 mb-6">
              No CulturaEduca, você pode incluir seus coletivos, suas ações
              (projetos e atividades) e navegar por esse mapa, consultar
              informações sobre a população que vive no território, sobre os
              serviços públicos ali presentes, se conectar a agentes que tiver
              interesse, dar visibilidade ao trabalho que desenvolve, e, a
              partir da sua ação, expandir a rede - nós por nós.
            </p>
          </div>
        </v-col>
        <v-col cols="12" md="6" xl="5">
          <v-card rounded elevation="4" style="border-radius: 1em">
            <v-img src="/img/rede.jpeg" aspect-ratio="4:3" cover />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
  <v-container class="py-8">
    <!-- COMPOSICAO -->
    <v-row>
      <v-col cols="12" md="7" xl="5">
        <v-row>
          <v-col
            cols="12"
            v-for="(item, index) in composicao"
            :key="index"
            class="mb-3"
          >
            <v-card
              :color="item.color"
              rounded
              elevation="4"
              class="mb-3"
              style="border-radius: 2em"
            >
              <div
                class="d-flex justify-center align-center text-center fill-height text-h6 font-weight-bold text-white py-4 px-2"
              >
                {{ item.title }}
              </div>
            </v-card>
            <v-row>
              <v-col v-for="(child, index) in item.children" :key="index">
                <v-card
                  :color="`${item.color}-lighten-4`"
                  rounded
                  flat
                  class="fill-height"
                  style="border-radius: 2em"
                >
                  <div
                    :class="`d-flex justify-center align-center text-center fill-height text-body-2 font-weight-bold text-${item.color}-darken-1 py-4 px-2`"
                  >
                    {{ child }}
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="5" xl="7">
        <div class="d-flex flex-column align-start justify-center fill-height">
          <h2 class="text-h4 font-weight-medium mb-6">Composição da Rede</h2>
          <p class="text-body-1 mb-6">
            Praesent molestie hendrerit arcu non blandit. Nunc tincidunt tortor
            id diam consectetur, et varius tellus tempus. In tristique elit
            ligula, nec accumsan lorem ultrices a. Proin nec diam lacus. Fusce
            lobortis ante tempor, mattis felis in, fermentum eros. Proin vel
            lacus vel enim aliquet pellentesque. Quisque viverra tempus sem ut
            semper. Mauris dolor erat, blandit auctor vestibulum sed, consequat
            pellentesque mauris. Donec eros turpis, luctus a aliquam tempor,
            bibendum vel dolor. Aliquam maximus a ex vel convallis. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Vestibulum
            venenatis orci nec mi egestas sodales. Pellentesque ornare ultricies
            magna sed rhoncus.
          </p>
        </div>
      </v-col>
    </v-row>
    <!-- CONTEXTO -->
    <v-row>
      <v-col cols="12">
        <h2 class="text-h4 font-weight-medium">Contexto das Redes</h2>
      </v-col>
      <v-col cols="12" md="6" v-for="(item, index) in contexto" :key="index">
        <v-card
          :title="item.text"
          variant="outlined"
          class="fill-height"
          style="border-radius: 1em"
        >
          <v-card-text class="text-body-1">
            <ul class="pl-4">
              <li
                v-for="(child, index2) in item.children"
                :key="index2"
                class="py-1"
              >
                <span>{{ child.text }}</span>
                <ul v-if="child.children.length > 0" class="pl-4 pt-2">
                  <li
                    v-for="(grandchild, index3) in child.children"
                    :key="index3"
                    class="py-1"
                  >
                    {{ grandchild.text }}
                  </li>
                </ul>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref, onBeforeMount } from "vue";

// DATA

const composicao = ref([
  {
    title: "Agentes",
    color: "cyan",
    children: [
      "Pessoas Físicas",
      "Grupos",
      "Instituições",
      "Comitês",
      "Movimentos Sociais",
    ],
  },
  { title: "Ações", color: "blue", children: ["Atividades", "Projetos"] },
]);

const contexto = ref([
  {
    text: "Elementos básicos:",
    children: [
      {
        text: "Atores/agentes - nós, conexões/relações entre eles - fluxos",
        children: [],
      },
      {
        text: "Cadeias de relações entre indivíduos e/ou grupos que baseia-se em processos colaborativos",
        children: [],
      },
      {
        text: "Mediadas cada vez mais por tecnologias da informação e comunicação",
        children: [],
      },
    ],
  },
  {
    text: "Objetivos:",
    children: [
      {
        text: "Enquanto categoria analítica:",
        children: [{ text: "Explicar a realidade" }],
      },
      {
        text: "Enquanto categoria estratégica: Projetar ações concretas de enfrentamento da realidade",
        children: [],
      },
    ],
  },
  {
    text: "Estratégias:",
    children: [
      {
        text: "Aumentar a interação entre os participantes e/ou agentes",
        children: [],
      },
      {
        text: "Geração de ações coletivas, compromissos e laços entre as pessoas",
        children: [],
      },
      {
        text: "Intercambio de informação, experiências e conhecimentos",
        children: [],
      },
    ],
  },
  {
    text: "Características e princípios:",
    children: [
      {
        text: "Relações diversas em:",
        children: [{ text: "Quantidade, qualidade e intensidade" }],
      },
      { text: "Adesão livre, democrática e participativa", children: [] },
    ],
  },
]);

// ON BEFORE MOUNT
onBeforeMount(() => {
  window.scrollTo({ top: 0 });
});
</script>
