<template>
  <!-- A REDE -->
  <v-sheet color="primary">
    <v-container class="py-8">
      <v-row>
        <v-col cols="12" md="6" xl="7">
          <div
            class="d-flex flex-column align-start justify-center fill-height"
          >
            <h1 class="text-h4 font-weight-medium mb-6">Sobre o projeto</h1>
            <p class="text-body-1 mb-6">
              E se o aprendizado na escola se entrelaçasse com o que vivemos nos
              arredores? Com o Cultura Educa, você descobre quem próximo à você
              se envolve com música, teatro, danças, feiras, debates, esportes e
              tantas outras áreas.
            </p>
          </div>
        </v-col>
        <v-col cols="12" md="6" xl="5">
          <v-card rounded elevation="4" style="border-radius: 1em">
            <v-img src="/img/sobre.jpeg" aspect-ratio="4:3" cover />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-sheet>
  <v-container class="py-8">
    <!-- COMPROMISSO -->
    <v-row class="my-8">
      <v-col cols="12" md="4">
        <div class="d-flex justify-center align-center fill-height">
          <img src="/img/sobre_compromissos.svg" alt="Ícone compromisso" />
        </div>
      </v-col>
      <v-col cols="12" md="8">
        <div class="d-flex flex-column align-start justify-center fill-height">
          <h2 class="text-h5 font-weight-medium mb-4">Nosso compromisso</h2>
          <div class="text-body-1">
            <p>
              Os compromissos da educação formal são insubstituíveis, mas
              propostas de educação não formal podem inspirar o cotidiano
              escolar. A plataforma CulturaEduca é uma ferramenta criada para
              facilitar o diálogo entre educação e cultura, entre a escola e as
              instituições, entre as iniciativas culturais e pessoas próximas a
              ela. Comunidades formadas por crianças, jovens, professores, pais,
              agentes culturais e cidadãos são convidados a mapear seus
              territórios de vivência de forma colaborativa. Mais que localizar
              iniciativas socioculturais, o processo de mapeamento fortalece
              elos comunitários e provoca múltiplas possibilidades de
              aprendizagem.
            </p>
          </div>
        </div>
      </v-col>
    </v-row>
    <!-- MAPAS -->
    <v-row class="my-8">
      <v-col cols="12" md="4">
        <div class="d-flex justify-center align-center fill-height">
          <img src="/img/sobre_mapa.svg" alt="Ícone mapas" />
        </div>
      </v-col>
      <v-col cols="12" md="8">
        <div class="d-flex flex-column align-start justify-center fill-height">
          <h2 class="text-h5 font-weight-medium mb-4">O que são os mapas?</h2>
          <div class="text-body-1 mb-4">
            <p>
              Os mapas ainda apresentam dados sobre as particularidades de cada
              território:
            </p>
            <ul class="pl-6">
              <li class="pa-1">Demografia;</li>
              <li class="pa-1">Atividade econômica predominante;</li>
              <li class="pa-1">Renda, escolaridade, entre outros.</li>
            </ul>
            <p>
              Essas informações são estratégicas para fomentar o planejamento de
              ações comunitárias e/ou de políticas públicas.
            </p>
            <p>
              O mapeamento do CulturaEduca 2.0 é colaborativo, aberto e
              gratuito;
            </p>
          </div>
        </div>
      </v-col>
    </v-row>
    <!-- FUNCIONAMENTO -->
    <v-row class="my-8">
      <v-col cols="12" md="4">
        <div class="d-flex justify-center align-center fill-height">
          <img src="/img/sobre_funcionamento.svg" alt="Ícone funcionamento" />
        </div>
      </v-col>
      <v-col cols="12" md="8">
        <div class="d-flex flex-column align-start justify-center fill-height">
          <h2 class="text-h5 font-weight-medium mb-4">
            Como nossos mapas funcionam:
          </h2>
          <div class="text-body-1 mb-4">
            <p>
              O mapa sobrepõe camadas de informação que visam relacionar o saber
              científico (dados de órgãos oficiais coletados por meio de
              pesquisas como Censo Demográfico, Censo Escolar etc.) ao saber
              popular (dados levantados por cidadãos a partir de suas
              observações e vivências cotidianas), com os objetivos de:
            </p>
            <ul class="pl-6">
              <li class="pa-1">
                Analisar dinâmicas sociais/culturais em escala macro (Brasil,
                estados, cidades) ou micro (áreas &#60; 10 km);
              </li>
              <li class="pa-1">
                Apoiar políticas públicas, ações comunitárias, projetos
                pedagógicos, pesquisas;
              </li>
              <li class="pa-1">
                Conectar educação formal (escolas) e não formal (iniciativas
                comunitárias, espaços públicos);
              </li>
              <li class="pa-1">
                Capacitar comunidades sobre seus territórios, unindo pessoas e
                instituições;
              </li>
              <li class="pa-1">
                Estimular debates sobre cidadania, democracia, urbanismo,
                cultura, educação.
              </li>
            </ul>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { onBeforeMount } from "vue";

// ON BEFORE MOUNT
onBeforeMount(() => {
  window.scrollTo({ top: 0 });
});
</script>
