<template>
  <div class="pt-2">
    <v-row no-gutters dense>
      <v-col cols="12">
        <v-autocomplete
          label="Attribute for Name *"
          v-model="form.selectedAttribute"
          :items="attributes"
          item-value="name"
          item-title="name"
          variant="outlined"
          density="compact"
        >
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props" :title="item?.raw?.name"></v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from "vue";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Attribute } from "@backPrisma/client";

export interface Props {
  modelValue: string | null;
  sectionId?: number | null;
}
const props = defineProps<Props>();

const emit = defineEmits<{
  (e: "update:model-value", value: string | null): void;
}>();

// DATA

const attributes = ref<Attribute[]>([]);

const form = ref({
  selectedAttribute: null,
  sectionId: null,
});

watch(
  () => form.value.selectedAttribute,
  (selectedAttribute) => {
    emit("update:model-value", selectedAttribute);
  }
);

onMounted(async () => {
  if (!props.sectionId) {
    return;
  }
  form.value.sectionId = props.sectionId || null;
  await findSectionAttributes(form.value.sectionId);
  if (!props.modelValue) {
    return;
  }
  form.value.selectedAttribute = props.modelValue || "";
});

// METHODS

async function findSectionAttributes(sectionId: number) {
  if (!sectionId) {
    form.value.selectedAttribute = "";
    attributes.value = [];
    return;
  }
  try {
    attributes.value = await requester.sections.findAttributes(sectionId);
    //By default, previous attribute is selected if it exists
    if (props.modelValue) {
      form.value.selectedAttribute = props.modelValue;
    } else {
      //Then, if there is an attribute with "nm" in the name, it is selected by default
      //Else, the first attribute is the default
      const containsNM = attributes.value.find((attribute) =>
        attribute.name.includes("nm")
      );
      form.value.selectedAttribute = containsNM
        ? containsNM.name
        : attributes.value[0].name;
    }
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
