<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create Boundary </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <BoundariesFormCreateUpdate
          :boundary-hierarchy-uri="boundaryHierarchyUri"
          @cancel="updateModelValue(false)"
          @boundary-created="emit('boundary-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Boundary } from "@backPrisma/client";

import BoundariesFormCreateUpdate from "./BoundariesFormCreateUpdate.vue";

// PROPS
export interface Props {
  modelValue?: boolean;
  boundaryHierarchyUri: string;
  width?: number | string;
}
withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "boundary-created", boundary: Boundary): void;
}>();

// METHODS

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
