<template>
  <div class="pt-2">
    <v-row no-gutters dense>
      <v-col cols="12">
        <v-autocomplete
          label="Dataset"
          v-model="form.datasetId"
          :items="datasets"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
          @update:model-value="findDatasetVersions"
        >
          <template v-slot:item="{ props, item }">
            <v-list-item
              v-bind="props"
              :title="item?.raw?.uri"
              :subtitle="item?.raw?.title"
            ></v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" v-show="!!form.datasetId">
        <v-autocomplete
          label="Version"
          v-model="form.versionId"
          :items="versions"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
          @update:model-value="findVersionSections"
        >
          <template v-slot:selection="{ item }">
            <span class="mr-1">{{ item.title }}</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props" :subtitle="item?.raw?.title">
              <template #title>
                <span class="mr-1">{{ item?.raw?.uri }}</span>
                <span v-if="item?.raw?.default" class="text-disabled">
                  (Default)
                </span>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" v-show="!!form.versionId && sections.length > 1">
        <v-autocomplete
          label="Section"
          v-model="form.sectionId"
          :items="sections"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
        >
          <template v-slot:selection="{ item }">
            <span class="mr-1">{{ item.title }}</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props" :subtitle="item?.raw?.title">
              <template #title>
                <span class="mr-1">{{ item?.raw?.uri }}</span>
                <span v-if="item?.raw?.default" class="text-disabled">
                  (Default)
                </span>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from "vue";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Dataset, Section, Version } from "@backPrisma/client";

export interface Props {
  modelValue: number | null;
  datasetId?: number | null;
  versionId?: number | null;
}
const props = defineProps<Props>();

const emit = defineEmits<{
  (e: "update:model-value", value: number | null): void;
}>();

// DATA

const datasets = ref<Dataset[]>([]);
const versions = ref<Version[]>([]);
const sections = ref<Section[]>([]);

const form = ref({
  datasetId: null,
  versionId: null,
  sectionId: null,
});

watch(
  () => form.value.sectionId,
  (sectionId) => {
    emit("update:model-value", sectionId);
  }
);

onMounted(async () => {
  await findDatasets();
  if (!props.datasetId) {
    return;
  }
  form.value.datasetId = props.datasetId || null;
  await findDatasetVersions(form.value.datasetId);
  if (!props.versionId) {
    return;
  }
  form.value.versionId = props.versionId || null;
  await findVersionSections(form.value.versionId);
  if (!props.modelValue) {
    return;
  }
  form.value.sectionId = props.modelValue || null;
});

// METHODS

async function findDatasets() {
  try {
    datasets.value = await requester.datasets.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDatasetVersions(datasetId: number) {
  if (!datasetId) {
    form.value.versionId = null;
    versions.value = [];
    return;
  }
  try {
    versions.value = await requester.datasets.findVersions(datasetId);
    // get default or first version
    form.value.versionId =
      versions.value.find((version) => version.default)?.id ||
      versions.value[0]?.id;
    await findVersionSections(form.value.versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersionSections(versionId: number) {
  if (!versionId) {
    form.value.sectionId = null;
    sections.value = [];
    return;
  }
  try {
    sections.value = await requester.versions.findSections(versionId);
    // get default or first version
    form.value.sectionId =
      sections.value.find((section) => section.default)?.id ||
      sections.value[0]?.id;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
