<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Update Boundary #{{ boundary.id }} </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <BoundariesFormCreateUpdate
          :boundary="boundary"
          :boundary-hierarchy-uri="boundaryHierarchyUri"
          @cancel="updateModelValue(false)"
          @boundary-updated="emit('boundary-updated', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Boundary } from "@backPrisma/client";

import BoundariesFormCreateUpdate from "./BoundariesFormCreateUpdate.vue";
import { BoundaryWithSectionAndQuestion } from "@/requester/boundaries-hierarchies.requester";

// PROPS
export interface Props {
  boundary: Boundary;
  boundaryHierarchyUri: string;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "boundary-updated", boundary: BoundaryWithSectionAndQuestion): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
