<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
          <v-text-field
            v-model="form.singularName"
            label="Singular Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-row dense>
          <v-col cols="12" sm="4">
            <v-text-field
              v-model="form.level"
              label="Level *"
              :rules="rules.required"
              variant="outlined"
            />
          </v-col>
          <v-col cols="12" sm="4">
            <v-checkbox
              v-model="form.required"
              label="Required? *"
              hide-details
            />
          </v-col>
        </v-row>
        <v-col cols="12">
          <v-radio-group
            v-model="form.databaseSource"
            label="Database Source *"
            :inline="true"
          >
            <v-radio label="Datasets" value="section" />
            <v-radio disabled label="Questions" value="question" />
          </v-radio-group>
          <BoundariesSectionPicker
            v-if="sectionPickerLoaded"
            v-show="form.databaseSource === 'section'"
            v-model="form.sectionId"
            :datasetId="form.datasetId"
            :versionId="form.versionId"
          />
        </v-col>
        <v-col cols="12" v-if="!!form.sectionId">
          <BoundariesAttributePicker
            v-model="form.boundaryNameAttribute"
            :sectionId="form.sectionId"
          />
        </v-col>
        <v-row>
          <v-col cols="12" sm="4">
            <v-checkbox
              v-model="form.isAdministrativeDivision"
              label="Divisão Administrativa?"
              hide-details
            />
          </v-col>
          <v-col v-if="form.isAdministrativeDivision" cols="12" sm="4">
            <v-autocomplete
              v-model="form.divisaoAdministrativaMunicipio"
              :items="itemsMunicipios"
              placeholder="Selecionar município"
              density="comfortable"
              :loading="loading.municipio"
              variant="outlined"
              :custom-filter="customFilter"
            >
              <template v-if="loading.municipio" v-slot:selection="{}">
                Loading...
              </template>
              <template v-else v-slot:selection="{ item }">
                {{ item.title }}
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { debounce, deburr } from "lodash";
import { Boundary } from "@backPrisma/client";
import { CreateBoundaryDto, UpdateBoundaryDto } from "@backSrc/boundaries/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { BoundaryWithSectionAndQuestion } from "@/requester/boundaries-hierarchies.requester";
import BoundariesSectionPicker from "./BoundariesSectionPicker.vue";
import BoundariesAttributePicker from "./BoundariesAttributePicker.vue";

// PROPS
export interface Props {
  boundaryHierarchyUri: string;
  boundary?: Boundary;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "boundary-created", boundary: BoundaryWithSectionAndQuestion): void;
  (e: "boundary-updated", boundary: BoundaryWithSectionAndQuestion): void;
  (e: "cancel"): void;
}>();

const customFilter = (a: string, b: string) =>
  deburr(a.toLowerCase()).localeCompare(deburr(b.toLowerCase()));

const loading = ref({
  save: false,
  municipio: false,
});

const sectionPickerLoaded = ref(false);

const formRef = ref();
const form = ref({
  level: null,
  databaseSource: "section" as "section" | "question",
  sectionId: null,
  questionId: null,
  name: "",
  singularName: "",
  required: true,
  isAdministrativeDivision: false,
  divisaoAdministrativaMunicipio: null, //Optional
  versionId: null, //Optional, only used for sections
  datasetId: null, //Optional, only used for sections
  boundaryNameAttribute: "",
});

const itemsMunicipios = ref([]);
const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  getMunicipios();
  fillForm();
});

async function fillForm() {
  if (!props.boundary) {
    sectionPickerLoaded.value = true;
    return;
  }
  form.value.level = props.boundary.level || null;
  form.value.questionId = props.boundary.questionId || null;
  form.value.name = props.boundary.name || "";
  form.value.singularName = props.boundary.singularName || "";
  form.value.databaseSource = props.boundary.questionId
    ? "question"
    : "section";
  form.value.required = props.boundary.required;
  form.value.divisaoAdministrativaMunicipio = props.boundary
    .divisaoAdministrativaMunId
    ? (await getMunicipioFromId(props.boundary.divisaoAdministrativaMunId)) ||
      null
    : null;
  form.value.isAdministrativeDivision =
    !!form.value.divisaoAdministrativaMunicipio;
  form.value.boundaryNameAttribute = props.boundary.boundaryNameAttribute || "";

  // Handle auto-fill when boundary has a previous section selected
  sectionPickerLoaded.value = false;
  form.value.sectionId = props.boundary.sectionId || null;
  if (props.boundary.sectionId) {
    const section = await requester.sections.findOne(props.boundary.sectionId);
    if (section) {
      form.value.versionId = section.versionId || null;
      const version = await requester.versions.findOne(section.versionId);
      if (version) {
        form.value.datasetId = version.datasetId || null;
      }
    }
  }
  sectionPickerLoaded.value = true;
}

function clearForm() {
  form.value.level = null;
  form.value.required = true;
  form.value.databaseSource = "section";
  form.value.sectionId = null;
  form.value.questionId = null;
  form.value.name = "";
  form.value.singularName = "";
  form.value.isAdministrativeDivision = false;
  form.value.divisaoAdministrativaMunicipio = null;
  form.value.boundaryNameAttribute = "";
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const targetValue = await validateLevel(
      Number(form.value.level),
      props.boundary?.id
    );
    const dto: CreateBoundaryDto = {
      level: targetValue,
      sectionId:
        form.value.databaseSource === "section"
          ? Number(form.value.sectionId) || null
          : null,
      questionId:
        form.value.databaseSource === "question"
          ? Number(form.value.sectionId) || null
          : null,
      name: form.value.name?.trim() || null,
      singularName: form.value.singularName?.trim() || null,
      required: form.value.required,
      divisaoAdministrativaMunId: form.value.isAdministrativeDivision
        ? form.value.divisaoAdministrativaMunicipio?.id || null
        : null,
      boundaryNameAttribute: form.value.boundaryNameAttribute,
    };
    if (props.boundary) {
      const boundary = await requester.boundariesHierarchies.updateBoundary(
        props.boundary.id,
        dto as UpdateBoundaryDto
      );
      emit("boundary-updated", boundary);
      emitAlertSuccess("Boundary successfully updated");
    } else {
      const boundary = await requester.boundariesHierarchies.createBoundary(
        props.boundaryHierarchyUri,
        dto
      );
      emit("boundary-created", boundary);
      emitAlertSuccess("Boundary successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}

async function validateLevel(level: number, boundaryId: number) {
  if (level) {
    const hierarchy = await requester.boundariesHierarchies.findOne(
      props.boundaryHierarchyUri
    );
    if (hierarchy.boundaries.length > 0) {
      const maxLevel = Math.max(
        ...hierarchy.boundaries
          .filter((b) => b.id !== boundaryId)
          .map((b) => b.level)
      );
      if (maxLevel === -Infinity) {
        //If updating a single level hierarchy, defaults it to 1
        return 1;
      }
      if (level > maxLevel) {
        //Floors level to highest other level + 1
        level = maxLevel + 1;
      }
    } else {
      //If it's the first level, defaults it to 1
      level = 1;
    }
  }
  return level;
}

async function getMunicipios() {
  form.value.divisaoAdministrativaMunicipio = null;
  loading.value.municipio = true;
  try {
    const responseData = await requester.external.localidadesIbge.municipios();
    itemsMunicipios.value = responseData.map((municipio) => ({
      title: `${municipio.nome} - ${municipio.microrregiao.mesorregiao.UF.sigla}`,
      value: municipio,
    }));
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.municipio = false;
  }
}

async function getMunicipioFromId(id) {
  if (itemsMunicipios.value.length === 0) {
    await getMunicipios();
  }
  if (!id) return null;

  const mun = itemsMunicipios.value.find(
    (municipio) => municipio.value.id === id
  );
  if (!mun) {
    emitAlertError("Município not found");
    return null;
  }
  return mun.value;
}
</script>
