<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-database-search" class="text-h4" start />
    <h1 class="text-h4">Query Data</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <v-tabs v-model="tab">
    <v-tab value="build">Build</v-tab>
    <v-tab value="raw" disabled>Raw</v-tab>
  </v-tabs>
  <v-window v-model="tab">
    <v-window-item value="build">
      <!-- BUILDER -->
      <v-card flat class="my-2" style="border: 1pt solid #ededf0">
        <v-card-item
          class="cursor-pointer bg-grey-lighten-4"
          @click="showBuilder = !showBuilder"
        >
          <v-card-title class="d-flex justify-space-between align-center">
            <span>Builder</span>
            <v-icon
              :icon="showBuilder ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            />
          </v-card-title>
        </v-card-item>
        <v-expand-transition>
          <div v-show="showBuilder">
            <v-divider />
            <v-card-text>
              <!-- DATASET -->
              <h2
                class="text-subtitle-1 text-blue-grey-darken-2 font-weight-medium"
              >
                Dataset
              </h2>
              <v-divider class="mb-2" />
              <v-card color="blue-grey-lighten-4" variant="flat" class="mb-4">
                <v-card-text>
                  <QueryDataSelectTable
                    ref="queryDataSelectTableInitial"
                    :table-key="queryTables?.[0].key"
                  />
                </v-card-text>
              </v-card>
              <!-- JOINS -->
              <div
                v-for="(queryTable, index) in queryTables.slice(1)"
                :key="queryTable.key"
                class="mb-4"
              >
                <div class="d-flex justify-space-between align-center">
                  <h2
                    class="text-subtitle-1 text-blue-grey-darken-2 font-weight-medium"
                  >
                    <span>Join dataset</span>
                    <v-badge inline color="blue-grey-darken-2">
                      <template v-slot:badge>
                        <span class="font-weight-bold">{{ index + 1 }}</span>
                      </template>
                    </v-badge>
                  </h2>
                  <v-btn
                    icon="mdi-close"
                    variant="flat"
                    density="compact"
                    @click="removeQueryTable(queryTable.key)"
                  />
                </div>
                <v-divider class="mb-2" />
                <QueryDataJoinTable :table-key="queryTable.key" />
              </div>
              <!-- ADD QUERY DATASET -->
              <v-btn
                color="primary"
                variant="flat"
                prepend-icon="mdi-plus"
                @click="addQueryTable()"
                :disabled="disabledAddQueryTable"
                class="mb-4"
              >
                <span>Join dataset</span>
              </v-btn>
              <!-- FILTER -->
              <h2
                class="text-subtitle-1 text-deep-orange-darken-2 font-weight-medium"
              >
                Filter
              </h2>
              <v-divider class="mb-2" />
              <v-card color="deep-orange-lighten-4" variant="flat" class="mb-4">
                <v-card-text>
                  <v-btn variant="flat" disabled>
                    <v-icon icon="mdi-plus" />
                  </v-btn>
                </v-card-text>
              </v-card>
              <!-- SUMMARIZE -->
              <h2
                class="text-subtitle-1 text-deep-purple-darken-2 font-weight-medium"
              >
                Summarize
              </h2>
              <v-divider class="mb-2" />
              <v-card color="deep-purple-lighten-4" variant="flat" class="mb-4">
                <v-card-text>
                  <v-btn variant="flat" disabled>
                    <v-icon icon="mdi-plus" />
                  </v-btn>
                </v-card-text>
              </v-card>
              <!-- BTN SUBMIT -->
              <v-divider class="my-4" />
              <div class="d-flex justify-space-between align-center">
                <v-btn
                  prepend-icon="mdi-close"
                  variant="outlined"
                  @click="clearQuery()"
                >
                  Clear
                </v-btn>
                <v-btn
                  prepend-icon="mdi-database-search"
                  color="primary"
                  variant="flat"
                  :loading="loadingPreviewQuery"
                  @click="previewQueryDebounce(true)"
                  class="mr-2"
                >
                  Preview query
                </v-btn>
              </div>
            </v-card-text>
          </div>
        </v-expand-transition>
      </v-card>
    </v-window-item>
    <v-window-item value="raw"></v-window-item>
    <!-- PREVIEW -->
    <v-card flat class="my-2" style="border: 1pt solid #ededf0">
      <v-card-item
        class="cursor-pointer bg-grey-lighten-4"
        @click="showPreview = !showPreview"
      >
        <v-card-title class="d-flex justify-space-between align-center">
          <span>Preview</span>
          <v-icon :icon="showPreview ? 'mdi-chevron-up' : 'mdi-chevron-down'" />
        </v-card-title>
      </v-card-item>
      <v-expand-transition>
        <div v-show="showPreview">
          <v-divider />
          <v-card-text>
            <v-text-field
              v-model="search"
              label="Search"
              variant="outlined"
              hide-details
              density="compact"
              append-inner-icon="mdi-magnify"
              disabled
              class="mb-2"
            />
            <QueryDataPreviewResults
              :loading="loadingPreviewQuery"
              :total="total"
              :results="results"
              :headers="headers"
              :pagination-page="paginationPage"
              :pagination-per-page="paginationPerPage"
              @update:pagination-page="paginationPage = $event"
            />
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
    <!-- SAVE AS QUESTION -->
    <v-card flat class="my-2" style="border: 1pt solid #ededf0">
      <v-card-item
        class="cursor-pointer bg-grey-lighten-4"
        @click="showQuestionForm = !showQuestionForm"
      >
        <v-card-title class="d-flex justify-space-between align-center">
          <span>Save as Question</span>
          <v-icon
            :icon="showQuestionForm ? 'mdi-chevron-up' : 'mdi-chevron-down'"
          />
        </v-card-title>
      </v-card-item>
      <v-expand-transition>
        <div v-show="showQuestionForm">
          <v-divider />
          <v-card-text>
            <v-text-field v-model="form.uri" label="URI *" variant="outlined" />
            <v-text-field
              v-model="form.title"
              label="Title *"
              variant="outlined"
            />
            <v-textarea
              v-model="form.description"
              label="Description"
              variant="outlined"
            />
            <div class="d-flex justify-space-between align-center">
              <v-checkbox
                v-model="form.materialized"
                label="Materialized"
                hide-details
              />
              <v-btn
                prepend-icon="mdi-database-plus"
                color="success"
                variant="flat"
                :loading="loadingCreateQuestion"
                @click="createQuestionDebounce()"
              >
                Create question
              </v-btn>
            </div>
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </v-window>
</template>

<script setup lang="ts">
import { ref, computed, watch, provide, onMounted } from "vue";
import { useRouter } from "vue-router";
import { debounce } from "lodash";
import { Attribute, Dataset, Section } from "@backPrisma/client";
import {
  CreateQuestionDto,
  PreviewQueryQuestionQueryDto,
} from "@backSrc/questions/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import {
  QuestionQueryTableJoinTypeEnum,
  QuestionQueryTable,
  QuestionQueryTableJoinOnOperatorEnum,
} from "@/utils/query-data-helper.utils";
import QueryDataSelectTable from "@/components/query-data/QueryDataSelectTable.vue";
import QueryDataJoinTable from "@/components/query-data/QueryDataJoinTable.vue";
import QueryDataPreviewResults from "@/components/query-data/QueryDataPreviewResults.vue";

// DATA

const router = useRouter();

const tab = ref("build");
const showBuilder = ref(true);
const showPreview = ref(false);
const showQuestionForm = ref(false);

const queryDataSelectTableInitial = ref();

const datasets = ref<Dataset[]>([]);
provide("datasets", datasets);

const queryTables = ref<QuestionQueryTable[]>([
  {
    key: 0,
    datasetId: null,
    versionId: null,
    sectionId: null,
    dataset: null,
    version: null,
    section: null,
    columns: [],
    join: null,
  },
]);
provide("queryTables", queryTables);

const dynamicKey = ref(1);

const disabledAddQueryTable = computed(() => {
  return !queryTables.value[queryTables.value.length - 1].datasetId;
});

const headers = ref([]);
const results = ref<any[]>([]);
const total = ref(0);
const search = ref("");

const paginationPage = ref(1);
const paginationPerPage = ref(15);

const createQuestionDto = ref<CreateQuestionDto>();
const previewQueryQuestionDto = ref<CreateQuestionDto["query"]>();

const form = ref({
  uri: "",
  title: "",
  description: "",
  materialized: true,
});

const loadingPreviewQuery = ref(false);
const loadingCreateQuestion = ref(false);

// WATCH

watch(paginationPage, () => {
  previewQueryDebounce(false);
});
watch(paginationPerPage, () => {
  previewQueryDebounce(true);
});

// ON MOUNTED
onMounted(() => {
  findAllDatasets();
});

// METHODS

function addQueryTable() {
  queryTables.value.push({
    key: dynamicKey.value++,
    datasetId: null,
    versionId: null,
    sectionId: null,
    dataset: null,
    version: null,
    section: null,
    columns: [],
    join: {
      type: QuestionQueryTableJoinTypeEnum.LEFT,
      on: [
        {
          key: 0,
          left: null,
          right: null,
          operator: QuestionQueryTableJoinOnOperatorEnum.EQUAL,
        },
      ],
    },
  });
}

function removeQueryTable(key: number) {
  const index = queryTables.value.findIndex((el) => el.key === key);
  if (index < 0) return;
  queryTables.value.splice(index, 1);
}

function clearQuery() {
  queryTables.value = [
    {
      key: 0,
      datasetId: null,
      versionId: null,
      sectionId: null,
      dataset: null,
      version: null,
      section: null,
      columns: [],
      join: null,
    },
  ];
  paginationPage.value = 1;
  results.value = [];
  total.value = 0;
}

function getAttribute(
  key: string | null,
  attributes: (Attribute & { section: Section })[],
  versionId: number
) {
  if (!attributes || !versionId) return;
  const attribute = attributes.find(
    (attribute) => attribute.section.versionId === versionId
  );
  if (!key) return attribute;
  const splittedKey = key.split(".");
  if (splittedKey.length > 1) {
    return attribute?.[splittedKey[0]]?.[splittedKey[1]];
  }
  return attribute?.[key];
}

function constructHeaders() {
  headers.value = queryTables.value.flatMap((queryTable) => {
    return queryTable.columns
      .filter((column) => column._selected)
      .map((column) => {
        const attribute = getAttribute(
          null,
          column.attributeSeries.attributes,
          queryTable.version.id
        );
        const tableName = attribute.section.tableName;
        const columnName = column?._as?.name || attribute.name;
        return {
          value: `${tableName}_0_${columnName}`,
          text: columnName,
          attribute,
        };
      });
  });
}

function constructQueryQuestionDto() {
  const tables = queryTables.value.map((queryTable) => ({
    key: queryTable.key,
    datasetId: queryTable.datasetId,
    versionId: queryTable.versionId,
    sectionId: queryTable.sectionId,
    columns: queryTable.columns
      .filter((column) => column._selected)
      .map((column) => ({
        attributeSeriesId:
          column?.attributeSeries?.id ||
          column?.questionColumn?.attributeSeriesId,
        as: column._as as unknown as CreateQuestionDto["query"]["tables"][0]["columns"][0]["as"],
      })),
    join: queryTable.join
      ? {
          type: queryTable.join
            .type as unknown as CreateQuestionDto["query"]["tables"][0]["join"]["type"],
          on: queryTable.join.on.map((on) => ({
            left: on.left,
            right: on.right,
            operator:
              on.operator as unknown as CreateQuestionDto["query"]["tables"][0]["join"]["on"][0]["operator"],
          })),
        }
      : null,
  }));
  previewQueryQuestionDto.value = { tables };
  createQuestionDto.value = {
    uri: form.value.uri?.trim() || null,
    title: form.value.title?.trim() || null,
    description: form.value.description?.trim() || null,
    materialized: form.value.materialized,
    query: { tables },
  };
}

const previewQueryDebounce = debounce(function (resetPage = false) {
  constructQueryQuestionDto();
  constructHeaders();
  previewQuery(resetPage);
}, 300);
async function previewQuery(resetPage = false) {
  if (resetPage) {
    paginationPage.value = 1;
  }
  if (!previewQueryQuestionDto.value.tables[0].datasetId) {
    results.value = [];
    total.value = 0;
    return;
  }
  loadingPreviewQuery.value = true;
  try {
    const queryDto: PreviewQueryQuestionQueryDto = {
      page: paginationPage.value,
      perPage: paginationPerPage.value,
    };
    const resData = await requester.questions.previewQuery(
      previewQueryQuestionDto.value,
      queryDto
    );
    results.value = resData?.results || [];
    total.value = Number(resData?.total || 0);
    headers.value = (resData?.query?.tables || []).flatMap((table) =>
      table.selectColumns.map((column) => ({
        text: column.columnName,
        value: column.alias,
        meta: {
          type: column.type,
          tableName: table.tableName,
          tableAlias: table.alias,
        },
      }))
    );
    showBuilder.value = false;
    showPreview.value = true;
  } catch (err) {
    emitAlertError(err);
  } finally {
    loadingPreviewQuery.value = false;
  }
}

const createQuestionDebounce = debounce(function () {
  constructQueryQuestionDto();
  createQuestion();
}, 300);
async function createQuestion() {
  if (!createQuestionDto.value.query.tables[0].datasetId) {
    return;
  }
  loadingCreateQuestion.value = true;
  try {
    const resData = await requester.questions.create(createQuestionDto.value);
    emitAlertSuccess(`Question "${resData.uri}" successfully`);
    router.push({ name: "QuestionsIndex" });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loadingCreateQuestion.value = false;
  }
}

async function findAllDatasets() {
  try {
    datasets.value = await requester.datasets.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
