<template>
  <MapsPreviewGeoJson v-if="geojson" :geojson="geojson" />
</template>

<script setup lang="ts">
import { ref, onMounted, computed } from "vue";
import { useRoute } from "vue-router";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import MapsPreviewGeoJson from "@/components/maps/MapsPreviewGeoJson.vue";

// DATA

const routeQuery = computed(
  () =>
    useRoute().query as {
      table: string;
      columnGeom: string;
      columnPk: string;
      valuePk: string;
    }
);

const geojson = ref<GeoJSON.Feature>();

// ON MOUNTED
onMounted(() => {
  getPreviewGeojson();
});

// METHODS

async function getPreviewGeojson() {
  const { table, columnGeom, columnPk, valuePk } = routeQuery.value;
  try {
    geojson.value = await requester.questions.getPreviewQueryGeojson({
      table,
      columnGeom,
      columnPk,
      valuePk,
    });
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
