<template>
  <!-- DIALOG CREATE ATTRIBUTE -->
  <AttributesDialogCreate
    v-model="dialogCreateAttribute"
    :version-id="version.id"
    @attribute-created="onAttributeCreated"
  />
  <!-- DIALOG UPDATE ATTRIBUTE -->
  <AttributesDialogUpdate
    v-if="selectedAttribute"
    :key="selectedAttribute.id"
    v-model="dialogUpdateAttribute"
    :attribute="selectedAttribute"
    :version-id="version.id"
    @attribute-updated="onAttributeUpdated"
  />

  <!-- SEARCH BAR AND BTNS FOR TABLE -->
  <div class="d-flex align-center mb-2">
    <!-- SECTION SELECT -->
    <v-autocomplete
      label="Section"
      v-model="filterSectionId"
      :items="sections"
      item-value="id"
      item-title="title"
      hide-details
      variant="outlined"
      density="compact"
      class="mr-2 flex-grow-0 flex-shrink-0"
    >
      <template v-slot:selection="{ item }">
        <span v-if="item?.raw?.title" class="mr-1">{{ item.title }}</span>
        <span v-else class="text-disabled mr-1">N/A</span>
        <span v-if="item?.raw?.default" class="text-disabled">(Default)</span>
      </template>
      <template v-slot:item="{ props, item }">
        <v-list-item v-bind="props">
          <template #title>
            <span v-if="item?.raw?.title" class="mr-1">
              {{ item.raw?.title }}
            </span>
            <span v-else class="text-disabled mr-1">N/A</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
        </v-list-item>
      </template>
    </v-autocomplete>
    <!-- SEARCH BAR -->
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateAttribute = true"
    >
      Attribute
    </v-btn>
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-import"
      color="secondary"
      variant="flat"
      class="ml-2"
      :to="{
        name: 'VersionsImportAttributes',
        params: { versionId: version.id },
      }"
    >
      Import
    </v-btn>
  </div>
  <!-- TABLE ATTRIBUTES -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>Name</th>
          <th style="min-width: 300px">Description</th>
          <th>Type</th>
          <th class="text-center">Optional</th>
          <th class="text-center">Index</th>
          <th class="text-center">Unique</th>
          <th class="text-center">Primary</th>
          <th class="text-center">Sensitive data</th>
          <th>Default value</th>
          <th>Unit</th>
          <th>Decode value</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in attributesFiltered" :key="item.id">
          <td>{{ item.name }}</td>
          <td>
            <span v-if="item.description" v-text="item.description" />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>{{ item.type }}</td>
          <td class="text-center">
            <IconBooleanValue :value="item.optional" />
          </td>
          <td>
            <div class="d-flex align-center justify-center">
              <IconBooleanValue
                :value="item.indexable"
                color-false="grey-lighten-1"
              />
              <span v-if="item.indexType" class="pl-1">{{
                item.indexType
              }}</span>
            </div>
          </td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.unique"
              color-false="grey-lighten-1"
            />
          </td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.primary"
              color-false="grey-lighten-1"
            />
          </td>
          <td class="text-center">
            <IconBooleanValue
              :value="item.sensitiveData"
              color-false="grey-lighten-1"
            />
          </td>
          <td>
            <span v-if="item.defaultValue" v-text="item.defaultValue" />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>
            <span v-if="item.unit" v-text="item.unit" />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>
            <template v-if="item.decodeValue">
              <div
                v-for="(decVal, decKey) in item.decodeValue"
                :key="decKey"
                class="my-1"
              >
                <v-chip density="compact">
                  <span v-text="decKey" class="font-weight-bold mr-2" />
                  <span v-text="decVal" />
                </v-chip>
              </div>
            </template>
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td class="text-center">
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editAttribute(item)"
            />
          </td>
          <td class="text-center">
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeAttribute(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { filterFormatDate } from "@/utils/filters";
import { cleanString } from "@/utils/string-functions.utils";

import { Attribute, Version, Section } from "@backPrisma/client";

import AttributesDialogCreate from "@/components/attributes/AttributesDialogCreate.vue";
import AttributesDialogUpdate from "@/components/attributes/AttributesDialogUpdate.vue";
import IconBooleanValue from "@/components/IconBooleanValue.vue";

// INJECT
const version = inject<Ref<Version>>("version");

// DATA

const dialogCreateAttribute = ref<boolean>(false);
const dialogUpdateAttribute = ref<boolean>(false);

const search = ref<string>("");
const cleanSearch = computed(() => cleanString(search.value));

const sections = ref<Section[]>([]);
const filterSectionId = ref<number | null>(null);

const attributes = ref<(Attribute & { section: Section })[]>([]);
const attributesSection = computed(() =>
  attributes.value.filter(
    (attribute) => attribute.sectionId === filterSectionId.value
  )
);
const attributesFiltered = computed(() =>
  attributesSection.value.filter((attribute) => {
    return (
      cleanString(attribute?.name || "").includes(cleanSearch.value) ||
      cleanString(attribute?.description || "").includes(cleanSearch.value) ||
      cleanString(attribute?.type || "").includes(cleanSearch.value)
    );
  })
);
const selectedAttribute = ref<Attribute>();

onMounted(() => {
  findAttributes(version.value.id);
  findSections(version.value.id);
});

// METHODS

function onAttributeCreated() {
  findAttributes(version.value.id);
  dialogCreateAttribute.value = false;
}

function onAttributeUpdated(attribute: Attribute) {
  const index = attributes.value.findIndex((el) => el.id === attribute.id);
  if (index >= 0) {
    const section = attributes.value[index].section;
    attributes.value[index] = {
      ...attribute,
      section,
    };
  }
  dialogUpdateAttribute.value = false;
}

function editAttribute(attribute: Attribute) {
  selectedAttribute.value = attribute;
  dialogUpdateAttribute.value = true;
}

async function removeAttribute(attributeId: number) {
  try {
    await requester.attributes.remove(attributeId);
    emitAlertSuccess("Attribute successfully removed");
    const index = attributes.value.findIndex(
      (attribute) => attribute.id === attributeId
    );
    if (index >= 0) {
      attributes.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAttributes(versionId: number) {
  try {
    attributes.value = await requester.versions.findAttributes(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
    filterSectionId.value =
      sections.value.find((el) => el.default)?.id ||
      sections.value?.[0]?.id ||
      null;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
