<template>
  <div v-if="version">
    <v-card color="black" variant="flat" class="mb-4">
      <v-card-text>
        <pre>{{ version }}</pre>
      </v-card-text>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Version } from "@backPrisma/client";

// INJECT
const version = inject<Ref<Version>>("version");
</script>
