<template>
  <!-- DIALOG CREATE ATTRIBUTE -->
  <SectionsDialogCreate
    v-model="dialogCreateSection"
    :versionId="version.id"
    @section-created="onSectionCreated"
  />
  <!-- DIALOG UPDATE ATTRIBUTE -->
  <SectionsDialogUpdate
    v-if="selectedSection"
    :key="selectedSection.id"
    v-model="dialogUpdateSection"
    :section="selectedSection"
    :versionId="version.id"
    @section-updated="onSectionUpdated"
  />

  <!-- SEARCH BAR AND BTNS FOR TABLE -->
  <div class="d-flex align-center mb-2">
    <!-- SEARCH BAR -->
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <!-- BTN OPEN DIALOG CREATE ATTRIBUTE -->
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateSection = true"
    >
      Section
    </v-btn>
  </div>
  <!-- TABLE SECTIONS -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>URI</th>
          <th>Name</th>
          <th>Description</th>
          <th class="text-center">Default</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in sectionsFiltered" :key="item.id">
          <td>
            <span v-if="item.uri" v-text="item.uri" />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>
            <span v-if="item.title" v-text="item.title" />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td>
            <span
              v-if="item.description"
              class="text-medium-emphasis"
              v-text="item.description"
            />
            <span v-else class="text-disabled">N/A</span>
          </td>
          <td class="text-center">
            <v-btn
              :icon="
                item.default ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'
              "
              variant="text"
              @click="onClickRadioDefault(item.id, item.default)"
            />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td class="text-center">
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editSection(item)"
            />
          </td>
          <td class="text-center">
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeSection(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { filterFormatDate } from "@/utils/filters";
import { cleanString } from "@/utils/string-functions.utils";

import { Version, Section } from "@backPrisma/client";

import SectionsDialogCreate from "@/components/sections/SectionsDialogCreate.vue";
import SectionsDialogUpdate from "@/components/sections/SectionsDialogUpdate.vue";

// INJECT
const version = inject<Ref<Version>>("version");

// DATA
const dialogCreateSection = ref<boolean>(false);
const dialogUpdateSection = ref<boolean>(false);

const search = ref<string>("");
const cleanSearch = computed(() => cleanString(search.value));

const sections = ref<Section[]>([]);
const sectionsFiltered = computed(() =>
  sections.value.filter((section) => {
    return (
      cleanString(section.uri).includes(cleanSearch.value) ||
      cleanString(section.title).includes(cleanSearch.value) ||
      cleanString(section.description || "").includes(cleanSearch.value)
    );
  })
);
const selectedSection = ref<Section>();

onMounted(() => {
  findSections(version.value.id);
});

// METHODS

async function onClickRadioDefault(sectionId: number, oldDefault: boolean) {
  const newDefault = !oldDefault;
  if (newDefault === false) return;
  try {
    await requester.sections.setDefault(sectionId);
    findSections(version.value.id);
    emitAlertSuccess("Section successfully updated");
  } catch (err) {
    emitAlertError(err);
  }
}

function onSectionCreated() {
  findSections(version.value.id);
  dialogCreateSection.value = false;
}

function onSectionUpdated(section: Section) {
  const index = sections.value.findIndex((el) => el.id === section.id);
  if (index >= 0) {
    sections.value[index] = section;
  }
  dialogUpdateSection.value = false;
}

function editSection(section: Section) {
  selectedSection.value = section;
  dialogUpdateSection.value = true;
}

async function removeSection(sectionId: number) {
  try {
    await requester.sections.remove(sectionId);
    emitAlertSuccess("Section successfully removed");
    const index = sections.value.findIndex(
      (section) => section.id === sectionId
    );
    if (index >= 0) {
      sections.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
