<template>
  <!-- SECTION SELECT AND SEARCH BAR -->
  <div class="d-flex align-center mb-2">
    <!-- SECTION SELECT -->
    <v-autocomplete
      label="Section"
      v-model="sectionId"
      :items="sections"
      item-value="id"
      item-title="title"
      hide-details
      variant="outlined"
      density="compact"
      class="mr-2 flex-grow-0 flex-shrink-0"
    >
      <template v-slot:selection="{ item }">
        <span v-if="item?.raw?.title" class="mr-1">{{ item.title }}</span>
        <span v-else class="text-disabled mr-1">N/A</span>
        <span v-if="item?.raw?.default" class="text-disabled">(Default)</span>
      </template>
      <template v-slot:item="{ props, item }">
        <v-list-item v-bind="props">
          <template #title>
            <span v-if="item?.raw?.title" class="mr-1">{{
              item.raw?.title
            }}</span>
            <span v-else class="text-disabled mr-1">N/A</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
        </v-list-item>
      </template>
    </v-autocomplete>
    <!-- SEARCH BAR -->
    <v-text-field
      disabled
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
      :loading="loading"
      class="flex-grow-1 flex-shrink-0"
    />
  </div>

  <v-card variant="outlined" color="grey-lighten-2">
    <v-table hover density="compact">
      <thead>
        <tr>
          <th v-for="header in headers" :key="header.value">
            <div class="d-flex align-center">
              <div>{{ header.title }}</div>
              <v-tooltip v-if="header?.attribute" location="bottom">
                <template v-slot:activator="{ props }">
                  <v-icon
                    size="small"
                    icon="mdi-information"
                    v-bind="props"
                    class="cursor-help ml-1"
                    color="grey-lighten-1"
                  />
                </template>
                <div style="max-width: 300px">
                  {{ header.attribute?.description }}
                </div>
              </v-tooltip>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td v-for="header in headers" :key="header.value">
            <template
              v-if="header.value === DefaultSectionTableColumnEnum.GEOMETRY"
            >
              <router-link
                :to="{
                  name: 'SectionsPreviewGeojson',
                  params: {
                    sectionId: sectionId,
                    dataId: getItemValue(
                      item,
                      DefaultSectionTableColumnEnum.ID
                    ),
                  },
                }"
                target="_blank"
              >
                {{ getItemValue(item, header.value) }}
              </router-link>
            </template>
            <template v-else>
              {{ getItemValue(item, header.value) }}
            </template>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <v-pagination
    v-model="paginationPage"
    :length="paginationLength"
    total-visible="6"
    density="compact"
  />
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, watch, Ref } from "vue";
import { debounce, get } from "lodash";
import { Attribute, Version, Section } from "@backPrisma/client";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { DefaultSectionTableColumnEnum } from "@backSrc/sections/sections.contants";

// INJECT
const version = inject<Ref<Version>>("version");
const attributes = ref<Attribute[]>([]);

// DATA

const loading = ref(false);

const sectionId = ref<number>();
const sections = ref<Section[]>([]);

const items = ref([]);
const paginationPage = ref(1);
const paginationPerPage = ref(15);
const paginationLength = ref(0);

const headersDefault = computed(() => [
  {
    value: DefaultSectionTableColumnEnum.ID,
    title: DefaultSectionTableColumnEnum.ID,
    attribute: null,
  },
  {
    value: DefaultSectionTableColumnEnum.GEOMETRY,
    title: DefaultSectionTableColumnEnum.GEOMETRY,
    attribute: null,
  },
]);
const headersAttributes = computed(() =>
  attributes.value
    .filter((attribute) => attribute.sectionId === sectionId.value)
    .map((attribute) => ({
      value: attribute.name,
      title: attribute.name,
      attribute,
    }))
);
const headers = computed(() => [
  ...headersDefault.value,
  ...headersAttributes.value,
]);

watch(paginationPage, () => {
  getDataTableDebounce(false);
});
watch(paginationPerPage, () => {
  getDataTableDebounce(true);
});
watch(sectionId, () => {
  getDataTableDebounce(true);
});

// ON MOUNTED
onMounted(async () => {
  await findSections(version.value.id);
  sectionId.value =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
  await findAttributes(version.value.id);
  await getDataTable(true);
});

// METHODS

function getItemValue(item: any, key: string) {
  return get(item, key);
}

const getDataTableDebounce = debounce(getDataTable, 200);
async function getDataTable(resetPage: boolean) {
  loading.value = true;
  if (resetPage) {
    paginationPage.value = 1;
  }
  try {
    const queryDto = {
      page: paginationPage.value,
      perPage: paginationPerPage.value,
    };
    const resData = await requester.sections.getDataTable(
      sectionId.value,
      queryDto
    );
    items.value = resData?.results || [];
    paginationLength.value = Math.ceil(
      (resData?.total || 0) / paginationPerPage.value
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}

async function findAttributes(versionId: number) {
  try {
    attributes.value = await requester.versions.findAttributes(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
