<template>
  <div v-if="version" class="pt-3">
    <v-row dense>
      <v-col cols="12">
        <v-autocomplete
          label="Section *"
          v-model="form.sectionId"
          :items="sections"
          :rules="rules.required"
          item-value="id"
          item-title="title"
          variant="outlined"
        >
          <template v-slot:selection="{ item }">
            <span v-if="item?.raw?.title" class="mr-1">{{ item.title }}</span>
            <span v-else class="text-disabled mr-1">N/A</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props">
              <template #title>
                <span v-if="item?.raw?.title" class="mr-1">
                  {{ item.raw?.title }}
                </span>
                <span v-else class="text-disabled mr-1">N/A</span>
                <span v-if="item?.raw?.default" class="text-disabled">
                  (Default)
                </span>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12">
        <v-file-input
          label="File *"
          variant="outlined"
          v-model="file"
          @update:model-value="onChangeFile"
          clearable
        />
      </v-col>
    </v-row>
    <v-card variant="outlined" color="grey-lighten-2">
      <v-card-text v-if="items.length === 0">
        <p class="text-disabled">No file selected</p>
      </v-card-text>
      <v-table v-else>
        <thead>
          <tr>
            <th v-for="header in headers" :key="header.value">
              {{ header.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" :key="index">
            <td v-for="header in headers" :key="header.value">
              <!-- DECODE VALUE -->
              <template
                v-if="['typeOptions', 'decodeValue'].includes(header.value)"
              >
                <template v-if="getItemValue(header, item)">
                  <div
                    v-for="(decVal, decKey) in getItemValue(header, item)"
                    :key="decKey"
                    class="my-1"
                  >
                    <v-chip density="compact">
                      <span v-text="decKey" class="font-weight-bold mr-2" />
                      <span v-text="decVal" />
                    </v-chip>
                  </div>
                </template>
                <span v-else class="text-disabled" v-text="'N/A'" />
              </template>
              <template v-else>
                <span v-html="getItemValue(header, item)" />
              </template>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <div class="mt-3">
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        :disabled="!form.sectionId || items.length === 0"
        @click="onSubmit"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, inject, onMounted, Ref } from "vue";
import { useRouter } from "vue-router";
import * as XLSX from "xlsx";
import { Version, Section } from "@backPrisma/client";
import { CreateAttributeDto } from "@backSrc/attributes/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// INJECT
const version = inject<Ref<Version>>("version");

// DATA
const router = useRouter();

const sections = ref<Section[]>([]);

const form = ref({
  sectionId: null,
});
const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

const file = ref();
const workbook = ref();
const items = ref([]);

const transformerTrim = (v: string | number | null | undefined) => {
  if (v === null || v === undefined) return null;
  if (typeof v === "number") return v;
  return v?.trim() || null;
};
const transformerLowercaseTrim = (v: string | number | null | undefined) => {
  if (v === null || v === undefined) return null;
  if (typeof v === "number") return v;
  return v?.toLowerCase()?.trim() || null;
};
const transformerUppercaseTrim = (v: string | number | null | undefined) => {
  if (v === null || v === undefined) return null;
  if (typeof v === "number") return v;
  return v?.toUpperCase()?.trim() || null;
};
const transformerBooleanYN = (v: string | number | null) => {
  if (v === null || v === undefined) return null;
  if (typeof v === "number") return !!v;
  return v?.toUpperCase()?.trim() === "Y";
};
const transformerJson = (v: string | null) => {
  if (v === null || v === undefined) return null;
  try {
    return JSON.parse(v?.trim());
  } catch (err) {
    return null;
  }
};

const headers = ref([
  {
    value: "rawFileProperty",
    text: "Raw File Property",
    transformer: transformerTrim,
  },
  { value: "name", text: "Name", transformer: transformerLowercaseTrim },
  {
    value: "description",
    text: "Description",
    transformer: transformerTrim,
  },
  {
    value: "type",
    text: "Type",
    transformer: transformerUppercaseTrim,
  },
  {
    value: "typeOptions",
    text: "Type options",
    transformer: transformerJson,
  },
  {
    value: "optional",
    text: "Optional",
    transformer: transformerBooleanYN,
  },
  {
    value: "indexable",
    text: "Indexable",
    transformer: transformerBooleanYN,
  },
  {
    value: "indexType",
    text: "Index type",
    transformer: transformerTrim,
  },
  {
    value: "unique",
    text: "Unique",
    transformer: transformerBooleanYN,
  },
  {
    value: "primary",
    text: "Primary",
    transformer: transformerBooleanYN,
  },
  {
    value: "sensitiveData",
    text: "Sensitive data",
    transformer: transformerBooleanYN,
  },
  {
    value: "defaultValue",
    text: "Default value",
    transformer: transformerTrim,
  },
  { value: "unit", text: "Unit", transformer: transformerTrim },
  {
    value: "decodeValue",
    text: "Decode value",
    transformer: transformerJson,
  },
]);

// ON MOUNTED
onMounted(async () => {
  await findSections(version.value.id);
  form.value.sectionId =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
});

// METHODS

function getItemValue(header, item) {
  return header?.transformer
    ? header?.transformer(item?.[header.value])
    : item?.[header.value];
}

async function onChangeFile() {
  loadWorkbook(file.value);
}

async function loadWorkbook(file: File) {
  if (!file) {
    workbook.value = null;
    items.value = [];
    return;
  }
  const reader = new FileReader();
  reader.onload = (e) => {
    if (file.type === "text/csv") {
      const textDecoder = new TextDecoder("utf-8");
      const data = textDecoder.decode(
        new Uint8Array(e?.target?.result as ArrayBufferLike)
      );
      workbook.value = XLSX.read(data, { type: "binary" });
    } else {
      const data = new Uint8Array(e?.target?.result as ArrayBufferLike);
      workbook.value = XLSX.read(data, { type: "array" });
    }
    items.value = XLSX.utils.sheet_to_json(
      workbook.value.Sheets[workbook.value.SheetNames[0]],
      { defval: null }
    );
  };
  reader.readAsArrayBuffer(file);
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function onSubmit() {
  if (!version.value) return;
  try {
    const dto: CreateAttributeDto[] = items.value.map((item) => {
      const returnValue: any = {};
      headers.value.forEach((header) => {
        returnValue[header.value] = getItemValue(header, item);
      });
      return returnValue;
    });
    // TODO REMOVER SECTION DA PLANILHA
    await requester.sections.createAttributeBulk(form.value.sectionId, dto);
    emitAlertSuccess("Attributes successfully created");
    router.push({
      name: "VersionsView",
      params: { versionId: version.value.id },
    });
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
