<template>
  <tr>
    <td class="pr-2" width="1">
      <v-icon :icon="icon" color="neutral-darken-2" />
    </td>
    <td class="pl-1">
      <div>
        <div class="pt-1">
          <router-link
            :to="toVerMais"
            target="_blank"
            class="text-primary text-decoration-none font-weight-medium"
          >
            {{ item.nome }}
          </router-link>
        </div>
        <div v-if="item.descricao" class="text-caption text-disabled">
          {{ item.descricao }}
        </div>
        <div
          class="d-flex align-center text-medium-emphasis justify-space-between text-caption"
        >
          <div>
            {{ base.category.name }} - {{ base.titleSingular || base.title }}
          </div>
          <div>{{ item.municipio_nome }} - {{ item.uf_sigla }}</div>
        </div>
      </div>
    </td>
  </tr>
</template>

<script setup lang="ts">
import { ItemSearchResponse } from "@/requester/bases.requester";
import { useBasesStore } from "@/store/bases.store";
import { computed } from "vue";

// PROPS
export interface Props {
  item: ItemSearchResponse;
}
const props = defineProps<Props>();

// DATA
const basesStore = useBasesStore();
const base = computed(() =>
  basesStore.bases.find((b) => b.uri === props.item.base_uri)
);
const icon = computed(
  () => base.value?.icon || base.value?.category?.icon || null
);
const toVerMais = computed(() =>
  props.item
    ? {
        name: "EntidadesInicio",
        params: { baseUri: props.item.base_uri, pk: props.item.pk },
      }
    : null
);
</script>
