<template>
  <div class="children-pointer-events-all">
    <v-menu v-model="menu" location="right bottom" offset="8">
      <template v-slot:activator="{ props }">
        <v-btn icon="mdi-map" v-bind="props" />
      </template>
      <v-card>
        <v-card-title class="pb-0" @click.stop="">
          <div class="d-flex justify-space-between align-center">
            <div class="text-body-1 font-weight-medium">
              Escolher camada de fundo
            </div>
            <v-icon size="x-small" icon="mdi-close" @click="menu = false" />
          </div>
        </v-card-title>
        <v-list density="compact">
          <v-list-item
            v-for="(option, key) in bgTileLayerStore.options"
            :key="key"
            :active="key === bgTileLayerStore.key"
            @click="onClickOption(key)"
          >
            <v-list-item-title>{{ option.title }}</v-list-item-title>
            <v-list-item-subtitle>
              {{ option.description }}
            </v-list-item-subtitle>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { inject, ref, Ref } from "vue";
import { Map, TileLayer } from "leaflet";
import {
  BgTileLayerSources,
  useBgTileLayerStore,
} from "@/store/bg-tile-layer.store";

// DATA

const menu = ref(false);
const map = inject<Ref<Map>>("map");
const bgTileLayer = inject<Ref<TileLayer>>("bgTileLayer");

const bgTileLayerStore = useBgTileLayerStore();

// METHODS

function onClickOption(key: BgTileLayerSources) {
  bgTileLayerStore.setBgTileLayerSourceKey(key);
  // remove previous attribution
  map.value.attributionControl.removeAttribution(
    bgTileLayer.value.getAttribution() as string
  );
  // add new attribution
  const { url, attribution } = bgTileLayerStore.source;
  map.value.attributionControl.addAttribution(attribution);
  bgTileLayer.value.options.attribution = attribution;
  // set new url
  bgTileLayer.value.setUrl(url);
  bgTileLayer.value.redraw();
}
</script>
