<template>
  <div
    ref="mapPopupContent"
    style="width: 300px; max-height: 300px; overflow-y: scroll"
  >
    <div
      v-for="(entity, index) in entities"
      :key="index"
      class="cursor-pointer"
      @click="selectEntity(entity)"
    >
      <v-divider v-if="index > 0" class="my-2" />
      <div class="d-flex align-center">
        <v-icon
          :icon="
            basesStore.getBaseProperty(
              entity[ColumnViewSearch.BASE_URI],
              'icon'
            )
          "
          :color="
            basesStore.getBaseProperty(
              entity[ColumnViewSearch.BASE_URI],
              'color'
            )
          "
          class="mr-3"
        />
        <div>
          <div class="text-body-2 font-weight-medium">
            {{ entity[ColumnViewSearch.NOME] }}
          </div>
          <!-- TODO: Consertar \n -->
          <div
            class="text-caption mb-1"
            v-if="entity[ColumnViewSearch.DESCRICAO]"
          >
            <div
              v-for="(line, index) in entity[ColumnViewSearch.DESCRICAO].split(
                '\\n'
              )"
              :key="index"
            >
              {{ line }}
            </div>
          </div>
          <div class="text-caption text-medium-emphasis">
            {{
              basesStore.getBaseProperty(
                entity[ColumnViewSearch.BASE_URI],
                "titleSingular"
              ) ||
              basesStore.getBaseProperty(
                entity[ColumnViewSearch.BASE_URI],
                "title"
              )
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, Ref } from "vue";
import { LatLng, Map, popup, Popup } from "leaflet";
import { useBasesStore } from "@/store/bases.store";
import { emitMapPopupSelectEntityEventKey } from "@/plugins/eventBus";
import { ColumnViewSearch } from "@backSrc/knex/knex.constants";

// PROPS
export interface Props {
  entities: {
    [ColumnViewSearch.CATEGORY_TYPE]: string;
    [ColumnViewSearch.CATEGORY_URI]: string;
    [ColumnViewSearch.BASE_URI]: string;
    [ColumnViewSearch.PK]: string;
    [ColumnViewSearch.NOME]: string;
    [ColumnViewSearch.DESCRICAO]: string;
    [ColumnViewSearch.GEOM]: GeoJSON.Point;
    [ColumnViewSearch.UF_SIGLA]: string;
    [ColumnViewSearch.MUNICIPIO_CODIGO]: string;
    [ColumnViewSearch.MUNICIPIO_NOME]: string;
  }[];
}
withDefaults(defineProps<Props>(), {
  entities: () => [],
});

// DATA

const map = inject<Ref<Map>>("map");

const basesStore = useBasesStore();

const mapPopupContent = ref();
const mapPopup = ref<Popup>();

// EXPOSED METHODS
defineExpose({
  init: () => {
    mapPopup.value = popup({
      closeButton: false,
      content: mapPopupContent.value,
    });
  },
  open: (latLng: LatLng) => {
    mapPopup.value.setLatLng(latLng);
    mapPopup.value.openOn(map.value);
  },
  close: () => {
    mapPopup.value.close();
  },
});

// METHODS
function selectEntity(entity) {
  emitMapPopupSelectEntityEventKey(entity);
  mapPopup.value.close();
}
</script>
