<template>
  <div
    :class="[modelValue ? 'bg-white' : '', 'd-flex flex-column']"
    :style="`
      max-height: 100%;
      min-width: ${width}px;
      max-width: ${width}px;
      pointer-events: all;
      ${
        modelValue
          ? 'min-height: 100%; box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);'
          : ''
      }
    `"
  >
    <div class="flex-grow-0 flex-shrink-0">
      <div class="d-flex align-center w-100 px-3 py-2">
        <!-- <router-link :to="{ name: 'Home' }">
          <img
            src="/img/logo.svg"
            alt="Logo CulturaEduca"
            class="mr-3 mt-1"
            style="width: 40px"
        /></router-link> -->
        <MapaSearchBar
          ref="refMapaSearchBar"
          v-model="selectedItem"
          :lat-lng="mainMarkerLatLng"
          @update:model-value="onUpdateSelectedItem"
        />
        <v-btn
          v-if="!!modelValue"
          variant="plain"
          density="compact"
          icon="mdi-close"
          class="ml-2"
          @click="onClickClose()"
        />
      </div>
      <v-divider v-if="modelValue" />
    </div>
    <template v-if="modelValue">
      <div class="flex-grow-1 flex-shrink-1 overflow-y-scroll px-3 py-1">
        <div v-if="selectedItem">
          <div class="d-flex align-center justify-space-between mt-1 mb-3">
            <v-chip
              :color="getBaseProperty('color')"
              :prepend-icon="getBaseProperty('icon')"
              class="cursor-default"
            >
              <span class="text-body-2">{{
                getBaseProperty("titleSingular")
              }}</span>
            </v-chip>
            <EntidadesBtnFavorito
              :base-uri="selectedItem.base_uri"
              :pk="selectedItem.pk"
              :nome="selectedItem.nome"
              size="small"
            />
            <!-- <div class="text-disabled text-body-2">
              {{ selectedItem.municipio_nome }},
              {{ selectedItem.uf_sigla }}
            </div> -->
          </div>
          <h1 class="text-body-1 font-weight-medium my-2">
            {{ selectedItem.nome }}
          </h1>
          <v-divider class="mb-3" />
          <!-- ENTIDADE INFO -->
          <EntidadesInfo
            :base-uri="selectedItem.base_uri"
            :pk="selectedItem.pk"
          />
        </div>
      </div>
      <div class="flex-grow-0 flex-shrink-0">
        <v-divider />
        <div class="d-flex justify-space-between px-3 py-3">
          <v-btn variant="outlined" rounded disabled> Compartilhar </v-btn>
          <v-btn
            variant="flat"
            rounded
            color="primary"
            :to="toVerMais"
            exact
            :disabled="!selectedItem"
          >
            Ver mais
          </v-btn>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref, onMounted } from "vue";
import { ItemSearchResponse } from "@/requester/bases.requester";
import { LatLng, Marker } from "leaflet";
import { useBasesStore } from "@/store/bases.store";
import MapaSearchBar from "./MapaSearchBar.vue";
import EntidadesInfo from "../entidades/EntidadesInfo.vue";
import {
  EventBus,
  MAIN_MARKER_DRAG_END_EVENT_KEY,
  MAP_POPUP_SELECT_ENTITY_EVENT_KEY,
} from "@/plugins/eventBus";
import EntidadesBtnFavorito from "../entidades/EntidadesBtnFavorito.vue";

// PROPS
export interface Props {
  modelValue: boolean;
  width?: number;
}
withDefaults(defineProps<Props>(), {
  width: 420,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", value: boolean): void;
}>();

// DATA

const mainMarker = inject<Ref<Marker>>("mainMarker");
const mainMarkerLatLng = computed(() => mainMarker.value?.getLatLng());

const basesStore = useBasesStore();
const refMapaSearchBar = ref();
const selectedItem = ref<ItemSearchResponse | null>(null);
const selectedItemLatLng = computed(() => {
  const coordinates = selectedItem.value?.geom?.coordinates;
  if (!coordinates) return null;
  return new LatLng(coordinates[1], coordinates[0]);
});
const selectedBase = computed(() =>
  basesStore.bases.find((b) => b.uri === selectedItem.value?.base_uri)
);

const toVerMais = computed(() =>
  selectedItem.value
    ? {
        name: "EntidadesInicio",
        params: {
          baseUri: selectedItem.value.base_uri,
          pk: selectedItem.value.pk,
        },
      }
    : null
);

// ON MOUNTED
onMounted(() => {
  EventBus.on(MAP_POPUP_SELECT_ENTITY_EVENT_KEY, (entity) => {
    clear();
    selectedItem.value = entity as ItemSearchResponse;
    mainMarker.value.setLatLng(
      new LatLng(
        selectedItem.value.geom.coordinates[1],
        selectedItem.value.geom.coordinates[0]
      )
    );
    emit("update:model-value", true);
  });
  EventBus.on(MAIN_MARKER_DRAG_END_EVENT_KEY, (latLng: LatLng) => {
    if (
      !selectedItemLatLng.value ||
      Math.abs(latLng.lat - selectedItemLatLng.value.lat) > 0.00001 ||
      Math.abs(latLng.lng - selectedItemLatLng.value.lng) > 0.00001
    ) {
      clear();
    }
  });
});

// METHODS

function getBaseProperty(property: string) {
  return (
    selectedBase.value?.[property] ||
    selectedBase.value?.category?.[property] ||
    null
  );
}

function clear() {
  emit("update:model-value", false);
  refMapaSearchBar.value?.clear();
  selectedItem.value = null;
}

function onClickClose() {
  clear();
}

function onUpdateSelectedItem(item: ItemSearchResponse) {
  if (!item) {
    return;
  }
  // open drawer
  emit("update:model-value", true);
  selectedItem.value = item;
  mainMarker.value.setLatLng(selectedItemLatLng.value);
}
</script>
