<template>
  <div style="width: 100%; height: 100%; position: relative">
    <div ref="mapContainer" style="width: 100%; height: 100%" />
    <MapaPopup ref="refMapaPopup" :entities="popupEntities" />
  </div>
</template>

<script lang="ts" setup>
import { computed, inject, onMounted, provide, Ref, ref, watch } from "vue";
import {
  Map,
  Marker,
  TileLayer,
  geoJSON,
  GeoJSON,
  Icon,
  LatLng,
  LeafletMouseEvent,
} from "leaflet";
import "leaflet/dist/leaflet.css";
import { useBasesStore } from "@/store/bases.store";
import { BaseCompleto, ItemSearchResponse } from "@/requester/bases.requester";
import { useBgTileLayerStore } from "@/store/bg-tile-layer.store";
import { useRouter } from "vue-router";
import { BaseCategoryTypeEnum } from "@backSrc/bases/bases.constants";
import { meanBy } from "lodash";
import MapaPopup from "@/components/mapas/MapaPopup.vue";

// DATA

const basesStore = useBasesStore();
const defaultValues = {
  zoom: 14,
  minZoom: Number(import.meta.env.VITE_MAP_MIN_ZOOM ?? 4),
  maxZoom: Number(import.meta.env.VITE_MAP_MAX_ZOOM ?? 18),
};

const refMapaPopup = ref();
const mapContainer = ref();
const resizerObserver = new ResizeObserver(() => {
  map.value?.invalidateSize();
});

const bgTileLayerStore = useBgTileLayerStore();

const router = useRouter();

const map = ref<Map>();
provide("map", map);

const mainMarker = ref<Marker>();
provide("mainMarker", mainMarker);

const bgTileLayer = ref<TileLayer>();
provide("bgTileLayer", bgTileLayer);

const setoresGeojsonLayer = ref<GeoJSON>();

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");
const baseFocused = inject<Ref<boolean>>("baseFocused");

const entornoGeojsonSetores = inject<Ref<GeoJSON.FeatureCollection | null>>(
  "entornoGeojsonSetores"
);

const entornoEntidadesBases = inject<Ref<ItemSearchResponse[]>>(
  "entornoEntidadesBases"
);

const entidadeGeom = computed(() => entidade.value?.[base.value.columnGeom]);
const entidadeLat = ref(null);
const entidadeLng = ref(null);
const entidadeName = computed(() => entidade.value?.[base.value.columnName]);
const entidadeColumnPk = computed(() => base.value.columnPk);
const entidadePkValue = computed(() => entidade.value?.[base.value.columnPk]);
const popupEntities = ref([]);

// WATCH

watch(
  () => entidadeGeom.value,
  (newGeom) => {
    getCoordinatesFromGeom(newGeom);
  },
  { immediate: true }
);

watch(
  () => entornoGeojsonSetores.value,
  () => {
    if (!map.value || !setoresGeojsonLayer.value) {
      return;
    }
    setoresGeojsonLayer.value.clearLayers();
    if (entornoGeojsonSetores.value) {
      setoresGeojsonLayer.value.addData(entornoGeojsonSetores.value);
      fitBounds();
    }
  }
);

watch(
  () => entornoEntidadesBases.value,
  () => {
    if (!map.value || !entornoEntidadesBases.value) {
      return;
    }
    const latLng = new LatLng(entidadeLat.value, entidadeLng.value);
    // Remove all previous markers
    map.value.eachLayer((layer) => {
      if (layer instanceof Marker) {
        map.value.removeLayer(layer);
      }
    });
    addMainMarker(latLng);
    addEntidadeMarkers();
  }
);

//Make it watch baseFocused, if its false, clear all markers and add only the main marker, else, add all markers
watch(
  () => baseFocused.value,
  () => {
    if (!map.value) {
      return;
    }
    if (baseFocused.value) {
      addEntidadeMarkers();
    } else {
      map.value.eachLayer((layer) => {
        if (layer instanceof Marker) {
          map.value.removeLayer(layer);
        }
      });
      addMainMarker(new LatLng(entidadeLat.value, entidadeLng.value));
    }
  }
);

// ON MOUNTED
onMounted(async () => {
  resizerObserver.observe(mapContainer.value);
  initMap({
    lat: entidadeLat.value,
    lng: entidadeLng.value,
  });
});

// EXPOSED METHODS

defineExpose({
  getMainMarkerLatLng: () => mainMarker.value.getLatLng(),
  moveMainMarker: (latLng: LatLng) => {
    mainMarker.value.setLatLng(latLng);
  },
  getMapZoom: () => map.value.getZoom(),
  setMapZoom: (zoom: number) => {
    map.value.setZoom(zoom);
  },
  initMap,
  centerOnMainMarker: () => {
    setTimeout(() => {
      map.value.setView(mainMarker.value.getLatLng());
    }, 200);
  },
  clearGeojsonSetores: () => {
    setoresGeojsonLayer.value.clearLayers();
  },
  reloadGeojsonSetores: () => {
    if (!entornoGeojsonSetores.value) return;
    setoresGeojsonLayer.value.clearLayers();
    setoresGeojsonLayer.value.addData(entornoGeojsonSetores.value);
  },
});

// METHODS

function initMap(initialValues: { lat: number; lng: number }) {
  const { lat, lng } = initialValues;
  const { zoom, maxZoom, minZoom } = defaultValues;
  const latLng = new LatLng(lat, lng);

  // create map
  map.value = new Map(mapContainer.value, {
    preferCanvas: true,
    zoomControl: false,
    maxZoom,
    minZoom,
  }).setView(latLng, zoom);

  map.value.addEventListener("click", (e: LeafletMouseEvent) => {
    loadEntitiesPopup(e.latlng);
  });

  refMapaPopup.value?.init();

  // bg tile layer
  bgTileLayer.value = new TileLayer(bgTileLayerStore.source.url, {
    attribution: bgTileLayerStore.source.attribution,
    maxZoom,
    minZoom,
  });
  bgTileLayer.value.addTo(map.value);

  // Add marker
  addMainMarker(latLng);

  // Layer setores geojson
  setoresGeojsonLayer.value = geoJSON();
  if (entornoGeojsonSetores.value) {
    setoresGeojsonLayer.value.clearLayers();
    setoresGeojsonLayer.value.addData(entornoGeojsonSetores.value);
  }
  setoresGeojsonLayer.value.addTo(map.value);

  fitBounds();

  // Add markers for surrounding equipment
  addEntidadeMarkers();
}

function getCoordinatesFromGeom(geom: any) {
  if (!geom) {
    entidadeLat.value = null;
    entidadeLng.value = null;
    return;
  }
  switch (geom.type) {
    case "Point":
      entidadeLat.value = geom.coordinates[1];
      entidadeLng.value = geom.coordinates[0];
      break;
    case "Polygon":
    case "MultiPolygon": {
      const coordinates =
        geom.type === "Polygon" ? geom.coordinates[0] : geom.coordinates[0][0];
      entidadeLat.value =
        coordinates.reduce(
          (sum: number, coord: [number, number]) => sum + coord[1],
          0
        ) / coordinates.length;
      entidadeLng.value =
        coordinates.reduce(
          (sum: number, coord: [number, number]) => sum + coord[0],
          0
        ) / coordinates.length;
      break;
    }
    default:
      entidadeLat.value = null;
      entidadeLng.value = null;
  }
}

async function loadEntitiesPopup(latLng: LatLng) {
  const point = map.value.latLngToContainerPoint(latLng);
  const size = map.value.getSize();
  const bbox = map.value.getBounds().toBBoxString();
  const entities = await basesStore.getEntitiesFromLatLng({
    point,
    size,
    bbox,
  });
  popupEntities.value = entities
    .flat()
    .sort((a, b) =>
      String(a.nome.toLowerCase()).localeCompare(String(b.nome.toLowerCase()))
    );
  if (popupEntities.value.length > 0) {
    const popupLatLng = new LatLng(
      meanBy(
        popupEntities.value,
        (e) => e?.geom?.coordinates?.[1] || latLng.lat
      ),
      meanBy(
        popupEntities.value,
        (e) => e?.geom?.coordinates?.[0] || latLng.lng
      )
    );
    refMapaPopup.value?.open(popupLatLng);
  }
}

function fitBounds() {
  if (base.value.baseCategoryUri === "divisao" && entidadeGeom.value) {
    const bounds = setoresGeojsonLayer.value.getBounds();
    if (bounds.isValid()) {
      map.value.fitBounds(bounds);
    }
  }
}

function addMainMarker(latLng) {
  mainMarker.value = new Marker(latLng, {
    icon: new Icon({
      iconUrl: "/img/marker/default.png",
      iconSize: [25, 41], // Size of the icon
      iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
      // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
    }),
    draggable: false,
  });
  mainMarker.value.addTo(map.value);
  mainMarker.value.addEventListener("moveend", () => {
    map.value.setView(mainMarker.value.getLatLng());
  });
}

// For entidades, shows the regular base markers
// For divisoes, since it's much more dense, we use geoserver tilemap base markers
async function addEntidadeMarkers() {
  if (base?.value.baseCategoryUri === "divisao") {
    addDivisaoEntidadeBaseMarkers();
  } else {
    addEntornoEntidadesBasesMarkers();
  }
}

function addEntornoEntidadesBasesMarkers() {
  if (base?.value.baseCategoryUri === "divisao") {
    return;
  }

  //Remove equipment tile layer bases (which are only for Divisoes)
  basesStore.bases.forEach((singleBase) => {
    if (singleBase.checked) {
      basesStore.checkBase(singleBase.uri);
      singleBase.wmsTileLayer.removeFrom(map.value);
      if (singleBase.polygonTileLayer)
        singleBase.polygonTileLayer.removeFrom(map.value);
    }
  });

  entornoEntidadesBases.value.forEach((equipamento) => {
    if (equipamento.nome === entidadeName.value) {
      return;
    }
    const lat = equipamento.geom.coordinates[1];
    const long = equipamento.geom.coordinates[0];
    const marker = new Marker([lat, long], {
      icon: new Icon({
        iconUrl: "/img/marker/atividade.png",
        iconSize: [12.5, 20.5], // Size of the icon
        iconAnchor: [12.5 / 2, 20.5], // Point of the icon which will correspond to marker's location
        popupAnchor: [12.5 / 2, 0], // Point from which the popup should open relative to the iconAnchor
      }),
      draggable: false,
    }).addTo(map.value);
    const popupContent = document.createElement("div");
    popupContent.innerHTML = `<b>${equipamento.nome}</b><br><button id="popup-button-${equipamento.nome}">Ver mais</button>`;
    marker.bindPopup(popupContent);
    marker.on("popupopen", () => {
      const button = document.getElementById(
        `popup-button-${equipamento.nome}`
      );
      button.addEventListener("click", () => {
        // Remove all previous markers
        map.value.eachLayer((layer) => {
          if (layer instanceof Marker) {
            map.value.removeLayer(layer);
          }
        });

        router.push({
          name: "EntidadesEntornoBases",
          params: { baseUri: equipamento.base_uri, pk: equipamento.pk },
        });
      });
    });
  });
}

function addDivisaoEntidadeBaseMarkers() {
  if (base?.value.baseCategoryUri !== "divisao") {
    return;
  }

  // Remove all previous markers
  map.value.eachLayer((layer) => {
    if (layer instanceof Marker) {
      map.value.removeLayer(layer);
    }
  });
  // Re-add main marker
  addMainMarker(new LatLng(entidadeLat.value, entidadeLng.value));

  //Check all unchecked equipment bases, uncheck all others
  basesStore.bases.forEach((singleBase) => {
    if (
      singleBase.category.type === BaseCategoryTypeEnum.EQUIPAMENTO ||
      (singleBase.category.type === BaseCategoryTypeEnum.REDE &&
        singleBase.category.uri ===
          (import.meta.env.VITE_DEFAULT_CATEGORY_ACOES_URI || "acoes"))
    ) {
      if (!singleBase.checked) basesStore.checkBase(singleBase.uri);
    } else {
      if (singleBase.checked) {
        basesStore.checkBase(singleBase.uri);
        singleBase.wmsTileLayer.removeFrom(map.value);
        if (singleBase.polygonTileLayer)
          singleBase.polygonTileLayer.removeFrom(map.value);
      }
    }
  });
  if (base.value) {
    basesStore.applyDatasetFilterToBases(
      base.value.geoserverUri,
      entidadeColumnPk.value,
      entidadePkValue.value
    );
    basesStore.checkedBases.forEach((base) => {
      base.polygonTileLayer.addTo(map.value);
      base.polygonTileLayer.redraw();
    });
  }
}
</script>
