<template>
  <v-list-item :to="toVerMais">
    <v-list-item-title>
      <!-- TITULO -->
      <div>
        {{ atividade.titulo }}
      </div>
      <!-- PROJETO -->
      <div v-if="atividade.projeto" class="d-flex align-center text-caption">
        <v-icon icon="mdi-folder" size="x-small" color="grey" class="mr-1" />
        <span class="text-medium-emphasis text-truncate">
          {{ atividade.projeto.titulo }}
        </span>
      </div>
      <!-- DATA INICIO E FIM -->
      <div
        class="d-flex align-top text-caption"
        v-if="atividade.datetimeInicio"
      >
        <div class="d-flex align-center">
          <v-icon
            icon="mdi-calendar"
            size="x-small"
            color="grey-darken-4"
            class="mr-1"
          />
          <span>
            {{ new Date(atividade.datetimeInicio).toLocaleDateString("pt-BR") }}
          </span>
        </div>
        <div class="d-flex align-center ml-2">
          <v-icon
            icon="mdi-clock-outline"
            size="x-small"
            color="grey-darken-4"
            class="mr-1"
          />
          <span>
            {{
              new Date(atividade.datetimeInicio).toLocaleTimeString("pt-BR", {
                hour: "2-digit",
                minute: "2-digit",
                hour12: false,
              })
            }}
          </span>
          <template v-if="atividade.datetimeFim">
            <span class="mx-1">-</span>
            <span>
              {{
                new Date(atividade.datetimeFim).toLocaleTimeString("pt-BR", {
                  hour: "2-digit",
                  minute: "2-digit",
                  hour12: false,
                })
              }}
            </span>
          </template>
        </div>
      </div>
      <!-- ENDERECO -->
      <div
        class="d-flex align-center text-medium-emphasis justify-space-between text-caption"
      >
        <div class="d-flex align-center">
          <v-icon
            icon="mdi-map-marker"
            size="x-small"
            color="grey-darken-2"
            class="mr-1"
          />
          <span>{{ formatEndereco(atividade.endereco) }}</span>
        </div>
      </div>
      <!-- DESCRICAO -->
      <div v-if="atividade.descricao" class="d-flex align-center text-caption">
        <v-icon
          icon="mdi-text"
          size="x-small"
          color="grey-darken-2"
          class="mr-1"
        />
        <span class="text-disabled text-truncate">
          {{ atividade.descricao }}
        </span>
      </div>
      <!-- OPCOES -->
      <div>
        <v-chip
          v-for="(opcao, index) in opcoes"
          :key="index"
          size="x-small"
          class="mr-1 mb-1"
        >
          {{ opcao }}
        </v-chip>
      </div>
    </v-list-item-title>
  </v-list-item>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { useBasesStore } from "@/store/bases.store";
import { formatEndereco } from "@/utils/enderecos-helper.utils";

// PROPS
export interface Props {
  atividade: AtividadeCompleta;
}
const props = defineProps<Props>();

// DATA
const basesStore = useBasesStore();
const base = computed(() =>
  basesStore.bases.find((b) => b.uri === "atividades")
);
const icon = computed(
  () => base.value?.icon || base.value?.category?.icon || null
);
const opcoes = computed(() =>
  props.atividade.opcoes.map((el) => el.opcao.nome)
);
const toVerMais = computed(() =>
  props.atividade
    ? {
        name: "EntidadesInicio",
        params: { baseUri: "atividades", pk: props.atividade.id },
      }
    : null
);
</script>
