<template>
  <div class="d-flex justify-space-between align-center mb-2">
    <div class="text-caption text-disabled">
      {{ latLngString }}
    </div>
    <v-icon icon="mdi-close" @click="onClose" />
  </div>
  <!-- MARKER MOVED, POPUP OPEN -->
  <div v-if="perguntaBusca">
    <div class="text-body-2 font-weight-medium mb-2">
      Buscar endereço deste ponto?
    </div>
    <div class="d-flex justify-space-between align-center">
      <v-btn
        color="error"
        size="small"
        variant="flat"
        rounded
        @click="onClickBuscarNao()"
      >
        Não
      </v-btn>
      <v-btn
        color="success"
        variant="flat"
        size="small"
        rounded
        @click="onClickBuscarSim()"
      >
        Sim
      </v-btn>
    </div>
  </div>
  <!-- ANSWERED YES -->
  <template v-else>
    <div v-if="loading.nominatimReverse">
      <div class="d-flex justify-center align-center">
        <v-progress-circular
          indeterminate
          size="small"
          color="primary"
          width="2"
        />
      </div>
    </div>
    <div v-else-if="nominatimReverseResult">
      <div class="text-body-2 font-weight-medium mb-2">Usar este endereço?</div>
      <div class="mb-2">{{ nominatimReverseResult?.display_name }}</div>
      <div class="d-flex justify-space-between align-center">
        <v-btn
          color="error"
          size="small"
          variant="flat"
          @click="onClickUsarEnderecoNao()"
        >
          Não
        </v-btn>
        <v-btn
          color="success"
          variant="flat"
          size="small"
          @click="onClickUsarEnderecoSim()"
        >
          Sim
        </v-btn>
      </div>
    </div>
    <div v-else class="text-disabled font-italic">
      Nenhum endereço encontrado
    </div>
  </template>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";
import { LatLng } from "leaflet";
import "leaflet/dist/leaflet.css";
import requester from "@/requester";
import { emitAlert } from "@/plugins/eventBus";
import { debounce } from "lodash";

// PROPS
export interface Props {
  modelValue: any | null;
  latLng?: LatLng | null;
}
const props = withDefaults(defineProps<Props>(), {
  latLng: null,
});

// EMITS

const emit = defineEmits<{
  (e: "update:model-value", value: any): void;
  (e: "close"): void;
}>();

// DATA

const loading = ref({
  nominatimReverse: false,
});

const latLngString = computed(() => {
  const latlng = props.latLng;
  if (!latlng) return "";
  return `${latlng.lat.toFixed(5)}, ${latlng.lng.toFixed(5)}`;
});

const nominatimReverseResult = ref(null);
const perguntaBusca = ref(true);

// METHODS

function onClose() {
  emit("close");
  perguntaBusca.value = true;
}

function onClickBuscarSim() {
  perguntaBusca.value = false;
  loading.value.nominatimReverse = true;
  nominatimReverseDebounce(props.latLng);
}

function onClickBuscarNao() {
  emit("close");
  perguntaBusca.value = true;
}

function onClickUsarEnderecoSim() {
  emit("update:model-value", nominatimReverseResult.value);
  emit("close");
  perguntaBusca.value = true;
}

function onClickUsarEnderecoNao() {
  emit("close");
  perguntaBusca.value = true;
}

const nominatimReverseDebounce = debounce(nominatimReverse, 300);
async function nominatimReverse(latLng: LatLng) {
  if (!latLng) {
    loading.value.nominatimReverse = false;
    return;
  }
  try {
    const responseData = await requester.external.nominatim.reverse({
      lat: latLng.lat,
      lng: latLng.lng,
    });
    nominatimReverseResult.value = Array.isArray(responseData)
      ? responseData?.[0] || null
      : responseData || null;
  } catch (err) {
    emitAlert(err);
  } finally {
    loading.value.nominatimReverse = false;
  }
}
</script>
