<template>
  <div>
    <div v-for="category in categories" :key="category.uri">
      <div class="d-flex align-center justify-space-between py-1 w-100">
        <div
          class="d-flex align-center w-100 cursor-pointer"
          @click="category.opened = !category.opened"
        >
          <v-icon
            :icon="`mdi-menu-${category.opened ? 'down' : 'right'}`"
            start
          />
          <span class="text-body-2">
            <span> {{ category.name }}</span>
            <span v-if="category.bases.filter((b) => b.checked).length > 0">
              ({{ category.bases.filter((b) => b.checked).length }})
            </span>
          </span>
        </div>
        <v-icon
          :icon="getCategoryCheckboxIcon(category.uri)"
          size="small"
          end
          @click="onClickCategoryCheckboxIcon(category.uri)"
        />
      </div>
      <v-divider />
      <v-expand-transition>
        <div v-show="category.opened">
          <div v-for="base in category.bases" :key="base.uri">
            <div
              class="d-flex align-center justify-space-between w-100 cursor-pointer pl-3 py-1"
              @click="base.checked = !base.checked"
            >
              <div class="d-flex align-center">
                <v-icon :icon="base.icon || category.icon" size="small" start />
                <span class="text-body-2">
                  {{ base.title }}
                </span>
              </div>
              <v-icon
                :icon="`mdi-checkbox-${
                  base.checked ? 'marked' : 'blank-outline'
                }`"
                size="small"
                end
              />
            </div>
          </div>
          <v-divider />
        </div>
      </v-expand-transition>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref, watch } from "vue";
import { useBasesStore } from "@/store/bases.store";
import { BaseCategoryTypeEnum } from "@backSrc/bases/bases.constants";
import { Base, BaseCategory } from "@backPrisma/client";

// PROPS
export interface Props {
  modelValue: { baseUri: string[] };
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", value: { baseUri: string[] }): void;
}>();

// DATA
const basesStore = useBasesStore();

const categories = ref<
  (BaseCategory & {
    opened: boolean;
    bases: (Base & { checked: boolean; category: BaseCategory })[];
  })[]
>([]);
const checkedBasesUris = computed(() =>
  categories.value.flatMap((category) =>
    category.bases.filter((base) => base.checked).flatMap((base) => base.uri)
  )
);

watch(
  () => checkedBasesUris.value,
  (newVal) => emit("update:model-value", { baseUri: newVal })
);

// ON MOUNTED
onMounted(() => {
  categories.value = basesStore.categoriesGrouped?.[
    BaseCategoryTypeEnum.EQUIPAMENTO
  ]?.categories?.map((category) => ({
    ...category,
    opened: false,
    bases: category.bases.map((base) => ({
      ...base,
      checked: props.modelValue?.baseUri?.includes(base.uri) || false,
    })),
  }));
});

// METHODS

function getCategoryCheckboxIcon(categoryUri: string) {
  const category = categories.value.find((c) => c.uri === categoryUri);
  if (!category) return;
  switch (category.bases.filter((b) => b.checked).length) {
    case 0:
      return "mdi-checkbox-blank-outline";
    case category.bases.length:
      return "mdi-checkbox-marked";
    default:
      return "mdi-checkbox-intermediate";
  }
}

function onClickCategoryCheckboxIcon(categoryUri: string) {
  const category = categories.value.find((c) => c.uri === categoryUri);
  if (!category) return;
  switch (category.bases.filter((b) => b.checked).length) {
    case category.bases.length:
      category.bases.forEach((b) => {
        b.checked = false;
      });
      return;
    default:
      category.bases.forEach((b) => {
        b.checked = true;
      });
      return;
  }
}
</script>
