<script lang="ts" setup>
// <template>
//   <div ref="mapContainer" style="width: 100%; height: 100%" />
//   <!-- NAV DRAWER (XS) -->
//   <v-navigation-drawer v-model="drawer" location="right" temporary>
//     <v-card tile variant="flat">
//       <MenuUsuarioMapa />
//     </v-card>
//   </v-navigation-drawer>
//   <!-- MENU CONTENT -->
//   <v-menu v-model="menuContext.show" :close-on-content-click="false">
//     <template v-slot:activator="{ props }">
//       <div
//         v-bind="props"
//         :style="`position: absolute; top: ${menuContext.top}px; left: ${menuContext.left}px;`"
//       ></div>
//     </template>
//     <v-card v-if="menuContext.latlng" rounded style="border-radius: 1em">
//       <v-list density="compact">
//         <v-list-item @click="menuContext.copyLatLng()">
//           <v-list-item-title class="text-body-2">
//             {{ menuContext.latlng.lat.toFixed(5) }},
//             {{ menuContext.latlng.lng.toFixed(5) }}
//           </v-list-item-title>
//         </v-list-item>
//         <v-list-item @click="menuContext.moverMarcador()">
//           <v-list-item-title class="text-body-2">
//             Mover para cá
//           </v-list-item-title>
//         </v-list-item>
//         <v-list-item
//           @click="menuContext.buscarEndereco()"
//           :disabled="menuContext.loading"
//         >
//           <v-list-item-title class="text-body-2">
//             Buscar endereço
//           </v-list-item-title>
//         </v-list-item>
//       </v-list>
//       <v-progress-linear v-if="menuContext.loading" indeterminate />
//     </v-card>
//   </v-menu>
//   <!-- MENU ATIVIDADE -->
//   <v-menu v-model="menuAtividade.show" :close-on-content-click="false">
//     <template v-slot:activator="{ props }">
//       <div
//         v-bind="props"
//         :style="`position: absolute; top: ${menuAtividade.top}px; left: ${menuAtividade.left}px;`"
//       ></div>
//     </template>
//     <v-card
//       v-if="menuAtividade.latlng"
//       rounded
//       style="border-radius: 1em"
//       width="400"
//     >
//       <v-card-title class="d-flex justify-space-between align-center">
//         <div class="d-flex align-center">
//           <v-avatar color="neutral" size="small">
//             <v-icon
//               v-if="!menuAtividade.atividade.imgSrc"
//               icon="mdi-image"
//               size="small"
//             />
//             <v-img v-else :src="menuAtividade.atividade.imgSrc" />
//           </v-avatar>
//           <div class="ml-3">
//             <h3 class="text-body-1">{{ menuAtividade.atividade.titulo }}</h3>
//             <p
//               class="text-body-1 text-medium-emphasis"
//               v-if="menuAtividade.atividade.projeto"
//             >
//               ({{ menuAtividade.atividade.projeto.titulo }})
//             </p>
//           </div>
//         </div>
//         <div class="d-flex align-center">
//           <v-btn
//             size="small"
//             prepend-icon="mdi-bookmark"
//             variant="text"
//             color="info"
//             disabled
//           >
//             Salvar
//           </v-btn>
//         </div>
//       </v-card-title>
//       <v-card-text>
//         <v-divider class="mb-3" />
//         <!-- DATA INICIO E FIM -->
//         <div class="d-flex align-top mb-2">
//           <div class="d-flex align-top">
//             <v-icon
//               icon="mdi-calendar"
//               size="small"
//               start
//               color="neutral-darken-3"
//             />
//             <span>
//               {{
//                 new Date(
//                   menuAtividade.atividade.datetimeInicio
//                 ).toLocaleDateString()
//               }}
//             </span>
//           </div>
//           <div class="d-flex align-top ml-4">
//             <v-icon
//               icon="mdi-clock-outline"
//               size="small"
//               start
//               color="neutral-darken-3"
//             />
//             <span>
//               {{
//                 new Date(
//                   menuAtividade.atividade.datetimeInicio
//                 ).toLocaleTimeString("pt-BR", {
//                   hour: "2-digit",
//                   minute: "2-digit",
//                   hour12: false,
//                 })
//               }}
//             </span>
//             <template v-if="menuAtividade.atividade.datetimeFim">
//               <span class="mx-1">-</span>
//               <span>
//                 {{
//                   new Date(
//                     menuAtividade.atividade.datetimeFim
//                   ).toLocaleTimeString("pt-BR", {
//                     hour: "2-digit",
//                     minute: "2-digit",
//                     hour12: false,
//                   })
//                 }}
//               </span>
//             </template>
//           </div>
//         </div>
//         <!-- LOCAL -->
//         <div class="d-flex align-top mb-2">
//           <v-icon
//             icon="mdi-map-marker"
//             size="small"
//             start
//             color="neutral-darken-3"
//           />
//           <span>
//             {{ formatEndereco(menuAtividade.atividade.endereco) }}
//           </span>
//         </div>
//         <!-- DESCRICAO -->
//         <div class="d-flex align-top mb-2">
//           <v-icon icon="mdi-text" size="small" start color="neutral-darken-1" />
//           <p
//             v-if="menuAtividade.atividade.descricao"
//             class="text-medium-emphasis"
//           >
//             <template v-if="menuAtividade.atividade.descricao.length > 200">
//               {{ menuAtividade.atividade.descricao.slice(0, 200) }}...
//             </template>
//             <template v-else>
//               {{ menuAtividade.atividade.descricao }}
//             </template>
//           </p>
//           <p v-else class="text-disabled">Sem descrição</p>
//         </div>
//         <!-- TEMAS -->
//         <div class="my-1">
//           <v-chip
//             v-for="item in menuAtividade.atividade.opcoes"
//             :key="item.opcao.id"
//             size="x-small"
//             class="mr-1 mb-1"
//           >
//             {{ item.opcao.nome }}
//           </v-chip>
//         </div>
//         <!-- BTN -->
//         <v-btn block variant="text" color="primary" size="small" disabled>
//           Ver mais detalhes
//         </v-btn>
//       </v-card-text>
//     </v-card>
//   </v-menu>
//   <!-- MAP CONTEXT POPUP CONTENT -->
//   <div
//     ref="mapContextPopupContent"
//     style="width: 300px; max-height: 300px; overflow-y: scroll"
//   >
//     <div v-if="menuContext.endereco" class="d-flex flex-column">
//       <div class="d-flex justify-space-between align-center mb-3">
//         <div
//           class="text-caption text-medium-emphasis cursor-pointer"
//           @click="menuContext.copyLatLng()"
//         >
//           {{ menuContext.latlng.lat.toFixed(5) }},
//           {{ menuContext.latlng.lng.toFixed(5) }}
//         </div>
//         <v-icon
//           icon="mdi-close"
//           size="small"
//           @click="mapContextPopup.close()"
//         />
//       </div>
//       <div class="d-flex align-center">
//         <v-icon icon="mdi-map-marker" color="neutral-darken-2" size="large" />
//         <div class="text-body-2 pl-4">
//           <span v-if="menuContext.endereco.address.road">
//             {{ menuContext.endereco.address.road }}
//             {{
//               menuContext.endereco.address.house_number
//                 ? `, ${menuContext.endereco.address.house_number}`
//                 : ""
//             }}</span
//           >
//           <span
//             v-if="
//               menuContext.endereco.address.neighbourhood ||
//               menuContext.endereco.address.suburb
//             "
//           >
//             {{ menuContext.endereco.address.road ? " - " : "" }}
//             {{
//               menuContext.endereco.address.neighbourhood ||
//               menuContext.endereco.address.suburb
//             }}</span
//           >
//           <span>
//             {{
//               `${
//                 menuContext.endereco.address.road ||
//                 menuContext.endereco.address.neighbourhood ||
//                 menuContext.endereco.address.suburb
//                   ? ", "
//                   : ""
//               }${
//                 menuContext.endereco.address.city ||
//                 menuContext.endereco.address.town
//               }`
//             }}
//             - {{ menuContext.endereco.address.state }},
//             {{ menuContext.endereco.address.postcode }}
//           </span>
//         </div>
//       </div>
//     </div>
//   </div>
//   <!-- MAP POPUP CONTENT -->
//   <div
//     ref="mapPopupContent"
//     style="width: 300px; max-height: 300px; overflow-y: scroll"
//   >
//     <div
//       v-for="(entity, index) in popupEntities"
//       :key="index"
//       @click="
//         selectEntity(entity as BaseLayerEntity);
//         leftDrawer.show = true;
//       "
//       class="cursor-pointer"
//     >
//       <v-divider v-if="index > 0" class="my-2" />
//       <div class="d-flex align-center">
//         <v-icon
//           :icon="getBaseLayerProperty('icon', entity.baseUri)"
//           :color="getBaseLayerProperty('color', entity.baseUri)"
//           class="mr-3"
//         />
//         <div>
//           <div class="text-body-2 font-weight-medium">{{ entity.name }}</div>
//           <div class="text-caption text-medium-emphasis">
//             {{ getBaseLayerProperty("title", entity.baseUri) }}
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>

//   <!-- MAP CONTENT -->
//   <div
//     style="
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       z-index: 1000;
//       pointer-events: none;
//     "
//   >
//     <div :class="['h-screen d-flex', drawer2 ? 'd-flex' : '']">
//       <div class="h-screen d-flex flex-column justify-space-between">
//         <MapaDrawer2
//           v-model="drawer2"
//           :latLng="marker?.getLatLng()"
//           @update:lat-lng="onUpdateLatLngSearch"
//         />
//         <div v-if="!drawer2" class="pb-3 pl-3 children-pointer-events-all">
//           <!-- LAYERS -->
//           <v-menu location="right bottom" offset="8">
//             <template v-slot:activator="{ props }">
//               <v-btn icon="mdi-map" v-bind="props" />
//             </template>
//             <v-list density="compact">
//               <v-list-item
//                 v-for="(option, key) in baseTileLayerSourceOptions"
//                 :key="key"
//                 :active="key === baseTileLayerSourceKey"
//                 @click="selectBaseTileLayerSource(key)"
//               >
//                 <v-list-item-title>{{ option.title }}</v-list-item-title>
//                 <v-list-item-subtitle>
//                   {{ option.description }}
//                 </v-list-item-subtitle>
//               </v-list-item>
//             </v-list>
//           </v-menu>
//         </div>
//       </div>
//       <div
//         class="d-flex flex-column flex-md-row"
//         style="width: 100%; height: 100%"
//       >
//         <!-- LEFT DRAWER -->
//         <!-- <MapaDrawer
//         v-model="leftDrawer.show"
//         :entity="searchModel"
//         :width="leftDrawer.width"
//       /> -->
//         <!-- OVER MAP -->
//         <div style="width: 100%; height: 100%">
//           <div class="d-flex flex-column justify-space-between fill-height">
//             <!-- TOP (SM AND UP) -->
//             <div
//               v-if="$vuetify.display.smAndUp"
//               class="d-flex align-start justify-space-between"
//             >
//               <!-- TOP LEFT -->
//               <div
//                 class="d-flex align-center w-100 children-pointer-events-all pr-3"
//               >
//                 <!-- <MapaSearchBar :latLng="searchLatLng" /> -->
//                 <!-- <router-link :to="{ name: 'Home' }">
//                 <img
//                   src="/img/logo.svg"
//                   alt="Logo CulturaEduca"
//                   class="mr-3"
//                   style="width: 40px"
//               /></router-link>
//               <v-autocomplete
//                 v-model="searchModel"
//                 :items="searchItems"
//                 placeholder="Pesquise no CulturaEduca"
//                 density="compact"
//                 menu-icon=""
//                 append-inner-icon="mdi-magnify"
//                 style="max-width: 350px"
//                 theme="light"
//                 variant="solo"
//                 auto-select-first
//                 item-props
//                 rounded
//                 hide-no-data
//                 hide-details
//                 @update:search="onUpdateSearchDebounce"
//                 @update:model-value="onUpdateSearchModelValue"
//                 :custom-filter="() => true"
//                 :loading="loading.search"
//               >
//                 <template v-slot:item="{ props, item }">
//                   <v-list-item
//                     density="compact"
//                     v-bind="props"
//                     :prepend-icon="
//                       item.raw?.base?.icon || item.raw?.base?.category?.icon
//                     "
//                   >
//                     <v-list-item-subtitle class="text-caption">
//                       <div class="d-flex align-center justify-space-between">
//                         <div>
//                           {{ item.raw.value?.municipio_nome }} -
//                           {{ item.raw.value?.uf_sigla }}
//                         </div>
//                         <div
//                           v-if="
//                             item.raw.value?.distance_km ||
//                             item.raw.value.distance_km === 0
//                           "
//                         >
//                           <div v-if="item.raw.value.distance_km < 1">
//                             {{ (item.raw.value.distance_km * 1000).toFixed(0) }}
//                             m
//                           </div>
//                           <div v-else>
//                             {{ item.raw.value.distance_km.toFixed(0) }}
//                             km
//                           </div>
//                         </div>
//                       </div>
//                     </v-list-item-subtitle>
//                   </v-list-item>
//                 </template>
//               </v-autocomplete>
//               <v-btn
//                 class="ml-3"
//                 rounded
//                 color="primary"
//                 append-icon="mdi-filter"
//                 disabled
//               >
//                 Filtros
//               </v-btn> -->
//               </div>
//               <!-- TOP RIGHT -->
//               <div
//                 class="d-flex flex-column align-end w-100 children-pointer-events-all"
//               >
//                 <div class="d-flex justify-end pa-3">
//                   <v-btn
//                     size="small"
//                     class="mx-1"
//                     icon="mdi-bookmark"
//                     disabled
//                   />
//                   <v-btn size="small" class="mx-1" icon="mdi-plus" disabled />
//                   <v-btn
//                     size="small"
//                     class="mx-1"
//                     icon="mdi-dots-vertical"
//                     disabled
//                   />
//                   <v-menu location="bottom right" offset="10">
//                     <template v-slot:activator="{ props }">
//                       <v-btn
//                         size="small"
//                         class="mx-1"
//                         icon="mdi-account"
//                         v-bind="props"
//                       />
//                     </template>
//                     <v-card
//                       rounded
//                       style="border-radius: 10px; min-width: 250px"
//                     >
//                       <MenuUsuario />
//                     </v-card>
//                   </v-menu>
//                 </div>
//                 <div class="px-3">
//                   <!-- BASES -->
//                   <v-btn
//                     v-if="!menuBases"
//                     icon="mdi-layers"
//                     @click="menuBases = true"
//                   />
//                   <v-card v-else width="300px">
//                     <v-card-item
//                       class="cursor-pointer py-1"
//                       @click="menuBases = false"
//                     >
//                       <v-card-title
//                         class="d-flex justify-space-between align-center text-body-2"
//                       >
//                         <span>Camadas</span>
//                         <v-icon size="small" icon="mdi-chevron-right" />
//                       </v-card-title>
//                     </v-card-item>
//                     <v-divider />
//                     <v-list density="compact">
//                       <v-list-item
//                         v-for="baseLayer in basesLayers"
//                         :key="baseLayer.base.uri"
//                         @click="toggleBaseLayer(baseLayer.base.uri)"
//                       >
//                         <template #prepend>
//                           <v-icon
//                             size="small"
//                             :color="
//                               baseLayer.show
//                                 ? 'neutral-darken-5'
//                                 : 'neutral-darken-2'
//                             "
//                             :icon="baseLayer.icon"
//                           />
//                         </template>
//                         <template #append>
//                           <v-icon
//                             size="small"
//                             :color="
//                               baseLayer.show ? baseLayer.color : 'neutral'
//                             "
//                             :icon="
//                               baseLayer.show
//                                 ? 'mdi-checkbox-marked'
//                                 : 'mdi-checkbox-blank-outline'
//                             "
//                           />
//                         </template>
//                         <v-list-item-title class="text-body-2">
//                           {{ baseLayer.base.title }}
//                         </v-list-item-title>
//                       </v-list-item>
//                       <v-list-item @click="toggleAtividades()">
//                         <template #prepend>
//                           <v-icon
//                             size="small"
//                             :color="
//                               layerAtividades.show
//                                 ? 'pink-darken-4'
//                                 : 'neutral-darken-2'
//                             "
//                             icon="mdi-calendar"
//                           />
//                         </template>
//                         <template #append>
//                           <v-icon
//                             size="small"
//                             :color="layerAtividades.show ? 'pink' : 'neutral'"
//                             :icon="
//                               layerAtividades.show
//                                 ? 'mdi-checkbox-marked'
//                                 : 'mdi-checkbox-blank-outline'
//                             "
//                           />
//                         </template>
//                         <v-list-item-title class="text-body-2">
//                           Atividades
//                         </v-list-item-title>
//                       </v-list-item>
//                     </v-list>
//                   </v-card>
//                 </div>
//               </div>
//             </div>
//             <!-- TOP (XS) -->
//             <div v-else class="d-flex align-start justify-space-between">
//               <!-- TOP LEFT -->
//               <div
//                 class="d-flex align-center w-100 children-pointer-events-all pa-3"
//               >
//                 <v-autocomplete
//                   v-model="searchModel"
//                   :items="searchItems"
//                   placeholder="Pesquise no CulturaEduca"
//                   density="compact"
//                   menu-icon=""
//                   append-inner-icon="mdi-magnify"
//                   style="max-width: 350px"
//                   theme="light"
//                   variant="solo"
//                   auto-select-first
//                   item-props
//                   no-filter
//                   hide-details
//                   @update:search="onUpdateSearchDebounce"
//                   @update:model-value="onUpdateSearchModelValue"
//                   :loading="loading.search"
//                 >
//                   <template v-slot:no-data>
//                     <v-list-item density="compact">
//                       <v-list-item-title>
//                         Nenhum resultado encontrado
//                       </v-list-item-title>
//                     </v-list-item>
//                   </template>
//                   <template v-slot:item="{ props, item }">
//                     <!-- photon api -->
//                     <!-- <v-list-item
//                     density="compact"
//                     v-bind="props"
//                     :prepend-icon="
//                       getOsmIcon(
//                         item.raw.value?.properties?.osm_key,
//                         item.raw.value?.properties?.osm_value
//                       )
//                     "
//                   >
//                     <v-list-item-subtitle class="text-medium-emphasis">
//                       {{ item.raw.value?.properties?.district }} -
//                       {{ item.raw.value?.properties?.postcode }}
//                     </v-list-item-subtitle>
//                     <v-list-item-subtitle class="text-caption">
//                       {{ item.raw.value?.properties?.city }} -
//                       {{ item.raw.value?.properties?.state }},
//                       {{ item.raw.value?.properties?.country }}
//                     </v-list-item-subtitle>
//                   </v-list-item>
//                 </template> -->
//                     <!-- bases search -->
//                     <v-list-item
//                       density="compact"
//                       v-bind="props"
//                       :prepend-icon="item.raw?.base?.icon"
//                     >
//                       <v-list-item-subtitle class="text-caption">
//                         {{ item.raw.value?.properties?.municipioNome }} -
//                         {{ item.raw.value?.properties?.ufSigla }}
//                       </v-list-item-subtitle>
//                     </v-list-item>
//                   </template>
//                 </v-autocomplete>
//                 <v-btn icon="mdi-menu" class="ml-3" @click="drawer = !drawer" />
//               </div>
//             </div>

//             <!-- BOTTOM -->
//             <div class="d-flex align-end justify-space-between">
//               <!-- BOTTOM LEFT -->
//               <div class="children-pointer-events-all pa-3">
//                 <!-- LAYERS -->
//                 <v-menu location="right bottom" offset="8" v-if="drawer2">
//                   <template v-slot:activator="{ props }">
//                     <v-btn icon="mdi-map" v-bind="props" />
//                   </template>
//                   <v-list density="compact">
//                     <v-list-item
//                       v-for="(option, key) in baseTileLayerSourceOptions"
//                       :key="key"
//                       :active="key === baseTileLayerSourceKey"
//                       @click="selectBaseTileLayerSource(key)"
//                     >
//                       <v-list-item-title>{{ option.title }}</v-list-item-title>
//                       <v-list-item-subtitle>
//                         {{ option.description }}
//                       </v-list-item-subtitle>
//                     </v-list-item>
//                   </v-list>
//                 </v-menu>
//               </div>
//               <!-- BOTTOM RIGHT -->
//               <div
//                 class="d-flex flex-column align-center children-pointer-events-all pa-3"
//               >
//                 <!-- CENTER USER POSITION -->
//                 <v-btn
//                   class="mb-2"
//                   size="small"
//                   icon="mdi-crosshairs-gps"
//                   :loading="loading.centerUserPosition"
//                   @click="centerUserPosition()"
//                 />
//                 <!-- ZOOM -->
//                 <v-btn
//                   class="mb-0"
//                   size="x-small"
//                   tile
//                   icon="mdi-plus"
//                   @click="mapZoomIn()"
//                 />
//                 <v-btn
//                   class="mb-3"
//                   size="x-small"
//                   tile
//                   icon="mdi-minus"
//                   @click="mapZoomOut()"
//                 />
//               </div>
//             </div>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </template>
</script>

<template>
  <div></div>
</template>

<script lang="ts" setup>
// import { computed, nextTick, onMounted, ref } from "vue";
// import { useRoute, useRouter } from "vue-router";
// import { debounce } from "lodash";
// import {
//   LeafletMouseEvent,
//   Map,
//   Marker,
//   Popup,
//   TileLayer,
//   popup,
//   GeoJSON,
//   geoJSON,
//   Circle,
//   Icon,
//   LatLng,
// } from "leaflet";
// import "leaflet/dist/leaflet.css";
// import { BackgroundTileLayerSources, useMapStore } from "@/store/map";
// import { BaseLayerEntity } from "@/utils/bases-layers.utils";
// import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
// import MenuUsuario from "../MenuUsuario.vue";
// import { Endereco } from "@backPrisma/client";
// // import BasesEntitySectionsInfo from "@/components/bases/BasesEntitySectionsInfo.vue";
// // import ChartsPiramideEtaria from "@/components/charts/ChartsPiramideEtaria.vue";
// import MenuUsuarioMapa from "@/components/MenuUsuarioMapa.vue";
// import requester from "@/requester";
// import { GetSetoresBreadcrumbsQueryDto } from "@backSrc/setores/dto";
// import { useBasesStore } from "@/store/bases.store";
// // import MapaDrawer from "./MapaDrawer.vue";
// import { ItemSearchResponse } from "@/requester/bases.requester";
// import MapaSearchBar from "./MapaSearchBar.vue";
// import MapaDrawer2 from "./MapaDrawer2.vue";

// const defaultValues = {
//   minZoom: Number(import.meta.env.VITE_MAP_MIN_ZOOM ?? 4),
//   maxZoom: Number(import.meta.env.VITE_MAP_MAX_ZOOM ?? 18),
// };

// const initialValues = {
//   lat: Number(import.meta.env.VITE_MAP_INITIAL_LAT ?? -23.5489),
//   lng: Number(import.meta.env.VITE_MAP_INITIAL_LNG ?? -46.6388),
//   zoom: Number(import.meta.env.VITE_MAP_INITIAL_ZOOM ?? 14),
// };

// const basesStore = useBasesStore();
// console.log(basesStore.categoriesGrouped);

// const route = useRoute();
// const router = useRouter();

// const searchModel = ref<ItemSearchResponse | null>(null);
// const searchItems = ref<ItemSearchResponse[]>([]);

// const editRadiusKm = ref(false);
// const radiusKm = ref(1);
// const radiusKmTmp = ref(1);
// const tabFeature = ref("detalhes");
// const mapPopupContent = ref();
// const mapContextPopupContent = ref();
// const popupEntities = ref<BaseLayerEntity[]>([]);
// const selectedEntity = ref<BaseLayerEntity>();

// const breadcrumbs = ref(null);

// const drawer = ref(false);
// const drawer2 = ref(false);

// const mapContainer = ref();
// const mapStore = useMapStore();
// const baseTileLayerSourceKey = computed(
//   () => mapStore.backgroundTileLayerSourceKey
// );
// const baseTileLayerSourceOptions = computed(
//   () => mapStore.backgroundTileLayerSourceOptions
// );
// const loading = ref({
//   bases: true,
//   centerUserPosition: false,
//   setores: false,
//   search: false,
// });

// const menuBases = ref(false);
// const basesLayers = computed(() => mapStore.basesLayers);

// const searchLatLng = ref<LatLng | null>(null);
// const leftDrawer = ref({
//   show: false,
//   width: 420,
// });
// const menuContext = ref({
//   show: false,
//   top: 0,
//   left: 0,
//   latlng: null,
//   endereco: null,
//   loading: false,
//   copyLatLng: async () => {
//     if (!menuContext.value.latlng) return;
//     try {
//       await new Promise((resolve, reject) => {
//         navigator.clipboard
//           .writeText(
//             `${menuContext.value.latlng.lat},${menuContext.value.latlng.lng}`
//           )
//           .then(resolve)
//           .catch(reject);
//       });
//       emitAlertSuccess("Coordenadas copiadas para a área de transferência");
//     } catch (err) {
//       emitAlertError(err);
//     } finally {
//       menuContext.value.show = false;
//     }
//   },
//   moverMarcador: () => {
//     if (!menuContext.value.latlng) return;
//     marker.setLatLng(menuContext.value.latlng);
//     searchLatLng.value = marker.getLatLng();
//     menuContext.value.show = false;
//     leftDrawer.value.show = false;
//   },
//   buscarEndereco: async () => {
//     if (!menuContext.value.latlng) return;
//     menuContext.value.loading = true;
//     try {
//       menuContext.value.endereco = await nominatimReverse(
//         menuContext.value.latlng
//       );
//       mapContextPopup.setLatLng(menuContext.value.latlng);
//       mapContextPopup.openOn(map);
//     } catch (err) {
//       emitAlertError(err);
//     } finally {
//       menuContext.value.loading = false;
//       menuContext.value.show = false;
//     }
//   },
// });

// const entorno = ref({
//   piramideEtaria: {
//     labels: [
//       "100+",
//       "90-99",
//       "80-89",
//       "70-79",
//       "60-69",
//       "50-59",
//       "40-49",
//       "30-39",
//       "20-29",
//       "10-19",
//       "0-9",
//     ],
//     datasets: [
//       {
//         label: "Homens",
//         stack: "entorno",
//         side: "left" as "left" | "right",
//         data: [5, 125, 575, 775, 1350, 2400, 2500, 2100, 1950, 1750, 1500].map(
//           (v) => Math.round((0.825 + Math.random() / 4) * v)
//         ),
//         color: "#2196F3",
//       },
//       {
//         label: "Mulheres",
//         stack: "entorno",
//         side: "right" as "left" | "right",
//         data: [10, 175, 750, 875, 1450, 2500, 2700, 2300, 2150, 1950, 1600].map(
//           (v) => Math.round((0.825 + Math.random() / 4) * v)
//         ),
//         color: "#404FB4",
//       },
//     ],
//   },
// });

// const mapInfo = ref({});
// let map: Map;
// let mapPopup: Popup;
// let mapContextPopup: Popup;
// let bgTileLayer: TileLayer;
// let setoresCircle: Circle;
// let setoresCircleUpdate: Circle;
// let setoresGeojsonLayer: GeoJSON;
// // let setoresWmsTileLayer: TileLayer.WMS;
// let marker: Marker;
// const layerAtividades = ref({
//   show: false,
//   items: [],
// });

// const menuAtividade = ref({
//   show: false,
//   top: 0,
//   left: 0,
//   latlng: null,
//   atividade: null,
// });

// onMounted(() => {
//   initMap();
//   loadAtividades();
// });

// async function toggleBaseLayer(baseUri) {
//   const baseLayer = basesLayers.value.find((bl) => bl.base.uri === baseUri);
//   if (!baseLayer) return;
//   if (!baseLayer.show) {
//     baseLayer.show = true;
//     baseLayer.wmsTileLayer.addTo(map);
//   } else {
//     baseLayer.show = false;
//     baseLayer.wmsTileLayer.removeFrom(map);
//   }
// }

// /**
//  * Map zoom in
//  */
// async function mapZoomIn() {
//   map.zoomIn();
// }

// /*
//  * Map zoom out
//  */
// async function mapZoomOut() {
//   map.zoomOut();
// }

// /**
//  * Center user position
//  */
// async function centerUserPosition() {
//   loading.value.centerUserPosition = true;
//   try {
//     const userPosition = await getUserPosition();
//     marker.setLatLng([
//       userPosition.coords.latitude,
//       userPosition.coords.longitude,
//     ]);
//     searchLatLng.value = marker.getLatLng();
//   } catch (err) {
//     emitAlertError(err);
//   } finally {
//     map.setView(marker.getLatLng(), map.getZoom());
//     loading.value.centerUserPosition = false;
//   }
// }

// /**
//  * Get user position
//  */
// async function getUserPosition(): Promise<GeolocationPosition> {
//   return new Promise((resolve, reject) => {
//     navigator.geolocation.getCurrentPosition(resolve, reject);
//   });
// }

// /**
//  * Update router query
//  */
// function routeUpsertQuery(query: { [k: string]: any }) {
//   router.replace({ query: { ...route.query, ...query } });
// }

// /**
//  * Init map
//  */
// async function initMap() {
//   // ask for user position
//   try {
//     const userPosition = await getUserPosition();
//     initialValues.lat = userPosition.coords.latitude;
//     initialValues.lng = userPosition.coords.longitude;
//   } catch (err) {
//     console.error(err);
//   }
//   const lat = !Number.isNaN(Number(route.query?.lat))
//     ? Number(route.query.lat)
//     : initialValues.lat;
//   const lng = !Number.isNaN(Number(route.query?.lng))
//     ? Number(route.query.lng)
//     : initialValues.lng;
//   const zoom = !Number.isNaN(Number(route.query?.zoom))
//     ? Number(route.query.zoom)
//     : initialValues.zoom;

//   // Create map
//   map = new Map(mapContainer.value, {
//     preferCanvas: true,
//     zoomControl: false,
//     maxZoom: defaultValues.maxZoom,
//     minZoom: defaultValues.minZoom,
//   }).setView({ lat, lng }, zoom);
//   routeUpsertQuery({ lat, lng, zoom });
//   map.addEventListener("zoom", (e) => {
//     routeUpsertQuery({ zoom: e.target.getZoom() });
//   });
//   map.addEventListener("contextmenu", (e) => {
//     menuContext.value.show = true;
//     menuContext.value.top = e.originalEvent.clientY;
//     menuContext.value.left = e.originalEvent.clientX;
//     menuContext.value.latlng = e.latlng;
//   });

//   // Background tile layer
//   updateBackgroundTileLayer(mapStore.backgroundTileLayerSource);

//   // Map popup
//   mapPopup = popup({ closeButton: false, content: mapPopupContent.value });
//   map.addEventListener("click", mapOnClick);
//   map.addEventListener("popupclose", () => {
//     leftDrawer.value.show = false;
//   });

//   // Map context popup
//   mapContextPopup = popup({
//     closeButton: false,
//     content: mapContextPopupContent.value,
//   });

//   // Main marker
//   marker = new Marker(
//     { lat, lng },
//     {
//       icon: new Icon({
//         iconUrl: "/img/marker/default.png",
//         iconSize: [25, 41], // Size of the icon
//         iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
//         // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
//       }),
//     }
//   );
//   marker.addTo(map);
//   marker.addEventListener("move", (e: LeafletMouseEvent) => {
//     searchLatLng.value = e.latlng;
//     const { lat, lng } = e.latlng;
//     routeUpsertQuery({ lat, lng });
//     getBreadcrumbs();
//     map.setView(marker.getLatLng(), map.getZoom());
//   });
//   searchLatLng.value = marker.getLatLng();
//   // marker.bindPopup(markerPopup);

//   // Add circle marker
//   setoresCircle = new Circle(marker.getLatLng(), {
//     color: "red",
//     opacity: 0.5,
//     fillColor: "red",
//     fillOpacity: 0.1,
//     radius: radiusKm.value * 1000,
//   });
//   setoresCircleUpdate = new Circle(marker.getLatLng(), {
//     color: "orange",
//     opacity: 0.5,
//     fillColor: "orange",
//     fillOpacity: 0.1,
//     radius: radiusKm.value * 1000,
//   });
//   // Layer setores geojson
//   setoresGeojsonLayer = geoJSON().addTo(map);

//   // Layer setores WMS
//   // setoresWmsTileLayer = new TileLayer.WMS(
//   //   `${import.meta.env.VITE_GEOSERVER_URL}/wms`,
//   //   {
//   //     layers: "culturaeduca:view_setores_censitarios_2021",
//   //     format: "image/png",
//   //     transparent: true,
//   //     attribution: "CulturaEduca",
//   //     crs: CRS.EPSG4326,
//   //     cql_filter: generateCqlFilter({
//   //       columnGeom: "geog",
//   //       lat,
//   //       lng,
//   //       radiusKm: 1,
//   //     }),
//   //   } as WMSOptions & { cql_filter: string }
//   // );
//   // setoresWmsTileLayer.addTo(map);
// }

// async function loadAtividades() {
//   try {
//     const atividades = await requester.atividades.findAll();
//     layerAtividades.value.items = atividades.map((atividade) => {
//       const latlng = {
//         lat: atividade.endereco.latitude,
//         lng: atividade.endereco.longitude,
//       };
//       const m = new Marker(latlng, {
//         icon: new Icon({
//           iconUrl: "/img/marker/atividade.png",
//           iconSize: [25, 41], // Size of the icon
//           iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
//           // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
//         }),
//       });
//       m.addEventListener("click", (e) => {
//         menuAtividade.value.show = true;
//         menuAtividade.value.atividade = atividade;
//         menuAtividade.value.top = e.originalEvent.clientY;
//         menuAtividade.value.left = e.originalEvent.clientX;
//         menuAtividade.value.latlng = latlng;
//       });
//       return {
//         atividade,
//         marker: m,
//       };
//     });
//   } catch (err) {
//     console.error(err);
//   }
// }

// /**
//  * Update base tile layer
//  * @param backgroundTileLayerSource
//  */
// function updateBackgroundTileLayer(backgroundTileLayerSource: {
//   url: string;
//   attribution: string;
// }) {
//   if (bgTileLayer) {
//     map.removeLayer(bgTileLayer);
//   }
//   bgTileLayer = new TileLayer(backgroundTileLayerSource.url, {
//     attribution: backgroundTileLayerSource.attribution,
//     maxZoom: defaultValues.maxZoom,
//     minZoom: defaultValues.minZoom,
//   });
//   bgTileLayer.addTo(map);
//   bgTileLayer.bringToBack();
// }

// /**
//  * Select base tile layer source
//  * @param key
//  */
// function selectBaseTileLayerSource(key: BackgroundTileLayerSources) {
//   if (baseTileLayerSourceKey.value === key) {
//     return;
//   }
//   mapStore.setBackgroundTileLayerSourceKey(key);
//   nextTick(() => {
//     updateBackgroundTileLayer(mapStore.backgroundTileLayerSource);
//   });
// }

// /**
//  * getFeatureInfoUrl
//  * point = map.latLngToContainerPoint(latlng)
//  * size = map.getSize();
//  * bbox = map.getBounds().toBBoxString();
//  */

// /**
//  * map on mouse move handler
//  * @param e
//  */
// const mapOnClick = async (e: LeafletMouseEvent) => {
//   // nominatimReverse(e.latlng);
//   // TODO sort popupFeatures
//   const entities = await Promise.all(
//     basesLayers.value.map(
//       async (baseLayer) =>
//         await baseLayer.getEntitiesFromLatLng({ map, latLng: e.latlng })
//     )
//   );
//   popupEntities.value = entities.flat();
//   if (popupEntities.value.length > 0) {
//     mapPopup.setLatLng(e.latlng);
//     mapPopup.openOn(map);
//     // map.setView(e.latlng, map.getZoom());
//   }
// };

// async function nominatimSearch(options: {
//   q: string;
//   lat?: number;
//   lng?: number;
//   limit?: number;
// }) {
//   const params = {
//     q: options.q.trim().toLowerCase(),
//     ...(options.lat ? { lat: options.lat } : {}),
//     ...(options.lng ? { lon: options.lng } : {}),
//     limit: options.limit > 0 ? options.limit : 10,
//     format: "json",
//     "accept-language": "pt-br",
//   };
//   const query = Object.keys(params)
//     .map((key) => `${key}=${params[key]}`)
//     .join("&");
//   const url = `https://nominatim.openstreetmap.org/search?${query}`;
//   try {
//     const response = await fetch(url);
//     const data = await response.json();
//     // console.log(data);
//   } catch (err) {
//     emitAlertError(err);
//   }
// }

// async function nominatimReverse(options: { lat: number; lng: number }) {
//   const params = { lat: options.lat, lon: options.lng, format: "json" };
//   const query = Object.keys(params)
//     .map((key) => `${key}=${params[key]}`)
//     .join("&");
//   const url = `https://nominatim.openstreetmap.org/reverse?${query}`;
//   try {
//     const response = await fetch(url);
//     const data = await response.json();
//     return data;
//     // console.log(data);
//   } catch (err) {
//     emitAlertError(err);
//   }
// }

// function onUpdateSearchModelValue(item: ItemSearchResponse) {
//   if (item?.geom?.coordinates) {
//     leftDrawer.value.show = true;
//     marker.setLatLng({
//       lat: item.geom.coordinates[1],
//       lng: item.geom.coordinates[0],
//     });
//     searchLatLng.value = marker.getLatLng();
//   }
// }

// const onUpdateSearchDebounce = debounce(function (search: string) {
//   loading.value.search = true;
//   const { lat, lng } = marker.getLatLng();
//   // photon({ q: search, lat, lng });
//   // nominatimSearch({ q: search, lat, lng });
//   basesBusca({ q: search, lat, lng });
// }, 500);

// async function basesBusca(options: {
//   q: string;
//   lat?: number;
//   lng?: number;
//   limit?: number;
//   offset?: number;
// }) {
//   const q = options.q.trim().toLowerCase();
//   if (!q) {
//     searchItems.value = [];
//     loading.value.search = false;
//     return;
//   }
//   const params = {
//     q,
//     ...(options.lat ? { lat: options.lat } : {}),
//     ...(options.lng ? { lng: options.lng } : {}),
//     limit: options.limit > 0 ? options.limit : 10,
//     offset: options.offset > 0 ? options.offset : 0,
//   };
//   try {
//     const responseData = await requester.bases.search(params);
//     searchItems.value = responseData.map((el) => ({
//       title: el.nome,
//       value: el,
//       base: getBase(el.uri),
//     }));
//   } catch (err) {
//     emitAlertError(err);
//   } finally {
//     loading.value.search = false;
//   }
// }

// function getBase(baseUri: string) {
//   const baseLayer = basesLayers.value.find((bl) => bl.base.uri === baseUri);
//   if (!baseLayer) return null;
//   return baseLayer?.base;
// }

// async function photon(options: {
//   q: string;
//   lat?: number;
//   lng?: number;
//   limit?: number;
// }) {
//   const params = {
//     q: options.q.trim().toLowerCase(),
//     lang: "en",
//     bbox: map.getBounds().toBBoxString(),
//     ...(options.lat ? { lat: options.lat } : {}),
//     ...(options.lng ? { lon: options.lng } : {}),
//     limit: options.limit > 0 ? options.limit : 10,
//   };
//   if (!params.q) {
//     searchItems.value = [];
//     loading.value.search = false;
//     return;
//   }
//   const query = Object.keys(params)
//     .map((key) => `${key}=${params[key]}`)
//     .join("&");
//   const url = `https://photon.komoot.io/api/?${query}`;
//   try {
//     const response = await fetch(url);
//     const data = await response.json();
//     searchItems.value = (data?.features || []).map((el) => ({
//       title: el.properties?.name || el.properties?.street,
//       value: el,
//     }));
//   } catch (err) {
//     emitAlertError(err);
//   } finally {
//     loading.value.search = false;
//   }
// }

// function calculateGridSize(zoomLevel: number) {
//   if (zoomLevel <= 4) return 1100;
//   if (zoomLevel >= 18) return 1;
//   const m = (1 - 1200) / (18 - 4);
//   const b = 1200 - m * 4;
//   return Math.round(m * zoomLevel + b);
// }

// function updateMapInfo() {
//   mapInfo.value = {
//     center: map.getCenter(),
//     zoom: map.getZoom(),
//     gridSize: calculateGridSize(map.getZoom()),
//   };
// }

// function getBaseLayerBaseProperty(property: "uri", baseUri: string) {
//   const baseLayer = basesLayers.value.find((bl) => bl.base.uri === baseUri);
//   return baseLayer?.base?.[property];
// }

// function getBaseLayerProperty(
//   property: "title" | "icon" | "color",
//   baseUri: string
// ) {
//   const baseLayer = basesLayers.value.find((bl) => bl.base.uri === baseUri);
//   return baseLayer?.[property];
// }

// async function selectEntity(entity: BaseLayerEntity) {
//   leftDrawer.value.show = true;
//   selectedEntity.value = entity;
//   menuContext.value.endereco = null;
//   marker.setLatLng(entity.getLatLng());
//   searchLatLng.value = marker.getLatLng();
//   map.setView(marker.getLatLng(), map.getZoom());
//   mapPopup.close();
//   setoresGeojsonLayer.clearLayers();
//   tabFeature.value = "detalhes";
// }

// function selectTabEntity(value: "detalhes" | "entorno") {
//   tabFeature.value = value;
//   switch (value) {
//     case "entorno":
//       loadGeojsonSetores();
//       break;
//     default:
//       setoresGeojsonLayer.clearLayers();
//       break;
//   }
// }

// function initEditRadiusKm() {
//   editRadiusKm.value = true;
//   radiusKmTmp.value = radiusKm.value;
//   setoresCircle.setLatLng(marker.getLatLng());
//   setoresCircle.setRadius(radiusKm.value * 1000);
//   setoresCircle.addTo(map);
//   setoresCircleUpdate.setRadius(radiusKmTmp.value * 1000);
//   setoresCircleUpdate.setLatLng(marker.getLatLng());
//   setoresCircleUpdate.addTo(map);
// }

// function cancelEditRadiusKm() {
//   editRadiusKm.value = false;
//   radiusKmTmp.value = radiusKm.value;
//   setoresCircle.removeFrom(map);
//   setoresCircleUpdate.removeFrom(map);
// }

// function confirmEditRadiusKm() {
//   editRadiusKm.value = false;
//   radiusKm.value = radiusKmTmp.value;
//   setoresCircle.removeFrom(map);
//   setoresCircleUpdate.removeFrom(map);
//   loadGeojsonSetores();
// }

// function onUpdateRadiusKm() {
//   setoresCircleUpdate.setRadius(radiusKmTmp.value * 1000);
// }

// async function loadGeojsonSetores() {
//   loading.value.setores = true;
//   try {
//     setoresGeojsonLayer.clearLayers();
//     setoresGeojsonLayer.addData(
//       await selectedEntity.value.getSetoresByRadiusKm(radiusKm.value)
//     );
//     // setoresWmsTileLayer.setParams({
//     //   cql_filter: generateCqlFilter({
//     //     columnGeom: "geog",
//     //     lat: marker.getLatLng().lat,
//     //     lng: marker.getLatLng().lng,
//     //     radiusKm: radiusKm.value,
//     //   }),
//     // } as any);
//   } catch (err) {
//     emitAlertError(err);
//   } finally {
//     loading.value.setores = false;
//   }
// }

// function generateCqlFilter(options: {
//   columnGeom: string;
//   lat: number;
//   lng: number;
//   radiusKm: number;
// }) {
//   return `DWITHIN(${options.columnGeom}, POINT(${options.lng} ${
//     options.lat
//   }), ${options.radiusKm * 1000}, meters)`;
// }

// function getOsmIcon(key: string, value: string) {
//   switch (key) {
//     // amenity
//     case "amenity":
//       switch (value) {
//         // sustenance
//         case "bar":
//         case "biergarten":
//         case "cafe":
//         case "fast_food":
//         case "food_court":
//         case "ice_cream":
//         case "pub":
//         case "restaurant":
//           return "mdi-silverware-variant";
//         // education
//         case "college":
//         case "dancing_school":
//         case "driving_school":
//         case "first_aid_school":
//         case "kindergarten":
//         case "language_school":
//         case "library	":
//         case "surf_school":
//         case "toy_library":
//         case "research_institute":
//         case "training":
//         case "school":
//         case "traffic_park":
//         case "university":
//           return "mdi-school";
//         // default
//         default:
//           return "mdi-home-city";
//       }
//     // office/building
//     case "office":
//     case "building":
//       return "mdi-home-city";
//     // leisure
//     case "leisure":
//       return "mdi-walk";
//     // highway
//     case "highway":
//     case "cicleway":
//     case "footway":
//     case "sidewalk":
//       return "mdi-road-variant";
//     // place
//     case "place":
//     case "boundary":
//       return "mdi-border-none-variant";
//     default:
//       return "mdi-help";
//   }
// }

// function toggleAtividades() {
//   if (layerAtividades.value.show) {
//     layerAtividades.value.show = false;
//     layerAtividades.value.items.forEach((el) => el.marker.removeFrom(map));
//   } else {
//     layerAtividades.value.show = true;
//     layerAtividades.value.items.forEach((el) => el.marker.addTo(map));
//   }
// }

// function formatEndereco(endereco: Endereco) {
//   if (!endereco) return;
//   return `${endereco.logradouro}${
//     endereco.numero ? `, ${endereco.numero}` : ""
//   }${endereco.complemento ? `- ${endereco.complemento}` : ""}${
//     endereco.bairro ? `- ${endereco.bairro}` : ""
//   }, ${endereco.municipioNome} - ${endereco.ufSigla} - ${
//     endereco.codigoPostal
//   }`;
// }

// function getMarkerLatLng() {
//   return marker.getLatLng();
// }

// async function getBreadcrumbs() {
//   breadcrumbs.value = null;
//   const latLng = marker.getLatLng();
//   try {
//     // uf
//     const queryDto: GetSetoresBreadcrumbsQueryDto = {
//       latitude: latLng.lat,
//       longitude: latLng.lng,
//     };
//     breadcrumbs.value = await requester.setores.breadcrumbs(queryDto);
//   } catch (err) {
//     emitAlertError(err);
//   }
// }

// function onUpdateLatLngSearch(latLng: LatLng) {
//   marker.setLatLng(latLng);
// }
</script>

<style scoped>
.children-pointer-events-all > * {
  pointer-events: all;
}
</style>

<style>
/* .leaflet-popup-tip-container {
  opacity: 0;
} */
</style>
