<template>
  <div class="d-flex flex-column w-100">
    <v-menu
      v-model="menuOptions"
      :close-on-content-click="false"
      :open-on-click="false"
      location="bottom left"
    >
      <template v-slot:activator="{ props }">
        <v-text-field
          v-bind="props"
          v-model.trim="searchModel"
          placeholder="Pesquise no CulturaEduca"
          prepend-inner-icon="mdi-magnify"
          rounded
          theme="light"
          variant="solo"
          density="compact"
          hide-details
          :loading="loading"
          @update:model-value="onUpdateSearchDebounce"
          clearable
        >
          <template v-slot:clear="{ props }">
            <v-icon
              size="small"
              icon="mdi-backspace"
              v-bind="props"
              class="mx-1"
            />
          </template>
          <template v-slot:loader="{ isActive }">
            <div class="px-4">
              <v-progress-linear
                v-if="isActive"
                indeterminate
                height="2"
                color="primary"
              />
            </div>
          </template>
        </v-text-field>
      </template>
      <v-list density="compact" rounded class="py-0" style="max-height: 300px">
        <v-list-item
          v-if="responseItems.length === 0"
          class="my-1 cursor-default"
          @click="menuOptions = false"
          disabled
        >
          <v-list-item-title class="text-body-2 font-weight-light">
            Nenhum resultado encontrado
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-for="(item, index) in responseItems"
          class="my-1"
          :key="index"
          @click="selectOption(item)"
          :prepend-icon="getIcon(item.base_uri)"
        >
          <v-list-item-title class="text-body-2">{{
            item.nome
          }}</v-list-item-title>
          <v-list-item-subtitle v-if="item.descricao">
            {{ item.descricao }}
          </v-list-item-subtitle>
          <v-list-item-subtitle class="text-caption">
            <div class="d-flex align-center justify-space-between">
              <div>{{ item.municipio_nome }}, {{ item.uf_sigla }}</div>
              <div v-if="item.distance_km">
                <template v-if="item.distance_km >= 1">
                  {{ item.distance_km.toFixed(0) }} km
                </template>
                <template v-else-if="item.distance_km > 0">
                  {{ (item.distance_km * 1000).toFixed(0) }} m
                </template>
                <template v-if="item.distance_km === 0"> 0 m </template>
              </div>
            </div>
          </v-list-item-subtitle>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { LatLng } from "leaflet";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { ItemSearchResponse } from "@/requester/bases.requester";
import { useBasesStore } from "@/store/bases.store";

// PROPS
export interface Props {
  modelValue: ItemSearchResponse | null;
  latLng?: LatLng | null;
}
const props = withDefaults(defineProps<Props>(), {
  latLng: null,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", item: ItemSearchResponse): void;
  (e: "update:loading", value: Boolean): void;
}>();

// EXPOSED METHODS
defineExpose({
  clear: () => {
    menuOptions.value = false;
    searchModel.value = "";
    responseItems.value = [];
  },
});

// DATA

const SEARCH_BAR_DEBOUNCE_TIME = 500;
const basesStore = useBasesStore();

const menuOptions = ref(false);

const loading = ref(false);
const searchModel = ref("");
const responseItems = ref<ItemSearchResponse[]>([]);

// METHODS

function getIcon(baseUri: string) {
  const base = basesStore.bases.find((b) => b.uri === baseUri);
  return base?.icon || base?.category?.icon || null;
}

function selectOption(item: ItemSearchResponse) {
  emit("update:model-value", item);
  searchModel.value = item.nome;
  menuOptions.value = false;
}

const onUpdateSearchDebounce = debounce(function (search: string) {
  loading.value = true;
  basesBusca({ q: search });
}, SEARCH_BAR_DEBOUNCE_TIME);

async function basesBusca(options: {
  q: string;
  limit?: number;
  offset?: number;
}) {
  const q = options?.q?.trim()?.toLowerCase() || "";
  if (q.length < 3) {
    responseItems.value = [];
    loading.value = false;
    return;
  }
  const params = {
    q,
    ...(props.latLng?.lat ? { lat: props.latLng.lat } : {}),
    ...(props.latLng?.lng ? { lng: props.latLng.lng } : {}),
    limit: options.limit > 0 ? options.limit : 30,
    offset: options.offset > 0 ? options.offset : 0,
  };
  try {
    responseItems.value = await requester.bases.search(params);
    menuOptions.value = true;
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
