<template>
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      pointer-events: none;
    "
  >
    <MapaEscolherLocalizacao v-model="dialogEscolherLocalizacao" />
    <MapaBuscaAvancadaDialog v-model="dialogBuscaAvancada" />
    <div class="d-flex h-100">
      <!-- OVERALL LEFT -->
      <div class="d-flex flex-column justify-space-between h-100">
        <!-- SEARCH BAR AND DRAWER -->
        <MapaSearchBarAndDrawer v-model="drawer" />
        <div v-if="!drawer" class="pa-3">
          <MapaBgLayers />
        </div>
      </div>
      <!-- OVERALL RIGHT -->
      <div class="d-flex flex-column justify-space-between w-100 h-100">
        <!-- TOP -->
        <div
          class="d-flex justify-end align-start children-pointer-events-all py-3 pr-3"
        >
          <v-btn
            color="primary"
            rounded
            prepend-icon="mdi-text-search"
            class="mr-3"
            @click="dialogBuscaAvancada = true"
          >
            Busca avançada
          </v-btn>
          <v-btn
            v-if="geojson"
            color="secondary"
            rounded
            prepend-icon="mdi-close-box"
            class="mr-3"
            @click="removeGeojson()"
          >
            Remover Divisão
          </v-btn>
          <MapaCamadas />
        </div>
        <!-- BOTTOM -->
        <div
          :class="`d-flex align-end justify-${
            drawer ? 'space-between' : 'end'
          } w-100 px-3 pb-6`"
        >
          <MapaBgLayers v-if="drawer" />
          <MapaCenterAndZoom />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { inject, provide, ref } from "vue";
import MapaSearchBarAndDrawer from "./MapaSearchBarAndDrawer.vue";
import MapaBgLayers from "./MapaBgLayers.vue";
import MapaCenterAndZoom from "./MapaCenterAndZoom.vue";
import MapaCamadas from "./MapaCamadas.vue";
import MapaBuscaAvancadaDialog from "./MapaBuscaAvancadaDialog.vue";
import MapaEscolherLocalizacao from "./MapaEscolherLocalizacao.vue";

// DATA
const drawer = ref(false);
const dialogEscolherLocalizacao = ref(false);
const dialogBuscaAvancada = ref(false);

const geojson = ref<GeoJSON.Feature>(inject("geojson"));
provide("geojson", geojson);
const boundaryInfo = ref(inject("boundaryInfo"));
provide("boundaryInfo", boundaryInfo);

// METHODS

function removeGeojson() {
  geojson.value = null;
}
</script>
