<template>
  <div>
    <v-card flat rounded>
      <v-tabs
        v-model="tab"
        color="primary"
        bg-color="neutral-lighten-4"
        mandatory
      >
        <v-tab value="divisoes-territoriais">
          <div class="d-flex align-center">
            <v-icon
              start
              :icon="`mdi-radiobox-${
                tab === 'divisoes-territoriais' ? 'marked' : 'blank'
              }`"
            />
            <div>Divisões Territoriais</div>
          </div>
        </v-tab>
        <v-tab value="equipamentos">
          <div class="d-flex align-center">
            <v-icon
              start
              :icon="`mdi-radiobox-${
                tab === 'equipamentos' ? 'marked' : 'blank'
              }`"
            />
            <div>Equipamentos</div>
          </div>
        </v-tab>
        <v-tab value="agentes" disabled>
          <div class="d-flex align-center">
            <v-icon
              start
              :icon="`mdi-radiobox-${tab === 'agentes' ? 'marked' : 'blank'}`"
            />
            <div>Agentes</div>
          </div>
        </v-tab>
        <v-tab value="acoes">
          <div class="d-flex align-center">
            <v-icon
              start
              :icon="`mdi-radiobox-${tab === 'acoes' ? 'marked' : 'blank'}`"
            />
            <div>Ações</div>
          </div>
        </v-tab>
      </v-tabs>
    </v-card>
    <v-window v-model="tab">
      <v-window-item value="divisoes-territoriais" class="py-3">
        <MapaBuscaAvancadaDivisoesTerritoriais
          @close-dialog="$emit('close-dialog')"
        />
      </v-window-item>
      <v-window-item value="equipamentos" class="py-3">
        <MapaBuscaAvancadaEquipamentos />
      </v-window-item>
      <v-window-item value="agentes" class="py-3"> TODO </v-window-item>
      <v-window-item value="acoes" class="py-3">
        <MapaBuscaAvancadaAcoes />
      </v-window-item>
    </v-window>
  </div>
</template>

<script setup lang="ts">
import { inject, provide, ref } from "vue";
import MapaBuscaAvancadaEquipamentos from "./MapaBuscaAvancadaEquipamentos.vue";
import MapaBuscaAvancadaAcoes from "./MapaBuscaAvancadaAcoes.vue";
import MapaBuscaAvancadaDivisoesTerritoriais from "./MapaBuscaAvancadaDivisoesTerritoriais.vue";

// DATA
const tab = ref("divisoes-territoriais");

const geojson = ref<GeoJSON.Feature>(inject("geojson"));
provide("geojson", geojson);
const boundaryInfo = ref(inject("boundaryInfo"));
provide("boundaryInfo", boundaryInfo);
</script>
