<template>
  <div>
    <v-radio-group v-model="form.localidade" inline hide-details>
      <v-radio label="UF" value="uf" class="mr-2" />
      <v-radio label="Município" value="municipio" class="mr-2" />
    </v-radio-group>
    <!-- UF -->
    <div v-if="form.localidade === 'uf'">
      <v-autocomplete
        v-model="form.ufs"
        :items="itemsUfs"
        multiple
        placeholder="Selecionar UF"
        density="compact"
        variant="outlined"
        :loading="loading.ufs"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection> </template>
      </v-autocomplete>
      <div class="mt-2">
        <v-chip
          v-for="item in formUfsSorted"
          :key="item.sigla"
          class="mb-1 mr-1"
          closable
          @click="removeUf(item.sigla)"
          @click:close.stop="removeUf(item.sigla)"
        >
          <span>{{ item.sigla }} - {{ item.nome }}</span>
        </v-chip>
      </div>
    </div>
    <!-- MUNICIPIO -->
    <div v-if="form.localidade === 'municipio'">
      <v-autocomplete
        v-model="form.municipios"
        :items="itemsMunicipios"
        multiple
        placeholder="Selecionar município"
        density="compact"
        variant="outlined"
        :loading="loading.ufs"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection> </template>
      </v-autocomplete>
      <div class="mt-2">
        <v-chip
          v-for="item in formMunicipiosSorted"
          :key="item.id"
          class="mb-1 mr-1"
          closable
          @click="removeMunicipio(item.id)"
          @click:close.stop="removeMunicipio(item.id)"
        >
          <span
            >{{ item.nome }} -
            {{ item.microrregiao.mesorregiao.UF.sigla }}</span
          >
        </v-chip>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { watch, computed, onMounted, ref } from "vue";
import { deburr, sortBy } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  modelValue: {
    localidade: string | null;
    ufSigla: string[];
    municipioCodigo: string[];
  };
}
defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (
    e: "update:model-value",
    value: {
      localidade: string | null;
      ufSigla: string[];
      municipioCodigo: string[];
    }
  ): void;
}>();

// DATA

const loading = ref({
  ufs: false,
  municipios: false,
});

const form = ref({
  localidade: null,
  ufs: [],
  municipios: [],
});
const formUfsSorted = computed(() => sortBy(form.value.ufs, ["sigla"]));
const formMunicipiosSorted = computed(() =>
  sortBy(form.value.municipios, ["nome"])
);

const itemsMunicipios = ref([]);
const itemsUfs = ref([]);

const computedModelValue = computed(() => {
  switch (form.value.localidade) {
    case "uf":
      return {
        localidade: "uf",
        ufSigla: form.value.ufs.map((uf) => uf.sigla),
        municipioCodigo: [],
      };
    case "municipio":
      return {
        localidade: "municipio",
        ufSigla: [],
        municipioCodigo: form.value.municipios.map((municipio) => municipio.id),
      };
    default:
      return { localidade: null, ufSigla: [], municipioCodigo: [] };
  }
});

// WATCH

watch(
  () => computedModelValue.value,
  (newVal) => emit("update:model-value", newVal)
);

// ON MOUNTED
onMounted(() => {
  getMunicipios();
  getUfs();
});

// EXPOSED METHODS
defineExpose({
  clear: () => {
    form.value.localidade = null;
    form.value.ufs = [];
    form.value.municipios = [];
  },
});

// METHODS
const customFilter = (a: string, b: string) =>
  deburr(a.toLowerCase()).localeCompare(deburr(b.toLowerCase()));

function removeUf(ufSigla: string) {
  form.value.ufs = form.value.ufs.filter((uf) => uf.sigla !== ufSigla);
}

function removeMunicipio(municipioId: number) {
  form.value.municipios = form.value.municipios.filter(
    (municipio) => municipio.id !== municipioId
  );
}

async function getUfs() {
  loading.value.ufs = true;
  try {
    const responseData = await requester.external.localidadesIbge.ufs();
    itemsUfs.value = responseData.map((uf) => ({
      title: `${uf.sigla} - ${uf.nome}`,
      value: uf,
    }));
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.ufs = false;
  }
}

async function getMunicipios() {
  loading.value.municipios = true;
  try {
    const responseData = await requester.external.localidadesIbge.municipios();
    itemsMunicipios.value = responseData.map((municipio) => ({
      title: `${municipio.nome} - ${municipio.microrregiao.mesorregiao.UF.sigla}`,
      value: municipio,
    }));
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.ufs = false;
  }
}
</script>
