<template>
  <div class="d-flex flex-column align-center children-pointer-events-all">
    <!-- CENTER USER POSITION -->
    <v-btn
      class="mb-2"
      size="small"
      icon="mdi-crosshairs-gps"
      :loading="loading"
      @click="centerUserPosition()"
    />
    <!-- ZOOM -->
    <v-btn size="x-small" tile icon="mdi-plus" @click="map.zoomIn()" />
    <v-btn size="x-small" tile icon="mdi-minus" @click="map.zoomOut()" />
  </div>
</template>

<script setup lang="ts">
import { inject, Ref, ref } from "vue";
import { LatLng, Map, Marker } from "leaflet";
import { emitAlertError } from "@/plugins/eventBus";

// DATA

const map = inject<Ref<Map>>("map");
const mainMarker = inject<Ref<Marker>>("mainMarker");
const loading = ref(false);

// METHODS

async function getUserPosition(): Promise<GeolocationPosition> {
  return new Promise((resolve, reject) => {
    navigator.geolocation.getCurrentPosition(resolve, reject);
  });
}

async function centerUserPosition() {
  loading.value = true;
  try {
    const userPosition = await getUserPosition();
    const { latitude, longitude } = userPosition.coords;
    mainMarker.value.setLatLng(new LatLng(latitude, longitude));
  } catch (err) {
    if (err?.code === 1) {
      map.value.setView(mainMarker.value.getLatLng());
    } else {
      emitAlertError(err);
    }
  } finally {
    loading.value = false;
  }
}
</script>
