<template>
  <div style="position: relative; width: 100%; height: 100%">
    <div ref="mapContainer" style="width: 100%; height: 100%" />
    <!-- MAP POPUP -->
    <div
      ref="mapPopupContainer"
      style="width: 300px; max-height: 300px; overflow-y: scroll"
    >
      <MapaEnderecoPopupContent
        v-if="mapPopup?.isOpen()"
        v-model="selectedItem"
        :lat-lng="mainMarker?.getLatLng()"
        @update:model-value="onUpdateSelectedItem"
        @close="mapPopup.close()"
      />
    </div>
    <!-- MAP OVERLAY -->
    <div
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        pointer-events: none;
      "
    >
      <div
        class="d-flex flex-column flex-md-row"
        style="width: 100%; height: 100%"
      >
        <!-- OVER MAP -->
        <div style="width: 100%; height: 100%">
          <div class="d-flex flex-column justify-space-between fill-height">
            <!-- TOP -->
            <div
              class="d-flex flex-column-reverse flex-sm-row align-sm-start justify-sm-space-between pa-3"
            >
              <MapaEnderecoSearchBar
                v-model="selectedItem"
                @update:model-value="onUpdateSelectedItem"
              />
            </div>
            <!-- BOTTOM -->
            <div class="d-flex align-end justify-space-between">
              <!-- BOTTOM LEFT -->
              <div class="pa-1 pa-sm-3">
                <MapaBgLayers />
              </div>
              <!-- BOTTOM RIGHT -->
              <div class="pa-1 pa-sm-3 pb-sm-6">
                <MapaCenterAndZoom />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, provide, ref } from "vue";
import {
  Map,
  Marker,
  TileLayer,
  Icon,
  LatLng,
  Popup,
  popup,
  point,
} from "leaflet";
import "leaflet/dist/leaflet.css";
import { useBgTileLayerStore } from "@/store/bg-tile-layer.store";
import MapaBgLayers from "./MapaBgLayers.vue";
import MapaCenterAndZoom from "./MapaCenterAndZoom.vue";
import MapaEnderecoPopupContent from "./MapaEnderecoPopupContent.vue";
import MapaEnderecoSearchBar from "./MapaEnderecoSearchBar.vue";

// PROPS

export interface Props {
  lat?: number;
  lng?: number;
  zoom?: number;
  minZoom?: number;
  maxZoom?: number;
}
const props = withDefaults(defineProps<Props>(), {
  lat: Number(import.meta.env.VITE_MAP_INITIAL_LAT ?? -23.5489),
  lng: Number(import.meta.env.VITE_MAP_INITIAL_LNG ?? -46.6388),
  zoom: Number(import.meta.env.VITE_MAP_INITIAL_ZOOM ?? 14),
  minZoom: Number(import.meta.env.VITE_MAP_MIN_ZOOM ?? 4),
  maxZoom: Number(import.meta.env.VITE_MAP_MAX_ZOOM ?? 18),
});

// DATA

const selectedItem = ref(null);

const bgTileLayerStore = useBgTileLayerStore();
const mapContainer = ref();
const mapPopupContainer = ref();

const map = ref<Map>();
provide("map", map);

const resizerObserver = new ResizeObserver(() => {
  map.value?.invalidateSize();
});

const bgTileLayer = ref<TileLayer>();
provide("bgTileLayer", bgTileLayer);

const mainMarker = ref<Marker>();
provide("mainMarker", mainMarker);

const mapPopup = ref<Popup>();

// EMIT

const emit = defineEmits<{
  (e: "update:search", item: any): void;
  (e: "update:reverse", item: any): void;
  (e: "update:latlng", latlng: LatLng): void;
}>();

// EXPOSED METHODS

defineExpose({
  initMap,
  mapMoveMarker,
});

onMounted(() => {
  resizerObserver.observe(mapContainer.value);
});

// METHODS

function onUpdateSelectedItem(item: any) {
  selectedItem.value = item;
  const latLng = new LatLng(item.lat, item.lon);
  mainMarker.value.setLatLng(latLng);
  map.value.setView(latLng, 17);
  emit("update:search", item);
}

async function mapMoveMarker(latLng: LatLng) {
  mainMarker.value.setLatLng(latLng);
  map.value.setView(latLng, 17);
  emit("update:latlng", latLng);
}

async function initMap(options?: {
  lat?: number;
  lng?: number;
  zoom?: number;
}) {
  if (map.value) return;

  // ask for user position
  const lat = options?.lat || props.lat;
  const lng = options?.lng || props.lng;
  const latLng = new LatLng(lat, lng);
  const zoom = options?.zoom || props.zoom;

  // Create map
  map.value = new Map(mapContainer.value, {
    preferCanvas: true,
    zoomControl: false,
    maxZoom: props.maxZoom,
    minZoom: props.minZoom,
  }).setView(latLng, zoom);

  // bg tile layer
  bgTileLayer.value = new TileLayer(bgTileLayerStore.source.url, {
    attribution: bgTileLayerStore.source.attribution,
    maxZoom: props.maxZoom,
    minZoom: props.minZoom,
  });
  bgTileLayer.value.addTo(map.value);

  // main marker
  mainMarker.value = new Marker(latLng, {
    draggable: true,
    icon: new Icon({
      iconUrl: "/img/marker/default.png",
      iconSize: [25, 41], // Size of the icon
      iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
      // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
    }),
  });
  mainMarker.value.addTo(map.value);
  mainMarker.value.addEventListener("moveend", () => {
    const latLng = mainMarker.value.getLatLng();
    map.value.setView(latLng);
    emit("update:latlng", latLng);
    mapPopup.value.setLatLng(latLng);
    mapPopup.value.openOn(map.value);
  });

  // map popup
  mapPopup.value = popup({
    closeButton: false,
    content: mapPopupContainer.value,
    offset: point(1, -20),
    closeOnClick: false,
  });
  mapPopup.value.setLatLng(latLng);
}
</script>
