<template>
  <div
    ref="mapContainer"
    style="width: 100%; height: 80%; border: 2pt solid #ccc; border-radius: 1em"
  />
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { Map, TileLayer, geoJSON, GeoJSON } from "leaflet";
import "leaflet/dist/leaflet.css";

// PROPS
export interface Props {
  geojson: GeoJSON.Feature;
}
const props = defineProps<Props>();

// DATA

const mapContainer = ref();

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

let map: Map;
let tiles: TileLayer;
let geojsonLayer: GeoJSON;

onMounted(() => {
  initMap(props.geojson);
});

watch(
  () => props.geojson,
  (newGeojson) => {
    updatePolygon(newGeojson);
  }
);

function initMap(geoData: GeoJSON.Feature) {
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: 0, lng: 0 },
    0
  );

  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  updatePolygon(geoData);
}

function updatePolygon(geoData: GeoJSON.Feature) {
  if (geojsonLayer) {
    geojsonLayer.remove();
  }

  geojsonLayer = geoJSON(geoData);
  geojsonLayer.addTo(map);

  map.fitBounds(geojsonLayer.getBounds());
}
</script>
