<template>
  <v-row>
    <v-col cols="12" md="4">
      <div class="py-1 px-3" style="border: 1pt solid #ccc; border-radius: 1em">
        <v-divider />
        <MapaBuscaAvancadaFiltrosDivisoesTerritoriais
          v-model="filtroDivisaoTerritorial"
        />
        <div v-if="loading">
          <div class="text-body-1 font-weight-medium my-2">
            Carregando divisão...
          </div>
        </div>
        <div
          v-if="
            filtroDivisaoTerritorial.base_uri && filtroDivisaoTerritorial.pk_id
          "
          class="ml-3"
        >
          <v-btn class="mt-3" color="primary" @click="onHandlePaginaDivisao"
            >Página da Divisão</v-btn
          >
          <v-divider />
        </div>
      </div>
    </v-col>
    <v-col cols="12" md="4">
      <!-- Divisão Administrativa -->
      <div v-if="!!filtroDivisaoTerritorial.divisaoAdministrativa">
        <div class="text-body-1 font-weight-medium my-2">
          {{ filtroDivisaoTerritorial.divisaoAdministrativaTitle }}
        </div>
      </div>
      <!-- Municipio -->
      <div v-else-if="!!filtroDivisaoTerritorial.municipio">
        <div class="text-body-1 font-weight-medium my-2">
          {{ filtroDivisaoTerritorial.municipio.nome }}
        </div>
      </div>
      <!-- UF -->
      <div v-else-if="!!filtroDivisaoTerritorial.uf">
        <div class="text-body-1 font-weight-medium my-2">
          {{ filtroDivisaoTerritorial.uf.nome }}
        </div>
      </div>
      <!-- Map -->
      <MapaPreviewGeoJson v-if="geojson" :geojson="geojson" />
      <v-label v-if="!geojson && !loading">
        <v-icon>mdi-information</v-icon> Selecione uma divisão territorial
      </v-label>
      <v-label v-else-if="!geojson && loading">
        <v-icon>mdi-progress-clock</v-icon> Carregando geometria...
      </v-label>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { inject, onMounted, ref, watch } from "vue";
import MapaBuscaAvancadaFiltrosDivisoesTerritoriais from "./MapaBuscaAvancadaFiltrosDivisoesTerritoriais.vue";
import "leaflet/dist/leaflet.css";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import MapaPreviewGeoJson from "./MapaPreviewGeoJson.vue";

// DATA

const targetGeojson = ref<GeoJSON.Feature>(inject("geojson"));
const boundaryInfo = ref(inject("boundaryInfo"));
const geojson = ref<GeoJSON.Feature>();

const filtroDivisaoTerritorial = ref<{
  uf: any;
  municipio: any;
  divisaoAdministrativa: any;
  divisaoAdministrativaTitle: string;
  divisaoAdministrativaSectionId: number;
  base_uri: string;
  pk_id: string;
}>({
  uf: null,
  municipio: null,
  divisaoAdministrativa: null,
  divisaoAdministrativaTitle: null,
  divisaoAdministrativaSectionId: null,
  base_uri: null,
  pk_id: null,
});

const ufSectionId = ref<number>(null);
const municipioSectionId = ref<number>(null);
const loading = ref(false);

// EMITS
const emit = defineEmits<{
  (e: "close-dialog"): void;
}>();

onMounted(() => {
  setupSectionIds();
});

watch(
  () => filtroDivisaoTerritorial.value,
  (newfiltro) => {
    if (newfiltro.divisaoAdministrativa) {
      getDivisaoAdministrativaGeometry(newfiltro.divisaoAdministrativa);
    } else if (newfiltro.municipio) {
      getMunicipioGeometry(newfiltro.municipio);
    } else if (newfiltro.uf) {
      getUfGeometry(newfiltro.uf);
    } else {
      geojson.value = null;
    }
  }
);

// METHODS

async function setupSectionIds() {
  try {
    const hierarchies =
      await requester.dataPipeline.boundariesHierarchies.findOne(
        import.meta.env.VITE_DEFAULT_BOUNDARY_HIERARCHY || "malha_censo_ibge"
      );
    for (const divisao of hierarchies.boundaries) {
      if (
        divisao.name ===
        (import.meta.env.VITE_DEFAULT_UFS_BOUNDARY_NAME || "Ufs")
      ) {
        ufSectionId.value = divisao.sectionId;
      } else if (
        divisao.name ===
        (import.meta.env.VITE_DEFAULT_MUNICIPIOS_BOUNDARY_NAME || "Municipios")
      ) {
        municipioSectionId.value = divisao.sectionId;
      }
    }
    if (!ufSectionId.value) {
      throw new Error("Base de Ufs não encontrada");
    }
    if (!municipioSectionId.value) {
      throw new Error("Base de Municipios não encontrada");
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function getUfGeometry(uf) {
  loading.value = true;
  geojson.value = null;
  boundaryInfo.value = {};
  try {
    if (!ufSectionId.value) {
      throw new Error("Base de Ufs não encontrada");
    }
    var data = ufSectionId.value
      ? await requester.dataPipeline.datasets.findSectionData(ufSectionId.value)
      : null;
    if (data) {
      const ufItem = data.results.find(
        (item) => parseInt(item.cd_uf) === parseInt(uf.id)
      );
      if (ufItem) {
        boundaryInfo.value = {
          baseUri: import.meta.env.VITE_DEFAULT_UFS_BASE_URI || "ufs",
          column: "cd_uf",
          value: ufItem.cd_uf,
        };
        geojson.value = await requester.dataPipeline.datasets.getDataGeojson(
          ufSectionId.value,
          ufItem._id
        );
      } else {
        throw new Error("UF não encontrada nos dados");
      }
    } else {
      throw new Error("Dados de UF não encontrados");
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}

async function getMunicipioGeometry(mun) {
  loading.value = true;
  geojson.value = null;
  boundaryInfo.value = {};
  try {
    if (!municipioSectionId.value) {
      throw new Error("Base de Municípios não encontrada");
    }
    var data = municipioSectionId.value
      ? await requester.dataPipeline.datasets.findSectionData(
          municipioSectionId.value
        )
      : null;
    if (data) {
      const municipioItem = data.results.find(
        (item: any) => parseInt(item.cd_mun) === parseInt(mun.id)
      );
      if (municipioItem) {
        boundaryInfo.value = {
          baseUri:
            import.meta.env.VITE_DEFAULT_MUNICIPIOS_BASE_URI || "municipios",
          column: "cd_mun",
          value: municipioItem.cd_mun,
        };
        geojson.value = await requester.dataPipeline.datasets.getDataGeojson(
          municipioSectionId.value,
          municipioItem._id
        );
      } else {
        throw new Error("Municipio não encontrado nos dados");
      }
    } else {
      throw new Error("Dados de Município não encontrados");
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}

async function getDivisaoAdministrativaGeometry(div) {
  loading.value = true;
  geojson.value = null;
  boundaryInfo.value = {};
  const sectionId =
    filtroDivisaoTerritorial.value.divisaoAdministrativaSectionId;
  try {
    if (!sectionId) {
      throw new Error("Base da Divisão Administrativa não encontrada");
    }
    boundaryInfo.value = null; //TODO
    geojson.value = await requester.dataPipeline.datasets.getDataGeojson(
      sectionId,
      div._id
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}

function onHandleVisualizarDivisao() {
  targetGeojson.value = geojson.value;
  emit("close-dialog");
}

function onHandlePaginaDivisao() {
  if (
    filtroDivisaoTerritorial.value.base_uri &&
    filtroDivisaoTerritorial.value.pk_id
  ) {
    window.open(
      `/detalhes/${filtroDivisaoTerritorial.value.base_uri}/${filtroDivisaoTerritorial.value.pk_id}/equipamentos`,
      "_blank"
    );
  }
}
</script>
