<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
</template>

<script lang="ts" setup>
import { onMounted, ref } from "vue";
import { Map, Marker, TileLayer, geoJSON, GeoJSON, Icon } from "leaflet";
import "leaflet/dist/leaflet.css";
import { useMapStore } from "@/store/map.store";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  lat?: number;
  lng?: number;
  zoom?: number;
}
const props = withDefaults(defineProps<Props>(), {
  lat: Number(import.meta.env.VITE_MAP_INITIAL_LAT ?? -23.5489),
  lng: Number(import.meta.env.VITE_MAP_INITIAL_LNG ?? -46.6388),
  zoom: Number(import.meta.env.VITE_MAP_INITIAL_ZOOM ?? 14),
});

const mapContainer = ref();
const mapStore = useMapStore();

let map: Map;
let baseTileLayer: TileLayer;
let marker: Marker;
let setoresGeojsonLayer: GeoJSON;

onMounted(async () => {
  // init map
  initMap(props);
});

defineExpose({
  getMarkerLatLng: () => marker.getLatLng(),
  getMapZoom: () => map.getZoom(),
  setMapZoom: (zoom: number) => map.setZoom(zoom),
  initMap,
  moveMarker,
  loadGeojsonSetores,
  clearGeojsonSetores,
});

function moveMarker(options: { lat: number; lng: number; zoom?: number }) {
  const { lat, lng, zoom } = options;
  marker.setLatLng({ lat, lng });
  map.setView({ lat, lng }, zoom || map.getZoom());
}

/**
 * Init map
 */
function initMap(initialValues: { lat: number; lng: number; zoom: number }) {
  // Create map
  map = new Map(mapContainer.value, {
    preferCanvas: true,
    zoomControl: false,
  }).setView(
    {
      lat: initialValues.lat,
      lng: initialValues.lng,
    },
    initialValues.zoom
  );

  // Base tile layer
  updateBaseTileLayer(mapStore.bgTileLayerSource);

  // Add marker
  marker = new Marker(
    {
      lat: initialValues.lat,
      lng: initialValues.lng,
    },
    {
      icon: new Icon({
        iconUrl: "/img/marker/default.png",
        iconSize: [25, 41], // Size of the icon
        iconAnchor: [25 / 2, 41], // Point of the icon which will correspond to marker's location
        // popupAnchor: [25 / 2, 0], // Point from which the popup should open relative to the iconAnchor
      }),
    }
  );
  marker.addTo(map);
  marker.addEventListener("moveend", () => {
    map.setView(marker.getLatLng());
  });

  // Layer setores geojson
  setoresGeojsonLayer = geoJSON().addTo(map);
}

/**
 * Update base tile layer
 * @param baseTileLayerSource
 */
function updateBaseTileLayer(baseTileLayerSource: {
  url: string;
  attribution: string;
}) {
  if (baseTileLayer) {
    map.removeLayer(baseTileLayer);
  }
  baseTileLayer = new TileLayer(baseTileLayerSource.url, {
    attribution: baseTileLayerSource.attribution,
    minZoom: 4,
    maxZoom: 18,
  });
  baseTileLayer.addTo(map);
}

function clearGeojsonSetores() {
  setoresGeojsonLayer.clearLayers();
  // map.setZoom(props.zoom);
}

async function loadGeojsonSetores(geojson: GeoJSON.FeatureCollection) {
  if (!geojson) return;
  try {
    setoresGeojsonLayer.clearLayers();
    setoresGeojsonLayer.addData(geojson);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
