<template>
  <div>
    <!-- TEMA (AREA ATUACAO) -->
    <div class="mb-4">
      <div class="d-flex justify-space-between align-center mb-2">
        <div class="text-body-1 font-weight-medium">Tema</div>
        <v-icon
          v-if="form.opcoesAreasAtuacao.length > 0"
          icon="mdi-backspace"
          size="small"
          color="grey-darken-2"
          @click="form.opcoesAreasAtuacao.length = 0"
        />
      </div>
      <v-divider />
      <v-autocomplete
        v-model="form.opcoesAreasAtuacao"
        :items="items.areasAtuacao"
        multiple
        placeholder="Selecionar tema"
        density="compact"
        variant="outlined"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection> </template>
      </v-autocomplete>
      <div class="mt-2">
        <v-chip
          v-for="opcao in form.opcoesAreasAtuacao"
          :key="opcao.id"
          class="mb-1 mr-1"
          closable
          @click="removeAreaAtuacao(opcao.id)"
          @click:close.stop="removeAreaAtuacao(opcao.id)"
        >
          <span>{{ opcao.nome }}</span>
        </v-chip>
      </div>
    </div>
    <!-- PUBLICO FOCAL -->
    <div class="mb-4">
      <div class="d-flex justify-space-between align-center mb-2">
        <div class="text-body-1 font-weight-medium">Público focal</div>
        <v-icon
          v-if="form.opcoesPublicosFocais.length > 0"
          icon="mdi-backspace"
          size="small"
          color="grey-darken-2"
          @click="form.opcoesPublicosFocais.length = 0"
        />
      </div>
      <v-divider />
      <v-autocomplete
        v-model="form.opcoesPublicosFocais"
        :items="items.publicosFocais"
        multiple
        placeholder="Selecionar público focal"
        density="compact"
        variant="outlined"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection> </template>
      </v-autocomplete>
      <div class="mt-2">
        <v-chip
          v-for="opcao in form.opcoesPublicosFocais"
          :key="opcao.id"
          class="mb-1 mr-1"
          closable
          @click="removePublicoFocal(opcao.id)"
          @click:close.stop="removePublicoFocal(opcao.id)"
        >
          <span>{{ opcao.nome }}</span>
        </v-chip>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { watch, computed, onMounted, ref } from "vue";
import { deburr } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import { Opcao } from "@backPrisma/client";

// PROPS
export interface Props {
  modelValue: { opcoesIds: number[] };
}
defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", value: { opcoesIds: number[] }): void;
}>();

// DATA

const form = ref({
  opcoesAreasAtuacao: [],
  opcoesPublicosFocais: [],
});

const items = ref<{ [k: string]: { title: string; value: Opcao }[] }>({
  areasAtuacao: [],
  publicosFocais: [],
});

const computedModelValue = computed(() => ({
  opcoesIds: [
    ...form.value.opcoesAreasAtuacao.map((opcao) => opcao.id),
    ...form.value.opcoesPublicosFocais.map((opcao) => opcao.id),
  ],
}));

watch(
  () => computedModelValue.value,
  (newVal) => emit("update:model-value", newVal)
);

// METHODS
const customFilter = (a: string, b: string) =>
  deburr(a.toLowerCase()).localeCompare(deburr(b.toLowerCase()));

function removeAreaAtuacao(opcaoId: string) {
  form.value.opcoesAreasAtuacao = form.value.opcoesAreasAtuacao.filter(
    (opcao) => opcao.id !== opcaoId
  );
}

function removePublicoFocal(opcaoId: number) {
  form.value.opcoesPublicosFocais = form.value.opcoesPublicosFocais.filter(
    (opcao) => opcao.id !== opcaoId
  );
}

onMounted(async () => {
  [items.value.areasAtuacao, items.value.publicosFocais] = await Promise.all([
    getOpcoes(CategoriaOpcao.AREA_ATUACAO),
    getOpcoes(CategoriaOpcao.PUBLICO_FOCAL),
  ]);
});

async function getOpcoes(categoria: CategoriaOpcao) {
  try {
    const responseData = await requester.opcoes.findAll({ categoria });
    return (responseData?.results || []).map((opcao) => ({
      title: opcao.nome,
      value: opcao,
    }));
  } catch (err) {
    emitAlertError(err);
  }
  return [];
}
</script>
