<!-- Acoes (or ações) is used interchangeably with "atividades" in this file and project -->
<template>
  <v-row>
    <v-col cols="12" md="4">
      <div class="py-1 px-3" style="border: 1pt solid #ccc; border-radius: 1em">
        <!-- DATA INICIO -->
        <div class="d-flex justify-space-between align-center my-2">
          <div class="text-body-1 font-weight-medium">A partir de</div>
          <v-icon
            v-if="!!filtroDataInicio"
            icon="mdi-backspace"
            size="small"
            color="grey-darken-2"
            @click="filtroDataInicio = null"
          />
        </div>
        <v-divider />
        <InputData
          v-model="filtroDataInicio"
          @update:model-value="onUpdateUpdateDebounce"
          class="mb-4"
        />
        <!-- DATA FIM -->
        <div class="d-flex justify-space-between align-center my-2">
          <div class="text-body-1 font-weight-medium">Até</div>
          <v-icon
            v-if="!!filtroDataFim"
            icon="mdi-backspace"
            size="small"
            color="grey-darken-2"
            @click="filtroDataFim = null"
          />
        </div>
        <v-divider />
        <InputData
          v-model="filtroDataFim"
          @update:model-value="onUpdateUpdateDebounce"
          class="mb-4"
        />
        <!-- TEMA / PUBLICO -->
        <MapaBuscaAvancadaFiltrosOpcoesAcoes
          v-model="filtroOpcoesAcoes"
          @update:model-value="onUpdateUpdateDebounce"
          class="mb-4"
        />
        <!-- LOCALIDADE -->
        <div class="d-flex justify-space-between align-center my-2">
          <div class="text-body-1 font-weight-medium">Localidade</div>
          <v-icon
            v-if="!!filtroLocalidade.localidade"
            icon="mdi-backspace"
            size="small"
            color="grey-darken-2"
            @click="mapaBuscaAvancadaFiltrosLocalidade?.clear()"
          />
        </div>
        <v-divider />
        <MapaBuscaAvancadaFiltrosLocalidade
          ref="mapaBuscaAvancadaFiltrosLocalidade"
          v-model="filtroLocalidade"
          @update:model-value="onUpdateUpdateDebounce"
        />
      </div>
    </v-col>
    <v-col cols="12" md="8">
      <div>
        <!-- SEARCH BAR -->
        <v-text-field
          v-model="searchModel"
          placeholder="Buscar"
          append-inner-icon="mdi-magnify"
          rounded
          theme="light"
          variant="outlined"
          density="compact"
          hide-details
          :loading="loading"
          @update:model-value="onUpdateSearchDebounce"
          @click:append-inner="onUpdateSearchDebounce(searchModel)"
          clearable
          clear-icon="mdi-backspace"
          class="mb-3"
        />
        <!-- RESULTADOS-->
        <v-list v-if="atividades.length > 0" density="compact" class="py-0">
          <template v-for="atividade in atividades" :key="atividade.id">
            <v-divider class="mx-4" />
            <MapaBuscaAvancadaAcoesListItem :atividade="atividade" />
          </template>
          <v-divider class="mx-4 mb-3" />
        </v-list>
        <!-- TEXTO PADRÃO -->
        <div
          class="d-flex justify-center align-center text-center text-disabled text-body-2"
          v-if="atividades.length === 0 && !avisoNenhumResultado"
        >
          Selecione um filtro ou digite o nome da ação que deseja buscar
        </div>
        <!-- CARREGANDO -->
        <div
          class="d-flex justify-center align-center text-center text-disabled text-body-2"
          v-else-if="loading"
        >
          Carregando...
        </div>
        <!-- NENHUM RESULTADO -->
        <div
          class="d-flex justify-center text-center text-disabled text-body-2"
          v-else-if="avisoNenhumResultado"
        >
          Nenhum resultado encontrado
        </div>
        <!-- BTN CARREGAR MAIS -->
        <div
          class="d-flex justify-center"
          v-if="atividades.length > 0 && !loading"
        >
          <v-btn variant="plain" @click="onCarregarMaisDebounce()">
            Carregar mais resultados
          </v-btn>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref } from "vue";
import MapaBuscaAvancadaFiltrosOpcoesAcoes from "./MapaBuscaAvancadaFiltrosOpcoesAcoes.vue";
import MapaBuscaAvancadaFiltrosLocalidade from "./MapaBuscaAvancadaFiltrosLocalidade.vue";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { debounce } from "lodash";
import InputData from "@/components/input/InputData.vue";
import MapaBuscaAvancadaAcoesListItem from "./MapaBuscaAvancadaAcoesListItem.vue";
import { AtividadeCompleta } from "@/requester/atividades.requester";

// DATA

const mapaBuscaAvancadaFiltrosLocalidade = ref();

const SEARCH_BAR_DEBOUNCE_TIME = 500;

const searchModel = ref("");
const loading = ref(false);
const atividades = ref<AtividadeCompleta[]>([]);
const limit = ref(10);
const avisoNenhumResultado = ref(false);

const filtroDataInicio = ref<string | null>(null);
const filtroDataFim = ref<string | null>(null);
const filtroOpcoesAcoes = ref<{ opcoesIds: number[] }>({ opcoesIds: [] });
const filtroLocalidade = ref<{
  localidade: string | null;
  ufSigla: string[];
  municipioCodigo: string[];
}>({
  localidade: null,
  ufSigla: [],
  municipioCodigo: [],
});

// METHODS

const onUpdateUpdateDebounce = debounce(function () {
  loading.value = true;
  avisoNenhumResultado.value = false;
  limit.value = 10;
  buscaAvancada({ q: searchModel.value, limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

const onCarregarMaisDebounce = debounce(function () {
  loading.value = true;
  limit.value += 10;
  avisoNenhumResultado.value = false;
  buscaAvancada({ q: searchModel.value, limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

const onUpdateSearchDebounce = debounce(function (search: string) {
  loading.value = true;
  limit.value = 10;
  avisoNenhumResultado.value = false;
  buscaAvancada({ q: search || "", limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

// METHODS
async function buscaAvancada(options: {
  q: string;
  limit?: number;
  offset?: number;
}) {
  const q = options?.q?.trim()?.toLowerCase() || "";
  const params = {
    q,
    ...(filtroDataInicio.value
      ? { datetimeInicio: filtroDataInicio.value }
      : {}),
    ...(filtroDataFim.value ? { datetimeFim: filtroDataFim.value } : {}),
    ...(filtroOpcoesAcoes.value?.opcoesIds?.length > 0
      ? { opcoesIds: filtroOpcoesAcoes.value.opcoesIds }
      : {}),
    ...(filtroLocalidade.value?.ufSigla?.length > 0
      ? { ufSigla: filtroLocalidade.value.ufSigla }
      : {}),
    ...(filtroLocalidade.value?.municipioCodigo?.length > 0
      ? { municipioCodigo: filtroLocalidade.value.municipioCodigo }
      : {}),
    limit: options.limit > 0 ? options.limit : 30,
    offset: options.offset > 0 ? options.offset : 0,
  };
  try {
    atividades.value = await requester.atividades.buscaAvancada(params);
    if (atividades.value.length === 0) {
      avisoNenhumResultado.value = true;
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
