<template>
  <div v-show="modelValue" class="w-100 bg-white">
    <template v-if="entity">
      <div class="d-flex flex-column">
        <!-- HEADER -->
        <div class="d-flex flex-column">
          <div class="d-flex justify-space-between align-center pl-3">
            <v-chip
              size="small"
              :color="getBaseProperty('color')"
              :prepend-icon="getBaseProperty('icon')"
            >
              {{ getBaseProperty("titleSingular") || getBaseProperty("title") }}
            </v-chip>
            <v-btn
              size="small"
              class="ma-0"
              variant="text"
              color="neutral-darken-2"
              icon="mdi-close"
              @click="updateModelValue(false)"
            />
          </div>
          <div class="px-3">
            <div class="mb-2">
              <span
                class="text-truncate text-body-1 font-weight-medium mr-2"
                :title="entity.nome"
                :style="`display: inline-block; max-width: ${
                  Number(width) - 24
                }px`"
              >
                {{ entity.nome }}
              </span>
            </div>
            <v-divider class="mb-2" />
          </div>
        </div>
        <!-- CONTENT -->
        <div class="py-2 px-3">
          <!-- SCROLLABLE CONTENT -->
          <div
            class="fill-height"
            style="overflow-y: auto; pointer-events: auto"
          >
            <!-- <BasesEntitySectionsInfo :entity="entity" class="my-2" /> -->
            {{ entity }}
          </div>
        </div>
        <!-- FOOTER -->
        <div class="px-3">
          <v-divider class="mb-2" />
          <div class="d-flex justify-space-between">
            <v-btn variant="outlined" rounded disabled> Compartilhar </v-btn>
            <v-btn variant="flat" rounded color="primary" :to="toDetails" exact>
              Ver mais
            </v-btn>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { ItemSearchResponse } from "@/requester/bases.requester";
import { useBasesStore } from "@/store/bases.store";

// PROPS
export interface Props {
  modelValue: boolean;
  entity?: ItemSearchResponse | null;
  width?: number;
}
const props = withDefaults(defineProps<Props>(), {
  entity: null,
  width: 420,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

// DATA

const basesStore = useBasesStore();

const base = computed(() =>
  basesStore.bases.find((b) => b.uri === props.entity.base_uri)
);

const toDetails = computed(() => ({
  name: "EntidadesInicio",
  params: {
    baseUri: props.entity.base_uri,
    pk: props.entity.pk,
  },
}));

// METHODS

function getBaseProperty(property: string) {
  return base.value?.[property] || base.value?.category?.[property];
}
</script>
