<template>
  <div class="d-flex flex-column align-end children-pointer-events-all">
    <v-btn
      v-if="!expand"
      prepend-icon="mdi-layers"
      append-icon="mdi-chevron-down"
      @click="expand = true"
      rounded
    >
      Camadas
    </v-btn>
    <v-card
      flat
      border
      v-if="!expand && basesStore.bases.filter((b) => b.checked).length > 0"
      class="bg-neutral-lighten-5 pa-1 text-caption rounded mt-1 elevate-3"
      style="opacity: 0.9; font-size: x-small !important; min-width: 152.917px"
    >
      <div
        v-for="base in basesStore.bases.filter((b) => b.checked)"
        :key="base.uri"
      >
        <div class="d-flex align-center">
          <v-icon
            :icon="base.icon || base.category.icon"
            size="x-small"
            start
            :color="base.checked ? base.color || base.category.color : 'grey'"
          />
          <span :class="`text-${base.color || base.category.color}-darken-4`">
            {{ base.title }}
          </span>
        </div>
      </div>
    </v-card>
  </div>
  <v-card
    v-show="expand"
    rounded
    style="
      max-height: 400px;
      min-width: 250px;
      border-radius: 1em;
      overflow-y: scroll;
    "
  >
    <div class="d-flex flex-column h-100 children-pointer-events-all">
      <div class="flex-grow-0 flex-shrink-0">
        <div
          class="d-flex justify-space-between align-center w-100 px-3 cursor-pointer"
          @click="expand = false"
        >
          <div class="d-flex align-center">
            <v-icon icon="mdi-layers" size="small" start />
            <span class="text-button">Camadas</span>
          </div>
          <v-icon icon="mdi-chevron-up" size="small" end />
        </div>
        <v-divider />
      </div>
      <div class="flex-grow-1 flex-shrink-1 overflow-y-scroll text-caption">
        <div
          v-for="(item, categoryType) in basesStore.categoriesGrouped"
          :key="categoryType"
        >
          <div class="bg-neutral-lighten-4 py-1 pl-3">
            <span class="text-neutral-darken-4">{{ categoryType }}</span>
          </div>
          <v-divider />
          <div v-for="category in item.categories" :key="category.uri">
            <div
              class="d-flex align-center w-100 cursor-pointer py-1 px-3"
              @click="category.opened = !category.opened"
            >
              <v-icon
                :icon="`mdi-menu-${category.opened ? 'down' : 'right'}`"
                size="small"
                start
                :color="category.opened ? '' : 'grey'"
              />
              <span
                :class="`text-caption text-${
                  category.bases.filter((b) => b.checked).length > 0
                    ? 'high'
                    : 'medium'
                }-emphasis`"
              >
                <span> {{ category.name }}</span>
                <span v-if="category.bases.filter((b) => b.checked).length > 0">
                  ({{ category.bases.filter((b) => b.checked).length }})
                </span>
              </span>
            </div>
            <v-divider />
            <v-expand-transition>
              <div v-show="category.opened">
                <div v-for="base in category.bases" :key="base.uri">
                  <div
                    class="d-flex align-center justify-space-between w-100 cursor-pointer pl-6 pr-3 py-1"
                    @click="checkBase(base.uri)"
                  >
                    <div class="d-flex align-center">
                      <v-icon
                        :icon="base.icon || category.icon"
                        size="x-small"
                        start
                        :color="
                          base.checked ? base.color || category.color : 'grey'
                        "
                      />
                      <span
                        :class="`text-caption ${
                          base.checked
                            ? `font-weight-medium text-${
                                base.color || category.color
                              }-darken-4`
                            : 'text-medium-emphasis font-weight-regular text-caption'
                        }`"
                      >
                        {{ base.title }}
                      </span>
                    </div>
                    <v-icon
                      :icon="`mdi-checkbox-${
                        base.checked ? 'marked' : 'blank-outline'
                      }`"
                      size="small"
                      end
                      :color="
                        base.checked ? base.color || category.color : 'grey'
                      "
                    />
                  </div>
                </div>
                <v-divider />
              </div>
            </v-expand-transition>
          </div>
        </div>
      </div>
    </div>
  </v-card>
</template>

<script setup lang="ts">
import { inject, Ref, ref } from "vue";
import { useBasesStore } from "@/store/bases.store";
import { Map } from "leaflet";

// DATA

const map = inject<Ref<Map>>("map");
const geojson = ref<GeoJSON.Feature>(inject("geojson"));

const expand = ref(false);

const basesStore = useBasesStore();

function checkBase(baseUri: string) {
  const base = basesStore.checkBase(baseUri);
  if (!base) return;
  if (base.checked) {
    if (geojson.value) {
      base.polygonTileLayer.addTo(map.value);
    } else {
      base.wmsTileLayer.addTo(map.value);
    }
    return;
  }
  if (geojson.value) {
    base.polygonTileLayer.removeFrom(map.value);
  } else {
    base.wmsTileLayer.removeFrom(map.value);
  }
}
</script>
