<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
  >
    <v-card>
      <v-card-title>
        <div class="d-flex justify-space-between align-center w-100">
          <div class="d-flex align-cnter">
            <v-icon icon="mdi-magnify" start />
            <span>Busca Avançada</span>
          </div>
          <v-icon
            icon="mdi-close"
            size="small"
            @click="updateModelValue(false)"
          />
        </div>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <MapaBuscaAvancadaForm @close-dialog="updateModelValue(false)" />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { inject, provide, ref } from "vue";
import MapaBuscaAvancadaForm from "./MapaBuscaAvancadaForm.vue";

// DATA

const geojson = ref<GeoJSON.Feature>(inject("geojson"));
provide("geojson", geojson);
const boundaryInfo = ref(inject("boundaryInfo"));
provide("boundaryInfo", boundaryInfo);

// PROPS
export interface Props {
  modelValue?: boolean;
  width?: number;
}
withDefaults(defineProps<Props>(), {
  modelValue: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", value: boolean): void;
}>();

// METHODS
function updateModelValue(value: boolean) {
  emit("update:model-value", value);
}
</script>
