<template>
  <div>
    <!-- UF -->
    <div class="text-body-1 font-weight-medium my-2">Unidade Federativa</div>
    <div>
      <v-autocomplete
        v-model="form.uf"
        :items="itemsUfs"
        placeholder="Selecionar UF"
        density="comfortable"
        variant="outlined"
        :loading="loading.uf"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection="{ item }"> {{ item.title }} </template>
      </v-autocomplete>
    </div>
    <!-- MUNICIPIO -->
    <div v-if="form.uf">
      <div class="text-body-1 font-weight-medium my-2">Município</div>
      <v-autocomplete
        v-model="form.municipio"
        :items="itemsMunicipios"
        placeholder="Selecionar município"
        density="comfortable"
        variant="outlined"
        :loading="loading.municipio"
        :custom-filter="customFilter"
        hide-details
      >
        <template v-slot:selection="{ item }"> {{ item.title }} </template>
      </v-autocomplete>
    </div>
    <!-- DIVISOES ADMINISTRATIVAS -->
    <div v-if="form.municipio">
      <div class="text-body-1 font-weight-medium my-2">
        Divisão Administrativa
      </div>
      <div v-if="loading.divisaoAdministrativa">
        <div class="text-body-1 font-weight-light my-2">Carregando...</div>
      </div>
      <div v-if="!loading.divisaoAdministrativa">
        <!-- RADIO GROUP -->
        <v-radio-group
          v-model="selectedDivisao"
          class="text-body-1 font-weight-medium my-2"
        >
          <v-radio
            label="Distrito"
            value="distrito"
            :disabled="!hasContent.distritos"
          ></v-radio>
          <v-radio
            label="Subdistrito"
            value="subdistrito"
            :disabled="!hasContent.subdistritos"
          ></v-radio>
          <v-radio
            label="Bairro"
            value="bairro"
            :disabled="!hasContent.bairros"
          ></v-radio>
        </v-radio-group>
        <!-- DISTRITO -->
        <div v-if="form.municipio && selectedDivisao === 'distrito'">
          <div class="text-body-1 font-weight-medium my-2">Distrito</div>
          <v-autocomplete
            v-model="form.distrito"
            :items="itemsDistritos"
            placeholder="Selecionar distrito"
            density="comfortable"
            variant="outlined"
            :loading="loading.divisaoAdministrativa"
            :custom-filter="customFilter"
            hide-details
          >
            <template v-slot:selection="{ item }"> {{ item.title }} </template>
          </v-autocomplete>
        </div>
        <!-- SUBDISTRITO -->
        <div v-if="form.municipio && selectedDivisao === 'subdistrito'">
          <div class="text-body-1 font-weight-medium my-2">Subdistrito</div>
          <v-autocomplete
            v-model="form.subdistrito"
            :items="itemsSubdistritos"
            placeholder="Selecionar subdistrito"
            density="comfortable"
            variant="outlined"
            :loading="loading.divisaoAdministrativa"
            :custom-filter="customFilter"
            hide-details
          >
            <template v-slot:selection="{ item }"> {{ item.title }} </template>
          </v-autocomplete>
        </div>
        <!-- BAIRRO -->
        <div v-if="form.municipio && selectedDivisao === 'bairro'">
          <div class="text-body-1 font-weight-medium my-2">Bairro</div>
          <v-autocomplete
            v-model="form.bairro"
            :items="itemsBairros"
            placeholder="Selecionar bairro"
            density="comfortable"
            variant="outlined"
            :loading="loading.divisaoAdministrativa"
            :custom-filter="customFilter"
            hide-details
          >
            <template v-slot:selection="{ item }"> {{ item.title }} </template>
          </v-autocomplete>
        </div>
      </div>
    </div>
    <div style="height: 8px"></div>
  </div>
</template>

<script setup lang="ts">
import { watch, computed, onMounted, ref } from "vue";
import { deburr } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  modelValue: {
    uf: any;
    municipio: any;
    divisaoAdministrativa: any;
    divisaoAdministrativaTitle: string;
    divisaoAdministrativaSectionId: number;
    base_uri: string;
    pk_id: string;
  };
}
defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (
    e: "update:model-value",
    value: {
      uf: any | null;
      municipio: any | null;
      divisaoAdministrativa: any | null;
      divisaoAdministrativaTitle: string | null;
      divisaoAdministrativaSectionId: number | null;
      base_uri: string | null;
      pk_id: string | null;
    }
  ): void;
}>();

// DATA

const loading = ref({
  uf: false,
  municipio: false,
  divisaoAdministrativa: false,
});

const form = ref({
  uf: null,
  municipio: null,
  distrito: null,
  subdistrito: null,
  bairro: null,
});

const itemsMunicipios = ref([]);
const itemsUfs = ref([]);
const itemsDistritos = ref([]);
const itemsSubdistritos = ref([]);
const itemsBairros = ref([]);
const divisaoAdministrativaTitle = ref("");
const divisaoAdministrativaSectionId = ref(null);
const divisaoColumnPk = ref(null);
const selectedDivisao = ref("distrito");
const hasContent = ref({
  distritos: false,
  subdistritos: false,
  bairros: false,
});

const computedModelValue = computed(() => {
  if (form.value.distrito) {
    return getDivisaoAdministrativaModel(
      form.value.distrito,
      itemsDistritos.value,
      import.meta.env.VITE_DEFAULT_DISTRITOS_BASE_NAME || "distritos"
    );
  } else if (form.value.subdistrito) {
    return getDivisaoAdministrativaModel(
      form.value.subdistrito,
      itemsSubdistritos.value,
      import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BASE_NAME || "subdistritos"
    );
  } else if (form.value.bairro) {
    return getDivisaoAdministrativaModel(
      form.value.bairro,
      itemsBairros.value,
      import.meta.env.VITE_DEFAULT_BAIRROS_BASE_NAME || "bairros"
    );
  } else if (form.value.municipio) {
    return {
      uf: form.value.uf,
      municipio: form.value.municipio,
      divisaoAdministrativa: null,
      divisaoAdministrativaTitle: null,
      divisaoAdministrativaSectionId: null,
      base_uri:
        import.meta.env.VITE_DEFAULT_MUNICIPIOS_BASE_NAME || "municipios",
      pk_id: form.value.municipio.id,
    };
  } else if (form.value.uf) {
    return {
      uf: form.value.uf,
      municipio: null,
      divisaoAdministrativa: null,
      divisaoAdministrativaTitle: null,
      divisaoAdministrativaSectionId: null,
      base_uri: import.meta.env.VITE_DEFAULT_UFS_BASE_NAME || "ufs",
      pk_id: form.value.uf.id,
    };
  } else {
    return {
      uf: form.value.uf,
      municipio: null,
      divisaoAdministrativa: null,
      divisaoAdministrativaTitle: null,
      divisaoAdministrativaSectionId: null,
      base_uri: null,
      pk_id: null,
    };
  }
});

// WATCH

watch(
  () => computedModelValue.value,
  (newVal) => emit("update:model-value", newVal)
);

watch(
  () => form.value.uf,
  (newUf) => {
    if (newUf) {
      getMunicipios();
    } else {
      form.value.municipio = null;
      form.value.distrito = null;
      form.value.subdistrito = null;
      form.value.bairro = null;
      itemsMunicipios.value = [];
      itemsDistritos.value = [];
      itemsSubdistritos.value = [];
      itemsBairros.value = [];
    }
  }
);

watch(
  () => form.value.municipio,
  (newMunicipio) => {
    if (newMunicipio) {
      getDivisoesAdministrativas();
    } else {
      form.value.distrito = null;
      form.value.subdistrito = null;
      form.value.bairro = null;
      itemsDistritos.value = [];
      itemsSubdistritos.value = [];
      itemsBairros.value = [];
    }
  }
);

watch(
  () => form.value.distrito,
  async (newDistrito) => {
    if (newDistrito) {
      form.value.subdistrito = null;
      form.value.bairro = null;
      const base = await requester.bases.findOne(
        import.meta.env.VITE_DEFAULT_DISTRITOS_BASE_NAME || "distritos"
      );
      divisaoColumnPk.value = base?.columnPk;
    } else {
      divisaoColumnPk.value = null;
    }
    divisaoAdministrativaTitle.value = newDistrito?.title;
    divisaoAdministrativaSectionId.value = newDistrito?.sectionId;
  }
);

watch(
  () => form.value.subdistrito,
  async (newSubdistrito) => {
    if (newSubdistrito) {
      form.value.distrito = null;
      form.value.bairro = null;
      const base = await requester.bases.findOne(
        import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BASE_NAME || "subdistritos"
      );
      divisaoColumnPk.value = base?.columnPk;
    } else {
      divisaoColumnPk.value = null;
    }
    divisaoAdministrativaTitle.value = newSubdistrito?.title;
    divisaoAdministrativaSectionId.value = newSubdistrito?.sectionId;
  }
);

watch(
  () => form.value.bairro,
  async (newBairro) => {
    if (newBairro) {
      form.value.distrito = null;
      form.value.subdistrito = null;
      const base = await requester.bases.findOne(
        import.meta.env.VITE_DEFAULT_BAIRROS_BASE_NAME || "bairros"
      );
      divisaoColumnPk.value = base?.columnPk;
    } else {
      divisaoColumnPk.value = null;
    }
    divisaoAdministrativaTitle.value = newBairro?.title;
    divisaoAdministrativaSectionId.value = newBairro?.sectionId;
  }
);

// ON MOUNTED
onMounted(() => {
  getUfs();
});

// EXPOSED METHODS
defineExpose({
  clear: () => {
    form.value.uf = null;
    form.value.municipio = null;
    form.value.distrito = null;
    form.value.subdistrito = null;
    form.value.bairro = null;
  },
});

// METHODS
const customFilter = (a: string, b: string) =>
  deburr(a.toLowerCase()).localeCompare(deburr(b.toLowerCase()));

function getDivisaoAdministrativaModel(div, items, base_uri) {
  return {
    uf: form.value.uf,
    municipio: form.value.municipio,
    divisaoAdministrativa: div,
    divisaoAdministrativaTitle: div
      ? items.find((item) => item.value === div)?.title
      : null,
    divisaoAdministrativaSectionId: div
      ? items.find((item) => item.value === div)?.sectionId
      : null,
    base_uri: base_uri,
    pk_id: div && divisaoColumnPk.value ? div[divisaoColumnPk.value] : null,
  };
}

async function getUfs() {
  loading.value.uf = true;
  try {
    const responseData = await requester.external.localidadesIbge.ufs();
    itemsUfs.value = responseData.map((uf) => ({
      title: `${uf.sigla} - ${uf.nome}`,
      value: uf,
    }));
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.uf = false;
  }
}

async function getMunicipios() {
  form.value.municipio = null;

  if (!form.value.uf) {
    itemsMunicipios.value = [];
    return;
  }

  loading.value.municipio = true;
  try {
    const responseData = await requester.external.localidadesIbge.municipios();
    itemsMunicipios.value = responseData
      .filter(
        (municipio) =>
          municipio.microrregiao.mesorregiao.UF.sigla === form.value.uf.sigla
      )
      .map((municipio) => ({
        title: `${municipio.nome} - ${municipio.microrregiao.mesorregiao.UF.sigla}`,
        value: municipio,
      }));
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.municipio = false;
  }
}

async function getDivisoesAdministrativas() {
  form.value.distrito = null;
  form.value.subdistrito = null;
  form.value.bairro = null;

  if (!form.value.uf || !form.value.municipio) {
    itemsDistritos.value = [];
    itemsSubdistritos.value = [];
    itemsBairros.value = [];
    return;
  }

  loading.value.divisaoAdministrativa = true;

  try {
    const hierarchies =
      await requester.dataPipeline.boundariesHierarchies.findOne(
        import.meta.env.VITE_DEFAULT_BOUNDARY_HIERARCHY || "malha_censo_ibge"
      );
    //Distritos
    await loadDivisaoAdministrativa(
      hierarchies,
      import.meta.env.VITE_DEFAULT_DISTRITOS_BOUNDARY_NAME || "Distritos",
      itemsDistritos
    );
    //SudDistritos
    await loadDivisaoAdministrativa(
      hierarchies,
      import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BOUNDARY_NAME || "Subdistritos",
      itemsSubdistritos
    );
    //Bairros
    await loadDivisaoAdministrativa(
      hierarchies,
      import.meta.env.VITE_DEFAULT_BAIRROS_BOUNDARY_NAME || "Bairros",
      itemsBairros
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    hasContent.value.distritos = itemsDistritos.value.length > 0;
    hasContent.value.subdistritos = itemsSubdistritos.value.length > 0;
    hasContent.value.bairros = itemsBairros.value.length > 0;
    //Use smallest present division as initial selected
    switch (true) {
      case hasContent.value.bairros:
        selectedDivisao.value = "bairro";
        break;
      case hasContent.value.subdistritos:
        selectedDivisao.value = "subdistrito";
        break;
      case hasContent.value.distritos:
        selectedDivisao.value = "distrito";
        break;
      default:
        selectedDivisao.value = "distrito";
    }
    loading.value.divisaoAdministrativa = false;
  }
}

async function loadDivisaoAdministrativa(hierarchies, div_name, items) {
  try {
    const boundary = hierarchies.boundaries.find(
      (divisao) => divisao.name === div_name
    );
    items.value = [];
    var data = boundary.sectionId
      ? await requester.dataPipeline.datasets.findSectionData(
          boundary.sectionId
        )
      : null;
    if (data) {
      for (const item of data.results) {
        // It is expected that every item from a divisao administrativa has a cd_mun attribute
        if (
          parseInt(item.cd_mun) === parseInt(form.value.municipio.id) &&
          item[boundary.boundaryNameAttribute] &&
          // It is known that several subdistritos have empty names,
          // when they are just "replicas" of the correspondent distrito.
          // We don't want those to be shown
          item[boundary.boundaryNameAttribute] !== ""
        ) {
          items.value.push({
            title: item[boundary.boundaryNameAttribute],
            value: item,
            sectionId: boundary.sectionId,
          });
        }
      }
    }
    items.value.sort((a, b) => a.title.localeCompare(b.title));
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
