<template>
  <v-row>
    <v-col cols="12" md="4">
      <div class="py-1 px-3" style="border: 1pt solid #ccc; border-radius: 1em">
        <div class="text-body-1 font-weight-medium my-2">Categoria</div>
        <v-divider />
        <MapaBuscaAvancadaFiltrosCategoria
          v-model="filtroCategoria"
          @update:model-value="onUpdateFiltroCategoriaDebounce"
          class="mb-4"
        />
        <div class="text-body-1 font-weight-medium my-2">Localidade</div>
        <v-divider />
        <MapaBuscaAvancadaFiltrosLocalidade
          v-model="filtroLocalidade"
          @update:model-value="onUpdateFiltroLocalidadeDebounce"
        />
      </div>
    </v-col>
    <v-col cols="12" md="8">
      <div>
        <!-- SEARCH BAR -->
        <v-text-field
          v-model="searchModel"
          placeholder="Buscar"
          append-inner-icon="mdi-magnify"
          rounded
          theme="light"
          variant="outlined"
          density="compact"
          hide-details
          :loading="loading"
          @update:model-value="onUpdateSearchDebounce"
          @click:append-inner="onUpdateSearchDebounce(searchModel)"
          clearable
          clear-icon="mdi-backspace"
          class="mb-4"
        />
        <!-- RESULTADOS-->
        <v-table
          v-if="responseItems.length > 0"
          density="compact"
          class="text-body-2 mb-3"
          hover
        >
          <tbody>
            <MapaBuscaAvancadaEquipamentosTableRow
              v-for="item in responseItems"
              :key="`${item.base_uri}_${item.pk}`"
              :item="item"
            />
          </tbody>
        </v-table>
        <!-- TEXTO PADRÃO -->
        <div
          class="d-flex justify-center text-center font-italic text-disabled"
          v-if="responseItems.length === 0 && !avisoNenhumResultado"
        >
          Digite o nome do equipamento que deseja buscar
        </div>
        <!-- CARREGANDO -->
        <div
          class="d-flex justify-center text-center font-italic text-disabled"
          v-else-if="loading"
        >
          Carregando...
        </div>
        <!-- NENHUM RESULTADO -->
        <div
          class="d-flex justify-center text-center font-italic text-disabled"
          v-else-if="avisoNenhumResultado"
        >
          Nenhum resultado encontrado
        </div>
        <!-- BTN CARREGAR MAIS -->
        <div
          class="d-flex justify-center"
          v-if="responseItems.length > 0 && !loading"
        >
          <v-btn variant="plain" @click="onCarregarMaisDebounce()">
            Carregar mais resultados
          </v-btn>
        </div>
      </div>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref } from "vue";
import MapaBuscaAvancadaFiltrosCategoria from "./MapaBuscaAvancadaFiltrosCategoria.vue";
import MapaBuscaAvancadaFiltrosLocalidade from "./MapaBuscaAvancadaFiltrosLocalidade.vue";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { ItemSearchResponse } from "@/requester/bases.requester";
import { debounce } from "lodash";
import MapaBuscaAvancadaEquipamentosTableRow from "./MapaBuscaAvancadaEquipamentosTableRow.vue";

// DATA

const SEARCH_BAR_DEBOUNCE_TIME = 500;

const searchModel = ref("");
const loading = ref(false);
const responseItems = ref<ItemSearchResponse[]>([]);
const limit = ref(10);
const avisoNenhumResultado = ref(false);

const filtroCategoria = ref<{ baseUri: string[] }>({ baseUri: [] });
const filtroLocalidade = ref<{
  localidade: string | null;
  ufSigla: string[];
  municipioCodigo: string[];
}>({
  localidade: null,
  ufSigla: [],
  municipioCodigo: [],
});

// METHODS

const onUpdateFiltroCategoriaDebounce = debounce(function () {
  loading.value = true;
  avisoNenhumResultado.value = false;
  limit.value = 10;
  basesBusca({ q: searchModel.value, limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

const onUpdateFiltroLocalidadeDebounce = debounce(function () {
  loading.value = true;
  avisoNenhumResultado.value = false;
  limit.value = 10;
  basesBusca({ q: searchModel.value, limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

const onCarregarMaisDebounce = debounce(function () {
  loading.value = true;
  limit.value += 10;
  avisoNenhumResultado.value = false;
  basesBusca({ q: searchModel.value, limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

const onUpdateSearchDebounce = debounce(function (search: string) {
  loading.value = true;
  limit.value = 10;
  avisoNenhumResultado.value = false;
  basesBusca({ q: search || "", limit: limit.value });
}, SEARCH_BAR_DEBOUNCE_TIME);

// METHODS
async function basesBusca(options: {
  q: string;
  limit?: number;
  offset?: number;
}) {
  const q = options?.q?.trim()?.toLowerCase() || "";
  if (q.length < 3) {
    responseItems.value = [];
    loading.value = false;
    return;
  }
  const params = {
    q,
    ...(filtroCategoria.value?.baseUri?.length > 0
      ? { baseUri: filtroCategoria.value.baseUri }
      : {}),
    ...(filtroLocalidade.value?.ufSigla?.length > 0
      ? { ufSigla: filtroLocalidade.value.ufSigla }
      : {}),
    ...(filtroLocalidade.value?.municipioCodigo?.length > 0
      ? { municipioCodigo: filtroLocalidade.value.municipioCodigo }
      : {}),
    limit: options.limit > 0 ? options.limit : 30,
    offset: options.offset > 0 ? options.offset : 0,
  };
  try {
    responseItems.value = await requester.bases.search(params);
    if (responseItems.value.length === 0) {
      avisoNenhumResultado.value = true;
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
