<template>
  <div class="w-100 children-pointer-events-all">
    <v-menu
      v-model="menuOptions"
      :close-on-content-click="false"
      :open-on-click="false"
      location="bottom left"
    >
      <template v-slot:activator="{ props }">
        <v-text-field
          v-bind="props"
          v-model.trim="searchModel"
          placeholder="Buscar endereço"
          append-inner-icon="mdi-magnify"
          rounded
          theme="light"
          variant="solo"
          density="compact"
          hide-details
          :loading="loading"
          @update:model-value="onUpdateSearchDebounce"
          @click:append-inner="onUpdateSearchDebounce(searchModel)"
          clearable
        >
          <template v-slot:clear="{ props }">
            <v-icon
              size="small"
              icon="mdi-backspace"
              v-bind="props"
              class="mx-1"
            />
          </template>
          <template v-slot:loader="{ isActive }">
            <div class="px-4">
              <v-progress-linear
                v-if="isActive"
                indeterminate
                height="2"
                color="primary"
              />
            </div>
          </template>
        </v-text-field>
      </template>
      <v-list density="compact" rounded class="py-0" style="max-height: 300px">
        <v-list-item
          v-if="responseItems.length === 0"
          class="my-1 cursor-default"
          @click="menuOptions = false"
          disabled
        >
          <v-list-item-title class="text-body-2 font-weight-light">
            Nenhum resultado encontrado
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-for="(item, index) in responseItems"
          class="my-1"
          :key="index"
          @click="selectOption(item)"
        >
          <v-list-item-title class="text-body-2">
            {{ item.title }}
          </v-list-item-title>
          <v-list-item-subtitle
            v-if="item.value.address?.road !== item.title"
            class="text-caption text-medium-emphasis pb-1"
          >
            {{ item.value.address?.road }}
          </v-list-item-subtitle>
          <v-list-item-subtitle
            v-else-if="
              item.value.address?.neighbourhood || item.value.address?.suburb
            "
            class="text-caption text-medium-emphasis pb-1"
          >
            {{
              item.value.address?.neighbourhood || item.value.address?.suburb
            }}
          </v-list-item-subtitle>
          <v-list-item-subtitle class="text-caption">
            {{
              item.value?.address?.city ? `${item.value?.address?.city}, ` : ""
            }}{{ item.value?.address?.state }}
          </v-list-item-subtitle>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { LatLng } from "leaflet";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  modelValue: any | null;
  latLng?: LatLng | null;
}
withDefaults(defineProps<Props>(), {
  latLng: null,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", item: any): void;
  (e: "update:loading", value: Boolean): void;
}>();

// EXPOSED METHODS
defineExpose({
  clear: () => {
    menuOptions.value = false;
    searchModel.value = "";
    responseItems.value = [];
  },
});

// DATA

const SEARCH_BAR_DEBOUNCE_TIME = 500;

const menuOptions = ref(false);

const loading = ref(false);
const searchModel = ref("");
const responseItems = ref<any[]>([]);

// METHODS

function selectOption(item: any) {
  emit("update:model-value", item.value);
  searchModel.value = "";
  menuOptions.value = false;
}

const onUpdateSearchDebounce = debounce(function (search: string) {
  loading.value = true;
  nominatim({ q: search });
}, SEARCH_BAR_DEBOUNCE_TIME);

async function nominatim(options: {
  q: string;
  lat?: number;
  lng?: number;
  bbox?: string;
  limit?: number;
}) {
  const params = {
    q: options.q?.trim()?.toLowerCase() || "",
    ...(options.lat ? { lat: options.lat } : {}),
    ...(options.lng ? { lon: options.lng } : {}),
    ...(options.bbox ? { bbox: options.bbox } : {}),
    limit: options.limit > 0 ? options.limit : 10,
  };
  if (params.q.length < 3) {
    responseItems.value = [];
    loading.value = false;
    return;
  }
  try {
    const responseData = await requester.external.nominatim.search(params);
    responseItems.value = (responseData || []).map((el) => ({
      title: el.name || el.address?.road,
      value: el,
    }));
    menuOptions.value = true;
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
