<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
  >
    <v-card> </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
// PROPS
export interface Props {
  modelValue?: boolean;
  width?: number;
}
withDefaults(defineProps<Props>(), {
  modelValue: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", value: boolean): void;
}>();

// METHODS
function updateModelValue(value: boolean) {
  emit("update:model-value", value);
}
</script>
