<template>
  <v-card-text>
    <div
      v-if="loading.entornoEntidadesBases"
      class="d-flex justify-center align-center py-4"
    >
      <v-progress-circular indeterminate color="primary" />
    </div>
    <div v-for="(bases, category) in results" :key="category" flat class="mb-4">
      <div class="text-body-2 font-weight-light text-medium-emphasis mb-2">
        <span>{{ bases[0].category.name }}</span>
      </div>
      <v-card
        v-for="base in bases"
        :key="base.uri"
        variant="outlined"
        color="neutral-lighten-4"
        class="mb-2"
        rounded
      >
        <v-card flat>
          <v-card-title
            class="bg-neutral-lighten-4 cursor-pointer"
            @click="toggleBase(base.uri)"
          >
            <div class="d-flex justify-space-between align-center">
              <div
                class="d-flex align-center text-body-1 text-neutral-darken-4 font-weight-medium"
              >
                <v-icon
                  :icon="base.icon || base.category.icon"
                  start
                  size="small"
                  color="neutral-darken-2"
                />
                <span> {{ base.title }} </span>
                <span class="text-disabled ml-1">
                  ({{ base.items.length }})
                </span>
              </div>
              <v-icon color="neutral-darken-2" icon="mdi-chevron-down" />
            </div>
          </v-card-title>
          <v-expand-transition>
            <div v-show="opened.includes(base.uri)">
              <v-divider />
              <v-list>
                <template
                  v-for="item in sortBy(base.items, ['distance_km'])"
                  :key="item.pk"
                >
                  <v-list-item
                    :to="{
                      name: 'EntidadesInicio',
                      params: { baseUri: item.base_uri, pk: item.pk },
                    }"
                    exact
                    class="py-2"
                  >
                    <v-list-item-title class="text-body-2">
                      {{ item.nome }}
                    </v-list-item-title>
                    <v-list-item-subtitle class="text-caption">
                      <div class="d-flex justify-space-between">
                        <div>{{ item.descricao }}</div>
                        <div v-if="item.distance_km > 0" class="text-no-wrap">
                          <template v-if="item.distance_km < 1">
                            {{ (item.distance_km * 1000).toFixed(0) }} m
                          </template>
                          <template v-else>
                            {{ item.distance_km.toFixed(1) }} km
                          </template>
                        </div>
                      </div>
                    </v-list-item-subtitle>
                  </v-list-item>
                </template>
              </v-list>
            </div>
          </v-expand-transition>
        </v-card>
      </v-card>
    </div>
  </v-card-text>
</template>

<script setup lang="ts">
import { computed, inject, ref, Ref } from "vue";
import { BaseCompleto, ItemSearchResponse } from "@/requester/bases.requester";
import { useBasesStore } from "@/store/bases.store";
import { groupBy, sortBy } from "lodash";

// DATA

const basesStore = useBasesStore();

const base = inject<Ref<BaseCompleto>>("base");

const entidade = inject<Ref<any>>("entidade");
const entidadePk = computed(() => entidade.value?.[base.value.columnPk]);

const entornoEntidadesBases = inject<Ref<ItemSearchResponse[]>>(
  "entornoEntidadesBases"
);
const loading = inject<
  Ref<{
    entidade: boolean;
    entornoGeojsonSetores: boolean;
    entornoEntidadesBases: boolean;
  }>
>("loading");

const opened = ref<string[]>([]);

const results = computed(() => {
  const bases = basesStore.bases
    .map((b) => ({
      ...b,
      items: entornoEntidadesBases.value.filter((item) => {
        if (
          item.base_uri === base.value.uri &&
          String(item.pk) === String(entidadePk.value)
        ) {
          return false;
        }
        return item.base_uri === b.uri;
      }),
    }))
    .filter((b) => b.items.length > 0);
  return groupBy(bases, (b) => b.baseCategoryUri);
});

// METHODS

function toggleBase(baseUri: string) {
  if (opened.value.includes(baseUri)) {
    opened.value.splice(
      opened.value.findIndex((bu) => bu === baseUri),
      1
    );
  } else {
    opened.value.push(baseUri);
  }
}
</script>
