<template>
  <v-card-text>
    <EntidadesFicha size="regular" />
  </v-card-text>
</template>

<script setup lang="ts">
import EntidadesFicha from "@/components/entidades/EntidadesFicha.vue";
</script>
