<template>
  <v-card-text>
    <PaginaEmConstrucao />
    <h2 class="text-h6">Exemplos:</h2>
    <v-row align="center" justify="space-around">
      <v-col cols="12" lg="6">
        <ChartsPiramideEtaria v-bind="entorno.piramideEtaria" />
      </v-col>
      <v-col cols="12" lg="3">
        <ChartsRacaCorIbge v-bind="entorno.racaCorIbge" />
      </v-col>
    </v-row>
  </v-card-text>
</template>

<script setup lang="ts">
import PaginaEmConstrucao from "@/components/PaginaEmConstrucao.vue";
import ChartsPiramideEtaria from "@/components/charts/ChartsPiramideEtaria.vue";
import ChartsRacaCorIbge from "@/components/charts/ChartsRacaCorIbge.vue";

import { ref } from "vue";

const entorno = ref({
  piramideEtaria: {
    labels: [
      "100+",
      "90-99",
      "80-89",
      "70-79",
      "60-69",
      "50-59",
      "40-49",
      "30-39",
      "20-29",
      "10-19",
      "0-9",
    ],
    datasets: [
      {
        label: "Homens (População residente)",
        stack: "entorno",
        side: "left" as "left" | "right",
        data: [5, 125, 575, 775, 1350, 2400, 2500, 2100, 1950, 1750, 1500].map(
          (v) => Math.round((0.825 + Math.random() / 4) * v)
        ),
        color: "#2196F3",
      },
      {
        label: "Mulheres (População residente)",
        stack: "entorno",
        side: "right" as "left" | "right",
        data: [10, 175, 750, 875, 1450, 2500, 2700, 2300, 2150, 1950, 1600].map(
          (v) => Math.round((0.825 + Math.random() / 4) * v)
        ),
        color: "#404FB4",
      },
    ],
  },
  racaCorIbge: {
    labels: ["Amarela", "Branca", "Indígena", "Parda", "Preta"],
    datasets: [
      {
        label: "População residente",
        data: [0.5, 44, 0.5, 45, 10],
        backgroundColor: [
          "#007DBC",
          "#F2AC63",
          "#6C2D9B",
          "#19C9A4",
          "#ED004B",
        ],
        hoverOffset: 4,
      },
    ],
  },
});
</script>
