<template>
  <TheNavbar />
  <v-main class="bg-neutral-lighten-4 mb-4">
    <AgentesColetivosBannerMap v-if="agenteColetivo" />
    <v-container>
      <v-row>
        <v-col cols="12" lg="3" xl="2" style="height: 100%">
          <v-card rounded class="fill-height" style="border-radius: 1em">
            <AgentesColetivosNavigationItems />
          </v-card>
        </v-col>
        <v-col cols="12" lg="9" xl="10" style="height: 100%">
          <v-card rounded style="border-radius: 1em">
            <!-- ROUTER-VIEW -->
            <router-view v-if="agenteColetivo" />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
  <FooterDefault />
</template>

<script setup lang="ts">
import { onMounted, provide, ref } from "vue";
import { useRoute } from "vue-router";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import AgentesColetivosBannerMap from "@/components/agentes-coletivos/AgentesColetivosBannerMap.vue";
import AgentesColetivosNavigationItems from "@/components/agentes-coletivos/AgentesColetivosNavigationItems.vue";
import TheNavbar from "@/components/TheNavbar.vue";
import FooterDefault from "@/components/FooterDefault.vue";

// DATA

const route = useRoute();
const agenteColetivoId = Number(route.params.id);

const loading = ref({
  agenteColetivo: true,
});
const agenteColetivo = ref(null);
provide("agenteColetivo", agenteColetivo);

// ON MOUNTED
onMounted(() => {
  getAgenteColetivoCompleto();
});

// METHODS

async function getAgenteColetivoCompleto() {
  loading.value.agenteColetivo = true;
  try {
    agenteColetivo.value = await requester.agentesColetivos.findOne(
      agenteColetivoId
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.agenteColetivo = false;
  }
}
</script>
