<template>
  <TheNavbar />
  <v-main class="bg-neutral-lighten-4 mb-4">
    <router-view />
  </v-main>
  <FooterDefault />
</template>

<script lang="ts" setup>
import FooterDefault from "@/components/FooterDefault.vue";
import TheNavbar from "@/components/TheNavbar.vue";
</script>
