<template>
  <TheNavbar />
  <v-main class="bg-neutral-lighten-4 mb-4">
    <UsuariosBannerMap v-if="usuarioCompleto" />
    <v-container>
      <v-row>
        <v-col cols="12" lg="3" xl="2" style="height: 100%">
          <v-card rounded class="fill-height" style="border-radius: 1em">
            <UsuariosNavigationItems />
          </v-card>
        </v-col>
        <v-col cols="12" lg="9" xl="10" style="height: 100%">
          <v-card v-if="!loading.meuPerfil" rounded style="border-radius: 1em">
            <v-sheet
              v-if="showInfoPerfil"
              :color="
                usuarioCompleto?.agenteIndividual?.agente?.perfilPublico
                  ? 'success'
                  : 'error'
              "
              class="d-flex align-center py-1 pl-4"
            >
              <v-icon
                :icon="
                  usuarioCompleto?.agenteIndividual?.agente?.perfilPublico
                    ? 'mdi-eye'
                    : 'mdi-eye-off'
                "
                size="x-small"
                start
              />
              <span class="text-caption font-weight-medium">
                {{
                  usuarioCompleto?.agenteIndividual?.agente?.perfilPublico
                    ? "PERFIL PÚBLICO"
                    : "PERFIL PRIVADO"
                }}
              </span>
            </v-sheet>
            <!-- ROUTER-VIEW -->
            <router-view v-if="usuarioCompleto" />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
  <FooterDefault />
</template>

<script setup lang="ts">
import FooterDefault from "@/components/FooterDefault.vue";
import TheNavbar from "@/components/TheNavbar.vue";
import UsuariosBannerMap from "@/components/usuarios/UsuariosBannerMap.vue";
import UsuariosNavigationItems from "@/components/usuarios/UsuariosNavigationItems.vue";
import { emitAlertError } from "@/plugins/eventBus";
import requester from "@/requester";
import { UsuarioCompleto } from "@/requester/usuarios.requester";
import { ref, onMounted, provide, computed } from "vue";
import { useRoute } from "vue-router";

// DATA

const usuarioCompleto = ref<UsuarioCompleto>(null);
provide("usuarioCompleto", usuarioCompleto);
const profileImage = ref(null);
provide("profileImage", profileImage);
const loading = ref({
  meuPerfil: false,
});

const route = useRoute();
const showInfoPerfil = computed(() => {
  switch (route.name) {
    case "UsuariosCadastro":
    case "UsuariosCadastroAtuacao":
    case "UsuariosCadastroIdentificacao":
    case "UsuariosCadastroLocalizacao":
      return true;
    default:
      return false;
  }
});

// ON MOUNTED

onMounted(() => {
  getMeuPerfil();
});

// METHODS

async function getMeuPerfil() {
  loading.value.meuPerfil = true;
  try {
    usuarioCompleto.value = await requester.usuarios.meuPerfil();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.meuPerfil = false;
  }
  try {
    profileImage.value = await requester.usuarios.getIdentificacaoPhoto();
  } catch (err) {
    if (err.response && err.response.status === 404) {
      profileImage.value = "";
    } else {
      emitAlertError(err);
    }
  }
}
</script>
