<template>
  <TheNavbar />
  <v-container class="pt-16">
    <v-tabs color="primary" class="my-2">
      <v-tab
        :to="{
          name: 'BasesStep1',
        }"
        exact
      >
        1-Categoria e Camadas <v-icon icon="mdi-check"></v-icon>
      </v-tab>
      <v-tab
        :to="{
          name: 'BasesStep2',
        }"
        exact
      >
        2-Criação da Base
        <v-icon icon="mdi-alert-circle-check-outline"></v-icon>
      </v-tab>
      <v-tab
        :to="{
          name: 'BasesStep3',
        }"
        exact
      >
        3-Dados da Ficha
      </v-tab>
    </v-tabs>

    <router-view />

    <!-- TABS -->
  </v-container>
</template>
<script lang="ts" setup>
import TheNavbar from "@/components/TheNavbar.vue";
</script>
