<template>
  <TheNavbar />
  <v-container>
    <v-main>
      <template v-if="!openDetail">
        <div class="d-flex align-center pt-10">
          <v-icon icon="mdi-list-box" class="text-h4" start />
          <h1 class="text-h4">Configuração das bases</h1>
        </div>
        <v-divider class="mt-2 mb-4" />

        <div class="d-flex align-center mb-2">
          <v-text-field
            v-model="search"
            placeholder="Search"
            variant="outlined"
            append-inner-icon="mdi-magnify"
            density="compact"
            hide-details
          />
          <v-btn
            prepend-icon="mdi-plus"
            color="primary"
            variant="flat"
            class="ml-2"
            @click="dialogCreateDataset = true"
          >
            Bases
          </v-btn>
        </div>
        <v-card variant="outlined" color="grey-lighten-2">
          <v-table>
            <thead>
              <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Description</th>
                <th>Format</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A publicar</td>
                <td>
                  <router-link
                    class="font-weight-medium text-decoration-none"
                    :to="{ name: 'BasesStep1' }"
                    @click="openDetail = true"
                  >
                    <!-- {{ item.uri }} -->
                    municipios
                    <v-icon icon="mdi-eye"></v-icon>
                  </router-link>
                </td>
                <td>Possui o codigo dos municipios</td>
                <td>Geospacial json</td>
                <td>
                  <v-btn
                    icon="mdi-delete"
                    color="error"
                    variant="text"
                    @click="console.log('Deleted')"
                  />
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </template>

      <div v-else>
        <div>
          <v-breadcrumbs
            class="pa-0 mb-2 text-body-2 text-medium-emphasis v-theme--light bg-neutral-lighten-4 pa-5"
          >
            <v-breadcrumbs-item
              class="pl-0"
              :to="{ name: 'BasesList' }"
              @click="openDetail = false"
            >
              <v-icon icon="mdi-arrow-left"></v-icon>
              Bases
            </v-breadcrumbs-item>
          </v-breadcrumbs>
        </div>
        <v-timeline direction="horizontal">
          <v-timeline-item>
            <div>
              <p>categoria criada</p>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <div>
              <p>categoria apagada</p>
            </div>
          </v-timeline-item>

          <v-timeline-item>
            <div>
              <p>categoria criada</p>
            </div>
          </v-timeline-item>
        </v-timeline>
        <hr class="ma-5" />
        <!-- TABS -->
        <v-tabs color="primary" class="my-2">
          <v-tab
            :to="{
              name: 'BasesStep1',
            }"
            exact
          >
            1-Categoria e Camadas <v-icon icon="mdi-check"></v-icon>
          </v-tab>
          <v-tab
            :to="{
              name: 'BasesStep2',
            }"
            exact
          >
            2-Criação da Base
            <v-icon icon="mdi-alert-circle-check-outline"></v-icon>
          </v-tab>
          <v-tab
            :to="{
              name: 'BasesStep3',
            }"
            exact
          >
            3-Dados da Ficha
          </v-tab>
        </v-tabs>
      </div>
      <router-view />
    </v-main>
  </v-container>
</template>

<script setup lang="ts">
import TheNavbar from "@/components/TheNavbar.vue";
import { ref } from "vue";
const search = ref("");
const dialogCreateDataset = ref(false);
const openDetail = ref<boolean>(false);
</script>
