<template>
  <TheNavbar
    :elevation="2"
    density="compact"
    :logo-width="42"
    btn-sizes="small"
    :container-fluid="true"
  />
  <v-main>
    <router-view />
  </v-main>
  <FooterCompact />
</template>

<script lang="ts" setup>
import TheNavbar from "@/components/TheNavbar.vue";
import FooterCompact from "@/components/FooterCompact.vue";
</script>
