<template>
  <TheNavbar />
  <v-main class="bg-neutral-lighten-4 mb-4">
    <AgentesBannerMap v-if="agente" />
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-card rounded style="border-radius: 1em">
            <AgentesNavigationItems />
          </v-card>
        </v-col>
        <v-col cols="12" style="height: 100%">
          <v-card rounded style="border-radius: 1em" class="px-2">
            <!-- ROUTER-VIEW -->
            <router-view v-if="agente" />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
  <FooterDefault />
</template>

<script setup lang="ts">
import { onMounted, provide, ref } from "vue";
import { useRoute } from "vue-router";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import AgentesBannerMap from "@/components/agentes/AgentesBannerMap.vue";
import AgentesNavigationItems from "@/components/agentes/AgentesNavigationItems.vue";
import TheNavbar from "@/components/TheNavbar.vue";
import FooterDefault from "@/components/FooterDefault.vue";

// DATA

const route = useRoute();
const agenteId = Number(route.params.id);

const loading = ref({
  agente: true,
});
const agente = ref(null);
provide("agente", agente);

// ON MOUNTED
onMounted(() => {
  getAgenteCompleto();
});

// METHODS

async function getAgenteCompleto() {
  loading.value.agente = true;
  try {
    agente.value = await requester.agentes.findOne(agenteId);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.agente = false;
  }
}
</script>
