<template>
  <v-main>
    <v-row no-gutters style="min-height: 100vh">
      <v-col
        order="1"
        order-sm="0"
        cols="12"
        sm="3"
        md="5"
        xl="4"
        class="bg-mapa"
      />
      <v-col order="0" order-sm="1" cols="12" sm="9" md="7" xl="8">
        <router-view />
      </v-col>
    </v-row>
  </v-main>
</template>

<script lang="ts" setup>
//
</script>

<style scoped>
.bg-mapa {
  background-image: url("/img/auth_mapa.svg");
  background-color: #3f51b5;
  background-size: cover;
  background-position: center;
}
</style>
