<template>
  <TheNavbar />
  <v-main>
    <router-view />
  </v-main>
  <FooterDefault color="neutral-lighten-4" />
</template>

<script lang="ts" setup>
import FooterDefault from "@/components/FooterDefault.vue";
import TheNavbar from "@/components/TheNavbar.vue";
</script>
