<template>
  <TheNavbar v-bind="propsNavbar" />
  <v-main class="bg-neutral-lighten-4 mb-4">
    <v-progress-linear v-if="showLoading" indeterminate />
    <template v-if="entidade">
      <EntidadesBreadcrumbs
        v-if="base.baseCategoryUri != 'divisao'"
        :container-fluid="expandirMapa"
        @breadcrumb-click="handleBreadcrumbClick"
        @base-click="handleBaseClick"
        @radius-change="handleRadiusChange"
      />
      <div class="d-flex flex-column w-100 h-100">
        <div
          class="w-100"
          :style="`position: relative; height: ${
            expandirMapa ? '100%' : '350px'
          };`"
        >
          <EntidadesBannerMap
            v-if="!expandirMapa"
            @expandir-mapa="onExpandirMapa()"
          />
          <div
            :style="`
              position: relative;
              width: 100%;
              height: 100%;
              ${!expandirMapa ? 'pointer-events: none; z-index: 0;' : ''}
            `"
          >
            <MapaEntidade ref="mapaEntidade" />
          </div>
        </div>
        <v-container v-if="!expandirMapa" class="mt-4">
          <v-row>
            <v-col cols="12">
              <v-card rounded style="border-radius: 1em">
                <EntidadesNavigationItems />
              </v-card>
            </v-col>
            <v-col cols="12" style="height: 100%">
              <v-card rounded style="border-radius: 1em" class="px-2">
                <!-- ROUTER-VIEW -->
                <router-view v-if="entidade" />
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-card v-if="expandirMapa" tile elevation="2">
          <v-divider />
          <EntidadesFooterMap @reduzir-mapa="onReduzirMapa()" />
        </v-card>
      </div>
      <!-- MAPA REDUZIDO -->

      <!-- MAPA EXPANDIDO -->
    </template>
  </v-main>
  <FooterCompact v-if="expandirMapa" />
  <FooterDefault v-else />
</template>

<script setup lang="ts">
import { onMounted, computed, provide, ref, watch, nextTick } from "vue";
import { useRoute, useRouter } from "vue-router";
import requester from "@/requester";
import { BaseCompleto, ItemSearchResponse } from "@/requester/bases.requester";
import {
  emitAlertError,
  EventBus,
  MAP_POPUP_SELECT_ENTITY_EVENT_KEY,
} from "@/plugins/eventBus";
import TheNavbar from "@/components/TheNavbar.vue";
import FooterDefault from "@/components/FooterDefault.vue";
import EntidadesBannerMap from "@/components/entidades/EntidadesBannerMap.vue";
import EntidadesNavigationItems from "@/components/entidades/EntidadesNavigationItems.vue";
import FooterCompact from "@/components/FooterCompact.vue";
import EntidadesBreadcrumbs from "@/components/entidades/EntidadesBreadcrumbs.vue";
import EntidadesFooterMap from "@/components/entidades/EntidadesFooterMap.vue";
import MapaEntidade from "@/components/mapas/MapaEntidade.vue";
import { LatLng } from "leaflet";
import { useBoundariesStore } from "@/store/boundaries.store";

// DATA

const boundariesStore = useBoundariesStore();
const route = useRoute();
const router = useRouter();
const baseUri = computed(() => route.params.baseUri as string);
const entidadePk = computed(() => route.params.pk as string);

const mapaEntidade = ref();

const expandirMapa = ref(true);
const propsNavbar = computed<
  Partial<{
    elevation?: number;
    density?: "comfortable" | "compact" | "default" | "prominent";
    logoWidth?: number;
    btnSizes?: "x-small" | "small" | "regular" | "large" | "x-large";
    containerFluid?: boolean;
  }>
>(() => {
  if (!expandirMapa.value) return {};
  return {
    elevation: 2,
    density: "compact",
    logoWidth: 42,
    btnSizes: "small",
    containerFluid: true,
  };
});

const loading = ref({
  entidade: true,
  entornoGeojsonSetores: false,
  entornoEntidadesBases: false,
});
provide("loading", loading);

const showLoading = computed(() => {
  if (loading.value.entidade) return true;
  if (route.name === "EntidadesEntornoEstatisticas") {
    return loading.value.entornoGeojsonSetores;
  }
  // if (route.name === "EntidadesEntornoBases") {
  //   return loading.value.entornoEntidadesBases;
  // }
  return false;
});

const base = ref<BaseCompleto>(null);
provide("base", base);

const entidade = ref<any>(null);
provide("entidade", entidade);

const radiusKm = ref(1);
provide("radiusKm", radiusKm);

const entornoGeojsonSetores = ref<GeoJSON.FeatureCollection | null>(null);
provide("entornoGeojsonSetores", entornoGeojsonSetores);

const entornoEntidadesBases = ref<ItemSearchResponse[]>([]);
provide("entornoEntidadesBases", entornoEntidadesBases);

const baseFocused = ref(true);
provide("baseFocused", baseFocused);

const entidadeGeom = computed(() => entidade.value?.[base.value.columnGeom]);
const entidadeLat = ref(null);
const entidadeLng = ref(null);
const currentBoundary = ref(null);

// WATCH

watch(
  () => route.params,
  async (newValue, oldValue) => {
    window.scrollTo({ top: 0 });
    if (newValue.baseUri !== oldValue.baseUri || newValue.pk !== oldValue.pk) {
      await loadEntidade();
    }
  }
);

watch(
  () => radiusKm.value,
  async (newRadiusKm, oldRadiusKm) => {
    if (newRadiusKm !== oldRadiusKm) {
      if (!entidadeLat.value || !entidadeLng.value) {
        getCoordinatesFromGeom(entidadeGeom.value);
      }
      const options = {
        latitude: entidadeLat.value,
        longitude: entidadeLng.value,
        radiusKm: newRadiusKm,
      };
      await searchEntorno(options);
    }
  }
);

watch(
  () => entidadeGeom.value,
  (newGeom) => {
    getCoordinatesFromGeom(newGeom);
  },
  { immediate: true }
);

// ON MOUNTED
onMounted(async () => {
  window.scrollTo({ top: 0 });
  await loadEntidade();
  EventBus.on(MAP_POPUP_SELECT_ENTITY_EVENT_KEY, (entity: any) => {
    if (entity?.pk && entity?.base_uri) {
      window.open(`/detalhes/${entity.base_uri}/${entity.pk}`, "_blank");
    }
  });
});

// METHODS

function getCoordinatesFromGeom(geom: any) {
  if (!geom) {
    entidadeLat.value = null;
    entidadeLng.value = null;
    return;
  }
  switch (geom.type) {
    case "Point":
      entidadeLat.value = geom.coordinates[1];
      entidadeLng.value = geom.coordinates[0];
      break;
    case "Polygon":
    case "MultiPolygon": {
      const coordinates =
        geom.type === "Polygon" ? geom.coordinates[0] : geom.coordinates[0][0];
      entidadeLat.value =
        coordinates.reduce(
          (sum: number, coord: [number, number]) => sum + coord[1],
          0
        ) / coordinates.length;
      entidadeLng.value =
        coordinates.reduce(
          (sum: number, coord: [number, number]) => sum + coord[0],
          0
        ) / coordinates.length;
      break;
    }
    default:
      entidadeLat.value = null;
      entidadeLng.value = null;
  }
}

async function onExpandirMapa() {
  expandirMapa.value = true;
  mapaEntidade.value?.centerOnMainMarker();
}

async function onReduzirMapa() {
  expandirMapa.value = false;
  mapaEntidade.value?.centerOnMainMarker();
}

async function loadEntidade() {
  currentBoundary.value = boundariesStore.boundaryHierarchyLeaf;
  mapaEntidade.value?.clearGeojsonSetores();
  await getEntidadeBase();
  if (entidadeLat.value !== null || entidadeLng.value !== null) {
    getCoordinatesFromGeom(entidadeGeom.value);
  }
  const options = {
    latitude: entidadeLat.value,
    longitude: entidadeLng.value,
    radiusKm: radiusKm.value,
  };
  mapaEntidade.value?.moveMainMarker(
    new LatLng(options.latitude, options.longitude)
  );
  mapaEntidade.value?.centerOnMainMarker();
  if (base.value.baseCategoryUri !== "divisao") {
    await Promise.all([
      loadGeojsonSetores({
        lat: options.latitude,
        lng: options.longitude,
        radiusKm: options.radiusKm,
      }),
      searchEntorno(options),
    ]);
    nextTick(() => {
      mapaEntidade.value?.reloadGeojsonSetores();
    });
  } else {
    baseFocused.value = false;
    changePolygon(
      getBaseBoundaryByUri(base.value.uri),
      entidadeLat.value,
      entidadeLng.value,
      0
    );
  }
}

function getBaseBoundaryByUri(uri: string) {
  switch (uri) {
    case import.meta.env.VITE_DEFAULT_UFS_BASE_URI || "ufs":
      return boundariesStore.boundaryByName(
        import.meta.env.VITE_DEFAULT_UFS_BOUNDARY_NAME || "Ufs"
      );
    case import.meta.env.VITE_DEFAULT_MUNICIPIOS_BASE_URI || "municipios":
      return boundariesStore.boundaryByName(
        import.meta.env.VITE_DEFAULT_MUNICIPIOS_BOUNDARY_NAME || "Municipios"
      );
    case import.meta.env.VITE_DEFAULT_BAIRROS_BASE_URI || "bairros":
      return boundariesStore.boundaryByName(
        import.meta.env.VITE_DEFAULT_BAIRROS_BOUNDARY_NAME || "Bairros"
      );
    case import.meta.env.VITE_DEFAULT_DISTRITOS_BASE_URI || "distritos":
      return boundariesStore.boundaryByName(
        import.meta.env.VITE_DEFAULT_DISTRITOS_BOUNDARY_NAME || "Distritos"
      );
    case import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BASE_URI || "subdistritos":
      return boundariesStore.boundaryByName(
        import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BOUNDARY_NAME ||
          "Subdistritos"
      );
    default:
      throw new Error(`Unknown base URI for boundary: ${uri}`);
  }
}

async function getEntidadeBase() {
  loading.value.entidade = true;
  try {
    const responseData = await requester.bases.findEntityByPk(
      baseUri.value,
      entidadePk.value
    );
    base.value = responseData.base;
    entidade.value = responseData.entity;
    // If it's a division, we only want to display the division itself
    if (base.value.baseCategoryUri === "divisao") {
      radiusKm.value = 0;
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.entidade = false;
  }
}

async function loadGeojsonSetores(options: {
  lat: number;
  lng: number;
  radiusKm: number;
}) {
  changePolygon(
    boundariesStore.boundaryHierarchyLeaf,
    options.lat,
    options.lng,
    options.radiusKm
  );
}

async function searchEntorno(options: {
  latitude: number;
  longitude: number;
  radiusKm: number;
}) {
  loading.value.entornoEntidadesBases = true;
  const { latitude, longitude, radiusKm } = options;
  const valid =
    latitude >= -90 &&
    latitude <= 90 &&
    longitude >= -180 &&
    longitude <= 180 &&
    radiusKm >= 0;
  if (!valid) {
    loading.value.entornoEntidadesBases = false;
    return;
  }
  try {
    entornoEntidadesBases.value = [];
    if (base.value.baseCategoryUri === "divisao") {
      entornoEntidadesBases.value = await requester.bases.searchDivisao({
        latitude,
        longitude,
        key: getBaseKey(),
      });
    } else {
      entornoEntidadesBases.value = await requester.bases.searchEntorno({
        latitude,
        longitude,
        radiusKm,
      });
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.entornoEntidadesBases = false;
  }
}

async function handleBreadcrumbClick(item) {
  baseFocused.value = false;
  changePolygon(
    boundariesStore.boundaryById(item.id),
    entidadeLat.value,
    entidadeLng.value,
    0
  );
}

async function handleBaseClick() {
  baseFocused.value = true;
  //If radius is invalid, set it to the default 1
  if (!!isNaN(radiusKm.value) || radiusKm.value < 0) {
    radiusKm.value = 1;
  }
  changePolygon(
    boundariesStore.boundaryHierarchyLeaf,
    entidadeLat.value,
    entidadeLng.value,
    radiusKm.value
  );
}

async function handleRadiusChange() {
  //If radius is invalid, do nothing
  if (!!isNaN(radiusKm.value) || radiusKm.value < 0) {
    return;
  }
  handleBaseClick();
}

async function changePolygon(
  boundary,
  lat: number,
  lng: number,
  radiusKm: number
) {
  loading.value.entornoGeojsonSetores = true;

  const valid =
    lat >= -90 && lat <= 90 && lng >= -180 && lng <= 180 && radiusKm >= 0;
  if (!valid) {
    emitAlertError("Erro ao carregar coordenadas.");
    loading.value.entornoGeojsonSetores = false;
    return;
  }

  if (!boundary) {
    emitAlertError("Erro ao carregar entorno.");
    loading.value.entornoGeojsonSetores = false;
    return;
  }

  currentBoundary.value = boundary;
  try {
    entornoGeojsonSetores.value = null;
    entornoGeojsonSetores.value =
      await requester.dataPipeline.boundaries.getGeojsonRadius(
        currentBoundary.value.id,
        {
          lat,
          lng,
          radiusKm,
        }
      );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.entornoGeojsonSetores = false;
  }
}

function getBaseKey() {
  if (base.value.baseCategoryUri !== "divisao") {
    emitAlertError("Not a valid base category");
    return null;
  }
  switch (base.value.uri) {
    case import.meta.env.VITE_DEFAULT_UFS_BASE_URI || "ufs":
      return "uf";
    case import.meta.env.VITE_DEFAULT_MUNICIPIOS_BASE_URI || "municipios":
      return "municipio";
    case import.meta.env.VITE_DEFAULT_BAIRROS_BASE_URI || "bairros":
      return "bairro";
    case import.meta.env.VITE_DEFAULT_DISTRITOS_BASE_URI || "distritos":
      return "distrito";
    case import.meta.env.VITE_DEFAULT_SUBDISTRITOS_BASE_URI || "subdistritos":
      return "subdistrito";
    default:
      emitAlertError("Not a valid base division uri: " + base.value.uri);
      return null;
  }
}
</script>
