<template>
  <v-card-text>
    <div class="mb-6">
      <h2 class="text-h5">Preferências</h2>
      <p class="text-body-2 text-medium-emphasis">
        Gerencie as sua preferências
      </p>
    </div>
    <UsuariosFormPreferencias />
  </v-card-text>
</template>

<script setup lang="ts">
import UsuariosFormPreferencias from "@/components/usuarios/UsuariosFormPreferencias.vue";
</script>
