<template>
  <v-card-text>
    <div class="mb-6">
      <h2 class="text-h5">Atuação</h2>
      <p class="text-body-2 text-medium-emphasis">
        Conte-nos um pouco mais sobre sua atuação
      </p>
    </div>
    <UsuariosFormAtuacao />
  </v-card-text>
</template>

<script setup lang="ts">
import UsuariosFormAtuacao from "@/components/usuarios/UsuariosFormAtuacao.vue";
</script>
