<template>
  <v-card-text>
    <h2 class="text-h5 mb-3">Bem-vindo(a), {{ usuario?.nome }}!</h2>
    <p class="text-body-2 text-medium-emphasis mb-3">
      Ficamos felizes com a sua participação.
    </p>
    <v-alert
      type="info"
      variant="outlined"
      color="primary"
      border-color="primary"
      border="start"
      class="mb-3"
      closable
    >
      <div class="text-body-1 text-primary-darken-4">
        Para ser encontrado na plataforma, você pode tornar seu perfil público
        na seção de
        <router-link :to="{ name: 'UsuariosCadastro' }">
          preferências do seu cadastro
        </router-link>
      </div>
    </v-alert>
    <v-alert
      type="info"
      variant="outlined"
      color="secondary"
      border-color="primary"
      border="start"
      class="mb-3"
      closable
    >
      <div class="text-body-1 text-secondary-darken-4">
        Para inserir sua localização no mapa, edite a seção de
        <router-link :to="{ name: 'UsuariosCadastroLocalizacao' }">
          localização no seu cadastro
        </router-link>
      </div>
    </v-alert>
    <PaginaEmConstrucao class="my-10" />
    <!-- <div>
      <v-skeleton-loader
        v-for="(i, k) in Array(5)"
        :key="k"
        type="article, actions, divider"
        boilerplate
      />
    </div> -->
  </v-card-text>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useAuthStore } from "@/store/auth.store";
import PaginaEmConstrucao from "@/components/PaginaEmConstrucao.vue";

// DATA
const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);
</script>
