<template>
  <v-card-text>
    <ProjetosDialogCadastrar
      v-model="dialogCadastrar"
      :enderecoAgente="enderecoAgente"
      @projeto-cadastrado="onProjetoCadastrado"
    />
    <div class="d-flex justify-space-between align-start mb-6">
      <div class="d-flex align-center">
        <h2 class="text-h5">Meus Projetos</h2>
      </div>
      <v-btn
        prepend-icon="mdi-plus"
        variant="flat"
        color="success"
        @click="dialogCadastrar = true"
      >
        Novo projeto
      </v-btn>
    </div>
    <ProjetosIndex
      v-if="!loading.projetos"
      @atividade-cadastrada="getMeusProjetos()"
      @remover-projeto="onRemoverProjetoDebounce"
    />
  </v-card-text>
</template>

<script setup lang="ts">
import { provide, onMounted, ref } from "vue";
import { debounce } from "lodash";
import requester from "@/requester";
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { Endereco } from "@backPrisma/client";
import ProjetosDialogCadastrar from "@/components/projetos//ProjetosDialogCadastrar.vue";
import ProjetosIndex from "@/components/projetos/ProjetosIndex.vue";

// DATA

const dialogCadastrar = ref(false);

const enderecoAgente = ref<Endereco | null>(null);
provide("enderecoAgente", enderecoAgente);

const projetos = ref<ProjetoCompleto[]>([]);
provide("projetos", projetos);

const loading = ref({
  endereco: true,
  projetos: true,
});

// ON MOUNTED
onMounted(() => {
  getMeuEndereco();
  getMeusProjetos();
});

// METHODS

function onProjetoCadastrado() {
  getMeusProjetos();
  dialogCadastrar.value = false;
}

const onRemoverProjetoDebounce = debounce(onRemoverProjeto, 300);
async function onRemoverProjeto(projetoId: number) {
  try {
    const projeto = await requester.projetos.remove(projetoId);
    emitAlertSuccess("Projeto removido com sucesso");
    projetos.value = projetos.value.filter((a) => a.id !== projeto.id);
  } catch (err) {
    emitAlertError(err);
  }
}

async function getMeuEndereco() {
  loading.value.endereco = true;
  try {
    enderecoAgente.value = await requester.usuarios.meuEndereco();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.endereco = false;
  }
}

async function getMeusProjetos() {
  loading.value.projetos = true;
  try {
    projetos.value = await requester.usuarios.meusProjetos();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.projetos = false;
  }
}
</script>
