<template>
  <v-card-text>
    <AtividadesDialogCadastrar
      v-model="dialogCadastrar"
      :enderecoAgente="enderecoAgente"
      :projetos="projetos"
      @atividade-cadastrada="onAtividadeCadastrada"
    />
    <div class="d-flex justify-space-between align-start mb-6">
      <div class="d-flex align-center">
        <h2 class="text-h5">Minhas Atividades</h2>
      </div>
      <v-btn
        prepend-icon="mdi-plus"
        variant="flat"
        color="success"
        @click="dialogCadastrar = true"
      >
        Nova atividade
      </v-btn>
    </div>
    <AtividadesIndex
      v-if="!loading.atividades"
      @remover-atividade="onRemoverAtividadeDebounce"
    />
  </v-card-text>
</template>

<script setup lang="ts">
import { provide, onMounted, ref } from "vue";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { Endereco } from "@backPrisma/client";
import AtividadesDialogCadastrar from "@/components/atividades/AtividadesDialogCadastrar.vue";
import AtividadesIndex from "@/components/atividades/AtividadesIndex.vue";

// DATA

const dialogCadastrar = ref(false);

const enderecoAgente = ref<Endereco | null>(null);
provide("enderecoAgente", enderecoAgente);

const atividades = ref<AtividadeCompleta[]>([]);
provide("atividades", atividades);

const projetos = ref<ProjetoCompleto[]>([]);

const loading = ref({
  atividades: true,
  endereco: true,
  projetos: true,
});

// ON MOUNTED
onMounted(() => {
  getMinhasAtividades();
  getMeuEndereco();
  getMeusProjetos();
});

// METHODS

function onAtividadeCadastrada(atividade: AtividadeCompleta) {
  atividades.value.push(atividade);
  dialogCadastrar.value = false;
}

const onRemoverAtividadeDebounce = debounce(onRemoverAtividade, 300);
async function onRemoverAtividade(atividadeId: number) {
  try {
    const atividade = await requester.atividades.remove(atividadeId);
    emitAlertSuccess("Atividade removida com sucesso");
    atividades.value = atividades.value.filter((a) => a.id !== atividade.id);
  } catch (err) {
    emitAlertError(err);
  }
}

async function getMinhasAtividades() {
  loading.value.atividades = true;
  try {
    atividades.value = await requester.usuarios.minhasAtividades();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.atividades = false;
  }
}

async function getMeuEndereco() {
  loading.value.endereco = true;
  try {
    enderecoAgente.value = await requester.usuarios.meuEndereco();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.endereco = false;
  }
}

async function getMeusProjetos() {
  loading.value.projetos = true;
  try {
    projetos.value = await requester.usuarios.meusProjetos();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.projetos = false;
  }
}
</script>
