<template>
  <v-card-text>
    <div class="mb-6">
      <h2 class="text-h5">Localização</h2>
      <p class="text-body-2 text-medium-emphasis">
        Endereço que representa seu local de atuação
      </p>
    </div>
    <UsuariosFormLocalizacao />
  </v-card-text>
</template>

<script setup lang="ts">
import UsuariosFormLocalizacao from "@/components/usuarios/UsuariosFormLocalizacao.vue";
</script>
