<template>
  <v-card-text>
    <div class="mb-6">
      <h2 class="text-h5">Identificação</h2>
      <p class="text-body-2 text-medium-emphasis">
        Preencha dados de contato e pessoais que queira compartilhar
      </p>
    </div>
    <UsuariosFormIdentificacao />
  </v-card-text>
</template>

<script setup lang="ts">
import UsuariosFormIdentificacao from "@/components/usuarios/UsuariosFormIdentificacao.vue";
</script>
