<template>
  <v-container>
    <v-breadcrumbs class="pa-0 mb-2 text-body-2 text-medium-emphasis">
      <v-breadcrumbs-item class="pl-0" :to="{ name: 'UsuariosInicio' }" exact>
        Meu Perfil
      </v-breadcrumbs-item>
      <v-breadcrumbs-divider />
      <v-breadcrumbs-item class="text-disabled">
        Meu cadastro
      </v-breadcrumbs-item>
    </v-breadcrumbs>
    <div class="mb-6">
      <h1 class="text-h4">Meu cadastro</h1>
      <p class="text-body-2 text-medium-emphasis">
        Mollit nostrud non excepteur consectetur consectetur est aliqua occaecat
        incididunt.
      </p>
    </div>
    <v-card class="d-flex flex-column flex-md-row w-100">
      <v-tabs
        v-model="tab"
        color="primary"
        :grow="$vuetify.display.smAndDown"
        :direction="$vuetify.display.mdAndUp ? 'vertical' : 'horizontal'"
      >
        <!-- ATUACAO -->
        <v-tab prepend-icon="mdi-cog" text="Preferências" :value="0" disabled />
        <!-- IDENTIFICACAO -->
        <v-tab prepend-icon="mdi-account" text="Identificação" :value="1" />
        <!-- LOCALIZACAO -->
        <v-tab prepend-icon="mdi-map-marker" text="Localização" :value="2" />
        <!-- ATUACAO -->
        <v-tab prepend-icon="mdi-account-group" text="Atuação" :value="3" />
      </v-tabs>
      <v-divider :vertical="$vuetify.display.mdAndUp" />
      <v-card-text class="pa-5 px-md-6 py-md-4">
        <v-tabs-window v-model="tab">
          <!-- PREFERENCIAS -->
          <v-tabs-window-item :value="0"> TODO </v-tabs-window-item>
          <!-- IDENTIFICACAO -->
          <v-tabs-window-item :value="1">
            <div class="mb-6">
              <h2 class="text-h5">Identificação</h2>
              <p class="text-body-2 text-medium-emphasis">
                Mollit nostrud non excepteur consectetur consectetur est aliqua
                occaecat incididunt.
              </p>
            </div>
            <AgentesFormIndividualIdentificacao />
            <v-divider class="mb-4" />
            <div class="d-flex justify-space-between align-center">
              <v-btn variant="outlined" prepend-icon="mdi-undo" disabled>
                Desfazer
              </v-btn>
              <v-btn color="success" prepend-icon="mdi-floppy">Salvar</v-btn>
            </div>
          </v-tabs-window-item>
          <!-- LOCALIZACAO -->
          <v-tabs-window-item :value="2">
            <div class="mb-6">
              <h2 class="text-h5">Endereço de atuação</h2>
              <p class="text-body-2 text-medium-emphasis">
                Endereço que representa seu local de atuação
              </p>
            </div>
            <v-alert type="info" prominent class="mb-6">
              <p class="text-body-1 font-weight-medium">
                Caso torne o endereço público, não utilize seu endereço pessoal.
                Escolha um local no qual deseja aparecer no mapa para os outros
                usuário do sistema.
              </p>
            </v-alert>
            <v-alert
              density="compact"
              :color="localizacaoPublica ? 'success' : 'error'"
              class="cursor-pointer px-0 mb-6"
              @click="localizacaoPublica = !localizacaoPublica"
            >
              <div class="d-flex justify-space-between align-center mx-5">
                <div class="d-flex align-center">
                  <v-switch
                    :model-value="localizacaoPublica"
                    readonly
                    hide-details
                  />
                  <div class="text-body-1 font-weight-medium ml-4">
                    {{
                      localizacaoPublica
                        ? "Endereço público"
                        : "Endereço privado"
                    }}
                  </div>
                </div>
                <v-icon
                  :icon="
                    localizacaoPublica ? 'mdi-lock-open-variant' : 'mdi-lock'
                  "
                />
              </div>
            </v-alert>
            <AgentesFormLocalizacao ref="agentesFormLocalizacao" />
            <v-divider class="mb-4" />
            <div class="d-flex justify-space-between align-center">
              <v-btn variant="outlined" prepend-icon="mdi-undo" disabled>
                Desfazer
              </v-btn>
              <v-btn color="success" prepend-icon="mdi-floppy">Salvar</v-btn>
            </div>
          </v-tabs-window-item>
          <!-- ATUACAO -->
          <v-tabs-window-item :value="3">
            <div class="mb-6">
              <h2 class="text-h5">Atuação</h2>
              <p class="text-body-2 text-medium-emphasis">
                Aliqua dolor pariatur id qui sit adipisicing ea cupidatat
                deserunt aute exercitation.
              </p>
            </div>
            <AgentesFormAtuacao />
            <v-divider class="mb-4" />
            <div class="d-flex justify-space-between align-center">
              <v-btn variant="outlined" prepend-icon="mdi-undo" disabled>
                Desfazer
              </v-btn>
              <v-btn color="success" prepend-icon="mdi-floppy">Salvar</v-btn>
            </div>
          </v-tabs-window-item>
        </v-tabs-window>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script setup lang="ts">
import { ref, computed, provide, nextTick, onBeforeMount, watch } from "vue";
import { useRouter } from "vue-router";
import { debounce } from "lodash";
import { useAuthStore } from "@/store/auth.store";
import AgentesFormAtuacao from "@/components/agentes/AgentesFormAtuacao.vue";
import AgentesFormIndividualIdentificacao from "@/components/agentes/AgentesFormIndividualIdentificacao.vue";
import AgentesFormLocalizacao from "@/components/agentes/AgentesFormLocalizacao.vue";

const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);

// DATA
const router = useRouter();

const agentesFormLocalizacao = ref();

const tab = ref(1);

const localizacaoPublica = ref(false);
const formIdentificacao = ref({
  nome: usuario.value.nome,
  email: "",
  telefone1: "",
  telefone2: "",
  website: "",
  redesSociais: [],
  dataNascimento: null,
  identidadeEtnicoCulturalId: null,
  identidadeEtnicoCulturalOutro: "",
  identidadeGeneroId: null,
  nivelEscolaridadeId: null,
  ocupacaoId: null,
  ocupacaoOutro: "",
  racaCorIbgeId: null,
});
const formLocalizacao = ref({
  latitude: null,
  longitude: null,
  logradouro: "",
  numero: "",
  bairro: "",
  complemento: "",
  codigoPostal: "",
  municipioCodigo: null,
  municipioNome: "",
  ufSigla: "",
  ufNome: "",
});
const formAtuacao = ref({
  objetivo: "",
  atuacao: "",
  atuaDesde: null,
  abrangenciaId: null,
  areasAtuacao: [],
  areasEstudoPesquisa: [],
  publicosFocais: [],
  tiposEspacos: [],
});
provide("formIdentificacao", formIdentificacao);
provide("formLocalizacao", formLocalizacao);
provide("formAtuacao", formAtuacao);

// WATCHERS

watch(tab, () => {
  if (tab.value === 2) {
    nextTick(() => agentesFormLocalizacao.value.initMap());
  }
});

// BEFORE MOUNT

onBeforeMount(() => {
  window.scrollTo({ top: 0 });
});

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  console.log({
    formIdentificacao,
    formLocalizacao,
    formAtuacao,
  });
  router.push({ name: "UsuariosInicio" });
}
</script>
