<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title class="d-flex justify-space-between align-center">
          <div class="d-flex align-center">
            <v-icon :icon="icon" v-if="icon" start />
            <span v-text="title" />
          </div>
          <v-icon
            icon="mdi-close"
            size="small"
            @click="updateModelValue(false)"
          />
        </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text>
        <slot />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts" setup>
// PROPS
export interface Props {
  title: string;
  icon?: string;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
