<template>
  <v-icon
    :icon="props.value ? props.iconTrue : props.iconFalse"
    :color="props.value ? props.colorTrue : props.colorFalse"
    :size="props.size"
  />
</template>

<script setup lang="ts">
// PROPS
export interface Props {
  value: boolean;
  colorTrue?: string;
  colorFalse?: string;
  iconTrue?: string;
  iconFalse?: string;
  size?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  colorTrue: "success",
  colorFalse: "error",
  iconTrue: "mdi-check-bold",
  iconFalse: "mdi-close-thick",
  size: 18,
});
</script>
