<template>
  <vue-monaco-editor
    v-model:value="code"
    theme="vs-dark"
    defaultLanguage="sql"
    :options="MONACO_EDITOR_OPTIONS"
    @mount="handleMount"
  />
  <div class="d-flex justify-end pl-5 mt-3">
    <v-btn
      color="primary"
      prepend-icon="mdi-database-search"
      class="mr-2"
      @click="preview()"
    >
      Preview
    </v-btn>
    <v-btn color="success" prepend-icon="mdi-floppy" @click="save()"
      >Save</v-btn
    >
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from "vue";
import { ref, shallowRef } from "vue";

// PROPS
export interface Props {
  initialCode?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initialCode: "",
});

// EMITS
const emit = defineEmits<{
  (e: "preview", code: string): void;
  (e: "save", code: string): void;
}>();

const MONACO_EDITOR_OPTIONS = {
  automaticLayout: true,
  formatOnType: true,
  formatOnPaste: true,
};

const code = ref("");
const editorRef = shallowRef();
const handleMount = (editor) => (editorRef.value = editor);

// example (didn't work with SQL)
// function formatCode() {
//   editorRef.value?.getAction("editor.action.formatDocument").run();
// }

onMounted(() => {
  code.value = props.initialCode;
});

function preview() {
  emit("preview", code.value);
}

function save() {
  emit("save", code.value);
}
</script>
