<template>
  <div>
    <v-row dense>
      <v-col cols="12" md="12">
        <h3 class="text-body-1 font-weight-medium mb-3">Acesso</h3>
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          label="E-mail"
          :model-value="usuario.email"
          readonly
          disabled
          variant="outlined"
          hide-details
        />
        <div class="d-flex justify-md-end my-4">
          <v-btn
            variant="flat"
            prepend-icon="mdi-email"
            color="secondary"
            :block="$vuetify.display.smAndDown"
            disabled
          >
            Alterar E-mail de acesso
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" md="6">
        <v-text-field
          label="Senha"
          model-value="********"
          readonly
          disabled
          variant="outlined"
          hide-details
        />
        <div class="d-flex justify-md-end my-4">
          <v-btn
            variant="flat"
            prepend-icon="mdi-key"
            color="warning"
            :block="$vuetify.display.smAndDown"
            disabled
          >
            Alterar senha de acesso
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" md="12">
        <h3 class="text-body-1 font-weight-medium mb-3">Perfil</h3>
      </v-col>
      <v-col cols="12" md="12">
        <v-alert type="info" prominent class="mb-6">
          <p class="text-body-1 font-weight-medium">
            Para aparecer como um agente na rede do CulturaEduca, torne seu
            perfil público. Você pode escolher quais informações serão exibidas
            nas configurações seguintes.
          </p>
        </v-alert>
        <v-alert
          density="compact"
          :color="form.perfilPublico ? 'success' : 'error'"
          class="cursor-pointer px-0 mb-6"
          @click="form.perfilPublico = !form.perfilPublico"
        >
          <div class="d-flex justify-space-between align-center mx-5">
            <div class="d-flex align-center">
              <v-icon :icon="form.perfilPublico ? 'mdi-eye' : 'mdi-eye-off'" />
              <div class="ml-4">
                <div class="text-body-1 font-weight-medium">
                  {{ form.perfilPublico ? "Perfil público" : "Perfil privado" }}
                </div>
                <div class="text-caption">
                  {{
                    form.perfilPublico
                      ? "Clique para tornar o perfil privado"
                      : "Clique para tornar o perfil público"
                  }}
                </div>
              </div>
            </div>
            <v-switch :model-value="form.perfilPublico" readonly hide-details />
          </div>
        </v-alert>
      </v-col>
    </v-row>
    <v-divider class="mb-4" />
    <div class="d-flex justify-space-between align-center">
      <v-btn
        variant="outlined"
        prepend-icon="mdi-undo"
        :loading="loading.update"
        @click="preencheForm()"
      >
        Desfazer
      </v-btn>
      <v-btn
        variant="flat"
        color="success"
        prepend-icon="mdi-floppy"
        :loading="loading.update"
        @click="onSalvarDebounce()"
      >
        Salvar
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";
import { cloneDeep, debounce, isEqual } from "lodash";
import { UpdatePreferenciasUsuarioDto } from "@backSrc/usuarios/dto";
import requester from "@/requester";
import { useAuthStore } from "@/store/auth.store";
import { UsuarioCompleto } from "@/requester/usuarios.requester";
import {
  emitAlertError,
  emitAlertSuccess,
  emitConfirmation,
} from "@/plugins/eventBus";
import { onBeforeRouteLeave } from "vue-router";

// DATA

const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);
const usuarioCompleto = inject<Ref<UsuarioCompleto>>("usuarioCompleto");

const loading = ref({
  update: false,
});

const form = ref({
  perfilPublico:
    usuarioCompleto.value?.agenteIndividual?.agente?.perfilPublico || false,
});
const formInit = ref(cloneDeep(form.value));

// ON MOUNTED
onMounted(() => {
  preencheForm();
});

onBeforeRouteLeave(async (to, from, next) => {
  if (checkFormDirty()) {
    try {
      const confirm = await emitConfirmation("Você tem alterações não salvas", {
        description: "Deseja sair mesmo assim?",
        okText: "Sim",
        okColor: "",
        cancelText: "Não",
      });
      next(confirm);
    } catch (err) {
      console.error(err);
      next();
    }
    return;
  }
  next();
});

// METHODS

function updateFormInit() {
  formInit.value = cloneDeep(form.value);
}

function checkFormDirty() {
  return !isEqual(formInit.value, form.value);
}

function preencheForm() {
  form.value.perfilPublico =
    usuarioCompleto.value?.agenteIndividual?.agente?.perfilPublico || false;
  // update form init
  updateFormInit();
}

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  loading.value.update = true;
  try {
    const dto: UpdatePreferenciasUsuarioDto = {
      perfilPublico: form.value.perfilPublico,
    };
    usuarioCompleto.value = await requester.usuarios.updatePreferencias(dto);
    emitAlertSuccess("Preferências atualizadas com sucesso!");
    updateFormInit();
    window.scrollTo({ top: 0 });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.update = false;
  }
}
</script>
