<template>
  <v-row dense>
    <v-col cols="12" md="12">
      <v-text-field
        v-model.trim="form.nome"
        label="Nome *"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="12">
      <v-file-input
        placeholder="Selecione um arquivo..."
        accept="image/png;image/jpg;image/jpeg"
        variant="outlined"
        class="ml-3"
        prepend-icon=""
        v-model="formFile"
        :label="!previewUrl ? 'Enviar foto' : 'Foto selecionada'"
      >
        <template v-slot:prepend>
          <v-icon
            v-if="profileImage"
            icon="mdi-delete"
            @click="profileImage = ''"
          />
          <v-avatar color="neutral" size="x-large">
            <v-img v-if="previewUrl" :src="previewUrl"></v-img>
            <template v-else-if="profileImage">
              <v-img :src="profileImage"></v-img>
            </template>
            <v-icon v-else icon="mdi-image" />
          </v-avatar>
        </template>
      </v-file-input>
    </v-col>
    <v-col cols="12" md="12">
      <h3 class="text-body-1 font-weight-medium mb-3">Contato</h3>
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="form.email"
        label="Email"
        variant="outlined"
        :bg-color="form.camposPublicos.email ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.email"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-text-field>
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="form.website"
        label="Website"
        variant="outlined"
        :bg-color="form.camposPublicos.website ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.website"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-text-field>
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="form.telefone1"
        label="Telefone"
        variant="outlined"
        :bg-color="form.camposPublicos.telefone1 ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.telefone1"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-text-field>
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="form.telefone2"
        label="Telefone alternativo"
        variant="outlined"
        :bg-color="form.camposPublicos.telefone2 ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.telefone2"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-text-field>
    </v-col>
    <v-col cols="12" md="12">
      <h3 class="text-body-1 font-weight-medium mb-3">Redes sociais</h3>
      <v-card variant="outlined" color="neutral-lighten-2" class="mb-3">
        <v-table>
          <thead v-if="form.redesSociais.length > 0">
            <tr>
              <th>Plataforma</th>
              <th class="w-100">Link</th>
              <th class="text-center">Alterar</th>
              <th class="text-center">Remover</th>
              <th class="text-center">Privado</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="form.redesSociais.length === 0">
              <td colspan="4" class="text-center text-disabled">
                Nenhuma rede social adicionada
              </td>
            </tr>
            <tr v-for="redeSocial in form.redesSociais" :key="redeSocial.key">
              <td>
                {{
                  plataformas.find((p) => p.value === redeSocial.plataforma)
                    .title
                }}
              </td>
              <td>
                <a :href="redeSocial.link" target="_blank">{{
                  redeSocial.link
                }}</a>
              </td>
              <td class="text-center">
                <v-btn icon="mdi-pencil" color="warning" variant="text"></v-btn>
              </td>
              <td class="text-center">
                <v-btn
                  icon="mdi-delete"
                  color="error"
                  variant="text"
                  @click="onRemoverRedeSocial(redeSocial.key)"
                ></v-btn>
              </td>
              <td class="d-flex justify-center align-center pt-3">
                <v-switch
                  false-icon="mdi-lock"
                  true-icon="mdi-lock-open-variant"
                  color="success"
                  base-color="error"
                  hide-details
                />
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
      <v-btn
        block
        append-icon="mdi-plus"
        variant="tonal"
        @click="dialogRedeSocial = true"
      >
        Adicionar
      </v-btn>
      <!-- DIALOG ADICIONAR REDE SOCIAL -->
      <v-dialog v-model="dialogRedeSocial" width="600">
        <v-card>
          <v-card-title class="d-flex justify-space-between align-center">
            <div class="d-flex align-center">
              <v-icon size="small" icon="mdi-plus" start />
              <span>Rede social</span>
            </div>
            <v-btn
              icon="mdi-close"
              variant="flat"
              @click="dialogRedeSocial = false"
            />
          </v-card-title>
          <v-divider />
          <v-card-text>
            <v-row dense>
              <v-col cols="12">
                <v-autocomplete
                  label="Plataforma"
                  v-model="formRedeSocial.plataforma"
                  :items="plataformas"
                  :rules="rulesRequired"
                  variant="outlined"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Link"
                  v-model.trim="formRedeSocial.link"
                  :rules="rulesRequired"
                  variant="outlined"
                />
              </v-col>
            </v-row>
            <v-divider class="my-3" />
            <div class="d-flex justify-space-between align-center">
              <v-btn
                prepend-icon="mdi-close"
                variant="outlined"
                @click="onCancelarDialogRedeSocial"
              >
                Cancelar
              </v-btn>
              <v-btn
                prepend-icon="mdi-plus"
                variant="flat"
                color="success"
                @click="onAdicionarDialogRedeSocial"
              >
                Adicionar
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-col>
    <v-col cols="12">
      <h3 class="text-body-1 font-weight-medium my-3">Dados pessoais</h3>
    </v-col>
    <v-col cols="12" md="6">
      <v-menu v-model="menuDataNascimento" :close-on-content-click="false">
        <template v-slot:activator="{ props }">
          <v-text-field
            label="Data de nascimento"
            :model-value="dataNascimentoFormatted"
            append-inner-icon="mdi-calendar"
            clearable
            clear-icon="mdi-close"
            readonly
            variant="outlined"
            v-bind="props"
            @click:clear="onClearDataNacimento()"
            @update:model-value="() => {}"
          >
            <template v-slot:append>
              <v-switch
                v-model="form.camposPublicos.dataNascimento"
                false-icon="mdi-lock"
                true-icon="mdi-lock-open-variant"
                color="success"
                base-color="error"
                @click.stop
                class="mr-md-2"
                hide-details
              />
            </template>
          </v-text-field>
        </template>
        <v-date-picker
          :model-value="form.dataNascimento"
          @update:model-value="onUpdateDataNascimento"
        />
      </v-menu>
    </v-col>
    <v-col cols="12" md="6" class="d-flex align-top">
      <v-autocomplete
        label="Raça/Cor segundo IBGE"
        v-model="form.racaCorIbgeId"
        :items="items.racasCoresIbge"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
        :bg-color="form.camposPublicos.racaCorIbge ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.racaCorIbge"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Identidade étnico-cultural"
        v-model="form.identidadeEtnicoCulturalId"
        :items="items.identidadesEtnicoCulturais"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
        :bg-color="
          form.camposPublicos.identidadeEtnicoCultural
            ? 'white'
            : 'grey-lighten-4'
        "
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.identidadeEtnicoCultural"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Identidade de gênero"
        v-model="form.identidadeGeneroId"
        :items="items.identidadesGenero"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
        :bg-color="
          form.camposPublicos.identidadeGenero ? 'white' : 'grey-lighten-4'
        "
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.identidadeGenero"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Ocupação"
        v-model="form.ocupacaoId"
        :items="items.ocupacoes"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
        :bg-color="form.camposPublicos.ocupacao ? 'white' : 'grey-lighten-4'"
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.ocupacao"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Nível de escolaridade"
        v-model="form.nivelEscolaridadeId"
        :items="items.niveisEscolaridade"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
        :bg-color="
          form.camposPublicos.nivelEscolaridade ? 'white' : 'grey-lighten-4'
        "
      >
        <template v-slot:append>
          <v-switch
            v-model="form.camposPublicos.nivelEscolaridade"
            false-icon="mdi-lock"
            true-icon="mdi-lock-open-variant"
            color="success"
            base-color="error"
            @click.stop
            class="mr-md-2"
            hide-details
          />
        </template>
      </v-autocomplete>
    </v-col>
  </v-row>
  <v-divider class="mb-4" />
  <div class="d-flex justify-space-between align-center">
    <v-btn
      variant="outlined"
      prepend-icon="mdi-undo"
      :loading="loading.update"
      @click="preencheForm()"
    >
      Desfazer
    </v-btn>
    <v-btn
      variant="flat"
      color="success"
      prepend-icon="mdi-floppy"
      :loading="loading.update"
      @click="onSalvarDebounce()"
    >
      Salvar
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, onMounted, inject, Ref } from "vue";
import requester from "@/requester";
import {
  emitAlertError,
  emitAlertSuccess,
  emitConfirmation,
} from "@/plugins/eventBus";
import { Opcao } from "@backPrisma/client";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import { UsuarioCompleto } from "@/requester/usuarios.requester";
import { cloneDeep, debounce, isEqual } from "lodash";
import { UpdateIdentificacaoUsuarioDto } from "@backSrc/usuarios/dto";
import { onBeforeRouteLeave } from "vue-router";

// DATA

const usuarioCompleto = inject<Ref<UsuarioCompleto>>("usuarioCompleto");
const profileImage = inject<Ref>("profileImage");

const agenteIndividual = computed(
  () => usuarioCompleto?.value?.agenteIndividual
);
const agente = computed(() => usuarioCompleto?.value?.agenteIndividual?.agente);

const loading = ref({
  update: false,
});

const formFile = ref<File>(null);

const previewUrl = computed((): string => {
  if (formFile.value) {
    return URL.createObjectURL(formFile.value);
  } else {
    return "";
  }
});

const form = ref({
  nome: "",
  email: "",
  telefone1: "",
  telefone2: "",
  website: "",
  redesSociais: [] as { key: number; plataforma: string; link: string }[],
  dataNascimento: null,
  identidadeEtnicoCulturalId: null,
  identidadeEtnicoCulturalOutro: "",
  identidadeGeneroId: null,
  nivelEscolaridadeId: null,
  ocupacaoId: null,
  ocupacaoOutro: "",
  racaCorIbgeId: null,
  camposPublicos: {
    email: false,
    website: false,
    telefone1: false,
    telefone2: false,
    dataNascimento: false,
    racaCorIbge: false,
    identidadeEtnicoCultural: false,
    identidadeGenero: false,
    ocupacao: false,
    nivelEscolaridade: false,
  },
});
const formInit = ref(cloneDeep(form.value));

const menuDataNascimento = ref(false);
const dataNascimentoFormatted = computed(() => {
  if (!form.value.dataNascimento) return "";
  return form.value.dataNascimento?.toLocaleDateString("pt-BR");
});

const dynamicKey = ref(0);
const dialogRedeSocial = ref(false);
const formRedeSocial = ref({
  plataforma: "",
  link: "",
});
const plataformas = [
  { value: "FACEBOOK", title: "Facebook" },
  { value: "INSTAGRAM", title: "Instagram" },
  { value: "TWITTER", title: "Twitter" },
  { value: "WHATSAPP", title: "WhatsApp" },
  { value: "YOUTUBE", title: "YouTube" },
  { value: "OUTRA", title: "Outra" },
];
const rulesRequired = [(v: string) => !!v || "Campo obrigatório"];

const items = ref<{ [k: string]: Opcao[] }>({
  identidadesEtnicoCulturais: [],
  identidadesGenero: [],
  niveisEscolaridade: [],
  ocupacoes: [],
  racasCoresIbge: [],
});

// ON MOUNTED

onMounted(async () => {
  preencheForm();
  [
    items.value.identidadesEtnicoCulturais,
    items.value.identidadesGenero,
    items.value.niveisEscolaridade,
    items.value.ocupacoes,
    items.value.racasCoresIbge,
  ] = await Promise.all([
    getOpcoes(CategoriaOpcao.IDENTIDADE_ETNICO_CULTURAL),
    getOpcoes(CategoriaOpcao.IDENTIDADE_GENERO),
    getOpcoes(CategoriaOpcao.NIVEL_ESCOLARIDADE),
    getOpcoes(CategoriaOpcao.OCUPACAO),
    getOpcoes(CategoriaOpcao.RACA_COR_IBGE),
  ]);
});

// BEFORE ROUTE LEAVE

onBeforeRouteLeave(async (to, from, next) => {
  if (checkFormDirty()) {
    try {
      const confirm = await emitConfirmation("Você tem alterações não salvas", {
        description: "Deseja sair mesmo assim?",
        okText: "Sim",
        okColor: "",
        cancelText: "Não",
      });
      next(confirm);
    } catch (err) {
      console.error(err);
      next();
    }
    return;
  }
  next();
});

// METHODS

function onClearDataNacimento() {
  form.value.dataNascimento = null;
}

function onUpdateDataNascimento(value: Date) {
  form.value.dataNascimento = value || null;
  menuDataNascimento.value = false;
}

function updateFormInit() {
  formInit.value = cloneDeep(form.value);
}

function checkFormDirty() {
  return !isEqual(formInit.value, form.value);
}

function preencheForm() {
  form.value.nome = agente.value?.nome || "";
  // contato
  form.value.email = agente.value?.email || "";
  form.value.telefone1 = agente.value?.telefone1 || "";
  form.value.telefone2 = agente.value?.telefone2 || "";
  form.value.website = agente.value?.website || "";
  form.value.redesSociais = [];
  // dados pessoais
  form.value.dataNascimento = agenteIndividual.value?.dataNascimento || null;
  form.value.identidadeEtnicoCulturalId =
    agenteIndividual.value?.identidadeEtnicoCulturalId || null;
  form.value.identidadeEtnicoCulturalOutro =
    agenteIndividual.value?.identidadeEtnicoCulturalOutro || "";
  form.value.identidadeGeneroId =
    agenteIndividual.value?.identidadeGeneroId || null;
  form.value.nivelEscolaridadeId =
    agenteIndividual.value?.nivelEscolaridadeId || null;
  form.value.ocupacaoId = agenteIndividual.value?.ocupacaoId || null;
  form.value.ocupacaoOutro = agenteIndividual.value?.ocupacaoOutro || "";
  form.value.racaCorIbgeId = agenteIndividual.value?.racaCorIbgeId || null;
  // campos publicos
  Object.keys(form.value.camposPublicos).forEach((key) => {
    form.value.camposPublicos[key as keyof typeof form.value.camposPublicos] =
      agenteIndividual.value?.camposPublicos?.includes(key) || false;
  });
  // form init
  updateFormInit();
}

async function getOpcoes(categoria: CategoriaOpcao) {
  try {
    const responseData = await requester.opcoes.findAll({ categoria });
    return responseData?.results || [];
  } catch (err) {
    emitAlertError(err);
  }
  return [];
}

function onCancelarDialogRedeSocial() {
  dialogRedeSocial.value = false;
}
function onAdicionarDialogRedeSocial() {
  dialogRedeSocial.value = false;
  form.value.redesSociais.push({
    key: dynamicKey.value++,
    plataforma: formRedeSocial.value.plataforma,
    link: formRedeSocial.value.link,
  });
}
function onRemoverRedeSocial(key: number) {
  const index = form.value.redesSociais.findIndex((el) => el.key === key);
  if (index < 0) {
    return;
  }
  form.value.redesSociais.splice(index, 1);
}

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  loading.value.update = true;

  try {
    const formData = new FormData();
    if (formFile.value) {
      formData.append("file", formFile.value);
      await requester.usuarios.updateIdentificacaoPhoto(formData);
    } else if (!profileImage.value) {
      await requester.usuarios.deleteIdentificaçaoPhoto();
    }

    const dto: UpdateIdentificacaoUsuarioDto = {
      nome: form.value.nome?.trim() || null,
      email: form.value.email?.trim() || null,
      website: form.value.website?.trim() || null,
      telefone1: form.value.telefone1?.trim() || null,
      telefone2: form.value.telefone2?.trim() || null,
      dataNascimento: form.value.dataNascimento?.toISOString() || null,
      identidadeEtnicoCulturalId: form.value.identidadeEtnicoCulturalId || null,
      identidadeEtnicoCulturalOutro:
        form.value.identidadeEtnicoCulturalOutro?.trim() || null,
      identidadeGeneroId: form.value.identidadeGeneroId || null,
      nivelEscolaridadeId: form.value.nivelEscolaridadeId || null,
      ocupacaoId: form.value.ocupacaoId || null,
      ocupacaoOutro: form.value.ocupacaoOutro?.trim() || null,
      racaCorIbgeId: form.value.racaCorIbgeId || null,
      camposPublicos: Object.keys(form.value.camposPublicos).filter(
        (key) =>
          form.value.camposPublicos[
            key as keyof typeof form.value.camposPublicos
          ] === true
      ),
    };
    usuarioCompleto.value = await requester.usuarios.updateIdentificacao(dto);
    emitAlertSuccess("Identificação atualizada com sucesso!");
    updateFormInit();
    window.scrollTo({ top: 0 });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.update = false;
  }
}
</script>
