<template>
  <v-card v-if="$vuetify.display.mdAndDown" floating class="pa-0">
    <v-tabs show-arrows grow>
      <template v-for="(item, index) in items" :key="index">
        <v-menu v-if="item.title">
          <template v-slot:activator="{ props }">
            <v-tab hide-slider append-icon="mdi-menu-down" v-bind="props">{{
              item.title
            }}</v-tab>
          </template>
          <v-list>
            <v-list-item
              v-if="item.children.length === 0"
              disabled
              :title="item.emptyMessage"
            />
            <v-list-item
              v-for="(child, indexC) in item.children"
              :key="indexC"
              :to="child.to"
              exact
              :disabled="child.disabled"
            >
              <template v-slot:prepend>
                <v-avatar :icon="child.icon"></v-avatar>
              </template>
              <v-list-item-title>{{ child.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <template v-else>
          <v-tab
            v-for="(child, indexC) in item.children"
            :key="indexC"
            :to="child.to"
            :prepend-icon="child.icon"
            exact
            :disabled="child.disabled"
          >
            {{ child.title }}
          </v-tab>
        </template>
      </template>
    </v-tabs>
  </v-card>
  <v-list v-else>
    <div v-for="(item, index) in items" :key="index" class="mb-3">
      <v-list-subheader v-if="item.title" :title="item.title" />
      <v-list-item
        v-if="item.children.length === 0"
        disabled
        :title="item.emptyMessage"
      />
      <v-list-item
        v-for="(child, indexC) in item.children"
        :key="indexC"
        :to="child.to"
        :disabled="child.disabled"
        exact
      >
        <template v-slot:prepend>
          <v-avatar :icon="child.icon"></v-avatar>
        </template>
        <v-list-item-title>{{ child.title }}</v-list-item-title>
      </v-list-item>
    </div>
  </v-list>
</template>

<script setup lang="ts">
import { Ref, computed, inject, onMounted, ref } from "vue";
import {
  FavoritoComBase,
  UsuarioCompleto,
} from "@/requester/usuarios.requester";
import { useRoute } from "vue-router";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

// DATA

const route = useRoute();

const usuarioCompleto = inject<Ref<UsuarioCompleto>>("usuarioCompleto");
const meusFavoritos = ref<FavoritoComBase[]>([]);
const loading = ref({ meusFavoritos: true });

const items = computed(() => {
  switch (route.name) {
    case "UsuariosCadastro":
    case "UsuariosCadastroPreferencias":
    case "UsuariosCadastroIdentificacao":
    case "UsuariosCadastroLocalizacao":
    case "UsuariosCadastroAtuacao":
      return itemsCadastro;
    default:
      return itemsDefault.value;
  }
});

const itemsDefault = computed(() => [
  {
    title: "PERFIL",
    emptyMessage: null,
    children: [
      {
        icon: "mdi-home",
        title: "Início",
        to: { name: "UsuariosInicio" },
        disabled: false,
      },
      ...(usuarioCompleto.value?.agenteIndividual?.agente?.perfilPublico
        ? [
            {
              icon: "mdi-eye",
              title: "Ver perfil público",
              to: {
                name: "EntidadesInicio",
                params: {
                  baseUri: "agentes_individuais",
                  pk: usuarioCompleto.value?.agenteIndividual?.agenteId,
                },
              },
              disabled: false,
            },
          ]
        : []),
      {
        icon: "mdi-account-edit",
        title: "Meu cadastro",
        to: { name: "UsuariosCadastro" },
        disabled: false,
      },
    ],
  },
  {
    title: "REDE",
    emptyMessage: null,
    children: [
      {
        icon: "mdi-dots-grid",
        title: "Minha rede",
        to: { name: "Home" },
        disabled: true,
      },
      ...(usuarioCompleto.value?.agentesColetivosMembro || []).map((el) => ({
        icon: "mdi-account-group",
        title: el?.agenteColetivo?.agente?.nome,
        to: {
          name: "AgentesColetivosInicio",
          params: { id: el?.agenteColetivo?.id || 0 },
        },
        disabled: false,
      })),
      {
        icon: "mdi-plus",
        title: "Cadastrar novo agente",
        to: { name: "AgentesColetivosCadastro" },
        disabled: false,
      },
    ],
  },
  {
    title: "AÇÕES",
    emptyMessage: null,
    children: [
      {
        icon: "mdi-folder",
        title: "Meus projetos",
        to: { name: "UsuariosProjetos" },
        disabled: false,
      },
      {
        icon: "mdi-calendar-blank",
        title: "Minhas atividades",
        to: { name: "UsuariosAtividades" },
        disabled: false,
      },
    ],
  },
  {
    title: "FAVORITOS",
    emptyMessage: loading.value.meusFavoritos
      ? "Carregando..."
      : "Nenhum favorito...",
    children: meusFavoritos.value.map((favorito) => ({
      icon: favorito.base.icon || favorito.base.category.icon || "mdi-bookmark",
      title: favorito.nome,
      to: {
        name: "EntidadesInicio",
        params: { baseUri: favorito.baseUri, pk: favorito.pk },
      },
      disabled: false,
    })),
  },
]);

const itemsCadastro = [
  {
    title: null,
    emptyMessage: null,
    children: [
      {
        icon: "mdi-arrow-left",
        title: "Voltar",
        to: { name: "UsuariosInicio" },
        disabled: false,
      },
      {
        icon: "mdi-cog",
        title: "Preferências",
        to: { name: "UsuariosCadastro" },
        disabled: false,
      },
      {
        icon: "mdi-account",
        title: "Identificação",
        to: { name: "UsuariosCadastroIdentificacao" },
        disabled: false,
      },
      {
        icon: "mdi-map-marker",
        title: "Localização",
        to: { name: "UsuariosCadastroLocalizacao" },
        disabled: false,
      },
      {
        icon: "mdi-account-group",
        title: "Atuação",
        to: { name: "UsuariosCadastroAtuacao" },
        disabled: false,
      },
    ],
  },
];

// ON MOUNTED
onMounted(() => {
  getMeusFavoritos();
});

// METHODS

async function getMeusFavoritos() {
  meusFavoritos.value = [];
  loading.value.meusFavoritos = true;
  try {
    meusFavoritos.value = await requester.usuarios.meusFavoritos();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.meusFavoritos = false;
  }
}
</script>
