<template>
  <AgentesFormAtuacao hide-objetivo />
  <v-divider class="mb-4" />
  <div class="d-flex justify-space-between align-center">
    <v-btn
      variant="outlined"
      prepend-icon="mdi-undo"
      :loading="loading.update"
      @click="preencheForm()"
    >
      Desfazer
    </v-btn>
    <v-btn
      variant="flat"
      color="success"
      prepend-icon="mdi-floppy"
      :loading="loading.update"
      @click="onSalvarDebounce()"
    >
      Salvar
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { ref, provide, inject, onMounted, watch, Ref, nextTick } from "vue";
import { cloneDeep, debounce, isEqual } from "lodash";
import requester from "@/requester";
import { UsuarioCompleto } from "@/requester/usuarios.requester";
import { UpdateAtuacaoUsuarioDto } from "@backSrc/usuarios/dto";
import AgentesFormAtuacao from "@/components/agentes/AgentesFormAtuacao.vue";
import {
  emitAlertError,
  emitAlertSuccess,
  emitConfirmation,
} from "@/plugins/eventBus";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import { onBeforeRouteLeave } from "vue-router";

// DATA

const usuarioCompleto = inject<Ref<UsuarioCompleto>>("usuarioCompleto");

const loading = ref({
  update: false,
});
const formAtuacao = ref({
  objetivo: "",
  atuacao: "",
  atuaDesde: null,
  abrangenciaId: null,
  areasAtuacaoIds: [],
  areasEstudoPesquisaIds: [],
  publicosFocaisIds: [],
  tiposEspacosIds: [],
});
provide("formAtuacao", formAtuacao);
const formAtuacaoInit = ref(cloneDeep(formAtuacao.value));

// ON MOUNTED

onMounted(() => {
  preencheForm();
});

// BEFORE ROUTE LEAVE

onBeforeRouteLeave(async (to, from, next) => {
  if (checkFormDirty()) {
    try {
      const confirm = await emitConfirmation("Você tem alterações não salvas", {
        description: "Deseja sair mesmo assim?",
        okText: "Sim",
        okColor: "",
        cancelText: "Não",
      });
      next(confirm);
    } catch (err) {
      console.error(err);
      next();
    }
    return;
  }
  next();
});

// METHODS

function updateFormInit() {
  formAtuacaoInit.value = cloneDeep(formAtuacao.value);
}

function checkFormDirty() {
  return !isEqual(formAtuacaoInit.value, formAtuacao.value);
}

function preencheForm() {
  const agente = usuarioCompleto?.value?.agenteIndividual?.agente;
  if (!agente) return;
  formAtuacao.value.objetivo = agente?.objetivo?.trim() || "";
  formAtuacao.value.atuacao = agente?.atuacao?.trim() || "";
  formAtuacao.value.atuaDesde = agente?.atuaDesde || null;
  formAtuacao.value.abrangenciaId = agente?.abrangenciaId || null;
  // AREA_ATUACAO
  const areasAtuacao = agente.opcoes.filter(
    (el) => el.opcao.categoria === CategoriaOpcao.AREA_ATUACAO
  );
  formAtuacao.value.areasAtuacaoIds = areasAtuacao.map((el) => el.opcaoId);
  // AREA_ESTUDO_PESQUISA
  const areasEstudoPesquisa = agente.opcoes.filter(
    (el) => el.opcao.categoria === CategoriaOpcao.AREA_ESTUDO_PESQUISA
  );
  formAtuacao.value.areasEstudoPesquisaIds = areasEstudoPesquisa.map(
    (el) => el.opcaoId
  );
  // PUBLICO_FOCAL
  const publicosFocais = agente.opcoes.filter(
    (el) => el.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL
  );
  formAtuacao.value.publicosFocaisIds = publicosFocais.map((el) => el.opcaoId);
  // TIPO_ESPACO
  const tiposEspacos = agente.opcoes.filter(
    (el) => el.opcao.categoria === CategoriaOpcao.TIPO_ESPACO
  );
  formAtuacao.value.tiposEspacosIds = tiposEspacos.map((el) => el.opcaoId);
  // GUARDA FORM INIT
  updateFormInit();
}

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  loading.value.update = true;
  try {
    const dto: UpdateAtuacaoUsuarioDto = {
      abrangenciaId: formAtuacao.value.abrangenciaId,
      atuaDesde: !isNaN(Number(formAtuacao.value.atuaDesde))
        ? Number(formAtuacao.value.atuaDesde)
        : null,
      atuacao: formAtuacao.value.atuacao?.trim() || null,
      objetivo: formAtuacao.value.objetivo?.trim() || null,
      areasAtuacaoIds: formAtuacao.value.areasAtuacaoIds,
      areasAtuacaoOutros: [],
      areasEstudoPesquisaIds: formAtuacao.value.areasEstudoPesquisaIds,
      areasEstudoPesquisaOutros: [],
      publicosFocaisIds: formAtuacao.value.publicosFocaisIds,
      publicosFocaisOutros: [],
      tiposEspacosIds: formAtuacao.value.tiposEspacosIds,
      tiposEspacosOutros: [],
    };
    usuarioCompleto.value = await requester.usuarios.updateAtuacao(dto);
    emitAlertSuccess("Atuação atualizada com sucesso!");
    updateFormInit();
    window.scrollTo({ top: 0 });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.update = false;
  }
}
</script>
