<template>
  <v-alert type="info" prominent class="mb-6">
    <p class="text-body-1 font-weight-medium">
      Caso faça a opção por tornar seu endereço público, sugerimos que não
      utilize seu endereço pessoal. Dê preferência para exibir a sede do seu
      trabalho ou um local relacionado à sua atuação para fortalecer a rede
      local.
    </p>
  </v-alert>
  <v-alert
    density="compact"
    :color="form.enderecoPublico ? 'success' : 'error'"
    class="cursor-pointer px-0 mb-6"
    @click="form.enderecoPublico = !form.enderecoPublico"
  >
    <div class="d-flex justify-space-between align-center mx-5">
      <div class="d-flex align-center">
        <v-icon :icon="form.enderecoPublico ? 'mdi-eye' : 'mdi-eye-off'" />
        <div class="ml-4">
          <div class="text-body-1 font-weight-medium">
            {{ form.enderecoPublico ? "Endereço público" : "Endereço privado" }}
          </div>
          <div class="text-caption">
            {{
              form.enderecoPublico
                ? "Clique para tornar o endereço privado"
                : "Clique para tornar o endereço público"
            }}
          </div>
        </div>
      </div>
      <v-switch :model-value="form.enderecoPublico" readonly hide-details />
    </div>
  </v-alert>
  <v-row dense>
    <v-col cols="12" md="12">
      <h3 class="text-body-1 font-weight-medium mb-3">Endereço de atuação</h3>
    </v-col>
    <v-col cols="12" md="12">
      <EnderecosForm ref="enderecosForm" />
    </v-col>
  </v-row>
  <v-divider class="my-4" />
  <div class="d-flex justify-space-between align-center">
    <v-btn
      variant="outlined"
      prepend-icon="mdi-undo"
      :loading="loading.update"
      @click="preencheForm()"
    >
      Desfazer
    </v-btn>
    <v-btn
      variant="flat"
      color="success"
      prepend-icon="mdi-floppy"
      :loading="loading.update"
      @click="onSalvarDebounce()"
    >
      Salvar
    </v-btn>
  </div>
</template>

<script setup lang="ts">
import { ref, provide, inject, Ref, nextTick } from "vue";
import { cloneDeep, debounce, isEqual } from "lodash";
import { onMounted } from "vue";
import { UsuarioCompleto } from "@/requester/usuarios.requester";
import requester from "@/requester";
import { UpdateLocalizacaoUsuarioDto } from "@backSrc/usuarios/dto";
import {
  emitAlertError,
  emitAlertSuccess,
  emitConfirmation,
} from "@/plugins/eventBus";
import EnderecosForm from "../enderecos/EnderecosForm.vue";
import { onBeforeRouteLeave } from "vue-router";

// DATA

const enderecosForm = ref();

const usuarioCompleto = inject<Ref<UsuarioCompleto>>("usuarioCompleto");

const loading = ref({
  update: false,
});
const form = ref({
  enderecoPublico: false,
});
const formInit = ref(cloneDeep(form.value));
const formEndereco = ref({
  latitude: null,
  longitude: null,
  logradouro: "",
  numero: "",
  bairro: "",
  complemento: "",
  codigoPostal: "",
  municipioCodigo: null,
  municipioNome: "",
  ufSigla: null,
  ufNome: "",
});
provide("formEndereco", formEndereco);
const formEnderecoInit = ref(cloneDeep(formEndereco.value));

// ON MOUNTED
onMounted(() => {
  preencheForm();
  enderecosForm?.value?.initMap();
});

// BEFORE ROUTE LEAVE

onBeforeRouteLeave(async (to, from, next) => {
  if (checkFormDirty()) {
    try {
      const confirm = await emitConfirmation("Você tem alterações não salvas", {
        description: "Deseja sair mesmo assim?",
        okText: "Sim",
        okColor: "",
        cancelText: "Não",
      });
      next(confirm);
    } catch (err) {
      console.error(err);
      next();
    }
    return;
  }
  next();
});

// METHODS

function updateFormInit() {
  formInit.value = cloneDeep(form.value);
  formEnderecoInit.value = cloneDeep(formEndereco.value);
}

function checkFormDirty() {
  return (
    !isEqual(formInit.value, form.value) ||
    !isEqual(formEnderecoInit.value, formEndereco.value)
  );
}

function preencheForm() {
  const agenteIndividual = usuarioCompleto.value?.agenteIndividual;
  form.value.enderecoPublico = agenteIndividual?.enderecoPublico || false;
  const endereco = agenteIndividual?.agente?.endereco;
  if (!endereco) return;
  formEndereco.value.latitude = endereco.latitude || null;
  formEndereco.value.longitude = endereco.longitude || null;
  formEndereco.value.logradouro = endereco.logradouro || "";
  formEndereco.value.numero = endereco.numero || "";
  formEndereco.value.bairro = endereco.bairro || "";
  formEndereco.value.complemento = endereco.complemento || "";
  formEndereco.value.codigoPostal = endereco.codigoPostal || "";
  formEndereco.value.ufSigla = endereco.ufSigla || null;
  formEndereco.value.ufNome = endereco.ufNome || "";
  formEndereco.value.municipioCodigo = !isNaN(Number(endereco.municipioCodigo))
    ? Number(endereco.municipioCodigo)
    : null;
  formEndereco.value.municipioNome = endereco.municipioNome || "";
  // update form init
  updateFormInit();
}

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  loading.value.update = true;
  try {
    const dto: UpdateLocalizacaoUsuarioDto = {
      enderecoPublico: form.value.enderecoPublico,
      endereco: {
        latitude: Number(formEndereco.value.latitude) || null,
        longitude: Number(formEndereco.value.longitude) || null,
        logradouro: formEndereco.value.logradouro?.trim() || null,
        numero: formEndereco.value.numero?.trim() || null,
        bairro: formEndereco.value.bairro?.trim() || null,
        complemento: formEndereco.value.complemento?.trim() || null,
        codigoPostal: formEndereco.value.codigoPostal?.trim() || null,
        municipioCodigo:
          formEndereco.value.municipioCodigo?.toString()?.trim() || null,
        municipioNome: formEndereco.value.municipioNome?.trim() || null,
        ufSigla: formEndereco.value.ufSigla?.trim() || null,
        ufNome: formEndereco.value.ufNome?.trim() || null,
      },
    };
    usuarioCompleto.value = await requester.usuarios.updateLocalizacao(dto);
    emitAlertSuccess("Localização atualizada com sucesso");
    updateFormInit();
    window.scrollTo({ top: 0 });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.update = false;
  }
}
</script>
