<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-list-box" class="text-h4" start />
    <h1 class="text-h4">Datasets</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <!-- DIALOG CREATE CATALOG -->
  <DatasetsDialogCreate
    v-model="dialogCreateDataset"
    @dataset-created="onDatasetCreated"
  />

  <!-- DIALOG UPDATE ATTRIBUTE -->
  <DatasetsDialogUpdate
    v-if="selectedDataset"
    :key="selectedDataset.id"
    v-model="dialogUpdateDataset"
    :dataset="selectedDataset"
    @dataset-updated="onDatasetUpdated"
  />

  <!-- SEARCH BAR && CREATE BUTTON -->
  <div class="d-flex align-center mb-2">
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateDataset = true"
    >
      Dataset
    </v-btn>
  </div>
  <!-- TABLE DATASETS -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>URI</th>
          <th>Name</th>
          <th>Description</th>
          <th>Format</th>
          <th>Owner</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in datasetsFiltered" :key="item.id">
          <td>
            <router-link
              class="font-weight-medium text-decoration-none"
              :to="{ name: 'DatasetsView', params: { datasetId: item.id } }"
            >
              {{ item.uri }}
            </router-link>
          </td>
          <td>
            {{ item.title }}
          </td>
          <td>
            <span
              v-if="item.description"
              class="text-medium-emphasis"
              v-text="item.description"
            />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>
            <div class="d-flex align-center">
              <v-icon
                :icon="getDatasetFormatIcon(item.format)"
                size="small"
                color="grey-darken-2"
                class="mr-2"
              />
              <span v-text="getDatasetFormatText(item.format)" />
            </div>
          </td>
          <td>
            <span v-if="item.owner" v-text="item.owner" />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td>
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{ name: 'DatasetsView', params: { datasetId: item.id } }"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editDataset(item)"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeDataset(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";
import { filterFormatDate } from "@/utils/filters";

import { Dataset } from "@backPrisma/client";

import DatasetsDialogCreate from "@/components/datasets/DatasetsDialogCreate.vue";
import DatasetsDialogUpdate from "@/components/datasets/DatasetsDialogUpdate.vue";
import {
  getDatasetFormatIcon,
  getDatasetFormatText,
} from "@/utils/datasets-helper.utils";

const dialogCreateDataset = ref(false);
const dialogUpdateDataset = ref(false);

const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const datasets = ref<Dataset[]>([]);
const datasetsFiltered = computed(() =>
  datasets.value.filter((dataset) => {
    return (
      cleanString(dataset.uri || "").includes(cleanSearch.value) ||
      cleanString(dataset.title || "").includes(cleanSearch.value) ||
      cleanString(dataset.description || "").includes(cleanSearch.value) ||
      cleanString(dataset.owner || "").includes(cleanSearch.value)
    );
  })
);

const selectedDataset = ref<Dataset>();

onMounted(() => {
  findAllDatasets();
});

function onDatasetCreated() {
  dialogCreateDataset.value = false;
  findAllDatasets();
}

function onDatasetUpdated(dataset: Dataset) {
  const index = datasets.value.findIndex((el) => el.id === dataset.id);
  if (index >= 0) {
    datasets.value[index] = dataset;
  }
  dialogUpdateDataset.value = false;
}

function editDataset(dataset: Dataset) {
  selectedDataset.value = dataset;
  dialogUpdateDataset.value = true;
}

async function removeDataset(datasetId: number) {
  try {
    await requester.datasets.remove(datasetId);
    emitAlertSuccess("Dataset successfully removed");
    const index = datasets.value.findIndex(
      (dataset) => dataset.id === datasetId
    );
    if (index >= 0) {
      datasets.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAllDatasets() {
  try {
    datasets.value = await requester.datasets.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
