<template>
  <AttributesSeriesDialogForeignKeyRelationships
    v-if="selectedAttributeSeriesFk"
    v-model="dialogRelationshipsFk"
    :attributeSeries="selectedAttributeSeriesFk"
    :datasets="datasets"
    @relationship-created="onRelationshipFkCreated"
    @relationship-removed="onRelationshipFkRemoved"
  />
  <AttributesSeriesDialogReferenceRelationships
    v-if="selectedAttributeSeriesRef"
    v-model="dialogRelationshipsRef"
    :attributeSeries="selectedAttributeSeriesRef"
    @relationship-removed="onRelationshipRefRemoved"
  />
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table density="compact">
      <thead>
        <tr>
          <th class="text-center" width="1">#</th>
          <th class="text-center" width="1">Ref</th>
          <th class="text-center" width="1">FK</th>
          <th v-for="version in versionsOrdered" :key="version.id">
            <div>{{ version.uri }}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="attributeSeries in attributesSeries"
          :key="attributeSeries.id"
        >
          <td class="text-disabled text-caption text-center text-no-wrap">
            {{
              attributeSeries.index
                .toString()
                .padStart(attributesSeries.length.toString().length, "0")
            }}
          </td>
          <td>
            <v-badge
              v-if="attributeSeries.relationshipsReference.length > 0"
              dot
              color="amber"
            >
              <v-btn
                icon="mdi-key-link"
                variant="text"
                density="compact"
                @click="openDialogRelationshipsRef(attributeSeries)"
              />
            </v-badge>
            <v-btn
              v-else
              icon="mdi-key-link"
              variant="text"
              color="grey-lighten-2"
              @click="openDialogRelationshipsRef(attributeSeries)"
            />
          </td>
          <td class="text-center">
            <v-badge
              v-if="attributeSeries.relationshipsForeignKey.length > 0"
              dot
              color="red"
            >
              <v-btn
                icon="mdi-key"
                variant="text"
                density="compact"
                @click="openDialogRelationshipsFk(attributeSeries)"
              />
            </v-badge>
            <v-btn
              v-else
              icon="mdi-key-plus"
              variant="text"
              color="grey-lighten-2"
              @click="openDialogRelationshipsFk(attributeSeries)"
            />
          </td>
          <td
            v-for="version in versionsOrdered"
            :key="version.id"
            :class="`bg-${getAttributeColor(attributeSeries.id, version.id)}`"
          >
            <div>
              <div>
                <template
                  v-if="
                    getAttributeValue(
                      'section.uri',
                      attributeSeries.id,
                      version.id
                    )
                  "
                >
                  <span
                    class="text-disabled"
                    v-text="
                      getAttributeValue(
                        'section.uri',
                        attributeSeries.id,
                        version.id
                      )
                    "
                  />
                  <span class="text-disabled" v-text="':'" />
                </template>
                <span
                  v-text="
                    getAttributeValue('name', attributeSeries.id, version.id)
                  "
                />
              </div>
              <div
                class="text-medium-emphasis text-caption"
                v-text="
                  getAttributeValue(
                    'description',
                    attributeSeries.id,
                    version.id
                  )
                "
              />
              <div>
                <span
                  class="text-caption text-disabled"
                  v-text="
                    getAttributeValue('type', attributeSeries.id, version.id)
                  "
                />
                <v-chip
                  v-if="
                    getAttributeValue('unique', attributeSeries.id, version.id)
                  "
                  color="deep-orange-darken-2"
                  size="x-small"
                  text="Unique"
                  class="ml-1"
                />
                <v-chip
                  v-if="
                    getAttributeValue(
                      'indexable',
                      attributeSeries.id,
                      version.id
                    )
                  "
                  color="blue-grey-darken-2"
                  size="x-small"
                  text="Indexable"
                  class="ml-1"
                />
                <v-chip
                  v-if="
                    getAttributeValue(
                      'optional',
                      attributeSeries.id,
                      version.id
                    )
                  "
                  color="grey-darken-1"
                  size="x-small"
                  text="Optional"
                  class="ml-1"
                />
                <v-chip
                  v-if="
                    getAttributeValue(
                      'sensitiveData',
                      attributeSeries.id,
                      version.id
                    )
                  "
                  color="red-darken-2"
                  size="x-small"
                  text="Sensitive"
                  class="ml-1"
                />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref } from "vue";
import { orderBy } from "lodash";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Dataset,
  Section,
  Version,
} from "@backPrisma/client";
import AttributesSeriesDialogReferenceRelationships from "@/components/attributes-series/AttributesSeriesDialogReferenceRelationships.vue";
import AttributesSeriesDialogForeignKeyRelationships from "@/components/attributes-series/AttributesSeriesDialogForeignKeyRelationships.vue";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  relationshipsForeignKey: AttributeSeriesRelationship[];
  relationshipsReference: AttributeSeriesRelationship[];
};

// INJECT
const dataset = inject<Ref<Dataset>>("dataset");

// DATA

const dialogRelationshipsFk = ref(false);
const dialogRelationshipsRef = ref(false);
const selectedAttributeSeriesFk = ref<AttributeSeriesAndRelations>();
const selectedAttributeSeriesRef = ref<AttributeSeriesAndRelations>();
const datasets = ref<Dataset[]>([]);

const attributesSeries = ref<AttributeSeriesAndRelations[]>([]);

const versions = ref<Version[]>([]);
const versionsOrdered = computed(() =>
  orderBy(
    versions.value,
    ["startDateYear", "startDateMonth", "startDateMonth"],
    ["asc", "asc", "asc"]
  )
);

// ON MOUNTED
onMounted(() => {
  findAttributesSeries(dataset.value.id);
  findDatasets();
  findVersions(dataset.value.id);
});

// METHODS

function onRelationshipFkCreated(relationship: AttributeSeriesRelationship) {
  selectedAttributeSeriesFk.value.relationshipsForeignKey.push(relationship);
}

function onRelationshipFkRemoved(relationship: AttributeSeriesRelationship) {
  const index =
    selectedAttributeSeriesFk.value.relationshipsForeignKey.findIndex(
      (el) => el.id === relationship.id
    );
  if (index < 0) return;
  selectedAttributeSeriesFk.value.relationshipsForeignKey.splice(index, 1);
}

function onRelationshipRefRemoved(relationship: AttributeSeriesRelationship) {
  const index =
    selectedAttributeSeriesRef.value.relationshipsForeignKey.findIndex(
      (el) => el.id === relationship.id
    );
  if (index < 0) return;
  selectedAttributeSeriesRef.value.relationshipsForeignKey.splice(index, 1);
}

function openDialogRelationshipsFk(
  attributeSeries: AttributeSeriesAndRelations
) {
  dialogRelationshipsFk.value = true;
  selectedAttributeSeriesFk.value = attributeSeries;
}

function openDialogRelationshipsRef(
  attributeSeries: AttributeSeriesAndRelations
) {
  dialogRelationshipsRef.value = true;
  selectedAttributeSeriesRef.value = attributeSeries;
}

function getAttribute(
  attributeSeriesId: number,
  versionId: number
): (Attribute & { section: Section }) | null {
  const attributeSeries = attributesSeries.value.find(
    (el) => el.id === attributeSeriesId
  );
  if (!attributeSeries) return null;
  return attributeSeries.attributes.find(
    (el) => el.section.versionId === versionId
  );
}

function getAttributeValue(
  key:
    | "section.uri"
    | "name"
    | "description"
    | "type"
    | "unique"
    | "indexable"
    | "optional"
    | "sensitiveData",
  attributeSeriesId: number,
  versionId: number
): string | boolean {
  const attribute = getAttribute(attributeSeriesId, versionId);
  if (key.includes(".")) {
    const [firstKey, secondKey] = key.split(".");
    return attribute?.[firstKey]?.[secondKey];
  }
  return attribute?.[key];
}

function getAttributeColor(
  attributeSeriesId: number,
  versionId: number
): string {
  const attribute = getAttribute(attributeSeriesId, versionId);
  if (!attribute) return "grey-lighten-4";
  const versionIndex = versionsOrdered.value.findIndex(
    (el) => el.id === versionId
  );
  if (versionIndex < 0) return "";
  const previousVersion = versionsOrdered.value?.[versionIndex - 1];
  const previousAttribute = getAttribute(
    attributeSeriesId,
    previousVersion?.id
  );
  const nextVersion = versionsOrdered.value?.[versionIndex + 1];
  const nextAttribute = getAttribute(attributeSeriesId, nextVersion?.id);
  if (nextVersion && !nextAttribute) {
    return "red-lighten-4";
  }
  if (!previousAttribute) {
    return "green-lighten-4";
  }
  if (
    previousAttribute &&
    (attribute.name !== previousAttribute.name ||
      attribute.type !== previousAttribute.type)
  ) {
    return "amber-lighten-4";
  }
  return "";
}

async function findAttributesSeries(datasetId: number) {
  try {
    attributesSeries.value = await requester.datasets.findAttributesSeries(
      datasetId
    );
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDatasets() {
  try {
    datasets.value = await requester.datasets.findAll();
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersions(datasetId: number) {
  try {
    versions.value = await requester.datasets.findVersions(datasetId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
