<template>
  <div v-if="dataset">
    <v-card color="black" variant="flat" class="mb-4">
      <v-card-text>
        <pre>{{ dataset }}</pre>
      </v-card-text>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Dataset } from "@backPrisma/client";

// INJECT
const dataset = inject<Ref<Dataset>>("dataset");
</script>
