<template>
  <!-- DIALOG CREATE CATALOG -->
  <VersionsDialogCreate
    v-model="dialogCreateVersion"
    :datasetId="dataset.id"
    @version-created="onVersionCreated"
  />

  <!-- DIALOG UPDATE ATTRIBUTE -->
  <VersionsDialogUpdate
    v-if="selectedVersion"
    :key="selectedVersion.id"
    v-model="dialogUpdateVersion"
    :version="selectedVersion"
    :datasetId="dataset.id"
    @version-updated="onVersionUpdated"
  />

  <!-- SEARCH BAR AND BTNS -->
  <div class="d-flex align-center mb-2">
    <!-- SEARCH BAR -->
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <!-- BTN OPEN DIALOG CREATE VERSION -->
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateVersion = true"
    >
      Version
    </v-btn>
  </div>
  <!-- TABLE VERSIONS -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>URI</th>
          <th>Name</th>
          <th>Description</th>
          <th>Interval</th>
          <th class="text-center">Default</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in versionsFiltered" :key="item.id">
          <td>
            <router-link
              class="font-weight-medium text-decoration-none"
              :to="{
                name: 'VersionsView',
                params: { datasetId: item.datasetId, versionId: item.id },
              }"
            >
              {{ item.uri }}
            </router-link>
          </td>
          <td>
            {{ item.title }}
          </td>
          <td>
            <span
              v-if="item.description"
              class="text-medium-emphasis"
              v-text="item.description"
            />
            <span v-else class="text-disabled" v-text="'N/A'" />
          </td>
          <td>
            <span>
              {{ getVersionDate(item) }}
              <v-tooltip activator="parent" location="bottom">
                <table>
                  <tr>
                    <th class="text-left pr-1">Start</th>
                    <td v-text="getVersionStartDate(item)" />
                  </tr>
                  <tr>
                    <th class="text-left pr-1">End</th>
                    <td v-text="getVersionEndDate(item)" />
                  </tr>
                </table>
              </v-tooltip>
            </span>
          </td>
          <td class="text-center">
            <v-btn
              :icon="
                item.default ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'
              "
              variant="text"
              @click="onClickRadioDefault(item.id, item.default)"
            />
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td>
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{
                name: 'VersionsView',
                params: { datasetId: item.datasetId, versionId: item.id },
              }"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editVersion(item)"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeVersion(item.id)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref } from "vue";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { cleanString } from "@/utils/string-functions.utils";

import { Dataset, Version } from "@backPrisma/client";

import VersionsDialogCreate from "@/components/versions/VersionsDialogCreate.vue";
import VersionsDialogUpdate from "@/components/versions/VersionsDialogUpdate.vue";
import { filterFormatDate } from "@/utils/filters";
import {
  getVersionDate,
  getVersionEndDate,
  getVersionStartDate,
} from "@/utils/versions-helper.utils";

// INJECT
const dataset = inject<Ref<Dataset>>("dataset");

// DATA

const dialogCreateVersion = ref(false);
const dialogUpdateVersion = ref(false);

const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const versions = ref<Version[]>([]);
const versionsFiltered = computed(() =>
  versions.value.filter((version) => {
    return (
      cleanString(version.uri).includes(cleanSearch.value) ||
      cleanString(version.title).includes(cleanSearch.value) ||
      cleanString(version.description || "").includes(cleanSearch.value)
    );
  })
);

const selectedVersion = ref<Version>();

// ON MOUNTED
onMounted(() => {
  findVersions(dataset.value.id);
});

// METHODS

async function onClickRadioDefault(versionId: number, oldDefault: boolean) {
  const newDefault = !oldDefault;
  if (newDefault === false) return;
  try {
    await requester.versions.setDefault(versionId);
    findVersions(dataset.value.id);
    emitAlertSuccess("Version successfully updated");
  } catch (err) {
    emitAlertError(err);
  }
}

function onVersionCreated() {
  dialogCreateVersion.value = false;
  findVersions(dataset.value.id);
}

function onVersionUpdated(version: Version) {
  const index = versions.value.findIndex((el) => el.id === version.id);
  if (index >= 0) {
    versions.value[index] = version;
  }
  dialogUpdateVersion.value = false;
}

function editVersion(version: Version) {
  selectedVersion.value = version;
  dialogUpdateVersion.value = true;
}

async function removeVersion(versionId: number) {
  try {
    await requester.versions.remove(versionId);
    emitAlertSuccess("Version successfully removed");
    const index = versions.value.findIndex(
      (version) => version.id === versionId
    );
    if (index >= 0) {
      versions.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersions(datasetId: number) {
  try {
    versions.value = await requester.datasets.findVersions(datasetId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
