<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
    persistent
  >
    <v-card>
      <v-card-item class="bg-neutral-lighten-4">
        <v-card-title>
          <div class="d-flex justify-space-between align-center w-100">
            <div class="d-flex align-cnter">
              <v-icon icon="mdi-folder" start />
              <span>Cadastrar projeto</span>
            </div>
            <v-icon
              icon="mdi-close"
              size="small"
              @click="updateModelValue(false)"
            />
          </div>
        </v-card-title>
      </v-card-item>
      <v-divider />
      <v-card-text>
        <ProjetosFormCadastrar
          :agenteColetivoId="agenteColetivoId"
          :enderecoAgente="enderecoAgente"
          @projeto-cadastrado="onProjetoCadastrado"
          @cancelar="onCancelar()"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { Endereco } from "@backPrisma/client";
import ProjetosFormCadastrar from "./ProjetosFormCadastrar.vue";

// PROPS
export interface Props {
  modelValue?: boolean;
  agenteColetivoId?: number | null;
  enderecoAgente?: Endereco | null;
  width?: number | string;
}
withDefaults(defineProps<Props>(), {
  modelValue: false,
  agenteColetivoId: null,
  enderecoAgente: null,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "projeto-cadastrado", projeto: ProjetoCompleto): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

function onCancelar() {
  emit("update:model-value", false);
}

function onProjetoCadastrado(projeto: ProjetoCompleto) {
  emit("projeto-cadastrado", projeto);
}
</script>
