<template>
  <div>
    <v-form ref="refForm">
      <v-row dense>
        <v-col cols="12" md="12">
          <div class="text-h6 mb-3">Detalhes</div>
        </v-col>
        <v-col cols="12" md="12">
          <v-text-field
            label="Título *"
            v-model.trim="form.titulo"
            variant="outlined"
            :rules="rulesRequired"
          />
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            label="Descrição *"
            v-model.trim="form.descricao"
            variant="outlined"
            rows="2"
            :rules="rulesRequired"
          />
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            label="Objetivo"
            v-model.trim="form.objetivo"
            variant="outlined"
            rows="2"
          />
        </v-col>
        <v-col cols="12" md="12">
          <v-textarea
            label="Vínculos"
            v-model.trim="form.vinculos"
            variant="outlined"
            rows="2"
          />
        </v-col>
        <v-col cols="12" md="6">
          <v-autocomplete
            label="Temas"
            v-model="form.areasAtuacaoIds"
            :items="items.areasAtuacao"
            item-value="id"
            item-title="nome"
            multiple
            chips
            closable-chips
            variant="outlined"
          />
        </v-col>
        <v-col cols="12" md="6">
          <v-autocomplete
            label="Públicos focais"
            v-model="form.publicosFocaisIds"
            :items="items.publicosFocais"
            item-value="id"
            item-title="nome"
            multiple
            chips
            closable-chips
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>
    <v-row dense>
      <v-col cols="12" md="12">
        <div class="text-h6 mb-3">Localização</div>
        <v-radio-group v-model="form.enderecoReferencia">
          <v-radio
            :value="ProjetoEnderecoReferenciaEnum.AGENTE"
            label="Utilizar endereço do agente"
            :disabled="!enderecoAgente"
          />
          <div
            v-if="enderecoAgente"
            class="ml-10 text-body-2 text-disabled d-flex align-center mb-1"
          >
            {{ formatEndereco(enderecoAgente) }}
          </div>
          <v-radio :value="null" label="Cadastrar novo endereço" />
        </v-radio-group>
        <EnderecosForm
          v-if="form.enderecoReferencia === null"
          ref="refEnderecosForm"
        />
      </v-col>
    </v-row>
    <v-divider class="mb-4" />
    <div
      class="d-flex flex-column flex-sm-row justify-sm-space-between align-sm-center"
    >
      <v-btn
        variant="outlined"
        prepend-icon="mdi-close"
        :loading="loading.salvar"
        class="mb-4 mb-sm-0"
        @click="emit('cancelar')"
      >
        Cancelar
      </v-btn>
      <v-btn
        variant="flat"
        color="success"
        prepend-icon="mdi-floppy"
        @click="onSalvarDebounce()"
        :loading="loading.salvar"
      >
        Salvar
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { nextTick, onMounted, provide, ref, watch } from "vue";
import { debounce } from "lodash";
import requester from "@/requester";
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import { formatEndereco } from "@/utils/enderecos-helper.utils";
import { Endereco, Opcao } from "@backPrisma/client";
import { CreateProjetoDto } from "@backSrc/projetos/dto";
import { ProjetoEnderecoReferenciaEnum } from "@backSrc/projetos/projetos.constants";
import EnderecosForm from "@/components/enderecos/EnderecosForm.vue";

// PROPS
export interface Props {
  agenteColetivoId?: number | null;
  enderecoAgente?: Endereco | null;
}
const props = withDefaults(defineProps<Props>(), {
  agenteColetivoId: null,
  enderecoAgente: null,
});

// EMITS
const emit = defineEmits<{
  (e: "projeto-cadastrado", projeto: ProjetoCompleto): void;
  (e: "cancelar"): void;
}>();

// DATA

const refForm = ref();
const refEnderecosForm = ref();

const projetoFormValid = ref(true);

const loading = ref({
  salvar: false,
});
const rulesRequired = [(v: string) => !!v || "Campo obrigatório"];

const form = ref({
  projetoId: null,
  titulo: "",
  descricao: "",
  objetivo: "",
  vinculos: "",
  diaTodo: false,
  areasAtuacaoIds: [],
  publicosFocaisIds: [],
  enderecoReferencia:
    ProjetoEnderecoReferenciaEnum.AGENTE as ProjetoEnderecoReferenciaEnum | null,
});

const formEndereco = ref({
  latitude: null,
  longitude: null,
  logradouro: "",
  numero: "",
  bairro: "",
  complemento: "",
  codigoPostal: "",
  municipioCodigo: null,
  municipioNome: "",
  ufSigla: null,
  ufNome: "",
});
provide("formEndereco", formEndereco);

const items = ref<{ [k: string]: Opcao[] }>({
  areasAtuacao: [],
  publicosFocais: [],
});

// WATCHERS

watch(
  () => form.value.enderecoReferencia,
  (newVal) => {
    if (newVal === null) {
      nextTick(() => refEnderecosForm.value?.initMap());
    }
  }
);

// ON MOUNTED
onMounted(async () => {
  refEnderecosForm.value?.initMap();
  [items.value.areasAtuacao, items.value.publicosFocais] = await Promise.all([
    getOpcoes(CategoriaOpcao.AREA_ATUACAO),
    getOpcoes(CategoriaOpcao.PUBLICO_FOCAL),
  ]);
});

// METHODS
async function getOpcoes(categoria: CategoriaOpcao) {
  try {
    const responseData = await requester.opcoes.findAll({ categoria });
    return responseData?.results || [];
  } catch (err) {
    emitAlertError(err);
  }
  return [];
}

async function formValidate() {
  const formValidation = await refForm.value?.validate();
  const enderecosFormValidation = await refEnderecosForm.value?.validate();
  projetoFormValid.value =
    formValidation.valid &&
    (form.value.enderecoReferencia !== null ||
      (form.value.enderecoReferencia === null &&
        enderecosFormValidation.valid));
}

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  formValidate();
  if (!projetoFormValid.value) {
    return;
  }
  try {
    const dto: CreateProjetoDto = {
      projetoId: form.value.projetoId,
      titulo: form.value.titulo?.trim() || null,
      descricao: form.value.descricao?.trim() || null,
      objetivo: form.value.objetivo?.trim() || null,
      vinculos: form.value.vinculos?.trim() || null,
      opcoesIds: [
        ...form.value.areasAtuacaoIds,
        ...form.value.publicosFocaisIds,
      ],
      enderecoReferencia: form.value.enderecoReferencia,
      ...(form.value.enderecoReferencia === null
        ? {
            endereco: {
              latitude: Number(formEndereco.value.latitude) || null,
              longitude: Number(formEndereco.value.longitude) || null,
              logradouro: formEndereco.value.logradouro?.trim() || null,
              numero: formEndereco.value.numero?.trim() || null,
              bairro: formEndereco.value.bairro?.trim() || null,
              complemento: formEndereco.value.complemento?.trim() || null,
              codigoPostal: formEndereco.value.codigoPostal?.trim() || null,
              municipioCodigo:
                formEndereco.value.municipioCodigo?.toString()?.trim() || null,
              municipioNome: formEndereco.value.municipioNome?.trim() || null,
              ufSigla: formEndereco.value.ufSigla?.trim() || null,
              ufNome: formEndereco.value.ufNome?.trim() || null,
            },
          }
        : {}),
    };
    let projeto: ProjetoCompleto;
    if (props.agenteColetivoId) {
      projeto = await requester.agentesColetivos.createProjeto(
        props.agenteColetivoId,
        dto
      );
    } else {
      projeto = await requester.usuarios.createProjeto(dto);
    }
    emit("projeto-cadastrado", projeto);
    emitAlertSuccess("Projeto criado com sucesso");
  } catch (err) {
    emitAlertError(err);
  }
  return [];
}
</script>
