<template>
  <div>
    <AtividadesDialogCadastrar
      v-if="projetoSelecionado"
      v-model="dialogCadastrarAtividade"
      :agenteColetivoId="agenteColetivoId"
      :enderecoAgente="enderecoAgente"
      :projetos="projetos"
      :projeto-id="projetoSelecionado.id"
      :enderecoProjeto="projetoSelecionado.endereco"
      @atividade-cadastrada="onAtividadeCadastrada"
    />
    <div class="d-flex align-center mb-6">
      <v-text-field
        label="Pesquisar"
        variant="outlined"
        density="compact"
        bg-color="neutral-lighten-5"
        append-inner-icon="mdi-magnify"
        rounded
        hide-details
        disabled
      />
      <v-btn
        prepend-icon="mdi-filter-variant"
        variant="flat"
        rounded
        class="ml-3"
        disabled
      >
        Filtrar
      </v-btn>
    </div>
    <v-card
      v-if="projetos.length === 0"
      variant="outlined"
      color="neutral-lighten-2"
    >
      <v-card-text
        class="d-flex justify-center align-center text-body-1 text-disabled"
      >
        Nenhum projeto cadastrado
      </v-card-text>
    </v-card>
    <v-card
      v-for="projeto in projetos"
      :key="projeto.id"
      variant="outlined"
      color="neutral-lighten-1"
      rounded
      class="mb-6"
    >
      <v-card flat tile color="neutral-lighten-5">
        <v-card-title class="d-flex justify-space-between align-center">
          <div class="d-flex align-center">
            <v-avatar color="neutral">
              <v-icon icon="mdi-folder" size="small" />
            </v-avatar>
            <h3 class="text-h6 ml-3">{{ projeto.titulo }}</h3>
          </div>
          <div class="d-flex align-center justify-end">
            <v-btn prepend-icon="mdi-information" variant="text" disabled>
              Detalhes
            </v-btn>
            <v-menu location="bottom right">
              <template v-slot:activator="{ props }">
                <v-btn
                  icon="mdi-dots-vertical"
                  variant="text"
                  size="small"
                  v-bind="props"
                />
              </template>
              <v-list density="compact">
                <v-list-item @click="emit('remover-projeto', projeto.id)">
                  <v-list-item-title> Remover </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-card-title>
        <v-card-text>
          <v-divider class="mb-3" />
          <!-- LOCAL -->
          <div class="d-flex align-top mb-2">
            <router-link
              :to="{
                name: 'Mapa',
                query: {
                  lat: projeto.endereco.latitude,
                  lng: projeto.endereco.longitude,
                  zoom: 14,
                },
              }"
              class="text-decoration-none text-neutral-darken-4 font-weight-medium"
            >
              <v-icon
                icon="mdi-map-marker"
                size="small"
                start
                color="neutral-darken-3"
              />
              <span>
                {{ formatEndereco(projeto.endereco) }}
              </span>
            </router-link>
          </div>
          <!-- DESCRICAO -->
          <div class="d-flex align-top mb-2">
            <v-icon
              icon="mdi-text"
              size="small"
              start
              color="neutral-darken-1"
            />
            <p v-if="projeto.descricao" class="text-medium-emphasis">
              <template v-if="projeto.descricao.length > 200">
                {{ projeto.descricao.slice(0, 200) }}...
              </template>
              <template v-else>
                {{ projeto.descricao }}
              </template>
            </p>
            <p v-else class="text-disabled">Sem descrição</p>
          </div>
          <!-- OPCOES -->
          <div class="d-flex align-center">
            <v-chip
              v-for="item in projeto.opcoes"
              :key="item.opcao.id"
              size="x-small"
              class="mb-1 mr-1"
            >
              {{ item.opcao.nome }}
            </v-chip>
          </div>
          <!-- ATIVIDADES -->
          <div class="d-flex justify-space-between align-end">
            <div
              v-if="projeto.atividades.length > 0"
              class="d-flex align-center"
            >
              <v-icon icon="mdi-calendar-blank" size="x-small" start />
              <div class="font-weight-medium">Atividades</div>
            </div>
            <v-btn
              :block="projeto.atividades.length === 0"
              :class="{ 'mt-3': projeto.atividades.length === 0 }"
              prepend-icon="mdi-plus"
              color="primary"
              variant="flat"
              @click="onClickCadastrarAtividade(projeto)"
            >
              Atividade
            </v-btn>
          </div>
          <v-list
            v-if="projeto.atividades.length > 0"
            density="compact"
            class="bg-neutral-lighten-5"
          >
            <v-list-item
              v-for="atividade in projeto.atividades"
              :key="atividade.id"
              lines="two"
              class="py-1 mt-3 bg-white"
              rounded
              style="border: 1pt solid #ccc"
            >
              <template v-slot:append>
                <v-btn variant="plain" icon="mdi-dots-vertical" disabled />
              </template>
              <v-list-item-title class="text-body-2">{{
                atividade.titulo
              }}</v-list-item-title>
              <v-list-item-subtitle class="text-caption">
                <!-- DATA INICIO E FIM -->
                <div class="d-flex align-top">
                  <div class="d-flex align-top">
                    <v-icon
                      icon="mdi-calendar"
                      size="small"
                      start
                      color="neutral-darken-3"
                    />
                    <span>
                      {{
                        new Date(atividade.datetimeInicio).toLocaleDateString(
                          "pt-BR"
                        )
                      }}
                    </span>
                  </div>
                  <div class="d-flex align-top ml-4">
                    <v-icon
                      icon="mdi-clock-outline"
                      size="small"
                      start
                      color="neutral-darken-3"
                    />
                    <span>
                      {{
                        new Date(atividade.datetimeInicio).toLocaleTimeString(
                          "pt-BR",
                          {
                            hour: "2-digit",
                            minute: "2-digit",
                            hour12: false,
                          }
                        )
                      }}
                    </span>
                    <template v-if="atividade.datetimeFim">
                      <span class="mx-1">-</span>
                      <span>
                        {{
                          new Date(atividade.datetimeFim).toLocaleTimeString(
                            "pt-BR",
                            {
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: false,
                            }
                          )
                        }}
                      </span>
                    </template>
                  </div>
                </div>
                <!-- LOCAL -->
                <div class="d-flex align-top">
                  <router-link
                    :to="{
                      name: 'Mapa',
                      query: {
                        lat: atividade.endereco.latitude,
                        lng: atividade.endereco.longitude,
                        zoom: 14,
                      },
                    }"
                    class="text-decoration-none text-neutral-darken-4 font-weight-medium"
                  >
                    <v-icon
                      icon="mdi-map-marker"
                      size="small"
                      start
                      color="neutral-darken-3"
                    />
                    <span>
                      {{ formatEndereco(atividade.endereco) }}
                    </span>
                  </router-link>
                </div>
              </v-list-item-subtitle>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { inject, Ref, ref } from "vue";
import { useRoute } from "vue-router";
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { formatEndereco } from "@/utils/enderecos-helper.utils";
import { Endereco } from "@backPrisma/client";
import AtividadesDialogCadastrar from "../atividades/AtividadesDialogCadastrar.vue";

// EMITS
const emit = defineEmits<{
  (e: "atividade-cadastrada", atividade: AtividadeCompleta): void;
  (e: "remover-projeto", projetoId: number): void;
}>();

// DATA

const route = useRoute();
const agenteColetivoId = ref(Number(route.params.id));

const enderecoAgente = inject<Ref<Endereco>>("enderecoAgente");
const projetos = inject<Ref<ProjetoCompleto[]>>("projetos");

const dialogCadastrarAtividade = ref(false);
const projetoSelecionado = ref<ProjetoCompleto | null>(null);

// METHODS

function onClickCadastrarAtividade(projeto: ProjetoCompleto) {
  projetoSelecionado.value = projeto;
  dialogCadastrarAtividade.value = true;
}

function onAtividadeCadastrada(atividade: AtividadeCompleta) {
  dialogCadastrarAtividade.value = false;
  emit("atividade-cadastrada", atividade);
}
</script>
