<template>
  <!-- APP BAR -->
  <v-app-bar absolute flat color="primary">
    <v-app-bar-nav-icon @click="drawer = !drawer" />
    <router-link :to="{ name: 'Home' }" class="text-decoration-none text-white">
      <v-app-bar-title>
        <v-icon icon="mdi-pipe" start />
        <span v-text="VITE_APP_TITLE" />
      </v-app-bar-title>
    </router-link>
    <v-spacer />
    <v-toolbar-items v-if="$vuetify.display.smAndUp">
      <template v-if="!user">
        <v-btn prepend-icon="mdi-login" :to="{ name: 'AuthSignIn' }">
          Sign In
        </v-btn>
      </template>
      <template v-else>
        <v-btn append-icon="mdi-logout" @click="signOutDebounce()">
          Sign Out
        </v-btn>
      </template>
    </v-toolbar-items>
  </v-app-bar>
  <!-- NAVIGATION DRAWER -->
  <v-navigation-drawer v-model="drawer" temporary>
    <v-list v-if="!user">
      <v-list-item :to="{ name: 'AuthSignIn' }" prepend-icon="mdi-login" exact>
        <v-list-item-title>Sign In</v-list-item-title>
      </v-list-item>
    </v-list>
    <template v-else>
      <v-card flat>
        <v-card-item>
          <v-card-title class="d-flex justify-space-between align-center">
            <div class="d-flex align-center">
              <v-icon icon="mdi-account" size="small" class="mr-3" />
              <div>
                <div class="text-body-2 font-weight-medium">
                  {{ user.name }}
                </div>
                <div
                  class="text-caption text-disabled"
                  style="margin-top: -3pt"
                >
                  {{ user.username }}
                </div>
              </div>
            </div>
            <v-icon icon="mdi-logout" size="small" @click="signOutDebounce()" />
          </v-card-title>
        </v-card-item>
        <v-divider />
        <v-list>
          <v-list-item
            v-for="(item, index) in menu"
            :key="index"
            :to="item.to"
            :exact="item.exact"
            :prepend-icon="item.icon"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </template>
  </v-navigation-drawer>
  <!-- MAIN -->
  <v-main>
    <v-container :fluid="containerFluid">
      <router-view />
    </v-container>
  </v-main>
</template>

<script lang="ts" setup>
import { computed, ref } from "vue";
import vuetify from "@/plugins/vuetify";
import { useAuthStore } from "@/store/auth.store";
import { debounce } from "lodash";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { useRouter } from "vue-router";

const { VITE_APP_TITLE } = import.meta.env;

const router = useRouter();
const authStore = useAuthStore();

const containerFluid = computed(
  () => vuetify.display.mdAndUp.value && vuetify.display.lgAndDown.value
);

const user = computed(() => {
  return authStore.user;
});

const drawer = ref(false);
const menu = ref([
  {
    title: "Datasets",
    to: { name: "DatasetsIndex" },
    exact: true,
    icon: "mdi-list-box",
  },
  {
    title: "Query Data",
    to: { name: "QueryData" },
    exact: true,
    icon: "mdi-database-search",
  },
  {
    title: "Questions",
    to: { name: "QuestionsIndex" },
    exact: true,
    icon: "mdi-table-search",
  },
  {
    title: "Hierarchies",
    to: { name: "BoundariesHierarchiesIndex" },
    exact: true,
    icon: "mdi-file-tree-outline",
  },
]);

const signOutDebounce = debounce(signOut, 300);

async function signOut() {
  try {
    await authStore.signOut();
    emitAlertSuccess("Sign out successfully");
    router.push({ name: "AuthSignIn" });
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
