<template>
  <div v-if="dataset">
    <!-- BREADCRUMBS -->
    <v-breadcrumbs class="pa-0 mb-2 text-body-2 text-medium-emphasis">
      <v-breadcrumbs-item class="pl-0" :to="{ name: 'DatasetsIndex' }">
        Datasets
      </v-breadcrumbs-item>
      <v-breadcrumbs-divider />
      <v-breadcrumbs-item
        :to="{ name: 'DatasetsView', params: { datasetId: dataset.id } }"
      >
        {{ dataset.uri }}
      </v-breadcrumbs-item>
      <template v-if="version">
        <v-breadcrumbs-divider />
        <v-breadcrumbs-item
          :to="{
            name: 'VersionsView',
            params: { datasetId: dataset.id, versionId: version.id },
          }"
        >
          {{ version.uri }}
        </v-breadcrumbs-item>
        <template v-if="dataIngestion">
          <v-breadcrumbs-divider />
          <v-breadcrumbs-item
            :to="{
              name: 'DataIngestionsView',
              params: {
                datasetId: dataset.id,
                versionId: version.id,
                dataIngestionId: dataIngestion.id,
              },
            }"
          >
            Data Ingestion #{{ dataIngestion.id }}
          </v-breadcrumbs-item>
        </template>
      </template>
    </v-breadcrumbs>
    <div class="d-flex align-center">
      <v-icon :icon="DatasetFormatIcon" class="mr-2" />
      <h1 class="text-h5">
        <span v-text="dataset.title" />
        <template v-if="version">
          <span class="mx-2" v-text="'-'" />
          <span v-text="version.title" />
        </template>
      </h1>
    </div>
    <!-- <p class="text-caption text-disabled two-lines">
      <span v-text="dataset.description || 'No description'" />
      <template v-if="version">
        <span class="mx-1" v-text="'-'" />
        <span v-text="version.description || 'No description'" />
      </template>
    </p> -->
    <v-divider class="mt-1 mb-2" />

    <!-- ROUTER VIEW -->
    <router-view v-if="loadRouterView" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, watch, onMounted, Ref } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { Dataset, DataIngestion, Version } from "@backPrisma/client";
import { getDatasetFormatIcon } from "@/utils/datasets-helper.utils";
import { socket } from "@/plugins/socketIo";

// DATA

const route = useRoute();

const datasetId = computed(() =>
  route.params?.datasetId ? Number(route.params.datasetId as string) : 0
);
const versionId = computed(() =>
  route.params?.versionId ? Number(route.params.versionId as string) : 0
);
const dataIngestionId = computed(() =>
  route.params?.dataIngestionId
    ? Number(route.params.dataIngestionId as string)
    : 0
);

const dataset = ref<Dataset>(null);
provide<Ref<Dataset>>("dataset", dataset);

const version = ref<Version>(null);
provide<Ref<Version>>("version", version);

const dataIngestion = ref<DataIngestion>(null);
provide<Ref<DataIngestion>>("dataIngestion", dataIngestion);

const DatasetFormatIcon = computed(() =>
  getDatasetFormatIcon(dataset.value.format)
);

const loadRouterView = computed(() => {
  if (datasetId.value && !dataset.value) return false;
  if (versionId.value && !version.value) return false;
  if (dataIngestionId.value && !dataIngestion.value) return false;
  return true;
});

// WATCH

watch(datasetId, () => {
  findDataset(datasetId.value);
});

watch(versionId, () => {
  findVersion(versionId.value);
});

watch(dataIngestionId, () => {
  findDataIngestion(dataIngestionId.value);
});

// EVENTS

socket.on("dataIngestionLog.created", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findDataIngestion(dataIngestion.value?.id);
  }
});
socket.on("dataIngestionLog.removed", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findDataIngestion(dataIngestion.value?.id);
  }
});

// ON MOUNTED
onMounted(() => {
  findDataset(datasetId.value);
  findVersion(versionId.value);
  findDataIngestion(dataIngestionId.value);
});

// METHODS

async function findDataset(datasetId: number) {
  if (!datasetId) return;
  try {
    dataset.value = await requester.datasets.findOne(datasetId);
    if (version.value && version.value.datasetId !== dataset.value.id) {
      version.value = null;
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersion(versionId: number) {
  if (!versionId) {
    version.value = null;
    return;
  }
  try {
    const resDataVersion = await requester.versions.findOne(versionId);
    if (resDataVersion.datasetId !== datasetId.value) {
      throw new Error("This version doesn't belong to this dataset!");
    }
    version.value = resDataVersion;
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDataIngestion(dataIngestionId: number) {
  if (!dataIngestionId) {
    dataIngestion.value = null;
    return;
  }
  try {
    const resDataDataIngestion = await requester.dataIngestions.findOne(
      dataIngestionId
    );
    if (resDataDataIngestion.section.versionId !== versionId.value) {
      return;
      // throw new Error("This data ingestion doesn't belong to this version!");
    }
    dataIngestion.value = resDataDataIngestion;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>

<style scoped>
.two-lines {
  line-height: 1.5em;
  max-height: 3em;
  /* 1.5em (line-height) * 2 (lines) */
  overflow: hidden;
  text-overflow: ellipsis;
  /* optional, to show that text has been cut off */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>
