<template>
  <div v-if="question">
    <!-- BREADCRUMBS -->
    <v-breadcrumbs class="pa-0 mb-2 text-body-2 text-medium-emphasis">
      <v-breadcrumbs-item class="pl-0" :to="{ name: 'QuestionsIndex' }">
        Questions
      </v-breadcrumbs-item>
      <v-breadcrumbs-divider />
      <v-breadcrumbs-item
        :to="{ name: 'QuestionsView', params: { questionId: question.id } }"
      >
        {{ question.uri }}
      </v-breadcrumbs-item>
    </v-breadcrumbs>
    <div class="d-flex align-center">
      <v-icon icon="mdi-table-search" class="mr-2" />
      <h1 class="text-h5">
        <span v-text="question.title" />
      </h1>
    </div>
    <v-divider class="mt-1 mb-2" />

    <!-- ROUTER VIEW -->
    <router-view v-if="loadRouterView" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, watch, onMounted, Ref } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { QuestionWithTablesAndColumns } from "@/utils/questions-helper.utils";

// DATA

const route = useRoute();

const questionId = computed(() =>
  route.params?.questionId ? Number(route.params.questionId as string) : 0
);

const question = ref<QuestionWithTablesAndColumns>(null);
provide<Ref<QuestionWithTablesAndColumns>>("question", question);

const loadRouterView = computed(() => {
  if (questionId.value && !question.value) return false;
  return true;
});

// WATCH

watch(questionId, () => {
  findQuestion(questionId.value);
});

// ON MOUNTED
onMounted(() => {
  findQuestion(questionId.value);
});

// METHODS

async function findQuestion(questionId) {
  if (!questionId) return;
  try {
    question.value = await requester.questions.findOne(questionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
