<template>
  <div v-if="dataset">
    <!-- TABS -->
    <v-tabs color="primary" class="my-2">
      <v-tab
        :to="{
          name: 'DatasetsView',
          params: {
            datasetId: dataset.id,
          },
        }"
        exact
      >
        Details
      </v-tab>
      <v-tab
        :to="{
          name: 'DatasetsViewVersions',
          params: {
            datasetId: dataset.id,
          },
        }"
        exact
      >
        Versions
      </v-tab>
      <v-tab
        :to="{
          name: 'DatasetsViewAttributesSeries',
          params: {
            datasetId: dataset.id,
          },
        }"
        exact
      >
        Attributes Series
      </v-tab>
    </v-tabs>

    <!-- ROUTER VIEW -->
    <router-view />
  </div>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { Dataset } from "@backPrisma/client";

// INJECT
const dataset = inject<Ref<Dataset>>("dataset");
</script>
