<template>
  <div v-if="dataIngestion">
    <!-- HEADER -->
    <div class="d-flex align-center">
      <h2 class="text-h6">
        <span>Data Ingestion</span>
        <span class="text-disabled font-weight-regular ml-1">
          #{{ dataIngestion.id }}
        </span>
      </h2>
      <v-chip variant="outlined" color="grey-lighten-2" class="ml-3">
        <DataIngestionsLogStatus :dataIngestionLog="dataIngestionCurrentLog" />
      </v-chip>
    </div>

    <!-- TABS -->
    <v-tabs v-model="tab" color="primary" class="my-2">
      <!-- DETAILS -->
      <v-tab
        :to="{
          name: 'DataIngestionsView',
          params: {
            datasetId: version.datasetId,
            versionId: version.id,
            dataIngestionId: dataIngestion.id,
          },
        }"
        exact
      >
        <span>Details</span>
      </v-tab>
      <!-- STEP 1 - FILE UPLOAD -->
      <v-tab
        :to="{
          name: 'DataIngestionsViewFileUpload',
          params: {
            datasetId: version.datasetId,
            versionId: version.id,
            dataIngestionId: dataIngestion.id,
          },
        }"
        exact
      >
        <v-icon icon="mdi-numeric-1-circle" class="mr-1" />
        <span>File Upload</span>
      </v-tab>
      <!-- STEP 2 - FILE PARSING -->
      <v-tab
        :to="{
          name: 'DataIngestionsViewFileParsing',
          params: {
            datasetId: version.datasetId,
            versionId: version.id,
            dataIngestionId: dataIngestion.id,
          },
        }"
        exact
        :disabled="step2disabled"
      >
        <v-icon icon="mdi-numeric-2-circle" class="mr-1" />
        <span>File Parsing</span>
      </v-tab>
      <!-- STEP 3 - ATTRIBUTES MAPPING -->
      <v-tab
        :to="{
          name: 'DataIngestionsViewAttributesMapping',
          params: {
            datasetId: version.datasetId,
            versionId: version.id,
            dataIngestionId: dataIngestion.id,
          },
        }"
        exact
        :disabled="step3disabled"
      >
        <v-icon icon="mdi-numeric-3-circle" class="mr-1" />
        <span>Attributes Mapping</span>
      </v-tab>
      <!-- STEP 4 - DATA LOADING -->
      <v-tab
        :to="{
          name: 'DataIngestionsViewDataLoading',
          params: {
            datasetId: version.datasetId,
            versionId: version.id,
            dataIngestionId: dataIngestion.id,
          },
        }"
        exact
        :disabled="step4disabled"
      >
        <v-icon icon="mdi-numeric-4-circle" class="mr-1" />
        <span>Data Loading</span>
      </v-tab>
    </v-tabs>

    <!-- ROUTER VIEW -->
    <router-view />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, inject, Ref } from "vue";

import { DataIngestion, DataIngestionLog, Version } from "@backPrisma/client";

import { onMounted } from "vue";
import { socket } from "@/plugins/socketIo";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { orderBy } from "lodash";
import DataIngestionsLogStatus from "@/components/data-ingestions/DataIngestionsLogStatus.vue";

// INJECT
const version = inject<Ref<Version>>("version");
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// DATA
const dataIngestionLogs = ref<DataIngestionLog[]>([]);
provide("dataIngestionLogs", dataIngestionLogs);

const dataIngestionCurrentLog = computed(() => {
  return orderBy(dataIngestionLogs.value, ["createdAt"], ["desc"])?.[0];
});
provide("dataIngestionCurrentLog", dataIngestionCurrentLog);

const tab = ref(0);

const step2disabled = computed(() => {
  return ["CREATED", "FILE_UPLOAD_STARTED", "FILE_UPLOAD_FAILURE"].includes(
    dataIngestionCurrentLog.value?.status
  );
});
const step3disabled = computed(() => {
  return [
    "CREATED",
    "FILE_UPLOAD_STARTED",
    "FILE_UPLOAD_FAILURE",
    "FILE_UPLOAD_SUCCESS",
    "FILE_PARSING_STARTED",
    "FILE_PARSING_FAILURE",
  ].includes(dataIngestionCurrentLog.value?.status);
});
const step4disabled = computed(() => {
  return [
    "CREATED",
    "FILE_UPLOAD_STARTED",
    "FILE_UPLOAD_FAILURE",
    "FILE_UPLOAD_SUCCESS",
    "FILE_PARSING_STARTED",
    "FILE_PARSING_FAILURE",
  ].includes(dataIngestionCurrentLog.value?.status);
});

// EVENTS

socket.on("dataIngestionLog.created", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findLogs(dataIngestion.value?.id);
  }
});
socket.on("dataIngestionLog.removed", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  if (dataIngestionId === dataIngestion.value?.id) {
    findLogs(dataIngestion.value?.id);
  }
});

// ON MOUNTED
onMounted(() => {
  findLogs(dataIngestion.value?.id);
});

// METHODS

async function findLogs(dataIngestionId: number) {
  try {
    dataIngestionLogs.value = await requester.dataIngestions.findLogs(
      dataIngestionId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
