<template>
  <div v-if="question">
    <!-- TABS -->
    <v-tabs color="primary" class="my-2">
      <v-tab
        :to="{
          name: 'QuestionsView',
          params: {
            questionId: question.id,
          },
        }"
        exact
      >
        Details
      </v-tab>
      <v-tab
        :to="{
          name: 'QuestionsViewColumns',
          params: {
            questionId: question.id,
          },
        }"
        exact
      >
        Columns
      </v-tab>
      <v-tab
        :to="{
          name: 'QuestionsViewData',
          params: {
            questionId: question.id,
          },
        }"
        exact
      >
        Data
      </v-tab>
    </v-tabs>

    <!-- ROUTER VIEW -->
    <router-view />
  </div>
</template>

<script setup lang="ts">
import { QuestionWithTablesAndColumns } from "@/utils/questions-helper.utils";
import { inject, Ref } from "vue";

// INJECT
const question = inject<Ref<QuestionWithTablesAndColumns>>("question");
</script>
