<template>
  <div v-if="boundaryHierarchy">
    <!-- BREADCRUMBS -->
    <v-breadcrumbs class="pa-0 mb-2 text-body-2 text-medium-emphasis">
      <v-breadcrumbs-item
        class="pl-0"
        :to="{ name: 'BoundariesHierarchiesIndex' }"
      >
        Hierarchies
      </v-breadcrumbs-item>
      <v-breadcrumbs-divider />
      <v-breadcrumbs-item
        :to="{
          name: 'BoundariesHierarchiesView',
          params: { boundaryHierarchyUri: boundaryHierarchy.uri },
        }"
      >
        {{ boundaryHierarchy.uri }}
      </v-breadcrumbs-item>
    </v-breadcrumbs>
    <v-divider class="mt-1 mb-2" />

    <!-- ROUTER VIEW -->
    <router-view v-if="loadRouterView" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, watch, onMounted, Ref } from "vue";
import { useRoute } from "vue-router";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import { BoundaryHierarchy } from "@backPrisma/client";

// DATA

const route = useRoute();

const boundaryHierarchyUri = computed(() =>
  route.params?.boundaryHierarchyUri
    ? String(route.params.boundaryHierarchyUri as string)
    : ""
);

const boundaryHierarchy = ref<BoundaryHierarchy>(null);
provide<Ref<BoundaryHierarchy>>("boundaryHierarchy", boundaryHierarchy);

const loadRouterView = computed(() => {
  if (boundaryHierarchyUri.value && !boundaryHierarchy.value) return false;
  return true;
});

// WATCH

watch(boundaryHierarchyUri, () => {
  findBoundaryHierarchy(boundaryHierarchyUri.value);
});

// ON MOUNTED
onMounted(() => {
  findBoundaryHierarchy(boundaryHierarchyUri.value);
});

// METHODS

async function findBoundaryHierarchy(boundaryHierarchyUri: string) {
  if (!boundaryHierarchyUri) return;
  try {
    boundaryHierarchy.value = await requester.boundariesHierarchies.findOne(
      boundaryHierarchyUri
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>

<style scoped>
.two-lines {
  line-height: 1.5em;
  max-height: 3em;
  /* 1.5em (line-height) * 2 (lines) */
  overflow: hidden;
  text-overflow: ellipsis;
  /* optional, to show that text has been cut off */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>
