<template>
  <div class="pt-4 pl-4" style="position: absolute">
    <v-btn
      variant="text"
      color="neutral-darken-3"
      prepend-icon="mdi-arrow-left"
      :to="{ name: 'Home' }"
      exact
    >
      Voltar
    </v-btn>
  </div>
  <v-dialog v-model="dialog" max-width="320" persistent>
    <v-list class="py-2" color="primary" elevation="12" rounded="lg">
      <v-list-item title="Atualizando aplicação...">
        <template v-slot:prepend>
          <div class="pe-4">
            <v-icon color="primary" size="x-large"></v-icon>
          </div>
        </template>

        <template v-slot:append>
          <v-progress-circular
            color="primary"
            indeterminate="disable-shrink"
            size="30"
            width="6"
          ></v-progress-circular>
        </template>
      </v-list-item>
    </v-list>
  </v-dialog>
  <v-container class="fill-height pt-14 pt-sm-4 pb-4">
    <v-row justify="center" align="center" align-content="center">
      <v-col cols=" 12" sm="10" md="8" lg="6" xl="4">
        <h1 class="text-h4 font-weight-bold text-center mb-6">
          Atualizar a senha
        </h1>

        <v-form ref="formChangePassword">
          <v-row dense>
            <v-col v-if="!email" cols="12">
              <v-text-field
                ref="inputEmail"
                v-model="form.email"
                type="email"
                label="Email *"
                placeholder="Insira seu endereço de email"
                variant="outlined"
                class="mb-2"
                :rules="rulesRequired"
                @keypress.enter="inputSenha.focus()"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                ref="inputSenha"
                v-model="form.senha"
                type="password"
                label="Senha *"
                placeholder="Insira sua senha"
                variant="outlined"
                class="mb-2"
                :rules="[...rulesRequired, ...rulesMinLength]"
                @keypress.enter="inputConfirmacaoSenha.focus()"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                ref="inputConfirmacaoSenha"
                v-model="form.confirmacaoSenha"
                type="password"
                label="Confirme a senha *"
                placeholder="Confirme sua senha"
                variant="outlined"
                class="mb-2"
                :rules="[...rulesRequired, ...rulesConfirmacaoSenha]"
                @keypress.enter="changePasswordInDebounce()"
              />
            </v-col>
          </v-row>
        </v-form>
        <v-btn
          block
          rounded
          variant="flat"
          color="primary"
          size="x-large"
          class="text-body-1 mb-2"
          :loading="loading"
          @click="changePasswordInDebounce()"
        >
          Atualizar senha
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" setup>
import { useRouter, useRoute } from "vue-router";
import { ref, computed, onMounted, shallowRef } from "vue";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { useAuthStore } from "@/store/auth.store";

const formSubmitted = ref(false);
const loading = ref(false);
const formChangePassword = ref();
const form = ref({
  email: "",
  senha: "",
  confirmacaoSenha: "",
});

const inputEmail = ref();
const inputSenha = ref();
const inputConfirmacaoSenha = ref();
const router = useRouter();
const route = useRoute();
const authStore = useAuthStore();
const email = ref("");
const dialog = shallowRef(false);

const rulesRequired = [
  (v: string) => (!!v && v.length > 0) || "Campo obrigatório",
];
const rulesMinLength = [
  (v: string) =>
    (!!v && v.length >= 6) || "Sua senha precisa ter pelo menos 6 caracteres",
];
const rulesConfirmacaoSenha = computed(() => [
  (v: string) => v === form.value.senha || "Confirmação diferente da senha",
]);

onMounted(async () => {
  if (Array.isArray(route.query?.email)) return;
  form.value.email = route.query?.email;
});

const changePasswordInDebounce = debounce(signUp, 300);
async function signUp() {
  loading.value = true;
  const validate = await formChangePassword.value.validate();
  if (!validate.valid) {
    console.error(validate.errors);
    loading.value = false;
    return;
  }
  const dto = {
    email: form.value.email?.trim(),
    senha: form.value.senha,
  };
  try {
    this.dialog = true;
    const token = route.params.token;
    if (Array.isArray(token)) throw Error("Argument can't be array");
    await requester.auth.recoverPassword(token, dto);
    await authStore.signIn(dto);
    formSubmitted.value = true;
    router.push({ name: "UsuariosInicio" });
  } catch (err) {
    emitAlertError(err);
    console.log(err.response.data.message);
  } finally {
    loading.value = false;
    this.dialog = false;
  }
}
</script>
