<template>
  <div class="pt-4 pl-4" style="position: absolute">
    <v-btn
      variant="text"
      color="neutral-darken-3"
      prepend-icon="mdi-arrow-left"
      @click="router.go(-1)"
      exact
    >
      Voltar
    </v-btn>
  </div>

  <v-container v-if="!error" class="fill-height pt-14 pt-sm-4 pb-4">
    <v-row justify="center" align="center" align-content="center">
      <v-col cols=" 12" sm="10" md="8" lg="6" xl="4">
        <h1 class="text-h4 font-weight-bold text-center mb-6">Entrar</h1>
        <v-form ref="formAuthSignIn">
          <v-row dense>
            <v-col cols="12">
              <v-text-field
                ref="inputEmail"
                v-model="form.email"
                type="email"
                label="Email"
                placeholder="Insira seu endereço de email"
                variant="outlined"
                class="mb-2"
                :rules="rulesRequired"
                @keypress.enter="inputSenha.focus()"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                ref="inputSenha"
                v-model="form.senha"
                type="password"
                label="Senha"
                placeholder="Insira sua senha"
                variant="outlined"
                hide-details
                :rules="rulesRequired"
                @keypress.enter="signInDebounce()"
              />
            </v-col>
          </v-row>
        </v-form>
        <p class="text-caption text-medium-emphasis text-start mt-2 mb-8">
          <span>Esqueceu sua senha? </span>
          <span>
            <router-link :to="{ name: 'AuthEnviarTokenSenha' }"
              >Clique aqui</router-link
            >
          </span>
        </p>
        <v-btn
          block
          rounded
          variant="flat"
          color="primary"
          size="x-large"
          class="text-body-1 mb-2"
          :loading="loading"
          @click="signInDebounce()"
        >
          Entrar na conta
        </v-btn>
        <p class="text-body-2 text-center mt-8">
          <span>Primeiro acesso? </span>
          <span>
            <router-link :to="{ name: 'AuthCriarConta' }">
              Crie uma conta
            </router-link>
          </span>
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import { debounce } from "lodash";
import { useAuthStore } from "@/store/auth.store";
import { emitAlertError } from "@/plugins/eventBus";
import { USUARIO_NAO_VALIDO_MESSAGE } from "@backSrc/auth/dto";

// DATA

const router = useRouter();
const authStore = useAuthStore();

const loading = ref(false);

const formAuthSignIn = ref();
const inputEmail = ref();
const inputSenha = ref();
const error = ref("");

const form = ref({
  email: "",
  senha: "",
});

const rulesRequired = [
  (v: string) => (!!v && v.length > 0) || "Campo obrigatório",
];

// FUNCTIONS

const signInDebounce = debounce(signIn, 300);
async function signIn() {
  loading.value = true;
  const validate = await formAuthSignIn.value.validate();
  if (!validate.valid) {
    console.error(validate.errors);
    loading.value = false;
    return;
  }
  const dto = {
    email: form.value.email?.trim(),
    senha: form.value.senha,
  };
  try {
    await authStore.signIn(dto);
    router.push({ name: "UsuariosInicio" });
  } catch (err) {
    emitAlertError(err);
    if (err.response.data.message === USUARIO_NAO_VALIDO_MESSAGE)
      router.push({ name: "AuthResendValidate" });
  } finally {
    loading.value = false;
  }
}
</script>
