<template>
  <div class="pt-4 pl-4" style="position: absolute">
    <v-btn
      variant="text"
      color="neutral-darken-3"
      prepend-icon="mdi-arrow-left"
      :to="{ name: 'Home' }"
      exact
    >
      Voltar
    </v-btn>
  </div>
  <v-container class="fill-height pt-14 pt-sm-4 pb-4">
    <v-row justify="center" align="center" align-content="center">
      <v-col cols=" 12" sm="10" md="8" lg="6" xl="4">
        <h1 class="text-h4 font-weight-bold text-center mb-6">
          Validação de conta
        </h1>
        <v-template v-if="success || error === USUARIO_JA_VALIDOU">
          <v-alert type="success" prominent class="mb-4">
            <div class="font-weight-medium">
              Validação realizada com sucesso
            </div>
            <div class="text-caption">Você já pode acessar a plataforma.</div>
          </v-alert>
          <p class="text-body-1 text-center">
            <router-link :to="{ name: 'AuthEntrar' }">
              Entre com sua nova conta aqui
            </router-link>
          </p>
        </v-template>
        <v-template v-else>
          <v-alert type="error" prominent class="mb-4">
            <div class="font-weight-medium">Erro ao validar conta</div>
            <div class="text-caption">{{ error }}</div>
          </v-alert>
        </v-template>
        <v-template v-if="loading">
          <v-skeleton-loader
            boilerplate
            type="list-item-avatar"
          ></v-skeleton-loader>
        </v-template>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
const loading = ref(true);
const error = ref(null);
const success = ref(false);
const route = useRoute();
import { USUARIO_JA_VALIDOU } from "@backSrc/auth/dto";

import requester from "@/requester";

onMounted(async () => {
  const token = route.params.token;

  try {
    // Simulando uma requisição para verificar o e-mail usando o token
    if (Array.isArray(token)) {
      throw Error("Argument can't be list");
    }
    const response = await requester.auth.validateUser(token);

    if (response?.validacaoEmail) {
      success.value = true;
    } else {
      error.value = "O seu usuário não foi validado corretamente.";
    }
  } catch (err) {
    error.value = err.response.data.message ?? "Erro ao validar conta";
  } finally {
    loading.value = false;
  }
});
</script>
