<template>
  <v-card-title>Bem-vindo(a), {{ usuario?.nome }}</v-card-title>
  <v-card-text>
    <v-skeleton-loader
      v-for="(i, k) in Array(5)"
      :key="k"
      type="article, actions, divider"
      boilerplate
    ></v-skeleton-loader>
  </v-card-text>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useAuthStore } from "@/store/auth.store";

// DATA
const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario);
</script>
