<template>
  <v-card
    :height="mapExpand ? '100vh' : '348px'"
    elevation="3"
    style="
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
    "
  >
    <div
      style="position: absolute; top: 20px; right: 20px; z-index: 3 !important"
    >
      <v-btn
        size="large"
        :prepend-icon="mapExpand ? 'mdi-fullscreen-exit' : 'mdi-fullscreen'"
        @click="mapExpand = !mapExpand"
      >
        {{ mapExpand ? "Voltar" : "Expandir mapa" }}
      </v-btn>
    </div>
    <div
      v-show="!mapExpand"
      style="position: absolute; top: 208px; left: 55px; z-index: 2 !important"
    >
      <v-avatar size="130px" color="white">
        <v-icon icon="mdi-account" size="65" color="primary" />
      </v-avatar>
    </div>
    <div
      v-show="!mapExpand"
      style="
        position: absolute;
        top: 140px;
        left: 0;
        z-index: 1 !important;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 240px;
        pointer-events: none;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      "
    >
      <h1 class="text-h6">
        <span style="pointer-events: all">
          {{ usuario.agenteIndividual.agente.nome }}
        </span>
      </h1>
      <div class="text-body-2 text-medium-emphasis">
        <span style="pointer-events: all">Perfil</span>
      </div>
    </div>
    <div :style="`height: ${mapExpand ? '100vh' : '300px'}`">
      <MapaGenerico
        v-bind="mapInitialValues"
        style="pointer-events: all; z-index: 0"
      />
    </div>
    <v-tabs
      v-model="tab"
      bg-color="white"
      color="primary"
      style="padding-left: 240px"
    >
      <v-tab :value="1">Ficha</v-tab>
      <v-tab :value="2">Rede</v-tab>
      <v-tab :value="3">Equipamentos</v-tab>
      <v-tab :value="4">Entorno</v-tab>
    </v-tabs>
  </v-card>
  <v-window v-show="!mapExpand" v-model="tab">
    <v-window-item :value="1">
      {{ usuario }}
    </v-window-item>
  </v-window>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { mockUsuarios } from "@/data";
import MapaGenerico from "@/components/mapas/MapaGenerico.vue";

// DATA

const usuario = mockUsuarios[0];
const mapInitialValues = {
  lat: usuario.agenteIndividual.agente.endereco.latitude,
  lng: usuario.agenteIndividual.agente.endereco.longitude,
  zoom: 14,
};

const tab = ref(1);
const mapExpand = ref(false);

// ON MOUNTES

onMounted(() => {});

// <MapaGenerico :lat="-23" :lng="-46" />
// linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
</script>
