<template>
  <div class="pt-4 pl-4" style="position: absolute">
    <v-btn
      variant="text"
      color="neutral-darken-3"
      prepend-icon="mdi-arrow-left"
      :to="{ name: 'Home' }"
      exact
    >
      Voltar
    </v-btn>
  </div>
  <v-container class="fill-height pt-14 pt-sm-4 pb-4">
    <v-row justify="center" align="center" align-content="center">
      <v-col cols=" 12" sm="10" md="8" lg="6" xl="4">
        <h1 class="text-h4 font-weight-bold text-center mb-6">Criar conta</h1>
        <!-- MENSAGEM SUCESSO -->
        <template v-if="sucessoCriacaoConta">
          <v-alert type="success" prominent class="mb-4">
            <div class="font-weight-medium">Conta criada com sucesso</div>
            <div class="text-caption">
              É necessário validar o e-mail para continuar. Não recebeu o
              e-mail? Acesse a página e solicite o reenvio.
            </div>
          </v-alert>
          <p class="text-body-1 text-center">
            <router-link :to="{ name: 'AuthResendValidate' }">
              Valide a sua conta aqui
            </router-link>
          </p>
        </template>
        <!-- FORM CRIAR CONTA -->
        <template v-else>
          <v-form ref="formAuthSignUp">
            <v-row dense>
              <v-col cols="12">
                <v-text-field
                  ref="inputNome"
                  v-model="form.nome"
                  label="Nome *"
                  placeholder="Preencha seu nome"
                  variant="outlined"
                  class="mb-2"
                  :rules="rulesRequired"
                  @keypress.enter="inputEmail.focus()"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  ref="inputEmail"
                  v-model="form.email"
                  type="email"
                  label="Email *"
                  placeholder="Insira seu endereço de email"
                  variant="outlined"
                  class="mb-2"
                  :rules="rulesRequired"
                  @keypress.enter="inputSenha.focus()"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  ref="inputSenha"
                  v-model="form.senha"
                  type="password"
                  label="Senha *"
                  placeholder="Insira sua senha"
                  variant="outlined"
                  class="mb-2"
                  :rules="[...rulesRequired, ...rulesMinLength]"
                  @keypress.enter="inputConfirmacaoSenha.focus()"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  ref="inputConfirmacaoSenha"
                  v-model="form.confirmacaoSenha"
                  type="password"
                  label="Confirme a senha *"
                  placeholder="Confirme sua senha"
                  variant="outlined"
                  class="mb-2"
                  :rules="[...rulesRequired, ...rulesConfirmacaoSenha]"
                  @keypress.enter="signUpDebounce()"
                />
              </v-col>
            </v-row>
          </v-form>
          <v-btn
            block
            rounded
            variant="flat"
            color="primary"
            size="x-large"
            class="text-body-1 mb-2"
            :loading="loading"
            @click="signUpDebounce()"
          >
            Criar nova conta
          </v-btn>
          <p class="text-body-2 text-center mt-8">
            <span>Já possui uma conta? </span>
            <span>
              <router-link :to="{ name: 'AuthEntrar' }">
                Entre aqui
              </router-link>
            </span>
          </p>
        </template>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" setup>
import { useRouter } from "vue-router";
import { ref, computed } from "vue";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

const sucessoCriacaoConta = ref(false);
const loading = ref(false);
const formAuthSignUp = ref();
const form = ref({
  nome: "",
  email: "",
  senha: "",
  confirmacaoSenha: "",
});

const inputNome = ref();
const inputEmail = ref();
const inputSenha = ref();
const inputConfirmacaoSenha = ref();

const rulesRequired = [
  (v: string) => (!!v && v.length > 0) || "Campo obrigatório",
];
const rulesMinLength = [
  (v: string) =>
    (!!v && v.length >= 6) || "Sua senha precisa ter pelo menos 6 caracteres",
];
const rulesConfirmacaoSenha = computed(() => [
  (v: string) => v === form.value.senha || "Confirmação diferente da senha",
]);

const signUpDebounce = debounce(signUp, 300);
async function signUp() {
  loading.value = true;
  const validate = await formAuthSignUp.value.validate();
  if (!validate.valid) {
    console.error(validate.errors);
    loading.value = false;
    return;
  }
  const dto = {
    nome: form.value.nome?.trim(),
    email: form.value.email?.trim(),
    senha: form.value.senha,
  };
  try {
    await requester.auth.signUp(dto);
    sucessoCriacaoConta.value = true;
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
