<template>
  <v-bottom-sheet
    v-model="bottomSheet"
    height="80vh"
    scrollable
    :close-on-content-click="false"
    :close-on-back="false"
  >
    <div style="z-index: 2 !important">
      <v-avatar size="130px" color="white">
        <v-icon icon="mdi-account" size="65" color="primary" />
      </v-avatar>
    </div>
    <div
      style="
        z-index: 1 !important;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 10px;
        padding-left: 240px;
        pointer-events: none;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
      "
    >
      <h1 class="text-h6">
        <span style="pointer-events: all">
          {{ usuario.agenteIndividual.agente.nome }}
        </span>
      </h1>
      <div class="text-body-2 text-medium-emphasis">
        <span style="pointer-events: all">Perfil</span>
      </div>
    </div>
    <v-tabs
      v-model="tab"
      bg-color="white"
      color="primary"
      style="padding-left: 240px"
    >
      <v-tab :value="1">Ficha</v-tab>
      <v-tab :value="2">Rede</v-tab>
      <v-tab :value="3">Equipamentos</v-tab>
      <v-tab :value="4">Entorno</v-tab>
    </v-tabs>
    <v-card class="fill-height">
      <v-card-text>Amet cillum dolore ut fugiat aliqua.</v-card-text>
    </v-card>
  </v-bottom-sheet>
  <MapaGenerico v-bind="mapInitialValues" />
  <div
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
      pointer-events: none;
    "
  >
    <div
      class="d-flex flex-column flex-md-row"
      style="width: 100%; height: 100%"
    >
      <!-- OVER MAP -->
      <div style="width: 100%; height: 100%">
        <div class="d-flex flex-column justify-space-between fill-height">
          <!-- TOP -->
          <div class="d-flex align-start justify-space-between">
            <!-- TOP LEFT -->
            <div
              class="d-flex align-center w-100 children-pointer-events-all pa-3"
            >
              <router-link :to="{ name: 'Home' }">
                <img
                  src="/img/logo.svg"
                  alt="Logo CulturaEduca"
                  class="mr-3"
                  style="width: 40px"
              /></router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";
import { mockUsuarios } from "@/data";
import MapaGenerico from "@/components/mapas/MapaGenerico.vue";

// DATA

const usuario = mockUsuarios[0];
const mapInitialValues = {
  lat: usuario.agenteIndividual.agente.endereco.latitude,
  lng: usuario.agenteIndividual.agente.endereco.longitude,
  zoom: 14,
};

const bottomSheet = ref(true);
const tab = ref(1);
const dialogFullscreenMapa = ref(false);

// ON MOUNTES

onMounted(() => {});

// <MapaGenerico :lat="-23" :lng="-46" />
// linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
</script>
