<template>
  <v-card
    height="200px"
    elevation="2"
    style="
      position: relative;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
    "
  >
    <v-container
      class="d-flex align-end fill-height py-sm-0 w-100"
      style="z-index: 1"
    >
      <div class="d-flex flex-column flex-sm-row align-center w-100">
        <div>
          <v-avatar size="130px" color="white">
            <v-icon icon="mdi-account" size="65" color="primary" />
          </v-avatar>
        </div>
        <div class="text-center text-sm-start pl-sm-10 w-100">
          <h1 class="text-h6">
            <span>
              {{ usuarioAuth?.nome || usuario.agenteIndividual.agente.nome }}
            </span>
          </h1>
        </div>
        <div
          v-if="$vuetify.display.smAndUp"
          class="d-flex justify-end align-end w-100"
        >
          <v-btn
            size="large"
            :to="{ name: 'Mapa' }"
            prepend-icon="mdi-arrow-expand-down"
          >
            Expandir mapa
          </v-btn>
        </div>
      </div>
    </v-container>
    <div
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 1)
        );
        z-index: -1;
        pointer-events: none;
      "
    ></div>
    <div
      style="
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: white;
        z-index: -1;
        pointer-events: none;
      "
    ></div>
    <div
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        pointer-events: none;
      "
    >
      <MapaGenerico v-bind="mapInitialValues" />
    </div>
  </v-card>
  <v-container>
    <!-- OPCAO TOOLBAR -->
    <v-toolbar
      v-show="false"
      floating
      density="compact"
      rounded
      color="white"
      elevation="2"
      class="mb-4 px-4"
      style="border-radius: 1em"
    >
      <v-toolbar-items>
        <!-- PERFIL -->
        <v-menu>
          <template v-slot:activator="{ props }">
            <v-btn rounded v-bind="props">Perfil</v-btn>
          </template>
          <v-list>
            <v-list-item exact :to="{ name: 'AgentesCadastroIndividual' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-account-edit"></v-avatar>
              </template>
              <v-list-item-title>Meu cadastro</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <!-- REDE -->
        <v-menu>
          <template v-slot:activator="{ props }">
            <v-btn rounded v-bind="props">Rede</v-btn>
          </template>
          <v-list>
            <v-list-item exact :to="{ name: 'AgentesHome', params: { id: 1 } }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-account-group"></v-avatar>
              </template>
              <v-list-item-title>NAI-FEUSP</v-list-item-title>
            </v-list-item>
            <v-list-item exact :to="{ name: 'AgentesCadastroColetivo' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-plus"></v-avatar>
              </template>
              <v-list-item-title>Criar coletivo</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-tab>Projetos</v-tab>
        <v-tab>Atividades</v-tab>
      </v-toolbar-items>
      <v-spacer />
      <v-btn prepend-icon="mdi-arrow-expand-down">Expandir mapa</v-btn>
    </v-toolbar>
    <v-row>
      <v-col cols="12" sm="4" lg="3" xl="2">
        <v-card rounded class="fill-height" style="border-radius: 10px">
          <v-list>
            <v-list-subheader title="MEU PERFIL" />
            <v-list-item exact :to="{ name: 'UsuariosInicio' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-home"></v-avatar>
              </template>
              <v-list-item-title>Página inicial</v-list-item-title>
            </v-list-item>
            <v-list-item exact :to="{ name: 'AgentesCadastroIndividual' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-account-edit"></v-avatar>
              </template>
              <v-list-item-title>Meu cadastro</v-list-item-title>
            </v-list-item>
            <v-list-subheader title="MINHA REDE" />
            <v-list-item exact :to="{ name: 'AgentesHome', params: { id: 1 } }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-account-group"></v-avatar>
              </template>
              <v-list-item-title>NAI-FEUSP</v-list-item-title>
            </v-list-item>
            <v-list-item exact :to="{ name: 'AgentesCadastroColetivo' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-plus"></v-avatar>
              </template>
              <v-list-item-title>Criar coletivo</v-list-item-title>
            </v-list-item>
            <v-list-subheader title="MINHAS AÇÕES" />
            <v-list-item exact :to="{ name: 'ProjetosIndex' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-folder"></v-avatar>
              </template>
              <v-list-item-title>Projetos</v-list-item-title>
            </v-list-item>
            <v-list-item exact :to="{ name: 'AtividadesIndex' }">
              <template v-slot:prepend>
                <v-avatar icon="mdi-calendar"></v-avatar>
              </template>
              <v-list-item-title>Atividades</v-list-item-title>
            </v-list-item>
          </v-list>
          <v-list>
            <v-list-subheader title="ITENS SALVOS" />
            <v-list-item disabled title="Nenhum item salvo..." />
          </v-list>
        </v-card>
      </v-col>
      <v-col cols="12" sm="8" lg="9" xl="10">
        <v-card rounded style="border-radius: 10px" class="py-1">
          <router-view />
        </v-card>
      </v-col>
      <!-- <v-col v-if="$vuetify.display.lgAndUp" lg="3" xl="2">
        <v-card rounded class="fill-height" style="border-radius: 10px">
          <v-list>
            <v-list-subheader title="ITENS SALVOS" />
            <v-list-item disabled title="Nenhum item salvo..." />
          </v-list>
        </v-card>
      </v-col> -->
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref, computed, onMounted } from "vue";
import { mockUsuarios } from "@/data";
import MapaGenerico from "@/components/mapas/MapaGenerico.vue";
import { useAuthStore } from "@/store/auth.store";

// DATA

const authStore = useAuthStore();
const usuarioAuth = computed(() => authStore.usuario);

const usuario = mockUsuarios[0];
const mapInitialValues = {
  lat: usuario.agenteIndividual.agente.endereco.latitude,
  lng: usuario.agenteIndividual.agente.endereco.longitude,
  zoom: 14,
};

const tab = ref(1);

// ON MOUNTES

onMounted(() => {});

// <MapaGenerico :lat="-23" :lng="-46" />
// linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
</script>

<style scoped>
.children-pointer-events-all > * {
  pointer-events: all;
}

.children-pointer-events-none > * {
  pointer-events: none;
}
</style>
