<template>
  <div class="pt-4 pl-4" style="position: absolute">
    <v-btn
      variant="text"
      color="neutral-darken-3"
      prepend-icon="mdi-arrow-left"
      :to="{ name: 'Home' }"
      exact
    >
      Voltar
    </v-btn>
  </div>
  <v-container class="fill-height pt-14 pt-sm-4 pb-4">
    <template v-if="sucessOnEnviarEmail">
      <v-row justify="center" align="center" align-content="center">
        <v-col cols="12" sm="10" md="8" lg="6" xl="4">
          <v-alert type="success" prominent class="mb-4">
            <div class="font-weight-medium">
              Requisição de alteração de senha enviada
            </div>
            <div class="text-caption">
              Um e-mail com as instruções para redefinir a senha foi enviado.
              Acesse o link contido no e-mail para concluir o processo.
            </div>
          </v-alert>
        </v-col>
      </v-row>
    </template>

    <template v-else>
      <v-row justify="center" align="center" align-content="center">
        <v-col cols="12" sm="10" md="8" lg="6" xl="4">
          <h1 class="text-h4 font-weight-bold text-center mb-6">
            Recuperar senha
          </h1>
          <v-form ref="formAuthSendResetPassword">
            <v-row dense>
              <v-col cols="12">
                <v-text-field
                  ref="inputEmail"
                  v-model="form.email"
                  type="email"
                  label="Email"
                  placeholder="Insira seu endereço de email"
                  variant="outlined"
                  class="mb-2"
                  :rules="rulesRequired"
                  @keypress.enter="submitFormInDebounce"
                />
                <p
                  class="text-caption text-medium-emphasis text-start mt-2 mb-8"
                >
                  <span>Deseja cadastrar um nova conta </span>
                  <span>
                    <router-link :to="{ name: 'AuthCriarConta' }"
                      >Clique aqui</router-link
                    >
                  </span>
                </p>
                <v-btn
                  block
                  rounded
                  variant="flat"
                  color="primary"
                  size="x-large"
                  class="text-body-1 mb-2"
                  :loading="loading"
                  @click="submitFormInDebounce()"
                >
                  Recuperar senha
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script lang="ts" setup>
import { ref, onMounted } from "vue";

import requester from "@/requester";
import { debounce } from "lodash";
import { emitAlertError } from "@/plugins/eventBus";

const loading = ref(false);
const formAuthSendResetPassword = ref();
const inputEmail = ref();
const form = ref({
  email: "",
});
const rulesRequired = [
  (v: string) => (!!v && v.length > 0) || "Campo obrigatório",
];
const sucessOnEnviarEmail = ref(false);
const isFormSubmited = ref(false);

const submitFormInDebounce = debounce(submitForm, 300);

async function submitForm() {
  const validate = await formAuthSendResetPassword.value.validate();
  if (!validate) return;
  const dto = {
    email: form.value.email?.trim(),
  };
  loading.value = true;
  isFormSubmited.value = true;
  try {
    console.log("try");
    await requester.auth.sendTokenRecover(dto);
    sucessOnEnviarEmail.value = true;
  } catch (err) {
    // console.log(err.response.data);
    emitAlertError(err);
  } finally {
    console.log("finally");
    loading.value = false;
  }
}
</script>
