<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.uri"
            label="URI *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { debounce } from "lodash";
import { BoundaryHierarchy } from "@backPrisma/client";
import {
  CreateBoundaryHierarchyDto,
  UpdateBoundaryHierarchyDto,
} from "@backSrc/boundaries-hierarchies/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  boundaryHierarchy?: BoundaryHierarchy;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "boundary-hierarchy-created", boundaryHierarchy: BoundaryHierarchy): void;
  (e: "boundary-hierarchy-updated", boundaryHierarchy: BoundaryHierarchy): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  uri: "",
  name: "",
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.boundaryHierarchy) return;
  form.value.uri = props.boundaryHierarchy.uri || "";
  form.value.name = props.boundaryHierarchy.name || "";
}

function clearForm() {
  form.value.uri = "";
  form.value.name = "";
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateBoundaryHierarchyDto = {
      uri: form.value.uri?.trim()?.toLowerCase(),
      name: form.value.name?.trim(),
    };
    if (props.boundaryHierarchy) {
      const boundaryHierarchy = await requester.boundariesHierarchies.update(
        props.boundaryHierarchy.uri,
        dto as UpdateBoundaryHierarchyDto
      );
      emit("boundary-hierarchy-updated", boundaryHierarchy);
      emitAlertSuccess("Boundary Hierarchy successfully updated");
    } else {
      const boundaryHierarchy = await requester.boundariesHierarchies.create(
        dto
      );
      emit("boundary-hierarchy-created", boundaryHierarchy);
      emitAlertSuccess("Boundary Hierarchy successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
