<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create Boundary Hierarchy </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <BoundariesHierarchiesFormCreateUpdate
          @cancel="updateModelValue(false)"
          @boundary-hierarchy-created="
            emit('boundary-hierarchy-created', $event)
          "
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { BoundaryHierarchy } from "@backPrisma/client";

import BoundariesHierarchiesFormCreateUpdate from "./BoundariesHierarchiesFormCreateUpdate.vue";

// PROPS
export interface Props {
  modelValue?: boolean;
  width?: number | string;
}
withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "boundary-hierarchy-created", boundaryHierarchy: BoundaryHierarchy): void;
}>();

// METHODS

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
