<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title>
          Update Boundary Hierarchy #{{ boundaryHierarchy.uri }}
        </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <BoundariesHierarchiesFormCreateUpdate
          :boundaryHierarchy="boundaryHierarchy"
          @cancel="updateModelValue(false)"
          @boundary-hierarchy-updated="
            emit('boundary-hierarchy-updated', $event)
          "
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { BoundaryHierarchy } from "@backPrisma/client";

import BoundariesHierarchiesFormCreateUpdate from "./BoundariesHierarchiesFormCreateUpdate.vue";

// PROPS
export interface Props {
  boundaryHierarchy: BoundaryHierarchy;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "boundary-hierarchy-updated", boundaryHierarchy: BoundaryHierarchy): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
