<template>
  <v-card-text>
    <h2 class="text-h5 mb-3">{{ agenteColetivo.agente.nome }}</h2>
    <PaginaEmConstrucao />
    <div>
      <v-skeleton-loader
        v-for="(i, k) in Array(5)"
        :key="k"
        type="article, actions, divider"
        boilerplate
      />
    </div>
  </v-card-text>
</template>

<script setup lang="ts">
import PaginaEmConstrucao from "@/components/PaginaEmConstrucao.vue";
import { AgenteColetivoCompleto } from "@/requester/agentes-coletivos.requester";
import { inject, Ref } from "vue";

// DATA

const agenteColetivo = inject<Ref<AgenteColetivoCompleto>>("agenteColetivo");
</script>
