<template>
  <v-card-text>
    <div class="mb-6">
      <h1 class="text-h5">Cadastrar agente coletivo</h1>
      <p class="text-body-2 text-medium-emphasis">
        Agentes coletivos são grupos organizados, institucionalmente ou não, que
        desenvolvem ações nos territórios.
      </p>
    </div>
    <v-card color="neutral-lighten-4" class="mb-3">
      <v-card-text class="d-flex align-center">
        <!-- TIPO -->
        <div
          class="d-flex flex-column flex-lg-row align-center cursor-pointer"
          @click="step = 1"
        >
          <v-avatar
            :color="step === 1 ? 'primary' : 'neutral-lighten-2'"
            size="small"
          >
            1
          </v-avatar>
          <div v-if="$vuetify.display.smAndUp" class="ml-lg-3">
            <div
              :class="[
                step === 1 ? 'font-weight-medium' : 'font-weight-regular',
                'text-body-1',
              ]"
            >
              Tipo
            </div>
          </div>
        </div>
        <v-divider class="mx-3" />
        <!-- IDENTIFICACAO -->
        <div
          class="d-flex flex-column flex-lg-row align-center cursor-pointer"
          @click="step = 2"
        >
          <v-avatar
            :color="step === 2 ? 'primary' : 'neutral-lighten-2'"
            size="small"
          >
            2
          </v-avatar>
          <div v-if="$vuetify.display.smAndUp" class="ml-lg-3">
            <div
              :class="[
                step === 2 ? 'font-weight-medium' : 'font-weight-regular',
                'text-body-1',
              ]"
            >
              Identificação
            </div>
          </div>
        </div>
        <v-divider class="mx-3" />
        <!-- LOCALIZACAO -->
        <div
          class="d-flex flex-column flex-lg-row align-center cursor-pointer"
          @click="step = 3"
        >
          <v-avatar
            :color="step === 3 ? 'primary' : 'neutral-lighten-2'"
            size="small"
          >
            3
          </v-avatar>
          <div v-if="$vuetify.display.smAndUp" class="ml-lg-3">
            <div
              :class="[
                step === 3 ? 'font-weight-medium' : 'font-weight-regular',
                'text-body-1',
              ]"
            >
              Localização
            </div>
          </div>
        </div>
        <v-divider class="mx-3" />
        <!-- ATUACAO -->
        <div
          class="d-flex flex-column flex-lg-row align-center cursor-pointer"
          @click="step = 4"
        >
          <v-avatar
            :color="step === 4 ? 'primary' : 'neutral-lighten-2'"
            size="small"
          >
            4
          </v-avatar>
          <div v-if="$vuetify.display.smAndUp" class="ml-lg-3">
            <div
              :class="[
                step === 4 ? 'font-weight-medium' : 'font-weight-regular',
                'text-body-1',
              ]"
            >
              Atuação
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
    <v-window v-model="step">
      <!-- TIPO -->
      <v-window-item :value="1" class="pt-2">
        <div class="mb-6">
          <h2 class="text-h6">Tipo</h2>
          <p class="text-body-2 text-medium-emphasis">
            Dolore et adipisicing nulla nulla Lorem anim consectetur consequat
            cillum.
          </p>
        </div>
        <AgentesColetivosFormTipo />
        <v-divider class="my-3" />
        <div class="d-flex justify-end align-center">
          <v-btn
            @click="step += 1"
            variant="flat"
            color="primary"
            append-icon="mdi-arrow-right"
          >
            Próximo
          </v-btn>
        </div>
      </v-window-item>
      <!-- IDENTIFICACAO -->
      <v-window-item :value="2" class="pt-2">
        <div class="mb-6">
          <h2 class="text-h6">Identificação</h2>
          <p class="text-body-2 text-medium-emphasis">
            Mollit nostrud non excepteur consectetur consectetur est aliqua
            occaecat incididunt.
          </p>
        </div>
        <AgentesColetivosFormIdentificacao />
        <v-divider class="my-3" />
        <div class="d-flex justify-space-between align-center">
          <v-btn
            @click="step -= 1"
            variant="outlined"
            prepend-icon="mdi-arrow-left"
          >
            Anterior
          </v-btn>
          <v-btn
            @click="step += 1"
            variant="flat"
            color="primary"
            append-icon="mdi-arrow-right"
          >
            Próximo
          </v-btn>
        </div>
      </v-window-item>
      <!-- LOCALIZACAO -->
      <v-window-item :value="3" class="pt-2">
        <div class="mb-6">
          <h2 class="text-h6">Localização</h2>
          <p class="text-body-2 text-medium-emphasis">
            Do adipisicing ullamco consectetur cillum duis aute ad non in do qui
            eiusmod.
          </p>
        </div>
        <EnderecosForm ref="enderecosForm" />
        <v-divider class="my-3" />
        <div class="d-flex justify-space-between align-center">
          <v-btn
            @click="step -= 1"
            variant="outlined"
            prepend-icon="mdi-arrow-left"
          >
            Anterior
          </v-btn>
          <v-btn
            @click="step += 1"
            variant="flat"
            color="primary"
            append-icon="mdi-arrow-right"
          >
            Próximo
          </v-btn>
        </div>
      </v-window-item>
      <!-- ATUACAO -->
      <v-window-item :value="4" class="pt-2">
        <div class="mb-6">
          <h2 class="text-h6">Atuação</h2>
          <p class="text-body-2 text-medium-emphasis">
            Aliqua dolor pariatur id qui sit adipisicing ea cupidatat deserunt
            aute exercitation.
          </p>
        </div>
        <AgentesFormAtuacao />
        <v-divider class="my-3" />
        <div class="d-flex justify-space-between align-center">
          <v-btn
            @click="step -= 1"
            variant="outlined"
            prepend-icon="mdi-arrow-left"
            :loading="loading.create"
          >
            Anterior
          </v-btn>
          <v-btn
            variant="flat"
            color="success"
            prepend-icon="mdi-floppy"
            :loading="loading.create"
            @click="onSalvarDebounce()"
          >
            Salvar
          </v-btn>
        </div>
      </v-window-item>
    </v-window>
  </v-card-text>
</template>

<script setup lang="ts">
import { ref, provide, nextTick, onBeforeMount, watch } from "vue";
import { useRouter } from "vue-router";
import { debounce } from "lodash";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { CreateAgenteColetivoDto } from "@backSrc/agentes-coletivos/dto";
import AgentesColetivosFormIdentificacao from "@/components/agentes-coletivos/AgentesColetivosFormIdentificacao.vue";
import AgentesColetivosFormTipo from "@/components/agentes-coletivos/AgentesColetivosFormTipo.vue";
import AgentesFormAtuacao from "@/components/agentes/AgentesFormAtuacao.vue";
import EnderecosForm from "@/components/enderecos/EnderecosForm.vue";

// DATA

const router = useRouter();

const enderecosForm = ref();

const step = ref(1);

const loading = ref({
  create: false,
});
const formTipo = ref({
  tipo: null,
});
const formIdentificacao = ref({
  nome: "",
  cnpj: "",
  email: "",
  telefone1: "",
  telefone2: "",
  website: "",
  redesSociais: [],
});
const formEndereco = ref({
  latitude: null,
  longitude: null,
  logradouro: "",
  numero: "",
  bairro: "",
  complemento: "",
  codigoPostal: "",
  municipioCodigo: null,
  municipioNome: "",
  ufSigla: null,
  ufNome: "",
});
const formAtuacao = ref({
  objetivo: "",
  atuacao: "",
  atuaDesde: null,
  abrangenciaId: null,
  areasAtuacaoIds: [],
  areasEstudoPesquisaIds: [],
  publicosFocaisIds: [],
  tiposEspacosIds: [],
});
provide("formTipo", formTipo);
provide("formIdentificacao", formIdentificacao);
provide("formEndereco", formEndereco);
provide("formAtuacao", formAtuacao);

// WATCHERS

watch(step, () => {
  if (step.value === 3) {
    nextTick(() => enderecosForm.value.initMap());
  }
});

// BEFORE MOUNT

onBeforeMount(() => {
  window.scrollTo({ top: 0 });
});

const onSalvarDebounce = debounce(onSalvar, 300);
async function onSalvar() {
  loading.value.create = true;
  try {
    const dto: CreateAgenteColetivoDto = {
      tipo: formTipo.value.tipo,
      agente: {
        // identificacao
        nome: formIdentificacao.value.nome?.trim() || null,
        email: formIdentificacao.value.email?.trim() || null,
        website: formIdentificacao.value.website?.trim() || null,
        telefone1: formIdentificacao.value.telefone1?.trim() || null,
        telefone2: formIdentificacao.value.telefone2?.trim() || null,
        // endereco
        endereco: {
          latitude: Number(formEndereco.value.latitude) || null,
          longitude: Number(formEndereco.value.longitude) || null,
          logradouro: formEndereco.value.logradouro?.trim() || null,
          numero: formEndereco.value.numero?.trim() || null,
          bairro: formEndereco.value.bairro?.trim() || null,
          complemento: formEndereco.value.complemento?.trim() || null,
          codigoPostal: formEndereco.value.codigoPostal?.trim() || null,
          municipioCodigo:
            formEndereco.value.municipioCodigo?.toString()?.trim() || null,
          municipioNome: formEndereco.value.municipioNome?.trim() || null,
          ufSigla: formEndereco.value.ufSigla?.trim() || null,
          ufNome: formEndereco.value.ufNome?.trim() || null,
        },
        // atuacao
        abrangenciaId: formAtuacao.value.abrangenciaId,
        atuaDesde: !isNaN(Number(formAtuacao.value.atuaDesde))
          ? Number(formAtuacao.value.atuaDesde)
          : null,
        atuacao: formAtuacao.value.atuacao?.trim() || null,
        objetivo: formAtuacao.value.objetivo?.trim() || null,
        areasAtuacaoIds: formAtuacao.value.areasAtuacaoIds,
        areasAtuacaoOutros: [],
        areasEstudoPesquisaIds: formAtuacao.value.areasEstudoPesquisaIds,
        areasEstudoPesquisaOutros: [],
        publicosFocaisIds: formAtuacao.value.publicosFocaisIds,
        publicosFocaisOutros: [],
        tiposEspacosIds: formAtuacao.value.tiposEspacosIds,
        tiposEspacosOutros: [],
      },
    };
    const agenteColetivo = await requester.agentesColetivos.create(dto);
    emitAlertSuccess("Agente coletivo criado com sucesso!");
    router.push({
      name: "AgentesColetivosInicio",
      params: { id: agenteColetivo.id },
    });
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.create = false;
  }
}
</script>
