<template>
  <v-card-text>
    <AtividadesDialogCadastrar
      v-model="dialogCadastrar"
      :agenteColetivoId="agenteColetivoId"
      :endercoAgente="enderecoAgente"
      :projetos="projetos"
      @atividade-cadastrada="onAtividadeCadastrada"
    />

    <div class="d-flex justify-space-between align-start mb-6">
      <div class="d-flex align-center">
        <h2 class="text-h5">Atividades</h2>
      </div>
      <v-btn
        prepend-icon="mdi-plus"
        variant="flat"
        color="success"
        @click="dialogCadastrar = true"
      >
        Nova atividade
      </v-btn>
    </div>
    <AtividadesIndex
      v-if="!loading.atividades"
      @remover-atividade="onRemoverAtividadeDebounce"
    />
  </v-card-text>
</template>

<script setup lang="ts">
import { provide, onMounted, ref } from "vue";
import { debounce } from "lodash";
import { useRoute } from "vue-router";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { ProjetoCompleto } from "@/requester/projetos.requester";
import { Endereco } from "@backPrisma/client";
import AtividadesDialogCadastrar from "@/components/atividades/AtividadesDialogCadastrar.vue";
import AtividadesIndex from "@/components/atividades/AtividadesIndex.vue";

// DATA

const dialogCadastrar = ref(false);

const route = useRoute();
const agenteColetivoId = ref(Number(route.params.id));

const atividades = ref<AtividadeCompleta[]>([]);
provide("atividades", atividades);

const enderecoAgente = ref<Endereco | null>(null);
provide("enderecoAgente", enderecoAgente);

const projetos = ref<ProjetoCompleto[]>([]);

const loading = ref({
  atividades: true,
  endereco: true,
  projetos: true,
});

// ON MOUNTED
onMounted(() => {
  getAtividades();
  getEndereco();
  getProjetos();
});

// METHODS

function onAtividadeCadastrada(atividade: AtividadeCompleta) {
  atividades.value.push(atividade);
  dialogCadastrar.value = false;
}

const onRemoverAtividadeDebounce = debounce(onRemoverAtividade, 300);
async function onRemoverAtividade(atividadeId: number) {
  try {
    const atividade = await requester.atividades.remove(atividadeId);
    emitAlertSuccess("Atividade removida com sucesso");
    const index = atividades.value.findIndex((a) => (a.id = atividade.id));
    if (index >= 0) {
      atividades.value = atividades.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function getAtividades() {
  loading.value.atividades = true;
  try {
    atividades.value = await requester.agentesColetivos.findAtividades(
      agenteColetivoId.value
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.atividades = false;
  }
}

async function getEndereco() {
  loading.value.endereco = true;
  try {
    enderecoAgente.value = await requester.agentesColetivos.findEndereco(
      agenteColetivoId.value
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.endereco = false;
  }
}

async function getProjetos() {
  loading.value.projetos = true;
  try {
    projetos.value = await requester.agentesColetivos.findProjetos(
      agenteColetivoId.value
    );
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.projetos = false;
  }
}
</script>
