<template>
  <tr v-if="attributeSeries">
    <td>
      <div>
        <router-link
          :to="{
            name: 'DatasetsView',
            params: { datasetId: attributeSeries.datasetId },
          }"
          exact
          target="_blank"
        >
          {{ attributeSeries.dataset.uri }}
        </router-link>
      </div>
      <div
        class="text-caption text-disabled"
        v-text="attributeSeries.dataset.title"
      />
    </td>
    <td>
      <div v-text="attributeSeriesName" />
      <div class="text-caption text-disabled" v-text="attributeSeriesType" />
    </td>
    <td>
      <v-btn
        icon="mdi-delete"
        color="error"
        variant="text"
        @click="removeRelationshipDebounce()"
      />
    </td>
  </tr>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from "vue";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Dataset,
  Section,
} from "@backPrisma/client";
import { debounce, uniq } from "lodash";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  dataset: Dataset;
};

// PROPS
export interface Props {
  relationshipId: number;
  attributeSeriesId: number;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "relationship-removed", relationship: AttributeSeriesRelationship): void;
}>();

// DATA

const attributeSeries = ref<AttributeSeriesAndRelations>();
const attributeSeriesName = computed(() =>
  uniq(
    attributeSeries.value?.attributes.map((attribute) =>
      attribute.section.uri
        ? `${attribute.section.uri}:${attribute.name}`
        : attribute.name
    )
  )
    .sort()
    .join(" | ")
);
const attributeSeriesType = computed(() =>
  uniq(attributeSeries.value?.attributes.map((attribute) => attribute.type))
    .sort()
    .join(" | ")
);

// ON MOUNTED
onMounted(() => {
  findAttributesSeries(props.attributeSeriesId);
});

// METHODS

const removeRelationshipDebounce = debounce(removeRelationship, 300);
async function removeRelationship() {
  try {
    const relationship = await requester.attributesSeriesRelationships.remove(
      props.relationshipId
    );
    emit("relationship-removed", relationship);
  } catch (err) {
    emitAlertError(err);
  }
}

async function findAttributesSeries(attributeSeriesId: number) {
  try {
    attributeSeries.value = await requester.attributesSeries.findOne(
      attributeSeriesId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
