<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title>
          Attribute Series #{{ props.attributeSeries.id }} Reference
          relationships
        </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <v-alert variant="outlined" density="compact" class="mb-4">
          <div v-text="attributeSeriesName" />
          <div
            class="text-disabled text-caption"
            v-text="attributeSeriesType"
          />
        </v-alert>
        <h2 class="text-h5">References</h2>
        <v-divider class="mt-1 mb-4" />
        <v-card color="grey-lighten-2" variant="outlined" class="mb-4">
          <v-card-text
            v-if="attributeSeries.relationshipsReference.length === 0"
            class="d-flex justify-center align-center text-disabled"
          >
            No references
          </v-card-text>
          <v-table v-else density="compact">
            <thead>
              <tr>
                <th>Dataset</th>
                <th>Foreign key</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <AttributesSeriesTableRowRelationship
                v-for="item in attributeSeries.relationshipsReference"
                :key="item.id"
                :relationshipId="item.id"
                :attributeSeriesId="item.foreignKeyAttributeSeriesId"
                @relationship-removed="emit('relationship-removed', $event)"
              />
            </tbody>
          </v-table>
        </v-card>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { uniq } from "lodash";

import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Section,
} from "@backPrisma/client";

import AttributesSeriesTableRowRelationship from "./AttributesSeriesTableRowRelationship.vue";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  relationshipsForeignKey: AttributeSeriesRelationship[];
  relationshipsReference: AttributeSeriesRelationship[];
};

// PROPS
export interface Props {
  attributeSeries: AttributeSeriesAndRelations;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "relationship-removed", relationship: AttributeSeriesRelationship): void;
  (e: "update:model-value", event: boolean): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

// DATA

const attributeSeriesName = computed(() =>
  uniq(
    props.attributeSeries?.attributes.map((attribute) =>
      attribute.section.uri
        ? `${attribute.section.uri}:${attribute.name}`
        : attribute.name
    )
  )
    .sort()
    .join(" | ")
);
const attributeSeriesType = computed(() =>
  uniq(props.attributeSeries?.attributes.map((attribute) => attribute.type))
    .sort()
    .join(" | ")
);
</script>
