<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.datasetId"
            label="Dataset *"
            :items="itemsDataset"
            item-value="id"
            item-title="uri"
            :rules="rules.required"
            variant="outlined"
            @update:model-value="findAttributesSeries"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.uri"
                :subtitle="item?.raw?.title"
              />
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" v-show="!!form.datasetId">
          <v-autocomplete
            v-model="form.referenceAttributeSeriesId"
            label="Reference *"
            :items="itemsReferenceAttributeSeries"
            item-value="id"
            item-title="title"
            :rules="[...rules.required, ...rulesExistingReferenceId]"
            variant="outlined"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.title"
                :subtitle="item?.raw?.subtitle"
              />
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="12" v-show="!!form.referenceAttributeSeriesId">
          <v-radio-group
            v-model="form.type"
            label="Type *"
            inline
            :rules="rules.required"
          >
            <v-radio label="Many to one" value="MANY_TO_ONE" />
            <v-radio
              label="One to one"
              value="ONE_TO_ONE"
              :disabled="!everyUniqueAttributeSeries"
            />
          </v-radio-group>
        </v-col>
      </v-row>
      <div class="d-flex justify-space-between align-center">
        <v-btn
          prepend-icon="mdi-close"
          variant="outlined"
          color="secondary"
          @click="cancel()"
        >
          Cancel
        </v-btn>
        <v-btn
          prepend-icon="mdi-floppy"
          color="success"
          variant="flat"
          @click="saveDebounce()"
        >
          Save
        </v-btn>
      </div>
    </v-form>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import { debounce, uniq } from "lodash";
import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Dataset,
  Section,
} from "@backPrisma/client";
import { CreateRelationshipForeignKeyAttributeSeriesDto } from "@backSrc/attributes-series/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  relationshipsForeignKey: AttributeSeriesRelationship[];
  relationshipsReference: AttributeSeriesRelationship[];
};

// PROPS
export interface Props {
  attributeSeries: AttributeSeriesAndRelations;
  datasets: Dataset[];
}
const propsComponent = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "relationship-created", relationship: AttributeSeriesRelationship): void;
  (e: "cancel"): void;
}>();

// DATA

const everyUniqueAttributeSeries = computed(() =>
  propsComponent.attributeSeries.attributes.every(
    (attribute) => attribute.unique
  )
);

const formRef = ref();
const form = ref({
  datasetId: null,
  referenceAttributeSeriesId: null,
  type: null,
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});
const existingReferencesIds = computed(() =>
  propsComponent.attributeSeries.relationshipsForeignKey.map(
    (el) => el.referenceAttributeSeriesId
  )
);
const rulesExistingReferenceId = computed(() => [
  (v: number) =>
    !existingReferencesIds.value.includes(v) ||
    "There's already a foreign key referencing this attribute series",
]);

const itemsDataset = computed(() =>
  propsComponent.datasets.filter(
    (dataset) => dataset.id !== propsComponent.attributeSeries.datasetId
  )
);

const selectedDatasetAttributesSeries = ref<AttributeSeriesAndRelations[]>([]);
const itemsReferenceAttributeSeries = computed(() =>
  selectedDatasetAttributesSeries.value
    .filter((attributeSeries) =>
      attributeSeries.attributes.some((attribute) => attribute.unique)
    )
    .map((attributeSeries) => {
      const names = uniq(
        attributeSeries.attributes.map((attribute) =>
          attribute.section.uri
            ? `${attribute.section.uri}:${attribute.name}`
            : attribute.name
        )
      )
        .sort()
        .join(" | ");
      const types = uniq(
        attributeSeries.attributes.map((attribute) => attribute.type)
      )
        .sort()
        .join(" | ");
      return {
        id: attributeSeries.id,
        title: names,
        subtitle: types,
      };
    })
);

// METHODS

function clearForm() {
  form.value.datasetId = null;
  form.value.referenceAttributeSeriesId = null;
  form.value.type = null;
}

function cancel() {
  emit("cancel");
  clearForm();
}

async function findAttributesSeries(datasetId: number) {
  form.value.referenceAttributeSeriesId = null;
  form.value.type = null;
  try {
    selectedDatasetAttributesSeries.value =
      await requester.datasets.findAttributesSeries(datasetId);
  } catch (err) {
    emitAlertError(err);
  }
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  try {
    const dto: CreateRelationshipForeignKeyAttributeSeriesDto = {
      referenceAttributeSeriesId:
        form.value?.referenceAttributeSeriesId || null,
      type: form.value?.type || null,
    };
    const relationship =
      await requester.attributesSeries.createRelationshipForeignKey(
        propsComponent.attributeSeries.id,
        dto
      );
    emitAlertSuccess("Relationship created successfully!");
    emit("relationship-created", relationship);
    clearForm();
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
