<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title>
          Attribute Series #{{ props.attributeSeries.id }} Foreign Key
          relationships
        </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <v-alert variant="outlined" density="compact" class="mb-4">
          <div v-text="attributeSeriesName" />
          <div
            class="text-disabled text-caption"
            v-text="attributeSeriesType"
          />
        </v-alert>
        <div class="d-flex justify-space-between align-center">
          <h2 class="text-h5">Foreign keys</h2>
          <v-btn
            prepend-icon="mdi-plus"
            color="primary"
            variant="flat"
            @click="create = true"
            :disabled="create"
          >
            Foreign key
          </v-btn>
        </div>
        <v-divider class="mt-1 mb-4" />
        <v-card color="grey-lighten-2" variant="outlined" class="mb-4">
          <v-card-text
            v-if="attributeSeries.relationshipsForeignKey.length === 0"
            class="d-flex justify-center align-center text-disabled"
          >
            No foreign keys
          </v-card-text>
          <v-table v-else density="compact">
            <thead>
              <tr>
                <th>Dataset</th>
                <th>Reference</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <AttributesSeriesTableRowRelationship
                v-for="item in attributeSeries.relationshipsForeignKey"
                :key="item.id"
                :relationshipId="item.id"
                :attributeSeriesId="item.referenceAttributeSeriesId"
                @relationship-removed="emit('relationship-removed', $event)"
              />
            </tbody>
          </v-table>
        </v-card>
        <template v-if="create">
          <h2 class="text-h5">Create foreign key</h2>
          <v-divider class="mt-1 mb-4" />
          <AttributesSeriesFormForeignKey
            :attributeSeries="props.attributeSeries"
            :datasets="props.datasets"
            @relationship-created="onRelationshipCreated"
            @cancel="create = false"
          />
        </template>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { ref, computed } from "vue";
import { uniq } from "lodash";

import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Dataset,
  Section,
} from "@backPrisma/client";

import AttributesSeriesFormForeignKey from "./AttributesSeriesFormForeignKey.vue";
import AttributesSeriesTableRowRelationship from "./AttributesSeriesTableRowRelationship.vue";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  relationshipsForeignKey: AttributeSeriesRelationship[];
  relationshipsReference: AttributeSeriesRelationship[];
};

// PROPS
export interface Props {
  attributeSeries: AttributeSeriesAndRelations;
  datasets: Dataset[];
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "relationship-created", relationship: AttributeSeriesRelationship): void;
  (e: "relationship-removed", relationship: AttributeSeriesRelationship): void;
  (e: "update:model-value", event: boolean): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

// DATA

const create = ref(false);

const attributeSeriesName = computed(() =>
  uniq(
    props.attributeSeries?.attributes.map((attribute) =>
      attribute.section.uri
        ? `${attribute.section.uri}:${attribute.name}`
        : attribute.name
    )
  )
    .sort()
    .join(" | ")
);
const attributeSeriesType = computed(() =>
  uniq(props.attributeSeries?.attributes.map((attribute) => attribute.type))
    .sort()
    .join(" | ")
);

// METHODS

function onRelationshipCreated(relationship: AttributeSeriesRelationship) {
  emit("relationship-created", relationship);
  create.value = false;
}
</script>
