<template>
  <div>
    <div v-if="!dataIngestion.collectionSchema">
      <span class="text-disabled">File not parsed yet</span>
    </div>
    <div v-else>
      <template v-if="showGeometry">
        <div class="text-subtitle-1 text-medium-emphasis mb-1">Geometry</div>
        <v-alert
          :type="hasGeometry ? 'success' : 'error'"
          variant="outlined"
          class="mb-4"
          density="compact"
        >
          <span
            class="text-subtitle-1 font-weight-medium"
            v-text="
              hasGeometry
                ? 'Geometry found in collection'
                : 'Geometry not found in collection'
            "
          />
        </v-alert>
      </template>
      <div class="text-subtitle-1 text-medium-emphasis mb-1">Properties</div>
      <v-card color="grey-lighten-2" variant="outlined">
        <v-table hover density="compact">
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th class="text-center">Required</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items" :key="index">
              <td>{{ item.property }}</td>
              <td>
                <v-chip
                  v-for="t in item.type"
                  :key="t"
                  density="compact"
                  class="mr-2"
                  :text="t"
                />
              </td>
              <td class="text-center">
                {{ item.required ? "Yes" : "No" }}
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref } from "vue";
import { orderBy } from "lodash";
import { JSONSchema7 } from "json-schema";

import { DataIngestion } from "@backPrisma/client";

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// DATA

const items = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  if (!collectionSchema) return [];
  const featureProperties = collectionSchema.properties?.properties as any;
  return orderBy(
    Object.keys(featureProperties?.properties).map((key) => {
      const type = featureProperties?.properties[key]?.type;
      return {
        property: key,
        type: Array.isArray(type) ? type : [type],
        required: (featureProperties?.required || []).includes(key),
      };
    }),
    (el) => el.property.toLocaleLowerCase()
  );
});

const hasGeometry = computed(() => {
  const collectionSchema = dataIngestion.value.collectionSchema as JSONSchema7;
  return !!collectionSchema.properties?.geometry;
});

const showGeometry = ref(
  ["GEOJSON", "SHAPEFILE"].includes(dataIngestion.value.fileType)
);
</script>
