<template>
  <div>
    <!-- DIALOG MESSAGE -->
    <v-dialog v-model="dialogMessage" width="960">
      <v-card>
        <template v-slot:title>
          <div class="d-flex justify-space-between align-center">
            <DataIngestionsLogStatus
              :dataIngestionLog="selectedLog"
              icon-size="24"
            />
            <div class="text-disabled font-weight-regular text-subtitle-1">
              {{ filterFormatDate(selectedLog.createdAt) }}
            </div>
          </div>
        </template>
        <v-card-text>
          <v-alert color="black" class="text-body-2" max-height="400">
            <v-virtual-scroll :height="300" :items="selectedLogMessage">
              <template v-slot:default="{ item }">
                <p style="font-family: monospace" v-text="item" />
              </template>
            </v-virtual-scroll>
          </v-alert>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- TABLE LOGS -->
    <v-card color="grey-lighten-2" variant="outlined">
      <v-table hover density="compact">
        <thead>
          <tr>
            <th>Status</th>
            <th>Message</th>
            <th>Created at</th>
            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in dataIngestionLogs" :key="item.id">
            <td>
              <DataIngestionsLogStatus :dataIngestionLog="item" hide-progress />
            </td>
            <td>
              <v-btn
                v-if="item.message"
                icon="mdi-message-text"
                variant="text"
                density="compact"
                @click="openDialogMessage(item)"
              />
              <span v-else class="text-disabled" v-text="'N/A'" />
            </td>
            <td>{{ filterFormatDate(item.createdAt) }}</td>
            <td class="text-center">
              <v-btn
                icon="mdi-delete"
                color="error"
                variant="text"
                density="compact"
                :disabled="
                  item.status === 'CREATED' || item.id !== currentLog.id
                "
                @click="removeCurrentLogDebounce(item)"
              />
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref } from "vue";

import { DataIngestionLog } from "@backPrisma/client";

import DataIngestionsLogStatus from "@/components/data-ingestions/DataIngestionsLogStatus.vue";
import { filterFormatDate } from "@/utils/filters";
import {} from "vue";
import { debounce, orderBy } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

// INJECT
const dataIngestionLogs = inject<Ref<DataIngestionLog[]>>("dataIngestionLogs");

// DATA

const currentLog = computed(
  () => orderBy(dataIngestionLogs.value || [], ["createdAt"], ["desc"])?.[0]
);

const dialogMessage = ref(false);
const selectedLogMessage = ref([]);
const selectedLog = ref<DataIngestionLog>(null);

// METHODS

function openDialogMessage(dataIngestionLog: DataIngestionLog) {
  dialogMessage.value = true;
  selectedLog.value = dataIngestionLog;
  selectedLogMessage.value = (dataIngestionLog.message || "")
    .split("\n")
    .flatMap((line) => {
      const lineArr = [];
      for (let i = 0; i < line.length; i += 255) {
        lineArr.push(
          line.slice(i, i + 255 > line.length ? line.length : i + 255)
        );
      }
      return lineArr;
    });
}

const removeCurrentLogDebounce = debounce(removeCurrentLog, 300);
async function removeCurrentLog(dataIngestionLog: DataIngestionLog) {
  if (dataIngestionLog.id !== currentLog.value.id) return;
  try {
    await requester.dataIngestions.removeCurrentLog(
      dataIngestionLog.dataIngestionId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
