<template>
  <v-card color="grey-lighten-2" variant="outlined">
    <v-table hover density="compact">
      <tbody>
        <tr>
          <th width="140px">File type</th>
          <td>
            <div class="d-flex align-center">
              <v-icon :icon="dataIngestionFileTypeIcon" size="small" start />
              <span v-text="dataIngestionFileTypeText" />
            </div>
          </td>
        </tr>
        <tr>
          <th width="140px">File path</th>
          <td>
            <span
              v-if="dataIngestion.filePath"
              v-text="dataIngestion.filePath"
            />
            <span v-else class="text-disabled"> File not uploaded yet </span>
          </td>
        </tr>
        <template v-if="dataIngestion.filePath && fileInfo">
          <tr>
            <th>Content type</th>
            <td>{{ fileInfo?.metaData["content-type"] }}</td>
          </tr>
          <tr>
            <th>Size</th>
            <td>{{ filterFormatBytes(fileInfo?.size) }}</td>
          </tr>
          <tr>
            <th>Last modified</th>
            <td>{{ filterFormatDate(fileInfo?.lastModified) }}</td>
          </tr>
          <tr class="text-disabled">
            <th>Version ID</th>
            <td>{{ fileInfo?.versionId }}</td>
          </tr>
          <tr class="text-disabled">
            <th>Etag</th>
            <td>{{ fileInfo?.etag }}</td>
          </tr>
        </template>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, Ref } from "vue";

import { DataIngestion } from "@backPrisma/client";
import { filterFormatDate, filterFormatBytes } from "@/utils/filters";
import {
  getDataIngestionFileTypeIcon,
  getDataIngestionFileTypeText,
} from "@/utils/data-ingestion-helper.utils";

interface FileInfo {
  size: number;
  metaData: {
    "content-type": string;
  };
  lastModified: string;
  versionId: string;
  etag: string;
}

// INJECT
const dataIngestion = inject<Ref<DataIngestion>>("dataIngestion");

// DATA
const fileInfo = computed(
  () => dataIngestion.value?.fileInfo as any as FileInfo | null
);

const dataIngestionFileTypeIcon = computed(() =>
  getDataIngestionFileTypeIcon(dataIngestion.value?.fileType)
);

const dataIngestionFileTypeText = computed(() =>
  getDataIngestionFileTypeText(dataIngestion.value?.fileType)
);

// MOUNTED
onMounted(() => {});
</script>
