<template>
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table hover density="compact">
      <thead>
        <tr>
          <th
            v-for="header in headers"
            :key="header.value"
            v-text="header.text"
          />
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td
            v-for="header in headers"
            :key="header.value"
            class="text-truncate"
            style="max-width: 200px"
            :title="getItemValue(item, header.value)"
          >
            {{ getItemValue(item, header.value) }}
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <v-pagination
    v-model="paginationPage"
    :length="paginationLength"
    total-visible="6"
    density="compact"
  />
</template>

<script setup lang="ts">
import { ref, computed, onMounted, watch } from "vue";
import { debounce, get } from "lodash";
import { DataIngestionLogStatusEnum } from "@backSrc/data-ingestions/data-ingestions.contants";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import { socket } from "@/plugins/socketIo";

// PROPS
export interface Props {
  dataIngestionId: number;
}
const props = defineProps<Props>();

// DATA

const items = ref([]);
const paginationPage = ref(1);
const paginationPerPage = ref(15);
const paginationLength = ref(0);

const headers = computed(() => {
  if (items.value.length === 0) return [];
  const propertiesKeys = Object.keys(items.value?.[0]?.properties).map(
    (key) => ({
      value: `properties.${key}`,
      text: key,
    })
  );
  const geometryKey = items.value?.[0]?.geometry
    ? [
        {
          value: "geometry.type",
          text: "_geometry_type",
        },
      ]
    : [];
  return propertiesKeys.concat(geometryKey);
});

// EVENTS

socket.on("dataIngestionLog.created", (...args) => {
  const dataIngestionId = args?.[0]?.dataIngestionId;
  const status = args?.[0]?.status;
  if (
    dataIngestionId === props.dataIngestionId &&
    status === DataIngestionLogStatusEnum.FILE_PARSING_SUCCESS
  ) {
    getCollection(props.dataIngestionId, true);
  }
});

// WATCH

watch(paginationPage, () => {
  getCollectionDebounce(props.dataIngestionId, false);
});
watch(paginationPerPage, () => {
  getCollectionDebounce(props.dataIngestionId, true);
});

// ON MOUNTED
onMounted(() => {
  getCollection(props.dataIngestionId, true);
});

// METHODS

function getItemValue(item: any, key: string) {
  return get(item, key);
}

const getCollectionDebounce = debounce(getCollection, 200);
async function getCollection(dataIngestionId: number, resetPage: boolean) {
  if (resetPage) {
    paginationPage.value = 1;
  }
  try {
    const resData = await requester.dataIngestions.getCollection(
      dataIngestionId,
      {
        page: paginationPage.value,
        perPage: paginationPerPage.value,
      }
    );
    items.value = resData?.results || [];
    paginationLength.value = Math.ceil(
      (resData?.total || 0) / paginationPerPage.value
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
