<template>
  <div class="pt-1">
    <!-- FORM -->
    <v-form ref="formRef">
      <v-row dense>
        <!-- SECTION -->
        <v-col cols="12">
          <v-autocomplete
            label="Section *"
            v-model="form.sectionId"
            :items="sections"
            :rules="rules.required"
            item-value="id"
            item-title="title"
            variant="outlined"
          >
            <template v-slot:selection="{ item }">
              <span v-if="item?.raw?.title" class="mr-1">{{ item.title }}</span>
              <span v-else class="text-disabled mr-1">N/A</span>
              <span v-if="item?.raw?.default" class="text-disabled">
                (Default)
              </span>
            </template>
            <template v-slot:item="{ props, item }">
              <v-list-item v-bind="props">
                <template #title>
                  <span v-if="item?.raw?.title" class="mr-1">
                    {{ item.raw?.title }}
                  </span>
                  <span v-else class="text-disabled mr-1">N/A</span>
                  <span v-if="item?.raw?.default" class="text-disabled">
                    (Default)
                  </span>
                </template>
              </v-list-item>
            </template>
          </v-autocomplete>
        </v-col>
        <!-- FILE TYPE -->
        <v-col cols="12">
          <v-autocomplete
            v-model="form.fileType"
            label="Type *"
            :items="itemsType"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>
    <!-- BTNS CANCEL/SAVE -->
    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { debounce } from "lodash";
import { DataIngestion, Section } from "@backPrisma/client";
import { CreateDataIngestionDto } from "@backSrc/data-ingestions/dto";
import { DataIngestionFileTypeEnum } from "@backSrc/data-ingestions/data-ingestions.contants";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { getDataIngestionFileTypeText } from "@/utils/data-ingestion-helper.utils";

// PROPS
export interface Props {
  versionId: number;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "data-ingestion-created", dataIngestion: DataIngestion): void;
  (e: "cancel"): void;
}>();

// DATA

const sections = ref<Section[]>([]);

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  sectionId: null,
  fileType: null,
});

const itemsType = ref(
  Object.values(DataIngestionFileTypeEnum).map((value) => ({
    value,
    title: getDataIngestionFileTypeText(value),
  }))
);

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

function clearForm() {
  form.value.sectionId =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
  form.value.fileType = null;
}

// ON MOUNTED
onMounted(async () => {
  await findSections(props.versionId);
  form.value.sectionId =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
});

// METHODS

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateDataIngestionDto = {
      fileType: form.value.fileType || null,
    };
    const dataIngestion = await requester.sections.createDataIngestion(
      form.value.sectionId,
      dto
    );
    emit("data-ingestion-created", dataIngestion);
    emitAlertSuccess("Data ingestion successfully created");
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
