<template>
  <v-card-text>
    <div v-for="section in sections" :key="section.title" class="mb-4">
      <h2 class="text-h5 mb-3">{{ section.title }}</h2>
      <v-table hover density="compact" class="text-body-1">
        <tbody>
          <template v-for="item in section.items" :key="item.title">
            <tr v-if="item.show">
              <td
                v-if="$vuetify.display.smAndUp"
                class="font-weight-medium"
                width="275px"
              >
                {{ item.title }}
              </td>
              <td class="py-3 py-sm-0">
                <div v-if="$vuetify.display.xs" class="font-weight-medium mb-1">
                  {{ item.title }}
                </div>
                <template v-if="Array.isArray(item.value)">
                  <v-chip
                    v-for="(text, index) in item.value"
                    :key="index"
                    class="mr-1 my-1"
                    :text="text"
                  />
                  <span v-if="item.value.length === 0" class="text-disabled">
                    N/A
                  </span>
                </template>
                <template v-else>
                  <template v-if="!!item.value">
                    <a
                      v-if="item.href"
                      :href="item.href"
                      target="_blank"
                      class="text-neutral-darken-4"
                    >
                      {{ item.value }}
                    </a>
                    <span v-else>{{ item.value }}</span>
                  </template>
                  <span v-else class="text-disabled"> N/A </span>
                </template>
              </td>
            </tr>
          </template>
        </tbody>
      </v-table>
    </div>
  </v-card-text>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { AgenteCompleto } from "@/requester/agentes.requester";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";

type Section = {
  title: string;
  items: {
    title: string;
    value: any;
    show: boolean;
    href?: string;
  }[];
};

const agente = inject<Ref<AgenteCompleto>>("agente");
const agenteIndividual = computed(() => agente.value?.agenteIndividual);
const endereco = computed(() => agente.value?.endereco);

const sections = computed<Section[]>(() => [
  {
    title: "Identificação",
    items: [
      {
        title: "Nome",
        value: agente.value.nome,
        show: true,
      },
      {
        title: "Email",
        value: agente.value.email,
        show:
          agente.value.email &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos?.includes("email")),
        ...(agente.value.email ? { href: `mailto:${agente.value.email}` } : {}),
      },
      {
        title: "Website",
        value: agente.value.website,
        show:
          agente.value.website &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("website")),
        ...(agente.value.website ? { href: agente.value.website } : {}),
      },
      {
        title: "Telefone",
        value: agente.value.telefone1,
        show:
          agente.value.telefone1 &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("telefone1")),
      },
      {
        title: "Telefone alternativo",
        value: agente.value.telefone2,
        show:
          agente.value.telefone2 &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("telefone2")),
      },
      ...(agenteIndividual.value
        ? [
            {
              title: "Idade",
              value: getIdade(new Date(agenteIndividual.value?.dataNascimento)),
              show:
                !!agenteIndividual.value?.dataNascimento &&
                agenteIndividual.value?.camposPublicos.includes(
                  "dataNascimento"
                ),
            },
            {
              title: "Identidade de gênero",
              value: agenteIndividual.value?.identidadeGenero?.nome,
              show:
                !!agenteIndividual.value?.identidadeGenero &&
                agenteIndividual.value?.camposPublicos.includes(
                  "identidadeGenero"
                ),
            },
            {
              title: "Identidade étnico-cultural",
              value: agenteIndividual.value?.identidadeEtnicoCultural?.nome,
              show:
                !!agenteIndividual.value?.identidadeEtnicoCultural &&
                agenteIndividual.value?.camposPublicos.includes(
                  "identidadeEtnicoCultural"
                ),
            },
            {
              title: "Raça/cor segundo IBGE",
              value: agenteIndividual.value?.racaCorIbge?.nome,
              show:
                !!agenteIndividual.value?.racaCorIbge &&
                agenteIndividual.value?.camposPublicos.includes("racaCorIbge"),
            },
            {
              title: "Nível de escolaridade",
              value: agenteIndividual.value?.nivelEscolaridade?.nome,
              show:
                !!agenteIndividual.value?.nivelEscolaridade &&
                agenteIndividual.value?.camposPublicos.includes(
                  "nivelEscolaridade"
                ),
            },
            {
              title: "Ocupação",
              value: agenteIndividual.value?.ocupacao?.nome,
              show:
                !!agenteIndividual.value?.ocupacao &&
                agenteIndividual.value?.camposPublicos.includes("ocupacao"),
            },
          ]
        : []),
    ],
  },
  ...(endereco.value && agenteIndividual.value?.enderecoPublico
    ? [
        {
          title: "Localização",
          items: [
            {
              title: "Logradouro",
              value: endereco.value.logradouro,
              show: true,
            },
            {
              title: "Número",
              value: endereco.value.numero,
              show: true,
            },
            {
              title: "Complemento",
              value: endereco.value.complemento,
              show: true,
            },
            {
              title: "Bairro",
              value: endereco.value.bairro,
              show: true,
            },
            {
              title: "CEP",
              value: endereco.value.codigoPostal,
              show: true,
            },
            {
              title: "Município",
              value: endereco.value.municipioNome,
              show: true,
            },
            {
              title: "UF",
              value: endereco.value.ufSigla,
              show: true,
            },
          ],
        },
      ]
    : []),
  {
    title: "Atuação",
    items: [
      {
        title: "Atua desde",
        value: agente.value.atuaDesde,
        show: !!agente.value.atuaDesde,
      },
      {
        title: "Abrangência",
        value: agente.value.abrangencia?.nome,
        show: !!agente.value.abrangencia?.nome,
      },
      {
        title: "Áreas de atuação",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.AREA_ATUACAO)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ATUACAO
          ).length > 0,
      },
      {
        title: "Áreas de estudo/pesquisa",
        value: agente.value.opcoes
          .filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ESTUDO_PESQUISA
          )
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ESTUDO_PESQUISA
          ).length > 0,
      },
      {
        title: "Públicos focais",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL
          ).length > 0,
      },
      {
        title: "Espaços em que atua/desenvolve atividades",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.TIPO_ESPACO)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.TIPO_ESPACO
          ).length > 0,
      },
      {
        title: "Objetivo/fim",
        value: agente.value.objetivo,
        show: !!agente.value.objetivo,
      },
      {
        title: "Histórico de atuação",
        value: agente.value.atuacao,
        show: !!agente.value.atuacao,
      },
    ],
  },
]);

function getIdade(dataNascimento: Date) {
  const hoje = new Date();
  let idade = hoje.getFullYear() - dataNascimento.getFullYear();
  const diffMes = hoje.getMonth() - dataNascimento.getMonth();
  if (
    diffMes < 0 ||
    (diffMes === 0 && hoje.getDate() < dataNascimento.getDate())
  ) {
    idade--;
  }
  return idade;
}
</script>
