<template>
  <canvas ref="canvasChart" />
</template>

<script setup lang="ts">
import { ref } from "vue";
import Chart, { ChartConfiguration, ChartData } from "chart.js/auto";
import { onMounted } from "vue";

// PROPS
export interface Props {
  labels: string[];
  datasets: {
    label: string;
    data: number[];
    backgroundColor: string[];
    hoverOffset: number;
  }[];
}
const props = defineProps<Props>();

// DATA

const canvasChart = ref();

let chart: Chart;
const chartData: ChartData = {
  labels: props.labels,
  datasets: props.datasets,
};
const chartConfig: ChartConfiguration = {
  type: "pie",
  data: chartData,
  options: {
    responsive: true,
    plugins: {
      tooltip: {
        callbacks: {
          label: (ctx) => {
            const value = ctx.parsed;
            return `${value}%`;
          },
          title: (ctx) => {
            return `${ctx[0].dataset.label}: ${ctx[0].label}`;
          },
        },
      },
      legend: {
        position: "bottom",
      },
      title: {
        display: true,
        text: "Raça/cor IBGE",
      },
    },
  },
};

onMounted(() => {
  chart = new Chart(canvasChart.value, chartConfig);
  chart.update();
});
</script>
