<template>
  <div
    class="chart-container"
    style="position: relative; min-height: 400px; height: 100%; width: 100%"
  >
    <canvas
      ref="canvasChart"
      style="position: absolute; height: 100%; width: 100%; top: 0; left: 0"
    />
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import Chart, { ChartConfiguration, ChartData } from "chart.js/auto";
import { onMounted } from "vue";

// PROPS
export interface Props {
  labels: string[];
  datasets: {
    label: string;
    stack: string;
    side: "left" | "right";
    data: number[];
    color: string;
  }[];
}
const props = defineProps<Props>();

// DATA

const canvasChart = ref();

const mappedDatasets = props.datasets.map((dataset) => ({
  label: dataset.label.trim(),
  stack: dataset.stack.trim(),
  data: dataset.side === "left" ? dataset.data.map((v) => -v) : dataset.data,
  backgroundColor: dataset.color,
}));

const totals = mappedDatasets.map((d) =>
  Math.abs(d.data.reduce((a, b) => a + b))
);
let chart: Chart;
const chartData: ChartData = {
  labels: props.labels,
  datasets: mappedDatasets,
};
const chartConfig: ChartConfiguration = {
  type: "bar",
  data: chartData,
  options: {
    responsive: true,
    indexAxis: "y",
    elements: {
      bar: {
        borderRadius: 10,
        borderWidth: 0,
      },
    },
    scales: {
      x: {
        // min: minX,
        // max: maxX,
        stacked: false,
        beginAtZero: true,
        ticks: {
          callback: (v: string | number) => Math.abs(Number(v)),
        },
      },
      y: {
        stacked: true,
      },
    },
    plugins: {
      tooltip: {
        callbacks: {
          label: (ctx) => {
            const value = Math.abs(ctx.parsed.x);
            const total = totals[ctx.datasetIndex];
            const percentage = (value / total) * 100;
            return `${value} (${percentage.toFixed(2)}%)`;
          },
          title: (ctx) => {
            return `${ctx[0].dataset.label}: ${ctx[0].label} anos`;
          },
        },
      },
      legend: {
        position: "bottom",
      },
      title: {
        display: true,
        text: "Pirâmide etária",
      },
    },
  },
};

onMounted(() => {
  chart = new Chart(canvasChart.value, chartConfig);
  chart.update();
});
</script>
