<template>
  <EntidadesFicha size="small" />
  <!-- <div v-if="!entity" class="d-flex align-center justify-center py-4">
    <v-progress-circular indeterminate color="primary" size="small" width="2" />
  </div>
  <div v-else>
    <div v-for="section in base.sections" :key="section.id" class="mb-4">
      <h2 class="text-body-2 mb-1">{{ section.title }}</h2>
      <v-table hover density="compact" class="text-caption">
        <tbody>
          <tr v-for="(item, index) in section.items" :key="index">
            <td class="font-weight-medium px-2" style="width: 100px">
              {{ item.title }}
            </td>
            <td class="px-2">
              <span v-if="getProperty(item.column)">
                {{ getProperty(item.column) }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </div> -->
</template>

<script setup lang="ts">
import { onMounted, provide, ref, watch } from "vue";
import requester from "@/requester";
import { BaseCompleto } from "@/requester/bases.requester";
import { emitAlertError } from "@/plugins/eventBus";
import EntidadesFicha from "./EntidadesFicha.vue";

// PROPS
export interface Props {
  baseUri: string;
  pk: string;
}
const props = defineProps<Props>();

// DATA

const base = ref<BaseCompleto | null>(null);
provide("base", base);

const entidade = ref<any | null>(null);
provide("entidade", entidade);

// WATCH

watch(
  () => props.baseUri,
  () => updateEntidade(props)
);
watch(
  () => props.pk,
  () => updateEntidade(props)
);

// ON MOUNTED
onMounted(() => {
  updateEntidade(props);
});

// METHODS

// function getProperty(property: string) {
//   return entity.value?.[property];
// }

async function updateEntidade(propsArg: Props) {
  entidade.value = null;
  base.value = null;
  findEntityByPk(propsArg.baseUri, propsArg.pk);
}

async function findEntityByPk(baseUri: string, pk: string) {
  try {
    const responseData = await requester.bases.findEntityByPk(baseUri, pk);
    base.value = responseData.base;
    entidade.value = responseData.entity;
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
