<template>
  <template v-if="baseCategoryType === BaseCategoryTypeEnum.EQUIPAMENTO">
    <EntidadesFichaEquipamento :size="size" />
  </template>
  <template v-else-if="baseCategoryType === BaseCategoryTypeEnum.REDE">
    <template v-if="baseUri === 'atividades'">
      <EntidadesFichaRedeAtividade :size="size" />
    </template>
    <template v-else-if="baseUri === 'projetos'">
      <PaginaEmConstrucao />
    </template>
    <template v-else-if="baseUri === 'agentes_individuais'">
      <EntidadesFichaRedeAgente :size="size" />
    </template>
    <template v-else-if="baseUri === 'agentes_coletivos'">
      <EntidadesFichaRedeAgente :size="size" />
    </template>
  </template>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";
import { BaseCategoryTypeEnum } from "@backSrc/bases/bases.constants";
import EntidadesFichaEquipamento from "./EntidadesFichaEquipamento.vue";
import EntidadesFichaRedeAtividade from "./EntidadesFichaRedeAtividade.vue";
import PaginaEmConstrucao from "../PaginaEmConstrucao.vue";
import EntidadesFichaRedeAgente from "./EntidadesFichaRedeAgente.vue";

// PROPS
export interface Props {
  size?: "regular" | "small";
}
withDefaults(defineProps<Props>(), {
  size: "regular",
});

// DATA

const base = inject<Ref<BaseCompleto>>("base");

const baseUri = computed(() => base.value?.uri);
const baseCategoryType = computed(() => base.value?.category?.type);
</script>
