<template>
  <v-tooltip v-if="!usuario" location="bottom">
    <template v-slot:activator="{ props }">
      <div v-bind="props">
        <v-btn
          color="secondary"
          rounded
          variant="outlined"
          :size="size"
          prepend-icon="mdi-heart-outline"
          disabled
        >
          Favoritar
        </v-btn>
      </div>
    </template>
    <div>Você precisa entrar com sua conta primeiro</div>
  </v-tooltip>
  <v-btn
    v-else-if="loading.favorito"
    rounded
    variant="text"
    :size="size"
    prepend-icon="mdi-heart"
    loading
  >
    Favorito
  </v-btn>
  <v-btn
    v-else-if="!favorito"
    color="secondary"
    rounded
    variant="outlined"
    :size="size"
    prepend-icon="mdi-heart-outline"
    :loading="loading.criar || loading.remover"
    @click="onClickFavoritar()"
  >
    Favoritar
  </v-btn>
  <v-btn
    v-else
    color="secondary"
    rounded
    variant="flat"
    :size="size"
    prepend-icon="mdi-heart"
    :loading="loading.criar || loading.remover"
    @click="onClickFavorito()"
  >
    Favorito
  </v-btn>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import requester from "@/requester";
import { FavoritoComBase } from "@/requester/usuarios.requester";
import { emitAlertError } from "@/plugins/eventBus";
import { CreateFavoritoDto } from "@backSrc/usuarios/dto";
import { useAuthStore } from "@/store/auth.store";

// PROPS
export interface Props {
  baseUri: string;
  pk: string;
  nome: string;
  descricao?: string | null;
  size?: string | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  descricao: null,
  size: undefined,
});

// DATA

const authStore = useAuthStore();
const usuario = computed(() => authStore.usuario || null);

const favorito = ref<FavoritoComBase | null>(null);

const loading = ref({
  favorito: true,
  criar: false,
  remover: false,
});

onMounted(() => {
  getFavorito();
});

// METHODS

async function getFavorito() {
  if (!usuario.value) return;
  loading.value.favorito = true;
  try {
    favorito.value = await requester.usuarios.meuFavorito(
      props.baseUri,
      props.pk
    );
  } catch (err) {
    if (err?.response?.status !== 404) {
      emitAlertError(err);
    }
  } finally {
    loading.value.favorito = false;
  }
}

async function onClickFavoritar() {
  loading.value.criar = true;
  try {
    const dto: CreateFavoritoDto = {
      baseUri: props.baseUri,
      pk: props.pk,
      nome: props.nome,
      descricao: props.descricao,
    };
    favorito.value = await requester.usuarios.createFavorito(dto);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.criar = false;
  }
}

async function onClickFavorito() {
  if (!favorito.value) return;
  loading.value.remover = true;
  try {
    await requester.usuarios.removeFavorito(favorito.value.id);
    favorito.value = null;
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.remover = false;
  }
}
</script>
