<template>
  <v-card rounded class="card-top" height="360px">
    <v-container
      class="d-flex align-end fill-height py-sm-0 w-100 cursor-pointer"
      @click="expandirMapa()"
    >
      <div
        class="d-flex flex-column flex-md-row align-center w-100 cursor-default"
        @click.stop=""
      >
        <div
          class="d-flex flex-column flex-sm-row align-center align-sm-end align-md-center mb-4 w-100"
        >
          <v-avatar size="130px" color="white" class="mr-4">
            <v-avatar size="110px" color="neutral-lighten-4">
              <v-img src="">
                <template v-slot:placeholder>
                  <div class="d-flex justify-center align-center fill-height">
                    <v-icon :icon="baseIcon" size="65" color="neutral" />
                  </div>
                </template>
              </v-img>
            </v-avatar>
          </v-avatar>
          <div class="text-center text-sm-start w-100 mb-0 mb-sm-4 mb-md-0">
            <h1 class="text-body-1 text-md-h6 text-lg-h5 font-weight-medium">
              {{ entidadeNome }}
            </h1>
            <p v-if="base" class="text-body-1 text-disabled">
              {{ base.category.name }} - {{ base.title }}
            </p>
          </div>
        </div>
        <v-btn
          v-if="$vuetify.display.smAndDown"
          block
          variant="flat"
          color="primary"
          prepend-icon="mdi-arrow-expand-down"
          @click.stop="expandirMapa()"
          class="mb-0 mb-sm-4 mb-md-0"
        >
          Expandir mapa
        </v-btn>
        <v-btn
          v-else
          size="large"
          color="primary"
          prepend-icon="mdi-arrow-expand-down"
          @click.stop="expandirMapa()"
        >
          Expandir mapa
        </v-btn>
      </div>
    </v-container>
    <div class="white-gradient" />
    <div class="white-strip" />
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";

// EMIT
const emit = defineEmits<{
  (e: "expandir-mapa"): void;
}>();

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const entidadeNome = computed(() => entidade.value?.[base.value.columnName]);
const baseIcon = computed(() => base.value.icon || base.value.category.icon);

//METHODS

function expandirMapa() {
  emit("expandir-mapa");
}
</script>

<style scoped>
.card-top {
  background: transparent;
  position: absolute;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  z-index: 1000;
  height: 100%;
  width: 100%;
}

.white-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: -1;
  pointer-events: none;
}

.white-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: -1;
  pointer-events: none;
}
</style>
