<template>
  <v-card
    v-if="entidade"
    class="card-top mb-2"
    :height="$vuetify.display.mdAndUp ? '200px' : '300px'"
    elevation="2"
  >
    <v-container
      class="d-flex align-end fill-height py-sm-0 w-100"
      style="z-index: 1"
    >
      <div class="d-flex flex-column flex-sm-row align-center w-100">
        <div>
          <v-avatar size="130px" color="white">
            <v-avatar size="120px" color="white">
              <v-img src="">
                <template v-slot:placeholder>
                  <div class="d-flex justify-center align-center fill-height">
                    <v-icon :icon="baseIcon" size="65" color="neutral" />
                  </div>
                </template>
              </v-img>
            </v-avatar>
          </v-avatar>
        </div>
        <div class="text-center text-sm-start pl-sm-10 my-4 w-100">
          <h1 class="text-h6 text-lg-h5 text-xl-h4">
            {{ entidadeNome }}
          </h1>
          <p v-if="base" class="text-body-1 text-disabled">
            {{ base.category.name }} - {{ base.title }}
          </p>
        </div>
        <div
          v-if="$vuetify.display.smAndUp"
          class="d-flex justify-end align-end"
        >
          <v-btn
            size="large"
            prepend-icon="mdi-arrow-expand-down"
            @click="expandirMapa()"
          >
            Expandir mapa
          </v-btn>
        </div>
      </div>
    </v-container>
    <div class="white-gradient" />
    <div class="white-strip" />
    <div class="container-componente-mapa">
      <MapaEntidade ref="mapaEntidade" />
    </div>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";
import MapaEntidade from "@/components/mapas/MapaEntidade.vue";

// EMIT
const emit = defineEmits<{
  (e: "expandir-mapa"): void;
}>();

// DATA

const mapaEntidade = ref();

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const entidadeNome = computed(() => entidade.value?.[base.value.columnName]);
const baseIcon = computed(() => base.value.icon || base.value.category.icon);

//METHODS

function getQueryExpandirMapa() {
  const mainMarkerLatLng = mapaEntidade.value?.getMainMarkerLatLng();
  const { lat, lng } = mainMarkerLatLng;
  const zoom = mapaEntidade.value?.getMapZoom();
  return {
    ...(lat ? { lat } : {}),
    ...(lng ? { lng } : {}),
    ...(zoom ? { zoom } : {}),
  };
}

function expandirMapa() {
  // router.push({ name: "Mapa", query: getQueryExpandirMapa() });
  emit("expandir-mapa");
}
</script>

<style scoped>
.card-top {
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.white-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: -1;
  pointer-events: none;
}

.white-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: -1;
  pointer-events: none;
}

.container-componente-mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
}
</style>
