<template>
  <div>
    <div v-for="(section, index) in sections" :key="section.title" class="mb-4">
      <div
        class="d-flex flex-column-reverse flex-sm-row justify-space-between align-top"
      >
        <h2 :class="[size === 'small' ? 'text-body-2' : 'text-h5', 'mb-3']">
          {{ section.title }}
        </h2>
        <EntidadesBtnFavorito
          v-if="
            size !== 'small' &&
            index === 0 &&
            base &&
            entidadePk &&
            entidadeNome
          "
          :base-uri="baseUri"
          :pk="entidadePk"
          :nome="entidadeNome"
          class="mb-3 mb-sm-0"
        />
      </div>
      <v-table
        hover
        density="compact"
        :class="[size === 'small' ? 'text-caption' : 'text-body-1']"
      >
        <tbody>
          <template v-for="item in section.items" :key="item.title">
            <tr v-if="item.show">
              <td
                v-if="$vuetify.display.smAndUp"
                class="font-weight-medium"
                :style="size === 'small' ? 'width: 100px' : 'width: 200px'"
              >
                {{ item.title }}
              </td>
              <td class="py-3 py-sm-0">
                <div v-if="$vuetify.display.xs" class="font-weight-medium mb-1">
                  {{ item.title }}
                </div>
                <template v-if="Array.isArray(item.value)">
                  <v-chip
                    v-for="(text, index) in item.value"
                    :key="index"
                    class="mr-1 my-1"
                    :text="text"
                  />
                  <span v-if="item.value.length === 0" class="text-disabled">
                    N/A
                  </span>
                </template>
                <template v-else>
                  <template v-if="!!item.value">
                    <a
                      v-if="item.href"
                      :href="item.href"
                      target="_blank"
                      class="text-neutral-darken-4"
                    >
                      {{ item.value }}
                    </a>
                    <span v-else>{{ item.value }}</span>
                  </template>
                  <span v-else class="text-disabled"> N/A </span>
                </template>
              </td>
            </tr>
          </template>
        </tbody>
      </v-table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { BaseCompleto } from "@/requester/bases.requester";
import { computed, inject, Ref } from "vue";

export interface EntidadeSection {
  title: string;
  items: {
    title: string;
    value: any;
    show?: boolean;
    href?: string;
  }[];
}

// PROPS

export interface Props {
  sections: EntidadeSection[];
  size?: "regular" | "small";
}
withDefaults(defineProps<Props>(), {
  size: "regular",
});

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");
const baseUri = computed(() => base.value?.uri);
const entidadePk = computed(() => entidade.value?.[base.value?.columnPk]);
const entidadeNome = computed(() => entidade.value?.[base.value?.columnName]);
</script>
