<template>
  <v-sheet color="primary" class="d-flex align-center">
    <template v-if="breadcrumbs">
      <v-container :fluid="containerFluid" class="d-flex align-center py-0">
        <v-btn
          v-if="!breadcrumbs"
          variant="text"
          size="small"
          :loading="true"
        />
        <template v-else>
          <template v-for="(item, index) in breadcrumbs" :key="index">
            <div v-if="item.level <= current_boundary_level">
              <v-btn
                variant="text"
                size="small"
                :active="!base_highlight && item === current_boundary"
                @click="onBreadcrumbClick(item)"
              >
                {{ getItemName(item) }}
              </v-btn>
              <v-icon size="x-small" icon="mdi-slash-forward" />
            </div>
          </template>
          <v-btn
            variant="text"
            size="small"
            @click="onBaseClick"
            :active="base_highlight"
          >
            {{ base.titleSingular || base.title }}
          </v-btn>
          &thinsp; &thinsp;
          <div v-if="base_highlight" class="radius-input-container">
            <v-text-field
              v-model="radiusKm"
              single-line
              width="100"
              density="compact"
              @update:model-value="() => emit('radius-change')"
            >
              <template v-slot:append-inner>
                <v-label>km</v-label>
              </template>
            </v-text-field>
          </div>
          &thinsp; &thinsp;
          <div v-if="radius_error && radiusKm != 1">
            <v-btn class="validation-message" @click="clearError">{{
              radius_error
            }}</v-btn>
            &thinsp; &thinsp;
          </div>
          <v-menu location="bottom center">
            <template v-slot:activator="{ props }">
              <v-btn variant="text" size="small" v-bind="props">
                <v-icon icon="mdi-information-outline" />
              </v-btn>
            </template>
            <v-card>
              <v-card-text class="pa-2">
                <table class="w-100 text-body-2">
                  <tbody>
                    <tr v-for="item in breadcrumbs" :key="item.key">
                      <v-btn
                        variant="text"
                        size="small"
                        :active="!base_highlight && item === current_boundary"
                        @click="onBreadcrumbClick(item)"
                      >
                        {{ item.singularName }}
                      </v-btn>
                      <td class="px-2 py-1">
                        {{ getItemName(item, true) }}
                      </td>
                    </tr>
                    <tr>
                      <v-btn
                        variant="text"
                        size="small"
                        @click="onBaseClick"
                        :active="base_highlight"
                      >
                        {{ base.titleSingular || base.title }}
                      </v-btn>
                      <td class="px-2 py-1">
                        {{ entidadeNome }}
                      </td>
                    </tr>
                    <tr>
                      <td class="px-2 py-1 font-weight-medium">Coordenadas</td>
                      <td class="px-2 py-1">
                        {{ entidadeLat.toFixed(5) }},
                        {{ entidadeLng.toFixed(5) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </v-card-text>
            </v-card>
          </v-menu>
        </template>
      </v-container>
    </template>
  </v-sheet>
</template>

<style scoped>
.validation-message {
  display: flex;
  margin-top: 20px;
  color: #e53935;
  font-size: 12px;
  background: #ffffff40;
  border: none;
  cursor: pointer;
  padding: 5;
}

.radius-input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 8px;
  max-height: 35px;
  font-size: 6px;
}
</style>

<script setup lang="ts">
import { ref, computed, inject, Ref, onMounted } from "vue";
import { LatLng } from "leaflet";
import requester from "@/requester";
import { BaseCompleto } from "@/requester/bases.requester";
import { emitAlertError } from "@/plugins/eventBus";
import { watch } from "vue";

// PROPS
export interface Props {
  containerFluid?: boolean;
}
withDefaults(defineProps<Props>(), {
  containerFluid: false,
});

const rules = {
  valid: (value: string) => (value && value.length > 0) || "Raio inválido.",
  positive: (value: number) => value >= 0 || "Raio inválido.",
};

// EMITS

const emit = defineEmits(["breadcrumb-click", "base-click", "radius-change"]);

function onBreadcrumbClick(item) {
  clearError();
  current_boundary.value = item;
  base_highlight.value = false;
  emit("breadcrumb-click", item);
}

function onBaseClick() {
  clearError();
  current_boundary.value = breadcrumbs.value[breadcrumbs.value.length - 1];
  base_highlight.value = true;
  emit("base-click");
}

function clearError() {
  radius_error.value = "";
}

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");
const radiusKm = inject<Ref<any>>("radiusKm");

const entidadeGeom = computed(() => entidade.value?.[base.value.columnGeom]);
const entidadeLat = computed(() => entidadeGeom.value?.coordinates?.[1]);
const entidadeLng = computed(() => entidadeGeom.value?.coordinates?.[0]);
const entidadeNome = computed(() => entidade.value?.[base.value.columnName]);

const breadcrumbs = ref([]);
const current_boundary = ref(null);
const current_boundary_level = computed(() => current_boundary.value?.level);
const base_highlight = ref(true);
const radius_error = ref("");

// ON MOUNTED
onMounted(() => {
  getBreadcrumbs(new LatLng(entidadeLat.value, entidadeLng.value));
});

//WATCH

watch(radiusKm, (newValue) => {
  radius_error.value = "";
  const valid = rules.valid(newValue);
  const positive = rules.positive(newValue);
  if (valid !== true) {
    radius_error.value = valid;
  } else if (positive !== true) {
    radius_error.value = positive;
  }
});

//METHODS

async function getBreadcrumbs(latLng: LatLng) {
  breadcrumbs.value = [];
  try {
    const queryDto = {
      lat: latLng.lat,
      lng: latLng.lng,
    };
    breadcrumbs.value =
      await requester.dataPipeline.boundariesHierarchies.getBreadcrumbs(
        import.meta.env.VITE_DEFAULT_BOUNDARY_HIERARCHY || "malha_censo_ibge",
        queryDto
      );
    current_boundary.value = breadcrumbs.value[breadcrumbs.value.length - 1];
  } catch (err) {
    emitAlertError(err);
  }
}

function getItemName(item, is_infobox = false) {
  if (
    (item.name == "Setores Censitário" || item.name == "Subdistritos") &&
    !is_infobox
  ) {
    return item.singularName;
  } else if (item.properties && item.properties[item.boundaryNameAttribute]) {
    return item.properties[item.boundaryNameAttribute];
  } else {
    return item.name;
  }
}
</script>
