<template>
  <v-container fluid>
    <div class="d-flex justify-space-between align-start pb-2 w-100">
      <div class="d-flex align-start">
        <v-avatar color="neutral-lighten-4">
          <v-img src="">
            <template v-slot:placeholder>
              <div class="d-flex justify-center align-center fill-height">
                <v-icon :icon="baseIcon" color="neutral" />
              </div>
            </template>
          </v-img>
        </v-avatar>
        <div class="text-center text-start pl-5 pb-5 pl-xl-3 pb-xl-3 w-100">
          <h1 class="text-body-2 text-lg-body-1">
            {{ entidadeNome }}
          </h1>
          <p
            v-if="base && $vuetify.display.smAndUp"
            class="text-caption text-disabled"
          >
            {{ base.category.name }} - {{ base.title }}
          </p>
        </div>
      </div>
      <v-btn
        size="large"
        flat
        color="primary"
        :prepend-icon="$vuetify.display.smAndUp ? 'mdi-arrow-expand-up' : ''"
        @click="reduzirMapa()"
      >
        <v-icon v-if="$vuetify.display.xs" icon="mdi-arrow-expand-up" />
        <template v-else> Reduzir mapa </template>
      </v-btn>
    </div>
  </v-container>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";

// EMIT
const emit = defineEmits<{
  (e: "reduzir-mapa"): void;
}>();

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const baseIcon = computed(() => base.value.icon || base.value.category.icon);
const entidadeNome = computed(() => entidade.value?.[base.value.columnName]);

//METHODS

function reduzirMapa() {
  emit("reduzir-mapa");
}
</script>
