<template>
  <div v-if="agente">
    <EntidadesFichaRedeSections :sections="sections" :size="size" />
  </div>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";
import requester from "@/requester";
import { BaseCompleto } from "@/requester/bases.requester";
import { emitAlertError } from "@/plugins/eventBus";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import EntidadesFichaRedeSections, {
  EntidadeSection,
} from "./EntidadesFichaRedeSections.vue";
import { AgenteCompleto } from "@/requester/agentes.requester";

// PROPS
export interface Props {
  size?: "regular" | "small";
}
withDefaults(defineProps<Props>(), {
  size: "regular",
});

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const baseCategoryUri = computed(() => base.value?.category?.uri);
const agenteId = computed(() => entidade.value?.[base.value?.columnPk]);

const loading = ref(false);

const agente = ref<AgenteCompleto | null>(null);
const agenteIndividual = computed(() => agente.value?.agenteIndividual);
const agenteColetivo = computed(() => agente.value?.agenteColetivo);
const endereco = computed(() => agente.value?.endereco);

const sections = computed<EntidadeSection[]>(() => [
  {
    title: "Identificação",
    items: [
      {
        title: "Nome",
        value: agente.value.nome,
        show: true,
      },
      {
        title: "Email",
        value: agente.value.email,
        show:
          agente.value.email &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos?.includes("email")),
        ...(agente.value.email ? { href: `mailto:${agente.value.email}` } : {}),
      },
      {
        title: "Website",
        value: agente.value.website,
        show:
          agente.value.website &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("website")),
        ...(agente.value.website ? { href: agente.value.website } : {}),
      },
      {
        title: "Telefone",
        value: agente.value.telefone1,
        show:
          agente.value.telefone1 &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("telefone1")),
      },
      {
        title: "Telefone alternativo",
        value: agente.value.telefone2,
        show:
          agente.value.telefone2 &&
          (!agenteIndividual.value ||
            agenteIndividual.value?.camposPublicos.includes("telefone2")),
      },
      ...(agenteIndividual.value
        ? [
            {
              title: "Idade",
              value: getIdade(new Date(agenteIndividual.value?.dataNascimento)),
              show:
                !!agenteIndividual.value?.dataNascimento &&
                agenteIndividual.value?.camposPublicos.includes(
                  "dataNascimento"
                ),
            },
            {
              title: "Identidade de gênero",
              value: agenteIndividual.value?.identidadeGenero?.nome,
              show:
                !!agenteIndividual.value?.identidadeGenero &&
                agenteIndividual.value?.camposPublicos.includes(
                  "identidadeGenero"
                ),
            },
            {
              title: "Identidade étnico-cultural",
              value: agenteIndividual.value?.identidadeEtnicoCultural?.nome,
              show:
                !!agenteIndividual.value?.identidadeEtnicoCultural &&
                agenteIndividual.value?.camposPublicos.includes(
                  "identidadeEtnicoCultural"
                ),
            },
            {
              title: "Raça/cor segundo IBGE",
              value: agenteIndividual.value?.racaCorIbge?.nome,
              show:
                !!agenteIndividual.value?.racaCorIbge &&
                agenteIndividual.value?.camposPublicos.includes("racaCorIbge"),
            },
            {
              title: "Nível de escolaridade",
              value: agenteIndividual.value?.nivelEscolaridade?.nome,
              show:
                !!agenteIndividual.value?.nivelEscolaridade &&
                agenteIndividual.value?.camposPublicos.includes(
                  "nivelEscolaridade"
                ),
            },
            {
              title: "Ocupação",
              value: agenteIndividual.value?.ocupacao?.nome,
              show:
                !!agenteIndividual.value?.ocupacao &&
                agenteIndividual.value?.camposPublicos.includes("ocupacao"),
            },
          ]
        : []),
    ],
  },
  ...(endereco.value &&
  (!!agenteColetivo.value || agenteIndividual.value?.enderecoPublico)
    ? [
        {
          title: "Localização",
          items: [
            {
              title: "Logradouro",
              value: endereco.value.logradouro,
              show: true,
            },
            {
              title: "Número",
              value: endereco.value.numero,
              show: true,
            },
            {
              title: "Complemento",
              value: endereco.value.complemento,
              show: true,
            },
            {
              title: "Bairro",
              value: endereco.value.bairro,
              show: true,
            },
            {
              title: "CEP",
              value: endereco.value.codigoPostal,
              show: true,
            },
            {
              title: "Município",
              value: endereco.value.municipioNome,
              show: true,
            },
            {
              title: "UF",
              value: endereco.value.ufSigla,
              show: true,
            },
          ],
        },
      ]
    : []),
  {
    title: "Atuação",
    items: [
      {
        title: "Atua desde",
        value: agente.value.atuaDesde,
        show: !!agente.value.atuaDesde,
      },
      {
        title: "Abrangência",
        value: agente.value.abrangencia?.nome,
        show: !!agente.value.abrangencia?.nome,
      },
      {
        title: "Áreas de atuação",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.AREA_ATUACAO)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ATUACAO
          ).length > 0,
      },
      {
        title: "Áreas de estudo/pesquisa",
        value: agente.value.opcoes
          .filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ESTUDO_PESQUISA
          )
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.AREA_ESTUDO_PESQUISA
          ).length > 0,
      },
      {
        title: "Públicos focais",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL
          ).length > 0,
      },
      {
        title: "Espaços em que atua/desenvolve atividades",
        value: agente.value.opcoes
          .filter((el) => el.opcao.categoria === CategoriaOpcao.TIPO_ESPACO)
          .map((el) => el.opcao.nome),
        show:
          agente.value.opcoes.filter(
            (el) => el.opcao.categoria === CategoriaOpcao.TIPO_ESPACO
          ).length > 0,
      },
      {
        title: "Objetivo/fim",
        value: agente.value.objetivo,
        show: !!agente.value.objetivo,
      },
      {
        title: "Histórico de atuação",
        value: agente.value.atuacao,
        show: !!agente.value.atuacao,
      },
    ],
  },
]);

// ON MOUNTED

onMounted(() => {
  getAgente();
});

// METHODS

function getIdade(dataNascimento: Date) {
  const hoje = new Date();
  let idade = hoje.getFullYear() - dataNascimento.getFullYear();
  const diffMes = hoje.getMonth() - dataNascimento.getMonth();
  if (
    diffMes < 0 ||
    (diffMes === 0 && hoje.getDate() < dataNascimento.getDate())
  ) {
    idade--;
  }
  return idade;
}

async function getAgente() {
  if (baseCategoryUri.value !== "agentes") {
    return;
  }
  loading.value = true;
  try {
    agente.value = await requester.agentes.findOne(agenteId.value);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
