<template>
  <div>
    <div
      v-for="(section, index) in base.sections"
      :key="section.id"
      class="mb-4"
    >
      <div
        class="d-flex flex-column-reverse flex-sm-row justify-space-between align-top"
      >
        <h2 :class="[size === 'small' ? 'text-body-2' : 'text-h5', 'mb-3']">
          {{ section.title }}
        </h2>
        <EntidadesBtnFavorito
          v-if="
            size !== 'small' &&
            index === 0 &&
            base &&
            entidadePk &&
            entidadeNome
          "
          :base-uri="baseUri"
          :pk="entidadePk"
          :nome="entidadeNome"
          class="mb-3 mb-sm-0"
        />
      </div>
      <v-table
        hover
        density="compact"
        :class="[size === 'small' ? 'text-caption' : 'text-body-1']"
      >
        <tbody>
          <tr v-for="(item, index) in section.items" :key="index">
            <td
              class="font-weight-medium"
              :style="size === 'small' ? 'width: 100px' : 'width: 200px'"
            >
              {{ item.title }}
            </td>
            <td>
              <span v-if="getProperty(item.column)">
                {{ getProperty(item.column) }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";
import EntidadesBtnFavorito from "@/components/entidades/EntidadesBtnFavorito.vue";

// PROPS
export interface Props {
  size?: "regular" | "small";
}
withDefaults(defineProps<Props>(), {
  size: "regular",
});

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const baseUri = computed(() => base.value?.uri);
const entidadePk = computed(() => entidade.value?.[base.value?.columnPk]);
const entidadeNome = computed(() => entidade.value?.[base.value?.columnName]);

// METHODS

function getProperty(property: string) {
  return entidade.value?.[property];
}
</script>
