<template>
  <v-menu v-if="$vuetify.display.xs">
    <template v-slot:activator="{ props }">
      <v-btn v-bind="props" append-icon="mdi-menu-down" block>
        {{ currentItem.title }}
      </v-btn>
    </template>
    <v-list>
      <v-list-item
        v-for="(item, index) in items"
        :key="index"
        :to="item.to"
        :exact="item.exact"
        :title="item.title"
        @click="tab = item.tab"
      />
    </v-list>
  </v-menu>
  <v-card
    v-else
    floating
    class="d-flex align-center justify-space-between pa-0 px-md-6 pr-sm-2"
  >
    <v-tabs
      v-model="tab"
      show-arrows
      color="primary"
      :grow="$vuetify.display.smAndDown"
    >
      <v-tab
        v-for="(item, index) in items"
        :key="index"
        :to="item.to"
        :exact="item.exact"
        :value="item.tab"
      >
        {{ item.title }}
      </v-tab>
    </v-tabs>
  </v-card>
</template>

<script setup lang="ts">
import { computed, inject, ref, Ref } from "vue";
import { BaseCompleto } from "@/requester/bases.requester";

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const baseUri = computed(() => base.value?.uri);
const entidadePk = computed(() => entidade.value?.[base.value?.columnPk]);

const tab = ref("ficha");

const currentItem = computed(() =>
  items.value.find((item) => item.tab === tab.value)
);

const items = computed(() =>
  base.value.baseCategoryUri === "divisao"
    ? [
        {
          title: "Equipamentos do Entorno",
          to: {
            name: "EntidadesEntornoBases",
            params: { baseUri: baseUri.value, pk: entidadePk.value },
          },
          exact: true,
          tab: "equipamentos",
        },
        {
          title: "Dados do Entorno",
          to: {
            name: "EntidadesEntornoEstatisticas",
            params: { baseUri: baseUri.value, pk: entidadePk.value },
          },
          exact: true,
          tab: "entorno",
        },
      ]
    : [
        {
          title: "Ficha",
          to: {
            name: "EntidadesInicio",
            params: { baseUri: baseUri.value, pk: entidadePk.value },
          },
          exact: true,
          tab: "ficha",
        },
        {
          title: "Dados do Entorno",
          to: {
            name: "EntidadesEntornoEstatisticas",
            params: { baseUri: baseUri.value, pk: entidadePk.value },
          },
          exact: true,
          tab: "entorno",
        },
        {
          title: "Equipamentos do Entorno",
          to: {
            name: "EntidadesEntornoBases",
            params: { baseUri: baseUri.value, pk: entidadePk.value },
          },
          exact: true,
          tab: "equipamentos",
        },
      ]
);
</script>
