<template>
  <div v-if="atividade">
    <!-- IDENTIFICACAO -->
    <div class="mb-4">
      <div
        class="d-flex flex-column-reverse flex-sm-row justify-space-between align-top"
      >
        <h2 :class="[size === 'small' ? 'text-body-2' : 'text-h5', 'mb-3']">
          Identificação
        </h2>
        <EntidadesBtnFavorito
          v-if="size !== 'small'"
          :base-uri="baseUri"
          :pk="atividadeId"
          :nome="atividade.titulo"
          class="mb-3 mb-sm-0"
        />
      </div>
      <v-table
        hover
        density="compact"
        :class="[size === 'small' ? 'text-caption' : 'text-body-1']"
      >
        <tbody>
          <tr>
            <td
              class="font-weight-medium"
              :style="size === 'small' ? 'width: 100px' : 'width: 200px'"
            >
              Título
            </td>
            <td>
              <span v-if="atividade.titulo">
                {{ atividade.titulo }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr v-if="atividade.projeto">
            <td class="font-weight-medium">Projeto</td>
            <td>
              <router-link :to="toProjeto" v-if="atividade.projeto.titulo">
                {{ atividade.projeto.titulo }}
              </router-link>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Descrição</td>
            <td>
              <span v-if="atividade.descricao">
                {{ atividade.descricao }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Início</td>
            <td>
              <span v-if="atividade.datetimeInicio">
                {{
                  new Date(atividade.datetimeInicio).toLocaleString("pt-BR", {
                    day: "2-digit",
                    month: "2-digit",
                    year: "numeric",
                    ...(!atividade.diaTodo
                      ? {
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: false,
                        }
                      : {}),
                  })
                }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Fim</td>
            <td>
              <span v-if="atividade.datetimeFim">
                {{
                  new Date(atividade.datetimeFim).toLocaleString("pt-BR", {
                    day: "2-digit",
                    month: "2-digit",
                    year: "numeric",
                    ...(!atividade.diaTodo
                      ? {
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: false,
                        }
                      : {}),
                  })
                }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr v-if="areasAtuacao.length > 0">
            <td class="font-weight-medium">Temas</td>
            <td>
              <v-chip
                v-for="(opcao, index) in areasAtuacao"
                :key="index"
                :size="$vuetify.display.xs ? 'small' : undefined"
                class="mr-1 my-1"
                :text="opcao.nome"
              />
            </td>
          </tr>
          <tr v-if="publicosFocais.length > 0">
            <td class="font-weight-medium">Público focal</td>
            <td>
              <v-chip
                v-for="(opcao, index) in publicosFocais"
                :key="index"
                :size="$vuetify.display.xs ? 'small' : undefined"
                class="mr-1 my-1"
                :text="opcao.nome"
              />
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
    <!-- LOCALIZACAO -->
    <div>
      <h2 class="text-h5 mb-3">Localização</h2>
      <v-table
        v-if="atividade.endereco"
        hover
        density="compact"
        :class="[size === 'small' ? 'text-caption' : 'text-body-1']"
      >
        <tbody>
          <tr>
            <td
              class="font-weight-medium"
              :style="size === 'small' ? 'width: 100px' : 'width: 200px'"
            >
              Logradouro
            </td>
            <td>
              <span v-if="atividade.endereco?.logradouro">
                {{ atividade.endereco.logradouro }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Número</td>
            <td>
              <span v-if="atividade.endereco?.numero">
                {{ atividade.endereco.numero }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Complemento</td>
            <td>
              <span v-if="atividade.endereco?.complemento">
                {{ atividade.endereco.complemento }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Bairro</td>
            <td>
              <span v-if="atividade.endereco?.bairro">
                {{ atividade.endereco.bairro }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">CEP</td>
            <td>
              <span v-if="atividade.endereco?.codigoPostal">
                {{ atividade.endereco.codigoPostal }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">Município</td>
            <td>
              <span v-if="atividade.endereco?.municipioNome">
                {{ atividade.endereco.municipioNome }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
          <tr>
            <td class="font-weight-medium">UF</td>
            <td>
              <span v-if="atividade.endereco?.ufSigla">
                {{ atividade.endereco.ufSigla }}
              </span>
              <span v-else class="text-disabled">N/A</span>
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";
import requester from "@/requester";
import { BaseCompleto } from "@/requester/bases.requester";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { emitAlertError } from "@/plugins/eventBus";
import EntidadesBtnFavorito from "@/components/entidades/EntidadesBtnFavorito.vue";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";

// PROPS
export interface Props {
  size?: "regular" | "small";
}
withDefaults(defineProps<Props>(), {
  size: "regular",
});

// DATA

const base = inject<Ref<BaseCompleto>>("base");
const entidade = inject<Ref<any>>("entidade");

const baseUri = computed(() => base.value?.uri);
const atividadeId = computed(() => entidade.value?.[base.value?.columnPk]);

const loading = ref(false);
const atividade = ref<AtividadeCompleta | null>(null);

const toProjeto = computed(() =>
  atividade.value.projetoId
    ? {
        name: "EntidadesInicio",
        params: { baseUri: "projetos", pk: atividade.value.projetoId },
      }
    : null
);

const areasAtuacao = computed(() =>
  atividade.value?.opcoes
    ?.filter((el) => el?.opcao.categoria === CategoriaOpcao.AREA_ATUACAO)
    .map((el) => el?.opcao)
);
const publicosFocais = computed(() =>
  atividade.value?.opcoes
    ?.filter((el) => el?.opcao.categoria === CategoriaOpcao.PUBLICO_FOCAL)
    .map((el) => el?.opcao)
);

// ON MOUNTED

onMounted(() => {
  getAtividade();
});

// METHODS

async function getAtividade() {
  if (baseUri.value !== "atividades") {
    return;
  }
  loading.value = true;
  try {
    atividade.value = await requester.atividades.findOne(atividadeId.value);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value = false;
  }
}
</script>
