<template>
  <v-row align="center" justify="center">
    <v-col cols="12" sm="8" md="6" lg="4" xl="3">
      <v-card>
        <v-card-item>
          <v-card-title class="text-center text-h5">Welcome</v-card-title>
        </v-card-item>
        <v-card-text>
          <v-text-field
            v-model="form.username"
            type="username"
            label="Username"
            outlined
          />
          <v-text-field
            v-model="form.password"
            type="password"
            label="Password"
            outlined
          />
          <div class="d-flex justify-space-between align-center">
            <v-btn variant="flat" disabled>Forgot password?</v-btn>
            <v-btn variant="flat" color="success" @click="signInDebounce()">
              Sign In
            </v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts" setup>
import { debounce } from "lodash";
import { ref } from "vue";
import { useAuthStore } from "@/store/auth.store";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { useRouter } from "vue-router";

const router = useRouter();
const authStore = useAuthStore();

const form = ref({
  username: "",
  password: "",
});

const signInDebounce = debounce(signIn, 300);
async function signIn() {
  try {
    await authStore.signIn(form.value.username, form.value.password);
    await authStore.getProfile();
    router.push({ name: "Home" });
    emitAlertSuccess("Sign in successfully");
  } catch (err) {
    emitAlertError(err.message);
  }
}
</script>
