<template>
  <v-app>
    <TheConfirmationDialog />
    <TheSnackbarAlert />
    <router-view />
  </v-app>
</template>

<script setup lang="ts">
import { onErrorCaptured, onMounted } from "vue";

import { emitAlertError } from "./plugins/eventBus";
import { useBasesStore } from "./store/bases.store";

import TheSnackbarAlert from "./components/TheSnackbarAlert.vue";
import TheConfirmationDialog from "./components/TheConfirmationDialog.vue";
import { useBoundariesStore } from "./store/boundaries.store";

const basesStore = useBasesStore();
const boundariesStore = useBoundariesStore();

onMounted(() => {
  basesStore.initBases();
  boundariesStore.initBoundariesHierarchies();
});

onErrorCaptured((err: any) => {
  emitAlertError(err);
  return false;
});
</script>
