<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create Section </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <SectionsFormCreateUpdate
          @cancel="updateModelValue(false)"
          @section-created="emit('section-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Section } from "@backPrisma/client";

import SectionsFormCreateUpdate from "./SectionsFormCreateUpdate.vue";

// PROPS
export interface Props {
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "section-created", section: Section): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
