<template>
  <div>
    <!-- FORM -->
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field v-model="form.uri" label="URI" variant="outlined" />
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="form.title" label="Title" variant="outlined" />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>
    <!-- BTNS CANCEL/SAVE -->
    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, onMounted, Ref } from "vue";
import { debounce } from "lodash";
import { Section, Version } from "@backPrisma/client";
import { CreateSectionDto, UpdateSectionDto } from "@backSrc/sections/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  section?: Section;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "section-created", section: Section): void;
  (e: "section-updated", section: Section): void;
  (e: "cancel"): void;
}>();

// DATA

const version = inject<Ref<Version>>("version");

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  uri: "",
  title: "",
  description: "",
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.section) return;
  form.value.uri = props.section.uri || "";
  form.value.title = props.section.title || "";
  form.value.description = props.section.description || "";
}

function clearForm() {
  form.value.uri = "";
  form.value.title = "";
  form.value.description = "";
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateSectionDto = {
      title: form.value.title?.trim() || null,
      uri: form.value.uri?.trim()?.toLowerCase() || null,
      description: form.value.description?.trim() || null,
    };
    if (props.section) {
      const section = await requester.sections.update(
        props.section.id,
        dto as UpdateSectionDto
      );
      emit("section-updated", section);
      emitAlertSuccess("Section successfully updated");
    } else {
      const section = await requester.versions.createSection(
        version.value.id,
        dto
      );
      emit("section-created", section);
      emitAlertSuccess("Section successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
