<template>
  <div>
    <v-menu v-model="menuData" :close-on-content-click="false">
      <template v-slot:activator="{ props }">
        <v-text-field
          label="Data"
          :model-value="dataFormatted"
          append-inner-icon="mdi-calendar"
          :clearable="clearable"
          clear-icon="mdi-close"
          readonly
          variant="outlined"
          v-bind="props"
          density="compact"
          @click:clear="onClearData()"
          @update:model-value="() => {}"
          hide-details
        />
      </template>
      <v-date-picker
        :model-value="data"
        @update:model-value="onUpdateData"
        :min="dataMin"
      />
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue";

// PROPS
export interface Props {
  modelValue: string | null;
  clearable?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  clearable: false,
});

// EMIT
const emit = defineEmits<{
  (e: "update:model-value", value: string | null): void;
}>();

// DATA

const menuData = ref(false);
const data = ref<Date | null>(null);
const dataFormatted = computed(
  () => data.value?.toLocaleDateString("pt-BR") || ""
);
const dataMin = new Date();
dataMin.setDate(dataMin.getDate() - 1);
const datetime = computed(() => {
  if (!data.value) return null;
  const datetime = new Date(data.value);
  datetime.setHours(0, 0);
  return datetime.toISOString();
});

const computedModelValue = computed(() => datetime.value);

// WATCH

watch(
  () => props.modelValue,
  (newValue) => {
    data.value = newValue ? new Date(newValue) : null;
  }
);

watch(
  () => computedModelValue.value,
  (newValue) => {
    emit("update:model-value", newValue);
  }
);

// METHODS

function onClearData() {
  data.value = null;
}
function onUpdateData(newValue: Date) {
  menuData.value = false;
  data.value = newValue;
}
</script>
