<template>
  <v-card
    v-if="agenteColetivo"
    class="card-top mb-2"
    height="200px"
    elevation="2"
  >
    <v-container
      class="d-flex align-end fill-height py-sm-0 w-100"
      style="z-index: 1"
    >
      <div class="d-flex flex-column flex-sm-row align-center w-100">
        <div>
          <v-avatar size="130px" color="white">
            <v-avatar size="120px" color="white">
              <v-img src="">
                <template v-slot:placeholder>
                  <div class="d-flex justify-center align-center fill-height">
                    <v-icon
                      icon="mdi-account-group"
                      size="65"
                      color="secondary"
                    />
                  </div>
                </template>
              </v-img>
            </v-avatar>
          </v-avatar>
        </div>
        <div class="text-center text-sm-start pl-sm-10 w-100">
          <h1 class="text-h6 text-lg-h5 text-xl-h4">
            {{ agenteColetivo.agente.nome }}
          </h1>
          <p v-if="routeTitle" class="text-body-2 text-disabled">
            {{ routeTitle }}
          </p>
        </div>
        <!-- <div
          v-if="$vuetify.display.smAndUp"
          class="d-flex justify-end align-end w-100"
        >
          <v-btn
            size="large"
            prepend-icon="mdi-arrow-expand-down"
            @click="expandirMapa()"
          >
            Expandir mapa
          </v-btn>
        </div> -->
      </div>
    </v-container>
    <div class="white-gradient" />
    <div class="white-strip" />
    <div class="container-componente-mapa">
      <MapaGenerico ref="mapaGenerico" :zoom="17" />
    </div>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { AgenteColetivoCompleto } from "@/requester/agentes-coletivos.requester";
import MapaGenerico from "@/components/mapas/MapaGenerico.vue";

// DATA

const mapaGenerico = ref();

const router = useRouter();
const route = useRoute();
const routeTitle = computed(() => route?.meta?.title);

const agenteColetivo = inject<Ref<AgenteColetivoCompleto>>("agenteColetivo");

// ON MOUNTED
onMounted(() => {
  const endereco = agenteColetivo.value?.agente?.endereco;
  if (endereco) {
    mapaGenerico.value?.moveMarker({
      lat: endereco.latitude,
      lng: endereco.longitude,
    });
  }
});

//METHODS

function getQueryExpandirMapa() {
  const markerLatLng = mapaGenerico.value?.getMarkerLatLng();
  const { lat, lng } = markerLatLng;
  const zoom = mapaGenerico.value?.getMapZoom();
  return {
    ...(lat ? { lat } : {}),
    ...(lng ? { lng } : {}),
    ...(zoom ? { zoom } : {}),
  };
}

function expandirMapa() {
  router.push({ name: "Mapa", query: getQueryExpandirMapa() });
}
</script>

<style scoped>
.card-top {
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.white-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: -1;
  pointer-events: none;
}

.white-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: -1;
  pointer-events: none;
}

.container-componente-mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
}

.children-pointer-events-all > * {
  pointer-events: all;
}

.children-pointer-events-none > * {
  pointer-events: none;
}
</style>
