<template>
  <v-card v-if="$vuetify.display.mdAndDown" floating class="pa-0">
    <v-tabs show-arrows grow>
      <template v-for="(item, index) in items" :key="index">
        <v-menu v-if="item.title">
          <template v-slot:activator="{ props }">
            <v-tab hide-slider append-icon="mdi-menu-down" v-bind="props">{{
              item.title
            }}</v-tab>
          </template>
          <v-list>
            <v-list-item
              v-if="item.children.length === 0"
              disabled
              :title="item.emptyMessage"
            />
            <v-list-item
              v-for="(child, indexC) in item.children"
              :key="indexC"
              :to="child.to"
              exact
            >
              <template v-slot:prepend>
                <v-avatar :icon="child.icon"></v-avatar>
              </template>
              <v-list-item-title>{{ child.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <template v-else>
          <v-tab
            v-for="(child, indexC) in item.children"
            :key="indexC"
            :to="child.to"
            :prepend-icon="child.icon"
            exact
          >
            {{ child.title }}
          </v-tab>
        </template>
      </template>
    </v-tabs>
  </v-card>
  <v-list v-else>
    <div v-for="(item, index) in items" :key="index" class="mb-3">
      <v-list-subheader v-if="item.title" :title="item.title" />
      <v-list-item
        v-if="item.children.length === 0"
        disabled
        :title="item.emptyMessage"
      />
      <v-list-item
        v-for="(child, indexC) in item.children"
        :key="indexC"
        :disabled="!child.to"
        :to="child.to"
        exact
      >
        <template v-slot:prepend>
          <v-avatar :icon="child.icon"></v-avatar>
        </template>
        <v-list-item-title>{{ child.title }}</v-list-item-title>
      </v-list-item>
    </div>
  </v-list>
</template>

<script setup lang="ts">
import { computed, inject, Ref } from "vue";
import { useRoute } from "vue-router";
import { AgenteColetivoCompleto } from "@/requester/agentes-coletivos.requester";

// DATA

const route = useRoute();
const id = route.params.id;

const agenteColetivo = inject<Ref<AgenteColetivoCompleto>>("agenteColetivo");

const items = computed(() => {
  switch (route.name) {
    default:
      return itemsDefault.value;
  }
});

const itemsDefault = computed(() => [
  {
    title: "PERFIL DO AGENTE",
    emptyMessage: null,
    children: [
      {
        icon: "mdi-home",
        title: "Início",
        to: { name: "AgentesColetivosInicio", params: { id } },
      },
      {
        icon: "mdi-eye",
        title: "Perfil público",
        to: {
          name: "EntidadesInicio",
          params: {
            baseUri: "agentes_coletivos",
            pk: agenteColetivo?.value?.agenteId || 0,
          },
        },
      },
      {
        icon: "mdi-pencil",
        title: "Alterar cadastro",
        to: null,
      },
      {
        icon: "mdi-account-multiple",
        title: "Gerenciar membros",
        to: null,
      },
    ],
  },
  {
    title: "AÇÕES DO AGENTE",
    emptyMessage: null,
    children: [
      {
        icon: "mdi-folder",
        title: "Projetos",
        to: { name: "AgentesColetivosProjetos", params: { id } },
      },
      {
        icon: "mdi-calendar-blank",
        title: "Atividades",
        to: { name: "AgentesColetivosAtividades", params: { id } },
      },
    ],
  },
  {
    title: "REDE DO AGENTE",
    emptyMessage: "Nenhum agente vinculado...",
    children: [],
  },
]);
</script>
