<template>
  <v-row dense>
    <v-col cols="12" md="12">
      <v-text-field
        v-model.trim="formIdentificacao.nome"
        label="Nome *"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="12">
      <v-file-input
        label="Foto"
        placeholder="Selecione um arquivo..."
        accept="image/png;image/jpg;image/jpeg"
        variant="outlined"
        class="ml-3"
        prepend-icon=""
      >
        <template v-slot:prepend>
          <v-avatar color="neutral" size="x-large">
            <v-icon icon="mdi-image" />
          </v-avatar>
        </template>
      </v-file-input>
    </v-col>
    <!-- <v-col cols="12" md="12">
      <v-alert type="warning" class="mb-6">
        TODO: adicionar outros campos de acordo com tipo
      </v-alert>
    </v-col> -->
    <v-col cols="12" md="12">
      <h3 class="text-body-1 font-weight-medium mb-3">Contato</h3>
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="formIdentificacao.email"
        label="Email"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="formIdentificacao.website"
        label="Website"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="formIdentificacao.telefone1"
        label="Telefone"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-text-field
        v-model.trim="formIdentificacao.telefone2"
        label="Telefone alternativo"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="12">
      <h3 class="text-body-1 font-weight-medium mb-3">Redes sociais</h3>
      <v-card variant="outlined" color="neutral-lighten-2" class="mb-3">
        <v-table>
          <thead v-if="formIdentificacao.redesSociais.length > 0">
            <tr>
              <th>Plataforma</th>
              <th class="w-100">Link</th>
              <th class="text-center">Alterar</th>
              <th class="text-center">Remover</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="formIdentificacao.redesSociais.length === 0">
              <td colspan="4" class="text-center text-disabled">
                Nenhuma rede social adicionada
              </td>
            </tr>
            <tr
              v-for="redeSocial in formIdentificacao.redesSociais"
              :key="redeSocial.key"
            >
              <td>
                {{
                  plataformas.find((p) => p.value === redeSocial.plataforma)
                    .title
                }}
              </td>
              <td>
                <a :href="redeSocial.link" target="_blank">{{
                  redeSocial.link
                }}</a>
              </td>
              <td class="text-center">
                <v-btn icon="mdi-pencil" color="warning" variant="text"></v-btn>
              </td>
              <td class="text-center">
                <v-btn
                  icon="mdi-delete"
                  color="error"
                  variant="text"
                  @click="onRemoverRedeSocial(redeSocial.key)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
      <v-btn
        block
        append-icon="mdi-plus"
        variant="tonal"
        @click="dialogRedeSocial = true"
      >
        Adicionar
      </v-btn>
      <!-- DIALOG ADICIONAR REDE SOCIAL -->
      <v-dialog v-model="dialogRedeSocial" width="600">
        <v-card>
          <v-card-title class="d-flex justify-space-between align-center">
            <div class="d-flex align-center">
              <v-icon size="small" icon="mdi-plus" start />
              <span>Rede social</span>
            </div>
            <v-btn
              icon="mdi-close"
              variant="flat"
              @click="dialogRedeSocial = false"
            />
          </v-card-title>
          <v-divider />
          <v-card-text>
            <v-row dense>
              <v-col cols="12">
                <v-autocomplete
                  label="Plataforma"
                  v-model="formRedeSocial.plataforma"
                  :items="plataformas"
                  :rules="rulesRequired"
                  variant="outlined"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Link"
                  v-model.trim="formRedeSocial.link"
                  :rules="rulesRequired"
                  variant="outlined"
                />
              </v-col>
            </v-row>
            <v-divider class="my-3" />
            <div class="d-flex justify-space-between align-center">
              <v-btn
                prepend-icon="mdi-close"
                variant="outlined"
                @click="onCancelarDialogRedeSocial"
              >
                Cancelar
              </v-btn>
              <v-btn
                prepend-icon="mdi-plus"
                variant="flat"
                color="success"
                @click="onAdicionarDialogRedeSocial"
              >
                Adicionar
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref, inject, Ref } from "vue";

// DATA

const formIdentificacao = inject<
  Ref<{
    nome: string;
    cnpj: string;
    email: string;
    telefone1: string;
    telefone2: string;
    website: string;
    redesSociais: { key: number; plataforma: string; link: string }[];
  }>
>("formIdentificacao");

const dynamicKey = ref(0);
const dialogRedeSocial = ref(false);
const formRedeSocial = ref({
  plataforma: null,
  link: "",
});
const plataformas = [
  { value: "FACEBOOK", title: "Facebook" },
  { value: "INSTAGRAM", title: "Instagram" },
  { value: "TWITTER", title: "Twitter" },
  { value: "WHATSAPP", title: "WhatsApp" },
  { value: "YOUTUBE", title: "YouTube" },
  { value: "OUTRA", title: "Outra" },
];
const rulesRequired = [(v: string) => !!v || "Campo obrigatório"];

function onCancelarDialogRedeSocial() {
  dialogRedeSocial.value = false;
}
function onAdicionarDialogRedeSocial() {
  dialogRedeSocial.value = false;
  formIdentificacao.value.redesSociais.push({
    key: dynamicKey.value++,
    plataforma: formRedeSocial.value.plataforma,
    link: formRedeSocial.value.link,
  });
}
function onRemoverRedeSocial(key: number) {
  const index = formIdentificacao.value.redesSociais.findIndex(
    (el) => el.key === key
  );
  if (index < 0) {
    return;
  }
  formIdentificacao.value.redesSociais.splice(index, 1);
}
</script>
