<template>
  <v-row dense>
    <v-col cols="12">
      <v-alert
        v-for="item in tipoAgenteColetivoOptions"
        :key="item.value"
        :class="`
          ${
            formTipo.tipo === item.value ? 'bg-primary' : 'bg-neutral-lighten-4'
          }
          cursor-pointer mb-4
        `"
        @click="
          formTipo.tipo === item.value
            ? (formTipo.tipo = null)
            : (formTipo.tipo = item.value)
        "
      >
        <div class="d-flex justify-space-between align-center">
          <div class="d-flex align-center">
            <v-icon size="x-large" :icon="item.icon" start />
            <div class="d-flex flex-column ml-2">
              <span class="text-h6">{{ item.title }}</span>
              <p class="text-body-2">{{ item.description }}</p>
            </div>
          </div>
          <v-icon
            size="large"
            :icon="
              formTipo.tipo === item.value
                ? 'mdi-radiobox-marked'
                : 'mdi-radiobox-blank'
            "
          ></v-icon>
        </div>
      </v-alert>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";
import {
  TipoAgenteColetivo,
  tipoAgenteColetivoOptions,
} from "@/utils/agentes-helper.utils";

// DATA

const formTipo = inject<
  Ref<{
    tipo: TipoAgenteColetivo | null;
  }>
>("formTipo");
</script>
