<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { Map, TileLayer, Marker, geoJSON, GeoJSON } from "leaflet";
import "leaflet/dist/leaflet.css";

// PROPS
export interface Props {
  position: { lng: number; lat: number };
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "update-position", position: { lat: number; lng: number }): void;
}>();

// DATA

const mapContainer = ref();

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

let map: Map;
let tiles: TileLayer;
let marker: Marker;
let geojsonLayer: GeoJSON;

// ON MOUNTED
onMounted(() => {
  initMap();
});

// METHODS

defineExpose({
  reloadGeojsonLayer,
  removeGeojsonLayer,
});

function reloadGeojsonLayer(geoData: GeoJSON.Feature) {
  if (geojsonLayer) geojsonLayer.remove();
  // Create a layer from the GeoJSON Feature
  geojsonLayer = geoJSON(geoData);
  geojsonLayer.addTo(map);
  // Set the view to the center of the GeoJSON Feature
  map.fitBounds(geojsonLayer.getBounds());
}

function removeGeojsonLayer() {
  if (geojsonLayer) geojsonLayer.remove();
  map.setView(marker.getLatLng());
}

function initMap() {
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: props.position.lat, lng: props.position.lng },
    16
  );

  // Add tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  // Create a layer from the GeoJSON Feature
  marker = new Marker({ lat: props.position.lat, lng: props.position.lng });
  marker.addTo(map);

  map.on("click", function (e) {
    var lat = e.latlng.lat;
    var lng = e.latlng.lng;
    marker.setLatLng({ lat, lng });
    emit("update-position", { lat, lng });
  });
}
</script>
