<template>
  <div ref="mapContainer" style="width: 100%; height: 100%" />
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { Map, TileLayer, geoJSON, GeoJSON } from "leaflet";
import "leaflet/dist/leaflet.css";

// PROPS
export interface Props {
  geojson: GeoJSON.Feature;
}
const props = defineProps<Props>();

// DATA

const mapContainer = ref();

const tileLayerOptions = {
  url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  attribution:
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18,
};

let map: Map;
let tiles: TileLayer;
let geojsonLayer: GeoJSON;

// METHODS

function initMap(geoData: GeoJSON.Feature) {
  map = new Map(mapContainer.value, { preferCanvas: true }).setView(
    { lat: 0, lng: 0 },
    0
  );

  // Add tiles
  tiles = new TileLayer(tileLayerOptions.url, {
    attribution: tileLayerOptions.attribution,
    maxZoom: tileLayerOptions.maxZoom,
  });
  tiles.addTo(map);

  // Create a layer from the GeoJSON Feature
  geojsonLayer = geoJSON(geoData);
  geojsonLayer.addTo(map);
  // Set the view to the center of the GeoJSON Feature
  map.fitBounds(geojsonLayer.getBounds());
}

// ON MOUNTED
onMounted(() => {
  initMap(props.geojson);
});
</script>
