<template>
  <v-form ref="refForm">
    <v-row>
      <v-col cols="12" md="4">
        <v-row dense>
          <v-col cols="12">
            <v-text-field
              v-model.trim="formEndereco.codigoPostal"
              label="CEP"
              variant="outlined"
              :loading="loading.cep"
              :rules="rulesCep"
              :hint="cepNaoEncontrado ? 'CEP não encontrado' : ''"
              :persistent-hint="cepNaoEncontrado"
              @click:append-inner="buscaCepDebounce(formEndereco.codigoPostal)"
              @keypress.enter="buscaCepDebounce(formEndereco.codigoPostal)"
            >
              <template v-slot:append>
                <v-btn
                  @click="buscaCepDebounce(formEndereco.codigoPostal)"
                  variant="flat"
                  color="primary"
                  size="x-large"
                  min-width="40"
                  max-width="40"
                >
                  <v-icon icon="mdi-magnify" />
                </v-btn>
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Logradouro"
              v-model.trim="formEndereco.logradouro"
              :rules="rulesRequired"
              variant="outlined"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Número"
              v-model.trim="formEndereco.numero"
              variant="outlined"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Complemento"
              v-model.trim="formEndereco.complemento"
              variant="outlined"
            />
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Bairro"
              v-model.trim="formEndereco.bairro"
              variant="outlined"
            />
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              label="UF"
              v-model.trim="formEndereco.ufSigla"
              :items="ufs"
              :rules="rulesRequired"
              item-value="sigla"
              item-title="nome"
              variant="outlined"
              :loading="loading.ufs"
              @update:model-value="getMunicipiosUf(formEndereco.ufSigla)"
            />
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              label="Município"
              v-model.trim="formEndereco.municipioCodigo"
              :items="
                formEndereco.ufSigla ? municipios.get(formEndereco.ufSigla) : []
              "
              :rules="rulesRequired"
              item-value="id"
              item-title="nome"
              variant="outlined"
              :loading="loading.municipios"
              @update:model-value="preencheMunicipioNome()"
            />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="8" class="w-100 pr-4" style="min-height: 400px">
        <MapaEndereco
          ref="mapaEndereco"
          :zoom="14"
          @update:search="onUpdateSearch"
          @update:latlng="updateLatLng"
          style="border: 1pt solid #ddd"
        />
      </v-col>
    </v-row>
  </v-form>
</template>

<script setup lang="ts">
import { ref, inject, onMounted, Ref, computed } from "vue";
import { debounce, deburr } from "lodash";
import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";
import MapaEndereco from "../mapas/MapaEndereco.vue";
import { LatLng } from "leaflet";

// DATA

const refForm = ref();
const mapaEndereco = ref();

const cepNaoEncontrado = ref(false);
const validateCep = ref(false);
const rulesCep = computed(() => [
  (v) =>
    !validateCep.value ||
    (!!v && v.replace(/\D/g, "").length === 8) ||
    "CEP inválido",
  (v) => (!!v && v.replace(/\D/g, "").length <= 8) || "CEP inválido",
]);

const rulesRequired = [(v: string) => !!v || "Campo obrigatório"];

const formEndereco = inject<
  Ref<{
    latitude: number;
    longitude: number;
    logradouro: string;
    numero: string;
    bairro: string;
    complemento: string;
    codigoPostal: string;
    municipioCodigo: number;
    municipioNome: string;
    ufSigla: string;
    ufNome: string;
  }>
>("formEndereco");
const loading = ref({
  cep: false,
  municipios: false,
  ufs: false,
});
const ufs = ref([]);
const municipios = ref(new Map());

// ON MOUNTED
onMounted(() => {
  getUfs();
});

// EXPOSED METHODS
defineExpose({
  initMap: () => {
    mapaEndereco.value?.initMap({
      lat: formEndereco.value.latitude,
      lng: formEndereco.value.longitude,
      zoom: 17,
    });
  },
  validate: () => {
    return refForm.value?.validate();
  },
});

// METHODS

const buscaCepDebounce = debounce(buscaCep, 300);
async function buscaCep(cep: string) {
  const cleanCep = cep.replace(/\D/g, "");
  if (cleanCep.length !== 8) {
    validateCep.value = true;
    return;
  }
  cepNaoEncontrado.value = false;
  loading.value.cep = true;
  try {
    const address = await requester.external.awesomeapi.cep(cleanCep);
    mapaEndereco.value?.mapMoveMarker({
      lat: Number(address.lat),
      lng: Number(address.lng),
    });
    formEndereco.value.logradouro = address?.address || "";
    formEndereco.value.bairro = address?.district || "";
    formEndereco.value.codigoPostal = address?.cep || "";
    formEndereco.value.ufSigla = address?.state || "";
    await getMunicipiosUf(formEndereco.value.ufSigla);
    formEndereco.value.municipioCodigo = address?.city_ibge
      ? Number(address.city_ibge)
      : null;
    preencheMunicipioNome();
  } catch (err) {
    if (err?.response?.status === 404) {
      cepNaoEncontrado.value = true;
    } else {
      emitAlertError(err);
    }
  } finally {
    loading.value.cep = false;
  }
}

async function getUfs() {
  loading.value.ufs = true;
  try {
    ufs.value = await requester.external.localidadesIbge.ufs();
    ufs.value.forEach((uf) => {
      municipios.value.set(uf.sigla, []);
    });
    if (formEndereco.value.ufSigla) {
      getMunicipiosUf(formEndereco.value.ufSigla);
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.ufs = false;
  }
}

async function getMunicipiosUf(ufSigla: string) {
  const uf = ufs.value.find((uf) => uf.sigla === ufSigla);
  formEndereco.value.ufNome = uf?.nome || "";
  if (municipios.value.get(ufSigla).length > 0) {
    return;
  }
  loading.value.municipios = true;
  try {
    const municipiosUf = await requester.external.localidadesIbge.municipiosUf(
      ufSigla
    );
    municipios.value.set(ufSigla, municipiosUf);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.municipios = false;
  }
}

function preencheMunicipioNome() {
  const ufSigla = formEndereco.value.ufSigla;
  const municipio = municipios.value
    .get(ufSigla)
    ?.find((m) => m.id === formEndereco.value.municipioCodigo);
  formEndereco.value.municipioNome = municipio?.nome || "";
}

function updateLatLng(latlng: LatLng) {
  formEndereco.value.latitude = latlng.lat;
  formEndereco.value.longitude = latlng.lng;
}

async function onUpdateSearch(item: any) {
  formEndereco.value.latitude = Number(item.lat);
  formEndereco.value.longitude = Number(item.lon);
  formEndereco.value.logradouro = item.address.road || "";
  formEndereco.value.numero = item.address.house_number || "";
  formEndereco.value.bairro =
    item.address.neighbourhood || item.address.suburb || "";
  formEndereco.value.complemento = "";
  formEndereco.value.codigoPostal = item.address.postcode;
  const uf = ufs.value.find(
    (u) =>
      deburr(u.nome.toLowerCase()) === deburr(item.address.state.toLowerCase())
  );
  formEndereco.value.ufSigla = uf.sigla;
  formEndereco.value.ufNome = uf.nome;
  await getMunicipiosUf(uf.sigla);
  const municipio = municipios.value
    .get(uf.sigla)
    ?.find(
      (m) =>
        deburr(m.nome.toLowerCase()) === deburr(item.address.city.toLowerCase())
    );
  formEndereco.value.municipioCodigo = municipio.id;
  formEndereco.value.municipioNome = municipio.nome;
}
</script>
