<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-home" class="text-h4" start />
    <h1 class="text-h4">Home</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <v-row>
    <v-col v-for="(item, index) in menu" :key="index" cols="12" md="6" lg="3">
      <v-card
        :to="item.to"
        :exact="item.exact"
        :prepend-icon="item.icon"
        :title="item.title"
        variant="outlined"
        color="secondary"
      >
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts" setup>
import { ref } from "vue";

const menu = ref([
  {
    title: "Datasets",
    to: { name: "DatasetsIndex" },
    exact: true,
    icon: "mdi-list-box",
  },
  {
    title: "Query Data",
    to: { name: "QueryData" },
    exact: true,
    icon: "mdi-database-search",
  },
  {
    title: "Questions",
    to: { name: "QuestionsIndex" },
    exact: true,
    icon: "mdi-table-search",
  },
  {
    title: "Hierarchies",
    to: { name: "BoundariesHierarchiesIndex" },
    exact: true,
    icon: "mdi-file-tree-outline",
  },
]);
</script>
