<template>
  <v-dialog
    :value="propsComponent.value"
    @update:model-value="updateModelValue"
    :width="propsComponent.width"
  >
    <v-card v-if="thisQueryTable">
      <v-card-item>
        <v-card-title> Columns </v-card-title>
        <v-divider class="mt-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <QueryDataSelectTableColumns />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { inject, Ref } from "vue";

import { QuestionQueryTable } from "@/utils/query-data-helper.utils";

import QueryDataSelectTableColumns from "./QueryDataSelectTableColumns.vue";

// PROPS
export interface Props {
  value?: boolean;
  width?: number | string;
}
const propsComponent = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

// DATA
const thisQueryTable = inject<Ref<QuestionQueryTable>>("thisQueryTable");
</script>
