<template>
  <div>
    <v-row dense>
      <v-col cols="12" :sm="!!thisQueryTable.datasetId ? '6' : '12'">
        <v-card color="blue-grey-lighten-4" variant="flat" style="height: 100%">
          <v-card-text>
            <div class="d-flex align-start">
              <!-- JOIN TYPE -->
              <v-menu>
                <template v-slot:activator="{ props }">
                  <v-btn
                    :icon="
                      getQuestionQueryTableJoinType(
                        'icon',
                        thisQueryTable.join?.type
                      )
                    "
                    variant="flat"
                    class="mr-2"
                    v-bind="props"
                  />
                </template>
                <v-list density="compact">
                  <v-list-item
                    v-for="item in joinTypeItems"
                    :key="item.value"
                    :active="thisQueryTable.join.type === item.value"
                    @click="updateJoinType(item.value)"
                  >
                    <template v-slot:prepend>
                      <v-icon :icon="item.icon" class="mr-3" />
                    </template>
                    <v-list-item-title>
                      {{ item.title }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <!-- SELECT TABLE -->
              <QueryDataSelectTable :table-key="tableKey" />
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-if="!!thisQueryTable.datasetId" cols="12" sm="6">
        <div class="d-flex align-center">
          <div class="text-subtitle-2 mr-2">ON</div>
          <v-card
            color="blue-grey-lighten-4"
            variant="flat"
            style="width: 100%"
          >
            <v-card-text>
              <QueryDataJoinTableOn
                v-for="joinOn of thisQueryTable.join.on"
                :key="joinOn.key"
                :on-key="joinOn.key"
              />
            </v-card-text>
          </v-card>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, inject, Ref } from "vue";

import {
  QuestionQueryTable,
  QuestionQueryTableJoinTypeEnum,
  getQuestionQueryTableJoinType,
} from "@/utils/query-data-helper.utils";

import QueryDataSelectTable from "./QueryDataSelectTable.vue";
import QueryDataJoinTableOn from "./QueryDataJoinTableOn.vue";

// PROPS
export interface Props {
  tableKey: number;
}
const propsComponent = defineProps<Props>();

// DATA

const queryTables = inject<Ref<QuestionQueryTable[]>>("queryTables");
const thisQueryTable = computed(() =>
  queryTables.value.find((el) => el.key === propsComponent.tableKey)
);
provide("thisQueryTable", thisQueryTable);

const joinTypeItems = ref(
  Object.values(QuestionQueryTableJoinTypeEnum).map((value) => ({
    value,
    icon: getQuestionQueryTableJoinType("icon", value),
    title: getQuestionQueryTableJoinType("text", value),
  }))
);

// METHODS

function updateJoinType(joinType: QuestionQueryTableJoinTypeEnum) {
  const index = queryTables.value.findIndex(
    (el) => el.key === propsComponent.tableKey
  );
  if (index < 0) return;
  queryTables.value[index].join.type = joinType;
}
</script>
