<template>
  <div v-if="!!thisQueryTable">
    <!-- CATALOG -->
    <div
      v-if="
        thisQueryTable.dataset &&
        thisQueryTable.version &&
        thisQueryTable.section
      "
      class="d-flex align-center mb-3"
    >
      <v-icon
        color="grey-darken-2"
        :icon="getDatasetFormatIcon(thisQueryTable.dataset.format)"
        size="small"
        class="mr-2"
      />
      <div class="text-subtitle-1 font-weight-regular">
        {{
          `${thisQueryTable?.dataset?.uri}_${thisQueryTable?.version?.uri}${
            thisQueryTable?.section?.uri
              ? `_${thisQueryTable?.section?.uri}`
              : ""
          }`
        }}
      </div>
    </div>
    <!-- COLUMNS TABLE -->
    <v-card color="grey-lighten-2" variant="outlined">
      <v-table density="compact">
        <thead>
          <tr @click.stop="onClickSelectAll" style="cursor: pointer">
            <th width="1">
              <v-checkbox
                v-model="selectAll"
                density="compact"
                hide-details
                :true-value="SelectAllEnum.ALL"
                :false-value="SelectAllEnum.NONE"
                :indeterminate="selectAll === SelectAllEnum.SOME"
              />
            </th>
            <th colspan="3" class="pl-7">Select all</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="column in thisQueryTable.columns"
            :key="column.attributeSeries.id"
            :class="!column._selected ? 'text-medium-emphasis' : ''"
            @click.stop="
              column._selected = !column._selected;
              updateSelectAll();
            "
            style="cursor: pointer"
          >
            <!-- CHECKBOX -->
            <td width="1">
              <v-checkbox
                v-model="column._selected"
                density="compact"
                hide-details
              />
            </td>
            <!-- CATALOG -->
            <td class="py-1 pl-7">
              <div>
                <template
                  v-if="
                    getAttribute(
                      'section.uri',
                      column?.attributeSeries.attributes,
                      thisQueryTable?.version.id
                    )
                  "
                >
                  <span
                    :class="[
                      !column._selected
                        ? 'text-disabled'
                        : 'text-medium-emphasis',
                    ]"
                    v-text="
                      getAttribute(
                        'section.uri',
                        column?.attributeSeries.attributes,
                        thisQueryTable?.version.id
                      )
                    "
                  />
                  <span class="mr-1">:</span>
                </template>
                <span
                  v-text="
                    getAttribute(
                      'name',
                      column?.attributeSeries.attributes,
                      thisQueryTable?.version.id
                    )
                  "
                />
              </div>
              <div
                :class="[
                  !column._selected ? 'text-disabled' : 'text-medium-emphasis',
                  'text-caption',
                ]"
              >
                {{
                  getAttribute(
                    "description",
                    column.attributeSeries?.attributes,
                    thisQueryTable?.version.id
                  )
                }}
              </div>
            </td>
            <td>
              {{
                getAttribute(
                  "type",
                  column.attributeSeries.attributes,
                  thisQueryTable.version.id
                )
              }}
            </td>
            <!-- OPTIONS -->
            <td></td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, Ref } from "vue";

import { getDatasetFormatIcon } from "@/utils/datasets-helper.utils";
import { QuestionQueryTable } from "@/utils/query-data-helper.utils";

import { Attribute, Section } from "@backPrisma/client";

enum SelectAllEnum {
  NONE = "NONE",
  SOME = "SOME",
  ALL = "ALL",
}

// DATA

const thisQueryTable = inject<Ref<QuestionQueryTable>>("thisQueryTable");

const selectAll = ref<SelectAllEnum>(SelectAllEnum.ALL);

// METHODS

function getAttribute(
  key: "name" | "description" | "type" | "section.uri",
  attributes: (Attribute & { section: Section })[],
  versionId: number
) {
  if (!attributes || !versionId) return;
  const attribute = attributes.find(
    (attribute) => attribute.section.versionId === versionId
  );
  const splittedKey = key.split(".");
  if (splittedKey.length > 1) {
    return attribute?.[splittedKey[0]]?.[splittedKey[1]];
  }
  return attribute?.[key];
}

function updateSelectAll() {
  const columns = thisQueryTable.value.columns || [];
  const selected = columns.filter((attribute) => attribute._selected);
  if (selected.length === 0) {
    selectAll.value = SelectAllEnum.NONE;
  } else if (selected.length === columns.length) {
    selectAll.value = SelectAllEnum.ALL;
  } else {
    selectAll.value = SelectAllEnum.SOME;
  }
}

function onClickSelectAll() {
  const columns = thisQueryTable.value.columns || [];
  if (selectAll.value === SelectAllEnum.ALL) {
    columns.forEach((series) => (series._selected = false));
    selectAll.value = SelectAllEnum.NONE;
  } else {
    columns.forEach((series) => (series._selected = true));
    selectAll.value = SelectAllEnum.ALL;
  }
}
</script>
