<template>
  <div>
    <v-menu v-model="menu" :close-on-content-click="false">
      <template v-slot:activator="{ props }">
        <div>
          <v-btn
            :color="!thisQueryTableJoinOnColumn ? 'primary' : ''"
            variant="flat"
            v-bind="props"
            class="text-body-1"
          >
            <template v-if="!!thisQueryTableJoinOnColumn">
              {{ columnName }}
            </template>
            <template v-else>Select an attribute</template>
          </v-btn>
          <div class="text-caption text-medium-emphasis">
            {{ modelName }}
          </div>
        </div>
      </template>
      <v-card>
        <v-list density="compact">
          <template
            v-for="queryTable in queryTablesFiltered"
            :key="queryTable.key"
          >
            <!-- DATASET -->
            <v-list-group>
              <template v-slot:activator="{ props }">
                <v-list-item
                  v-bind="props"
                  :prepend-icon="
                    getDatasetFormatIcon(queryTable?.dataset?.format)
                  "
                >
                  <v-list-item-title>
                    {{
                      `${queryTable?.dataset?.uri}_${queryTable?.version?.uri}${
                        queryTable?.section?.uri
                          ? `_${queryTable?.section?.uri}`
                          : ""
                      }`
                    }}
                  </v-list-item-title>
                </v-list-item>
              </template>
              <v-list-item
                v-for="column of queryTable.columns"
                :key="column.attributeSeries?.id"
                density="compact"
                :active="
                  thisQueryTableJoinOnColumn?.attributeSeriesId ===
                  column.attributeSeries?.id
                "
                @click="
                  selectColumn(queryTable.key, column.attributeSeries?.id)
                "
              >
                <v-list-item-title class="pl-0">
                  <div>
                    <template
                      v-if="
                        getAttribute(
                          'section.uri',
                          column?.attributeSeries.attributes,
                          queryTable?.version.id
                        )
                      "
                    >
                      <span
                        :class="[
                          !column._selected
                            ? 'text-disabled'
                            : 'text-medium-emphasis',
                        ]"
                        v-text="
                          getAttribute(
                            'section.uri',
                            column?.attributeSeries.attributes,
                            queryTable?.version.id
                          )
                        "
                      />
                      <span class="mr-1">:</span>
                    </template>
                    <span
                      v-text="
                        getAttribute(
                          'name',
                          column?.attributeSeries.attributes,
                          queryTable?.version.id
                        )
                      "
                    />
                  </div>
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
          </template>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref } from "vue";

import {
  QuestionQueryTable,
  QuestionQueryTableJoinOn,
} from "@/utils/query-data-helper.utils";
import { getDatasetFormatIcon } from "@/utils/datasets-helper.utils";
import { Attribute, Section } from "@backPrisma/client";

// PROPS
export interface Props {
  side: "left" | "right";
}
const propsComponent = defineProps<Props>();

// DATA

const menu = ref(false);

const queryTables = inject<Ref<QuestionQueryTable[]>>("queryTables");
const thisQueryTable = inject<Ref<QuestionQueryTable>>("thisQueryTable");
const thisQueryTableJoinOn = inject<Ref<QuestionQueryTableJoinOn>>(
  "thisQueryTableJoinOn"
);
const thisQueryTableJoinOnColumn = computed(() => {
  switch (propsComponent.side) {
    case "left":
      return thisQueryTableJoinOn.value?.left;
    case "right":
      return thisQueryTableJoinOn.value?.right;
    default:
      return null;
  }
});

const queryTablesFiltered = computed(() => {
  switch (propsComponent.side) {
    case "left":
      return queryTables.value.filter(
        (el) => !!el.datasetId && el.key === thisQueryTable.value.key
      );
    case "right":
      return queryTables.value.filter(
        (el) => !!el.datasetId && el.key !== thisQueryTable.value.key
      );
    default:
      return [];
  }
});

const modelName = computed(() => {
  const tableKey = thisQueryTableJoinOnColumn.value?.tableKey;
  const queryTable = queryTables.value.find((el) => el.key === tableKey);
  if (!queryTable) return null;
  return `${queryTable?.dataset?.uri}_${queryTable?.version?.uri}${
    queryTable?.section?.uri ? `_${queryTable?.section?.uri}` : ""
  }`;
});

const columnName = computed(() => {
  const tableKey = thisQueryTableJoinOnColumn.value?.tableKey;
  const queryTable = queryTables.value.find((el) => el.key === tableKey);
  if (!queryTable) return null;
  const attributeSeriesId = thisQueryTableJoinOnColumn.value?.attributeSeriesId;
  const column = queryTable.columns.find(
    (el) => el.attributeSeries?.id === attributeSeriesId
  );
  const sectionName = getAttribute(
    "section.uri",
    column.attributeSeries.attributes,
    queryTable.version?.id
  );
  const name = getAttribute(
    "name",
    column.attributeSeries.attributes,
    queryTable.version?.id
  );
  return `${sectionName ? `${sectionName}: ` : ""}${name}`;
});

// METHODS

function selectColumn(tableKey: number, attributeSeriesId: number) {
  const indexTable = queryTables.value.findIndex(
    (el) => el.key === thisQueryTable.value.key
  );
  if (indexTable < 0) return;
  const indexOn = thisQueryTable.value.join.on.findIndex(
    (el) => el.key === thisQueryTableJoinOn.value.key
  );
  if (indexOn < 0) return;
  queryTables.value[indexTable].join.on[indexOn][propsComponent.side] = {
    tableKey: tableKey,
    attributeSeriesId,
  };
  menu.value = false;
}

function getAttribute(
  key: "name" | "description" | "type" | "section.uri",
  attributes: (Attribute & { section: Section })[],
  versionId: number
) {
  if (!attributes || !versionId) return;
  const attribute = attributes.find(
    (attribute) => attribute.section.versionId === versionId
  );
  const splittedKey = key.split(".");
  if (splittedKey.length > 1) {
    return attribute?.[splittedKey[0]]?.[splittedKey[1]];
  }
  return attribute?.[key];
}
</script>
