<template>
  <div class="pt-2">
    <v-row no-gutters dense>
      <v-col cols="12">
        <v-autocomplete
          label="Dataset"
          v-model="form.datasetId"
          :items="datasets"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
          @update:model-value="findDatasetVersions"
        >
          <template v-slot:item="{ props, item }">
            <v-list-item
              v-bind="props"
              :title="item?.raw?.uri"
              :subtitle="item?.raw?.title"
            ></v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" v-show="!!form.datasetId">
        <v-autocomplete
          label="Version"
          v-model="form.versionId"
          :items="versions"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
          @update:model-value="findVersionSections"
        >
          <template v-slot:selection="{ item }">
            <span class="mr-1">{{ item.title }}</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props" :subtitle="item?.raw?.title">
              <template #title>
                <span class="mr-1">{{ item?.raw?.uri }}</span>
                <span v-if="item?.raw?.default" class="text-disabled">
                  (Default)
                </span>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
      <v-col cols="12" v-show="!!form.versionId && sections.length > 1">
        <v-autocomplete
          label="Section"
          v-model="form.sectionId"
          :items="sections"
          item-value="id"
          item-title="uri"
          variant="outlined"
          density="compact"
        >
          <template v-slot:selection="{ item }">
            <span class="mr-1">{{ item.title }}</span>
            <span v-if="item?.raw?.default" class="text-disabled">
              (Default)
            </span>
          </template>
          <template v-slot:item="{ props, item }">
            <v-list-item v-bind="props" :subtitle="item?.raw?.title">
              <template #title>
                <span class="mr-1">{{ item?.raw?.uri }}</span>
                <span v-if="item?.raw?.default" class="text-disabled">
                  (Default)
                </span>
              </template>
            </v-list-item>
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>
    <v-divider class="mb-4" />
    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        @click="onClickCancel()"
        size="small"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-check"
        color="success"
        variant="flat"
        @click="onClickOkDebounce()"
        size="small"
        :disabled="!form.datasetId"
      >
        OK
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, Ref, onMounted } from "vue";
import { debounce } from "lodash";

import requester from "@/requester";
import { emitAlertError } from "@/plugins/eventBus";

import {
  Attribute,
  AttributeSeries,
  AttributeSeriesRelationship,
  Dataset,
  Section,
  Version,
} from "@backPrisma/client";
import {
  QuestionQueryTable,
  QuestionQueryTableJoinOnOperatorEnum,
  QuestionQueryTableJoinTypeEnum,
} from "@/utils/query-data-helper.utils";

type AttributeSeriesAndRelations = AttributeSeries & {
  attributes: (Attribute & { section: Section })[];
  relationshipsForeignKey: AttributeSeriesRelationship[];
  relationshipsReference: AttributeSeriesRelationship[];
};

// EMITS
const emit = defineEmits<{
  (e: "click-ok"): void;
  (e: "click-cancel"): void;
}>();

// DATA

const queryTables = inject<Ref<QuestionQueryTable[]>>("queryTables");
const thisQueryTable = inject<Ref<QuestionQueryTable>>("thisQueryTable");

const datasets = inject<Ref<Dataset[]>>("datasets");
const versions = ref<Version[]>([]);
const sections = ref<Section[]>([]);
const attributesSeries = ref<AttributeSeriesAndRelations[]>([]);

const form = ref({
  datasetId: null,
  versionId: null,
  sectionId: null,
});

onMounted(() => {
  resetForm();
});

// METHODS

async function resetForm() {
  form.value.datasetId = thisQueryTable.value.datasetId;
  if (form.value.datasetId) {
    await findDatasetVersions(form.value.datasetId);
  }
  form.value.versionId = thisQueryTable.value.versionId;
  form.value.sectionId = thisQueryTable.value.sectionId;
}

async function onClickCancel() {
  resetForm();
  emit("click-cancel");
}

const onClickOkDebounce = debounce(onClickOk, 300);
async function onClickOk() {
  if (!form.value.datasetId) return;
  const index = queryTables.value.findIndex(
    (el) => el.key === thisQueryTable.value.key
  );
  if (index < 0) return;
  queryTables.value[index].datasetId = form.value.datasetId;
  queryTables.value[index].versionId = form.value.versionId;
  queryTables.value[index].sectionId = form.value.sectionId;
  queryTables.value[index].dataset = datasets.value.find(
    (el) => el.id === form.value.datasetId
  );
  queryTables.value[index].version = versions.value.find(
    (el) => el.id === form.value.versionId
  );
  queryTables.value[index].section = sections.value.find(
    (el) => el.id === form.value.sectionId
  );
  await findDatasetAttributesSeries(form.value.datasetId);
  queryTables.value[index].columns = attributesSeries.value.map(
    (attributeSeries) => ({
      _selected: true,
      _as: null,
      attributeSeries,
      questionColumn: null,
    })
  );
  queryTables.value[index].join =
    thisQueryTable.value.key === 0
      ? null
      : {
          type: QuestionQueryTableJoinTypeEnum.LEFT,
          on: [
            {
              key: 0,
              left: null,
              right: null,
              operator: QuestionQueryTableJoinOnOperatorEnum.EQUAL,
            },
          ],
        };
  emit("click-ok");
}

async function findDatasetVersions(datasetId: number) {
  if (!datasetId) {
    form.value.versionId = null;
    versions.value = [];
    return;
  }
  try {
    versions.value = await requester.datasets.findVersions(datasetId);
    // get default or first version
    form.value.versionId =
      versions.value.find((version) => version.default)?.id ||
      versions.value[0]?.id;
    await findVersionSections(form.value.versionId);
  } catch (err) {
    emitAlertError(err);
  }
}

async function findVersionSections(versionId: number) {
  if (!versionId) {
    form.value.sectionId = null;
    sections.value = [];
    return;
  }
  try {
    sections.value = await requester.versions.findSections(versionId);
    // get default or first version
    form.value.sectionId =
      sections.value.find((section) => section.default)?.id ||
      sections.value[0]?.id;
  } catch (err) {
    emitAlertError(err);
  }
}

async function findDatasetAttributesSeries(datasetId: number) {
  if (!datasetId) {
    attributesSeries.value = [];
    return;
  }
  try {
    attributesSeries.value = await requester.datasets.findAttributesSeries(
      datasetId
    );
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
