<template>
  <div>
    <!-- DIALOG ATTRIBUTES SERIES -->
    <QueryDataSelectTableDialogColumns v-model="dialogColumns" />
    <!-- BTN GROUP -->
    <v-btn-group>
      <!-- BTN SELECT TABLE (DATASET/VERSION/SECTION) -->
      <v-menu v-model="menuTable" :close-on-content-click="false">
        <!-- ACTIVATOR MENU -->
        <template v-slot:activator="{ props }">
          <v-btn v-bind="props">
            <!-- PLUS BTN -->
            <v-icon v-if="!thisQueryTable.datasetId" icon="mdi-plus" />
            <!-- CATALOG NAME -->
            <div
              v-else
              class="d-flex align-center text-subtitle-1 font-weight-regular"
            >
              <v-icon
                color="grey-darken-2"
                :icon="getDatasetFormatIcon(thisQueryTable?.dataset?.format)"
                class="mr-2"
              />
              <span>
                {{
                  `${thisQueryTable?.dataset?.uri}_${
                    thisQueryTable?.version?.uri
                  }${
                    thisQueryTable?.section?.uri
                      ? `_${thisQueryTable?.section?.uri}`
                      : ""
                  }`
                }}
              </span>
            </div>
          </v-btn>
        </template>
        <v-card min-width="360">
          <v-card-text>
            <QueryDataSelectTableDataset
              @click-ok="onClickOkTable()"
              @click-cancel="onClickCancelTable()"
            />
          </v-card-text>
        </v-card>
      </v-menu>
      <!-- BTN COLUMNS -->
      <v-btn
        v-if="!!thisQueryTable.datasetId"
        append-icon="mdi-chevron-down"
        @click="dialogColumns = true"
      >
        <span class="text-disabled">
          ({{ thisQueryTable.columns.filter((el) => el._selected).length }}/{{
            thisQueryTable.columns.length
          }})
        </span>
      </v-btn>
    </v-btn-group>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, inject, Ref, provide } from "vue";

import { QuestionQueryTable } from "@/utils/query-data-helper.utils";
import { getDatasetFormatIcon } from "@/utils/datasets-helper.utils";

import QueryDataSelectTableDataset from "./QueryDataSelectTableDataset.vue";
import QueryDataSelectTableDialogColumns from "./QueryDataSelectTableDialogColumns.vue";

// PROPS
export interface Props {
  tableKey: number;
}
const propsComponent = defineProps<Props>();

// DATA

const queryTables = inject<Ref<QuestionQueryTable[]>>("queryTables");
const thisQueryTable = computed(() =>
  queryTables.value.find((el) => el.key === propsComponent.tableKey)
);
provide("thisQueryTable", thisQueryTable);

const menuTable = ref(false);
const dialogColumns = ref(false);

// METHODS

function onClickOkTable() {
  menuTable.value = false;
}

function onClickCancelTable() {
  menuTable.value = false;
}
</script>
