<template>
  <div>
    <v-card color="grey-lighten-2" variant="outlined">
      <v-progress-linear :indeterminate="loading" />
      <v-table density="compact">
        <thead>
          <tr>
            <th v-for="(header, indexH) in headers" :key="indexH">
              {{ header.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, indexR) in results" :key="indexR">
            <td v-for="(header, indexH) in headers" :key="indexH">
              <template
                v-if="
                  [
                    AttributeTypeEnum.GEOMETRY,
                    AttributeTypeEnum.GEOGRAPHY,
                  ].includes(header?.meta?.type)
                "
              >
                <router-link
                  :to="{
                    name: 'QueryDataPreviewGeoJson',
                    query: {
                      table: header?.meta?.tableName,
                      columnGeom: header?.text,
                      columnPk: DefaultSectionTableColumnEnum.ID,
                      valuePk: getItemValue(
                        item,
                        `${header?.meta?.tableAlias}_${DefaultSectionTableColumnEnum.ID}`
                      ),
                    },
                  }"
                  target="_blank"
                >
                  {{ getItemValue(item, header.value) }}
                </router-link>
              </template>
              <template v-else>
                {{ getItemValue(item, header.value) }}
              </template>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
    <v-pagination
      :model-value="paginationPage"
      @update:model-value="emit('update:pagination-page', $event)"
      :length="paginationLength"
      total-visible="6"
      density="compact"
    />
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { DefaultSectionTableColumnEnum } from "@backSrc/sections/sections.contants";
import { AttributeTypeEnum } from "@backSrc/attributes/attributes.constants";

// PROPS
export interface Props {
  loading?: boolean;
  total: number;
  results: any[];
  headers: any[];
  paginationPage: number;
  paginationPerPage: number;
}
const propsComponent = withDefaults(defineProps<Props>(), {
  loading: false,
});

// EMITS
const emit = defineEmits<{
  (e: "update:pagination-page", page: number): void;
}>();

// DATA

const paginationLength = computed(() =>
  Math.ceil(
    (propsComponent.total || 0) / (propsComponent.paginationPerPage || 1)
  )
);

// METHODS

function getItemValue(item: any, headerValue: string) {
  return item?.[headerValue];
}
</script>
