<template>
  <div class="d-flex align-start">
    <!-- LEFT ATTRIBUTE -->
    <QueryDataJoinTableOnAttribute side="left" />
    <!-- JOIN ON OPERATION -->
    <v-menu>
      <template v-slot:activator="{ props }">
        <v-btn
          :icon="
            getQuestionQueryTableJoinOnOperator(
              'icon',
              thisQueryTableJoinOn.operator
            )
          "
          size="small"
          variant="flat"
          class="mx-2"
          v-bind="props"
        />
      </template>
      <v-list density="compact">
        <v-list-item
          v-for="item in questionQueryTableJoinOnOperatorItems"
          :key="item.value"
          :active="thisQueryTableJoinOn.operator === item.value"
          @click="updateJoinOnOperator(item.value)"
        >
          <template v-slot:prepend>
            <v-icon :icon="item.icon" class="mr-3" />
          </template>
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- RIGHT ATTRIBUTE -->
    <QueryDataJoinTableOnAttribute side="right" />
  </div>
</template>

<script setup lang="ts">
import { ref, computed, provide, inject, Ref } from "vue";

import {
  QuestionQueryTable,
  QuestionQueryTableJoinOnOperatorEnum,
  getQuestionQueryTableJoinOnOperator,
} from "@/utils/query-data-helper.utils";
import { onMounted } from "vue";
import QueryDataJoinTableOnAttribute from "./QueryDataJoinTableOnAttribute.vue";

// PROPS

export interface Props {
  onKey: number;
}
const propsComponent = defineProps<Props>();

// DATA

const thisQueryTable = inject<Ref<QuestionQueryTable>>("thisQueryTable");
const thisQueryTableJoinOn = computed(() =>
  thisQueryTable.value.join.on.find((el) => el.key === propsComponent.onKey)
);
provide("thisQueryTableJoinOn", thisQueryTableJoinOn);

const questionQueryTableJoinOnOperatorItems = ref(
  Object.values(QuestionQueryTableJoinOnOperatorEnum).map((value) => ({
    value,
    icon: getQuestionQueryTableJoinOnOperator("icon", value),
    title: getQuestionQueryTableJoinOnOperator("text", value),
  }))
);

// ON MOUNTED
onMounted(() => {
  // inferJoinAttributes();
});

// METHODS

function updateJoinOnOperator(
  joinOnOperator: QuestionQueryTableJoinOnOperatorEnum
) {
  const index = thisQueryTable.value.join.on.findIndex(
    (el) => el.key === propsComponent.onKey
  );
  if (index < 0) return;
  thisQueryTable.value.join.on[index].operator = joinOnOperator;
}
</script>
