<template>
  <div class="d-flex align-center">
    <v-icon icon="mdi-file-tree-outline" class="text-h4" start />
    <h1 class="text-h4">Hierarchies</h1>
  </div>
  <v-divider class="mt-2 mb-4" />
  <!-- DIALOG CREATE CATALOG -->
  <BoundariesHierarchiesDialogCreate
    v-model="dialogCreateBoundaryHierarchy"
    @boundary-hierarchy-created="onBoundaryHierarchyCreated"
  />

  <!-- DIALOG UPDATE ATTRIBUTE -->
  <BoundariesHierarchiesDialogUpdate
    v-if="selectedBoundaryHierarchy"
    :key="selectedBoundaryHierarchy.uri"
    v-model="dialogUpdateBoundaryHierarchy"
    :boundaryHierarchy="selectedBoundaryHierarchy"
    @boundary-hierarchy-updated="onBoundaryHierarchyUpdated"
  />

  <!-- SEARCH BAR && CREATE BUTTON -->
  <div class="d-flex align-center mb-2">
    <v-text-field
      v-model="search"
      placeholder="Search"
      variant="outlined"
      append-inner-icon="mdi-magnify"
      density="compact"
      hide-details
    />
    <v-btn
      prepend-icon="mdi-plus"
      color="primary"
      variant="flat"
      class="ml-2"
      @click="dialogCreateBoundaryHierarchy = true"
    >
      Hierarchy
    </v-btn>
  </div>
  <!-- TABLE BOUNDARY HIERARCHIES -->
  <v-card variant="outlined" color="grey-lighten-2">
    <v-table>
      <thead>
        <tr>
          <th>URI</th>
          <th>Name</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in boundariesHierarchiesFiltered" :key="item.uri">
          <td>
            <router-link
              class="font-weight-medium text-decoration-none"
              :to="{
                name: 'BoundariesHierarchiesView',
                params: { boundaryHierarchyUri: item.uri },
              }"
            >
              {{ item.uri }}
            </router-link>
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>{{ filterFormatDate(item.createdAt) }}</td>
          <td>{{ filterFormatDate(item.updatedAt) }}</td>
          <td>
            <v-btn
              icon="mdi-information"
              color="info"
              variant="text"
              :to="{
                name: 'BoundariesHierarchiesView',
                params: { boundaryHierarchyUri: item.uri },
              }"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-pencil"
              color="warning"
              variant="text"
              @click="editBoundaryHierarchy(item)"
            />
          </td>
          <td>
            <v-btn
              icon="mdi-delete"
              color="error"
              variant="text"
              @click="removeBoundaryHierarchy(item.uri)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import requester from "@/requester";
import { computed, onMounted, ref } from "vue";
import { BoundaryHierarchy } from "@backPrisma/client";

import BoundariesHierarchiesDialogCreate from "@/components/boundaries-hierarchies/BoundariesHierarchiesDialogCreate.vue";
import BoundariesHierarchiesDialogUpdate from "@/components/boundaries-hierarchies/BoundariesHierarchiesDialogUpdate.vue";
import { cleanString } from "@/utils/string-functions.utils";
import { filterFormatDate } from "@/utils/filters";

const dialogCreateBoundaryHierarchy = ref(false);
const dialogUpdateBoundaryHierarchy = ref(false);

const boundariesHierarchies = ref<BoundaryHierarchy[]>([]);
const boundariesHierarchiesFiltered = computed(() =>
  boundariesHierarchies.value.filter((hierarchy) => {
    return (
      cleanString(hierarchy.uri || "").includes(cleanSearch.value) ||
      cleanString(hierarchy.name || "").includes(cleanSearch.value)
    );
  })
);
const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const selectedBoundaryHierarchy = ref<BoundaryHierarchy>();

onMounted(() => {
  findAllBoundariesHierarchies();
});

async function findAllBoundariesHierarchies() {
  try {
    boundariesHierarchies.value =
      await requester.boundariesHierarchies.findAll();
  } catch (error) {
    emitAlertError(error);
  }
}

function onBoundaryHierarchyCreated() {
  dialogCreateBoundaryHierarchy.value = false;
  findAllBoundariesHierarchies();
}

function onBoundaryHierarchyUpdated(boundaryHierarchy: BoundaryHierarchy) {
  const index = boundariesHierarchies.value.findIndex(
    (el) => el.uri === selectedBoundaryHierarchy.value.uri
  );
  if (index >= 0) {
    boundariesHierarchies.value[index] = boundaryHierarchy;
  }
  dialogUpdateBoundaryHierarchy.value = false;
}

function editBoundaryHierarchy(boundaryHierarchy: BoundaryHierarchy) {
  selectedBoundaryHierarchy.value = boundaryHierarchy;
  dialogUpdateBoundaryHierarchy.value = true;
}

async function removeBoundaryHierarchy(boundaryHierarchyUri: string) {
  try {
    await requester.boundariesHierarchies.remove(boundaryHierarchyUri);
    emitAlertSuccess("Boundary Hierarchy successfully removed");
    const index = boundariesHierarchies.value.findIndex(
      (boundaryHierarchy) => boundaryHierarchy.uri === boundaryHierarchyUri
    );
    if (index >= 0) {
      boundariesHierarchies.value.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
