<template>
  <div v-if="boundaryHierarchy">
    <!-- Form to create boundary -->
    <BoundariesDialogCreate
      v-model="dialogCreateBoundary"
      :boundary-hierarchy-uri="boundaryHierarchy.uri"
      @boundary-created="onBoundaryCreated"
    />
    <!-- Form to update boundary -->
    <BoundariesDialogUpdate
      v-if="selectedBoundary"
      :key="selectedBoundary.id"
      v-model="dialogUpdateBoundary"
      :boundary="selectedBoundary"
      :boundary-hierarchy-uri="boundaryHierarchy.uri"
      @boundary-updated="onBoundaryUpdated"
    />
    <div class="d-flex align-center mb-2">
      <!-- Search bar -->
      <v-text-field
        v-model="search"
        placeholder="Search"
        variant="outlined"
        append-inner-icon="mdi-magnify"
        density="compact"
        hide-details
      />
      <!-- Create Button -->
      <v-btn
        @click="dialogCreateBoundary = true"
        class="ml-2"
        variant="flat"
        color="primary"
        prepend-icon="mdi-plus"
      >
        Boundary
      </v-btn>
    </div>
    <!-- Table for boundaries -->
    <v-card variant="outlined" color="grey-lighten-2">
      <v-table>
        <thead>
          <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Singular Name</th>
            <th>Required</th>
            <th>Dataset</th>
            <th>Name Attribute</th>
            <th>Divisão Administrativa</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in boundariesFiltered" :key="item.id">
            <td>
              {{ item.level }}
            </td>
            <td>
              {{ item.name }}
            </td>
            <td>
              {{ item.singularName }}
            </td>
            <td>
              <IconBooleanValue :value="item.required" color-false="grey" />
            </td>
            <td v-if="item.sectionId">
              <span v-if="sectionTitles[item.sectionId]">{{
                sectionTitles[item.sectionId]
              }}</span>
              <span v-else>Loading...</span>
            </td>
            <td v-if="item.questionId">
              <span v-if="questionTitles[item.sectionId]">{{
                questionTitles[item.questionId]
              }}</span>
              <span v-else>Loading...</span>
            </td>
            <td>
              {{ item.boundaryNameAttribute }}
            </td>
            <td>
              <IconBooleanValue
                v-if="!item.divisaoAdministrativaMunId"
                :value="false"
                color-false="grey"
              />
              <span
                v-else-if="municipiosNames[item.divisaoAdministrativaMunId]"
              >
                {{ municipiosNames[item.divisaoAdministrativaMunId] }}
              </span>
              <span v-else> Loading... </span>
            </td>
            <td>{{ filterFormatDate(item.createdAt) }}</td>
            <td>{{ filterFormatDate(item.updatedAt) }}</td>
            <td>
              <!-- Edit boundary button -->
              <v-btn
                icon="mdi-pencil"
                color="warning"
                variant="text"
                @click="editBoundary(item)"
              />
            </td>
            <td>
              <!-- Remove boundary button -->
              <v-btn
                icon="mdi-delete"
                color="error"
                variant="text"
                @click="removeBoundary(item.id)"
              />
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { computed, inject, onMounted, ref, Ref } from "vue";

import BoundariesDialogCreate from "@/components/boundaries/BoundariesDialogCreate.vue";
import {
  BoundaryHierarchyWithBoundaries,
  BoundaryWithSectionAndQuestion,
} from "@/requester/boundaries-hierarchies.requester";
import { filterFormatDate } from "@/utils/filters";
import { Boundary } from "@backPrisma/client";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import BoundariesDialogUpdate from "@/components/boundaries/BoundariesDialogUpdate.vue";
import { cleanString } from "@/utils/string-functions.utils";
import IconBooleanValue from "@/components/IconBooleanValue.vue";

// INJECT
const boundaryHierarchy =
  inject<Ref<BoundaryHierarchyWithBoundaries>>("boundaryHierarchy");

const boundariesFiltered = computed(() =>
  boundaryHierarchy.value.boundaries.filter((boundary) => {
    return (
      cleanString(String(boundary.level) || "").includes(cleanSearch.value) ||
      cleanString(boundary.name || "").includes(cleanSearch.value)
    );
  })
);
const search = ref("");
const cleanSearch = computed(() => cleanString(search.value));

const dialogCreateBoundary = ref(false);
const dialogUpdateBoundary = ref(false);

const selectedBoundary = ref<Boundary>();

const sectionTitles = ref<{ [key: number]: string }>({});
const questionTitles = ref<{ [key: number]: string }>({});
const municipiosNames = ref<{ [key: number]: string }>({});

onMounted(() => {
  updateSectionTitles();
  updateMunicipiosNames();
});

// BOUNDARY METHODS

function onBoundaryCreated(boundary: BoundaryWithSectionAndQuestion) {
  boundaryHierarchy.value.boundaries.push(boundary);
  dialogCreateBoundary.value = false;
}

function onBoundaryUpdated(boundary: BoundaryWithSectionAndQuestion) {
  const index = boundaryHierarchy.value.boundaries.findIndex(
    (el) => el.id === selectedBoundary.value.id
  );
  if (index >= 0) {
    boundaryHierarchy.value.boundaries[index] = boundary;
  }
  updateSectionTitles();
  updateMunicipiosNames();
  dialogUpdateBoundary.value = false;
}

function editBoundary(boundary: Boundary) {
  selectedBoundary.value = boundary;
  dialogUpdateBoundary.value = true;
}

async function removeBoundary(boundaryId: number) {
  try {
    await requester.boundariesHierarchies.removeBoundary(boundaryId);
    emitAlertSuccess("Boundary successfully removed");
    const index = boundaryHierarchy.value.boundaries.findIndex(
      (boundary) => boundary.id === boundaryId
    );
    if (index >= 0) {
      boundaryHierarchy.value.boundaries.splice(index, 1);
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function fetchSection(sectionId: number) {
  try {
    const section = await requester.sections.findOne(sectionId);
    if (section) {
      const version = await requester.versions.findOne(section.versionId);
      if (version) {
        const dataset = await requester.datasets.findOne(version.datasetId);
        if (dataset) {
          sectionTitles.value[sectionId] =
            dataset.uri + "/" + version.uri + "/" + (section.title || "");
        }
      }
    }
  } catch (err) {
    emitAlertError(err);
  }
}

async function fetchQuestion(questionId: number) {
  try {
    const question = await requester.questions.findOne(questionId);
    if (question) {
      questionTitles.value[questionId] = question.title;
    }
  } catch (err) {
    emitAlertError(err);
  }
}

function updateSectionTitles() {
  boundaryHierarchy.value.boundaries.forEach((boundary) => {
    if (boundary.sectionId) {
      fetchSection(boundary.sectionId);
    } else if (boundary.questionId) {
      fetchQuestion(boundary.questionId);
    }
  });
}

function updateMunicipiosNames() {
  boundaryHierarchy.value.boundaries.forEach((boundary) => {
    if (boundary.divisaoAdministrativaMunId) {
      getMunicipioName(boundary.divisaoAdministrativaMunId);
    }
  });
}

async function getMunicipioName(municipioId: number) {
  try {
    const responseData = await requester.external.localidadesIbge.municipios();
    const municipio = responseData.find((mun) => mun.id === municipioId);
    municipiosNames.value[municipioId] = municipio ? municipio.nome : "Unknown";
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
