<template>
  <div>
    <!-- <div v-for="section in sections" :key="section.order" class="mb-4">
      <div class="text-medium-emphasis font-weight-medium mb-2">
        {{ section.title }}
      </div>
      <v-card color="neutral-lighten-2" variant="outlined">
        <v-table density="compact" hover>
          <tbody>
            <tr v-for="(item, index) in section.items" :key="index">
              <td class="font-weight-medium" style="width: 100px">
                {{ item.title }}
              </td>
              <td>
                <span v-if="entity.getProperty(item.column)">
                  {{ entity.getProperty(item.column) }}
                </span>
                <span v-else class="text-disabled">N/A</span>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </div> -->
  </div>
</template>

<script setup lang="ts">
// import { ref, onMounted } from "vue";
// import { BaseSection, BaseSectionItem } from "@backPrisma/client";
// import { useMapStore } from "@/store/map.store";
// import { BaseLayerEntity } from "@/utils/bases-layers.utils";

// // PROPS
// export interface Props {
//   entity: BaseLayerEntity;
// }
// const props = defineProps<Props>();

// // DATA
// const mapStore = useMapStore();
// const baseLayer = mapStore.basesLayers.find(
//   (bl) => (bl.base.id = props.entity.baseUri)
// );
// const sections = ref<(BaseSection & { items: BaseSectionItem[] })[]>([]);

// onMounted(async () => {
//   sections.value = await baseLayer.getSections();
// });
</script>
