<template>
  <v-form ref="refForm">
    <v-row dense>
      <!-- DATETIME -->
      <v-col cols="12" md="10">
        <v-row dense>
          <!-- INICIO -->
          <v-col cols="12" md="12">
            <v-row dense>
              <!-- DATA INICIO -->
              <v-col cols="12" md="6">
                <v-menu
                  v-model="menuDataInicio"
                  :close-on-content-click="false"
                >
                  <template v-slot:activator="{ props }">
                    <v-text-field
                      label="Data de início *"
                      :model-value="dataInicioFormatted"
                      append-inner-icon="mdi-calendar"
                      clearable
                      clear-icon="mdi-close"
                      readonly
                      variant="outlined"
                      v-bind="props"
                      @click:clear="onClearDataInicio()"
                      @update:model-value="() => {}"
                      :rules="rulesRequired"
                    />
                  </template>
                  <v-date-picker
                    :model-value="dataInicio"
                    @update:model-value="onUpdateDataInicio"
                    :min="dataInicioMin"
                  />
                </v-menu>
              </v-col>
              <!-- HORARIO INICIO -->
              <v-col cols="12" md="6">
                <v-autocomplete
                  v-if="!diaTodo"
                  label="Horário de início *"
                  v-model="horarioInicio"
                  :items="itemsHorarioInicio"
                  variant="outlined"
                  append-inner-icon="mdi-clock-outline"
                  clearable
                  clear-icon="mdi-close"
                  @click:clear="onClearHorarioInicio()"
                  @change="onChangeHorarioInicio()"
                  :rules="rulesRequired"
                />
                <v-autocomplete
                  v-else
                  label="Horário de início"
                  variant="outlined"
                  append-inner-icon="mdi-clock-outline"
                  clearable
                  clear-icon="mdi-close"
                  disabled
                />
              </v-col>
            </v-row>
          </v-col>
          <!-- FIM -->
          <v-col cols="12" md="12">
            <v-row dense>
              <!-- DATA FIM -->
              <v-col cols="12" md="6">
                <v-menu v-model="menuDataFim">
                  <template v-slot:activator="{ props }">
                    <v-text-field
                      label="Data de fim *"
                      :model-value="dataFimFormatted"
                      append-inner-icon="mdi-calendar"
                      clearable
                      clear-icon="mdi-close"
                      readonly
                      variant="outlined"
                      v-bind="props"
                      @click:clear="onClearDataFim()"
                      @update:model-value="() => {}"
                    />
                  </template>
                  <v-date-picker
                    :model-value="dataFim"
                    @update:model-value="onUpdateDataFim"
                    :min="dataFimMin"
                  />
                </v-menu>
              </v-col>
              <!-- HORARIO FIM -->
              <v-col cols="12" md="6">
                <v-autocomplete
                  v-if="!diaTodo"
                  label="Horário de fim *"
                  v-model="horarioFim"
                  :items="itemsHorarioFim"
                  variant="outlined"
                  append-inner-icon="mdi-clock-outline"
                  clearable
                  clear-icon="mdi-close"
                  @click:clear="onClearHorarioFim()"
                  @change="onChangeHorarioFim()"
                  :rules="[...rulesRequired, ...rulesFim]"
                />
                <v-autocomplete
                  v-else
                  label="Horário de fim"
                  variant="outlined"
                  append-inner-icon="mdi-clock-outline"
                  clearable
                  clear-icon="mdi-close"
                  disabled
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
      <!-- DIA TODO -->
      <v-col cols="12" md="2">
        <div class="d-flex flex-column align-center justify-center fill-height">
          <v-switch label="Dia todo" v-model="diaTodo" class="mx-3" />
        </div>
      </v-col>
    </v-row>
  </v-form>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue";

// PROPS
export interface Props {
  modelValue: { inicio: string; fim: string; diaTodo: boolean };
}
defineProps<Props>();

// EMIT
const emit = defineEmits<{
  (
    e: "update:model-value",
    value: { inicio: string; fim: string; diaTodo: boolean }
  ): void;
}>();

// EXPOSED METHODS
defineExpose({
  validate: () => refForm.value?.validate(),
});

// DATA

const refForm = ref();

const rulesRequired = [(v: string) => !!v || "Campo obrigatório"];
const rulesFim = [
  () =>
    datetimeFim.value > datetimeInicio.value ||
    "Data/horário de fim deve ser maior que a de início!",
];

const diaTodo = ref(false);

const menuDataInicio = ref(false);
const dataInicio = ref<Date | null>(null);
const horarioInicio = ref<string | null>(null);
const dataInicioFormatted = computed(
  () => dataInicio.value?.toLocaleDateString("pt-BR") || ""
);
const dataInicioMin = new Date();
dataInicioMin.setDate(dataInicioMin.getDate() - 1);
const datetimeInicio = computed(() => {
  if (!dataInicio.value) return null;
  const datetime = new Date(dataInicio.value);
  if (diaTodo.value) {
    datetime.setHours(0, 0);
  } else {
    const horaInicio = horarioInicio.value?.split(":")?.[0] || "00";
    const minutoInicio = horarioInicio.value?.split(":")?.[1] || "00";
    datetime.setHours(Number(horaInicio), Number(minutoInicio));
  }
  return datetime.toISOString();
});

const menuDataFim = ref(false);
const dataFim = ref<Date | null>(null);
const horarioFim = ref<string | null>(null);
const dataFimFormatted = computed(
  () => dataFim.value?.toLocaleDateString("pt-BR") || ""
);
const dataFimMin = computed(() => {
  if (dataInicio.value) return dataInicio.value;
  const base = new Date();
  base.setDate(base.getDate() - 1);
  return base;
});
const datetimeFim = computed(() => {
  if (!dataFim.value) return null;
  const datetime = new Date(dataFim.value);
  if (diaTodo.value) {
    datetime.setHours(0, 0);
    datetime.setDate(datetime.getDate() + 1);
  } else {
    const horaFim = horarioFim.value?.split(":")?.[0] || "00";
    const minutoFim = horarioFim.value?.split(":")?.[1] || "00";
    datetime.setHours(Number(horaFim), Number(minutoFim));
  }
  return datetime.toISOString();
});

const computedModelValue = computed(() => ({
  inicio: datetimeInicio.value,
  fim: datetimeFim.value,
  diaTodo: diaTodo.value,
}));

const itemsHorarioInicio = new Array(4 * 24).fill(0).map((value, index) => {
  const hour = Math.floor(index / 4)
    .toString()
    .padStart(2, "0");
  const minute = ((index % 4) * 15).toString().padStart(2, "0");
  return `${hour}:${minute}`;
});

const itemsHorarioFim = computed(() => {
  if (dataFim.value > dataInicio.value || !horarioInicio.value)
    return itemsHorarioInicio;
  const indexHorarioInicio = itemsHorarioInicio.findIndex(
    (el) => el === horarioInicio.value
  );
  return itemsHorarioInicio.slice(indexHorarioInicio + 1);
});

// WATCH

watch(
  () => computedModelValue.value,
  (newValue) => {
    emit("update:model-value", newValue);
  }
);

// METHODS

function onClearDataInicio() {
  dataInicio.value = null;
}
function onUpdateDataInicio(newValue: Date) {
  menuDataInicio.value = false;
  dataInicio.value = newValue;
  if (!dataFim.value || dataFim.value < dataInicio.value) {
    dataFim.value = dataInicio.value;
  }
  if (!horarioInicio.value) {
    const horarioAtual = new Date().toLocaleTimeString("pt-BR", {
      hour: "2-digit",
      minute: "2-digit",
      hour12: false,
    });
    const horas = horarioAtual.split(":")[0];
    const minutos = ["00", "15", "30", "45"][
      Math.floor((Number(horarioAtual.split(":")[1]) / 60) * 4)
    ];
    horarioInicio.value = `${horas}:${minutos}`;
  }
}

function onClearDataFim() {
  dataFim.value = null;
}

function onUpdateDataFim(newValue: Date) {
  menuDataFim.value = false;
  dataFim.value = newValue;
}

function onClearHorarioInicio() {
  horarioInicio.value = null;
}

function onChangeHorarioInicio() {
  if (dataFim.value === dataInicio.value) {
    if (horarioFim.value < horarioInicio.value) {
      horarioFim.value = null;
    }
  }
}

function onClearHorarioFim() {
  horarioFim.value = null;
}

function onChangeHorarioFim() {
  // nothing for now
}
</script>
