<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
    persistent
  >
    <v-card>
      <v-card-item class="bg-neutral-lighten-4">
        <v-card-title>
          <div class="d-flex justify-space-between align-center w-100">
            <div class="d-flex align-cnter">
              <v-icon icon="mdi-calendar" start />
              <span>Cadastrar atividade</span>
            </div>
            <v-icon
              icon="mdi-close"
              size="small"
              @click="updateModelValue(false)"
            />
          </div>
        </v-card-title>
      </v-card-item>
      <v-divider />
      <v-card-text>
        <AtividadesFormCadastrar
          :agenteColetivoId="props.agenteColetivoId"
          :enderecoAgente="enderecoAgente"
          :projetoId="projetoId"
          :projetos="props.projetos"
          @atividade-cadastrada="onAtividadeCadastrada"
          @cancelar="onCancelar()"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Endereco } from "@backPrisma/client";
import { AtividadeCompleta } from "@/requester/atividades.requester";

import AtividadesFormCadastrar from "./AtividadesFormCadastrar.vue";
import { ProjetoCompleto } from "@/requester/projetos.requester";

// PROPS
export interface Props {
  agenteColetivoId?: number | null;
  enderecoAgente?: Endereco | null;
  projetoId?: number | null;
  projetos?: ProjetoCompleto[];
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  agenteColetivoId: null,
  projetos: () => [],
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "atividade-cadastrada", atividade: AtividadeCompleta): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}

function onCancelar() {
  emit("update:model-value", false);
}

function onAtividadeCadastrada(atividade: AtividadeCompleta) {
  emit("atividade-cadastrada", atividade);
}
</script>
