<template>
  <div>
    <div class="d-flex align-center mb-6">
      <v-text-field
        label="Pesquisar"
        variant="outlined"
        density="compact"
        bg-color="neutral-lighten-5"
        append-inner-icon="mdi-magnify"
        rounded
        hide-details
        disabled
      />
      <v-btn
        prepend-icon="mdi-filter-variant"
        variant="flat"
        rounded
        class="ml-3"
        disabled
      >
        Filtrar
      </v-btn>
    </div>
    <v-card
      v-if="atividades.length === 0"
      variant="outlined"
      color="neutral-lighten-2"
    >
      <v-card-text
        class="d-flex justify-center align-center text-body-1 text-disabled"
      >
        Nenhuma atividade cadastrada
      </v-card-text>
    </v-card>
    <v-card
      v-for="atividade in atividades"
      :key="atividade.id"
      variant="outlined"
      color="neutral-lighten-1"
      rounded
      class="mb-6"
    >
      <v-card flat tile color="neutral-lighten-5">
        <v-card-title class="d-flex justify-space-between align-center">
          <div class="d-flex align-center">
            <v-avatar color="neutral">
              <v-icon icon="mdi-calendar-blank" size="small" />
            </v-avatar>
            <div class="ml-3">
              <h3 class="text-h6">{{ atividade.titulo }}</h3>
              <p
                class="text-body-1 text-medium-emphasis"
                v-if="atividade.projeto"
              >
                ({{ atividade.projeto.titulo }})
              </p>
            </div>
          </div>
          <div class="d-flex align-center justify-end">
            <v-btn
              prepend-icon="mdi-information"
              variant="text"
              :to="{
                name: 'EntidadesInicio',
                params: { baseUri: 'atividades', pk: atividade.id },
              }"
            >
              Detalhes
            </v-btn>
            <v-menu location="bottom right">
              <template v-slot:activator="{ props }">
                <v-btn
                  icon="mdi-dots-vertical"
                  variant="text"
                  size="small"
                  v-bind="props"
                />
              </template>
              <v-list density="compact">
                <v-list-item disabled>
                  <v-list-item-title class="d-flex align-center">
                    <v-icon icon="mdi-pencil" size="small" start />
                    <span> Editar </span>
                  </v-list-item-title>
                </v-list-item>
                <v-list-item @click="emit('remover-atividade', atividade.id)">
                  <v-list-item-title class="d-flex align-center">
                    <v-icon icon="mdi-delete" size="small" start />
                    <span> Remover </span>
                  </v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-card-title>
        <v-card-text>
          <v-divider class="mb-3" />
          <!-- DATA INICIO E FIM -->
          <div class="d-flex align-top mb-2" v-if="atividade.datetimeInicio">
            <div class="d-flex align-top">
              <v-icon
                icon="mdi-calendar"
                size="small"
                start
                color="neutral-darken-3"
              />
              <span>
                {{
                  new Date(atividade.datetimeInicio).toLocaleDateString("pt-BR")
                }}
              </span>
            </div>
            <div class="d-flex align-top ml-4">
              <v-icon
                icon="mdi-clock-outline"
                size="small"
                start
                color="neutral-darken-3"
              />
              <span>
                {{
                  new Date(atividade.datetimeInicio).toLocaleTimeString(
                    "pt-BR",
                    {
                      hour: "2-digit",
                      minute: "2-digit",
                      hour12: false,
                    }
                  )
                }}
              </span>
              <template v-if="atividade.datetimeFim">
                <span class="mx-1">-</span>
                <span>
                  {{
                    new Date(atividade.datetimeFim).toLocaleTimeString(
                      "pt-BR",
                      {
                        hour: "2-digit",
                        minute: "2-digit",
                        hour12: false,
                      }
                    )
                  }}
                </span>
              </template>
            </div>
          </div>
          <!-- LOCAL -->
          <div class="d-flex align-top mb-2">
            <router-link
              :to="{
                name: 'Mapa',
                query: {
                  lat: atividade.endereco.latitude,
                  lng: atividade.endereco.longitude,
                  zoom: 14,
                },
              }"
              class="text-decoration-none text-neutral-darken-4 font-weight-medium"
            >
              <v-icon
                icon="mdi-map-marker"
                size="small"
                start
                color="neutral-darken-3"
              />
              <span>
                {{ formatEndereco(atividade.endereco) }}
              </span>
            </router-link>
          </div>
          <!-- DESCRICAO -->
          <div class="d-flex align-top mb-2">
            <v-icon
              icon="mdi-text"
              size="small"
              start
              color="neutral-darken-1"
            />
            <p v-if="atividade.descricao" class="text-medium-emphasis">
              <template v-if="atividade.descricao.length > 200">
                {{ atividade.descricao.slice(0, 200) }}...
              </template>
              <template v-else>
                {{ atividade.descricao }}
              </template>
            </p>
            <p v-else class="text-disabled">Sem descrição</p>
          </div>
          <!-- OPCOES -->
          <div class="d-flex align-center">
            <v-chip
              v-for="item in atividade.opcoes"
              :key="item.opcao.id"
              size="x-small"
              class="mb-1 mr-1"
            >
              {{ item.opcao.nome }}
            </v-chip>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { inject } from "vue";
import { AtividadeCompleta } from "@/requester/atividades.requester";
import { formatEndereco } from "@/utils/enderecos-helper.utils";

// DATA

const atividades = inject<AtividadeCompleta[]>("atividades");

// EMITS
const emit = defineEmits<{
  (e: "remover-atividade", atividadeId: number): void;
}>();
</script>
