<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <!-- NAME -->
        <v-col cols="12">
          <v-text-field
            v-model="form.name"
            label="Name *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <!-- NAME -->
        <v-col cols="12">
          <v-text-field
            v-model="form.rawFileProperty"
            label="Raw File Property"
            variant="outlined"
          />
        </v-col>
        <!-- DESCRIPTION -->
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <!-- TYPE -->
        <v-col cols="12">
          <v-autocomplete
            v-model="form.type"
            label="Type *"
            :items="itemsType"
            item-value="value"
            item-title="title"
            :rules="rules.required"
            variant="outlined"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.title"
                :subtitle="item?.raw?.description"
              ></v-list-item>
            </template>
          </v-autocomplete>
          <!-- TODO: GIVE TYPE OPTIONS -->
        </v-col>
        <!-- PRIMARY -->
        <v-col cols="12" sm="6" md="3">
          <v-radio-group
            v-model="form.primary"
            label="Primary *"
            inline
            :rules="rules.requiredBoolean"
            :disabled="
              [
                AttributeTypeEnum.GEOMETRY,
                AttributeTypeEnum.GEOGRAPHY,
              ].includes(form.type)
            "
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <!-- SECTION -->
        <v-col cols="12" sm="6" md="9">
          <v-autocomplete
            v-model="form.sectionId"
            label="Section *"
            :items="sections"
            item-value="id"
            item-title="title"
            :rules="rules.required"
            variant="outlined"
            :disabled="!!props.attribute"
          >
            <template v-slot:selection="{ item }">
              <span class="mr-1">{{ item.title }}</span>
              <span v-if="item?.raw?.default" class="text-disabled">
                (Default)
              </span>
            </template>
            <template v-slot:item="{ props, item }">
              <v-list-item v-bind="props" :subtitle="item?.raw?.title">
                <template #title>
                  <span class="mr-1">{{ item?.raw?.uri }}</span>
                  <span v-if="item?.raw?.default" class="text-disabled">
                    (Default)
                  </span>
                </template>
              </v-list-item>
            </template>
          </v-autocomplete>
        </v-col>
        <!-- OPTIONAL -->
        <v-col cols="12" sm="6" md="3">
          <v-radio-group
            v-if="form.primary"
            key="radio_optional_primary"
            :model-value="false"
            label="Optional *"
            inline
            disabled
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
          <v-radio-group
            v-else
            key="radio_optional"
            v-model="form.optional"
            label="Optional *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <!-- INDEXABLE -->
        <v-col cols="12" sm="6" md="3">
          <v-radio-group
            v-if="form.primary"
            key="radio_indexable_primary"
            :model-value="true"
            label="Indexable *"
            inline
            disabled
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
          <v-radio-group
            v-else
            key="radio_indexable"
            v-model="form.indexable"
            label="Indexable *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
          <!-- INDEX TYPE -->
          <v-autocomplete
            v-if="form.primary || form.indexable"
            v-model="form.indexType"
            label="Index type *"
            :items="itemsIndexType"
            item-value="value"
            item-title="title"
            :rules="rules.required"
            variant="outlined"
          >
            <template v-slot:item="{ props, item }">
              <v-list-item
                v-bind="props"
                :title="item?.raw?.title"
                :subtitle="item?.raw?.description"
                :disabled="item?.raw?.disabled"
              />
            </template>
          </v-autocomplete>
        </v-col>
        <!-- UNIQUE -->
        <v-col cols="12" sm="6" md="3">
          <v-radio-group
            v-if="form.primary"
            key="radio_unique_primary"
            :model-value="true"
            label="Unique *"
            inline
            disabled
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
          <v-radio-group
            v-else
            key="radio_unique"
            v-model="form.unique"
            label="Unique *"
            inline
            :rules="rules.requiredBoolean"
            :disabled="
              [
                AttributeTypeEnum.GEOMETRY,
                AttributeTypeEnum.GEOGRAPHY,
              ].includes(form.type)
            "
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <!-- SENSITIVE -->
        <v-col cols="12" sm="6" md="3">
          <v-radio-group
            v-if="form.primary"
            key="radio_sensitiveData_primary"
            :model-value="false"
            label="Sensitive data *"
            inline
            disabled
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
          <v-radio-group
            v-else
            key="radio_sensitiveData"
            v-model="form.sensitiveData"
            label="Sensitive data *"
            inline
            :rules="rules.requiredBoolean"
          >
            <v-radio label="Yes" :value="true" />
            <v-radio label="No" :value="false" />
          </v-radio-group>
        </v-col>
        <!-- DEFAULT VALUE -->
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="form.defaultValue"
            label="Default value"
            variant="outlined"
          />
        </v-col>
        <!-- UNIT -->
        <v-col cols="12" sm="6">
          <v-text-field v-model="form.unit" label="Unit" variant="outlined" />
        </v-col>
        <!-- DECODE VALUE -->
        <v-col cols="12">
          <v-textarea
            v-model="form.decodeValue"
            label="Decode value"
            rows="2"
            variant="outlined"
          />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, computed, watch, onMounted, Ref } from "vue";
import { debounce } from "lodash";

import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import {
  attributeIndexTypesDescriptions,
  attributeIndexTypesTitles,
  attributeTypesDescriptions,
} from "@/utils/attributes-helper.utils";

import { Attribute, Section, Version } from "@backPrisma/client";
import {
  CreateAttributeDto,
  UpdateAttributeDto,
} from "@backSrc/attributes/dto";
import {
  AttributeIndexTypeEnum,
  AttributeTypeEnum,
} from "@backSrc/attributes/attributes.constants";

// PROPS
export interface Props {
  attribute?: Attribute;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "attribute-created", attribute: Attribute): void;
  (e: "attribute-updated", attribute: Attribute): void;
  (e: "cancel"): void;
}>();

// DATA

const version = inject<Ref<Version>>("version");
const sections = ref<Section[]>([]);

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  sectionId: null,
  name: "",
  rawFileProperty: "",
  description: "",
  type: null,
  typeOptions: null,
  optional: true,
  indexable: false,
  indexType: null,
  unique: false,
  primary: false,
  defaultValue: "",
  unit: "",
  decodeValue: null,
  sensitiveData: false,
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
  requiredBoolean: [(v: boolean) => v === true || v === false || "Required"],
});

const itemsType = ref(
  Object.values(AttributeTypeEnum)
    .filter(
      (value) =>
        ![AttributeTypeEnum.GEOMETRY, AttributeTypeEnum.GEOGRAPHY].includes(
          value
        )
    )
    .map((value) => ({
      description: attributeTypesDescriptions?.[value],
      title: value,
      value: value,
    }))
);

const itemsIndexType = computed(() =>
  Object.values(AttributeIndexTypeEnum).map((value) => ({
    description: attributeIndexTypesDescriptions?.[value],
    title: attributeIndexTypesTitles?.[value],
    value: value,
    disabled:
      [AttributeTypeEnum.GEOMETRY, AttributeTypeEnum.GEOGRAPHY].includes(
        form.value.type
      ) && value !== AttributeIndexTypeEnum.GIST,
  }))
);

// WATCH

watch(
  () => form.value.type,
  (newVal) => {
    if (
      [AttributeTypeEnum.GEOMETRY, AttributeTypeEnum.GEOGRAPHY].includes(newVal)
    ) {
      form.value.primary = false;
      form.value.unique = false;
      if (form.value.indexable) {
        form.value.indexType = AttributeIndexTypeEnum.GIST;
      }
    }
  }
);

watch(
  () => form.value.primary,
  (newVal) => {
    if (newVal && !form.value.indexType) {
      form.value.indexType = AttributeIndexTypeEnum.BTREE;
    }
  }
);

watch(
  () => form.value.indexable,
  (newVal) => {
    if (newVal) {
      form.value.indexType = [
        AttributeTypeEnum.GEOMETRY,
        AttributeTypeEnum.GEOGRAPHY,
      ].includes(form.value.type)
        ? AttributeIndexTypeEnum.GIST
        : AttributeIndexTypeEnum.BTREE;
    } else {
      form.value.indexType = null;
    }
  }
);

// ON MOUNTED
onMounted(async () => {
  fillForm();
  await findSections(version.value.id);
  form.value.sectionId =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
});

function fillForm() {
  if (!props.attribute) return;
  form.value.sectionId = props.attribute.sectionId;
  form.value.name = props.attribute.name;
  form.value.rawFileProperty = props.attribute.rawFileProperty || "";
  form.value.description = props.attribute.description || "";
  form.value.type = props.attribute.type;
  form.value.typeOptions = props.attribute.typeOptions;
  form.value.optional = props.attribute.optional;
  form.value.indexable = props.attribute.indexable;
  form.value.indexType = props.attribute.indexable
    ? props.attribute.indexType
    : null;
  form.value.unique = props.attribute.unique;
  form.value.primary = props.attribute.primary;
  form.value.defaultValue = props.attribute.defaultValue || "";
  form.value.unit = props.attribute.unit || "";
  form.value.decodeValue = props.attribute.decodeValue
    ? JSON.stringify(props.attribute.decodeValue)
    : null;
  form.value.sensitiveData = props.attribute.sensitiveData;
}

function clearForm() {
  form.value.sectionId =
    sections.value.find((el) => el.default)?.id ||
    sections.value?.[0]?.id ||
    null;
  form.value.name = "";
  form.value.rawFileProperty = "";
  form.value.description = "";
  form.value.type = null;
  form.value.typeOptions = null;
  form.value.optional = true;
  form.value.indexable = false;
  form.value.indexType = null;
  form.value.unique = false;
  form.value.primary = false;
  form.value.defaultValue = "";
  form.value.unit = "";
  form.value.decodeValue = null;
  form.value.sensitiveData = false;
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;
  loading.value.save = true;
  try {
    const dto: CreateAttributeDto = {
      name: form.value.name?.trim()?.toLowerCase() || null,
      rawFileProperty: form.value.rawFileProperty?.trim() || null,
      description: form.value.description?.trim() || null,
      type: form.value.type?.trim() || null,
      typeOptions: form.value.typeOptions || null,
      optional: form.value.primary ? false : form.value.optional,
      indexable: form.value.indexable ? true : form.value.indexable,
      indexType: form.value.indexable ? form.value.indexType || null : null,
      unique: form.value.primary ? true : form.value.unique,
      primary: form.value.primary,
      defaultValue: form.value.defaultValue?.trim() || null,
      unit: form.value.unit?.trim() || null,
      decodeValue: form.value.decodeValue?.trim()
        ? JSON.parse(form.value.decodeValue?.trim())
        : null,
      sensitiveData: form.value.primary ? false : form.value.sensitiveData,
    };
    if (props.attribute) {
      const attribute = await requester.attributes.update(
        props.attribute.id,
        dto as UpdateAttributeDto
      );
      emit("attribute-updated", attribute);
      emitAlertSuccess("Attribute successfully updated");
    } else {
      const attribute = await requester.sections.createAttribute(
        form.value.sectionId,
        dto
      );
      emit("attribute-created", attribute);
      emitAlertSuccess("Attribute successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}

async function findSections(versionId: number) {
  try {
    sections.value = await requester.versions.findSections(versionId);
  } catch (err) {
    emitAlertError(err);
  }
}
</script>
