<template>
  <div>
    <!-- FORM -->
    <v-form ref="formRef">
      <v-row dense>
        <!-- URI -->
        <v-col cols="12">
          <v-text-field label="URI *" v-model="form.uri" :rules="rules.required" variant="outlined" />
        </v-col>
        <!-- NAME -->
        <v-col cols="12">
          <v-text-field label="Title *" v-model="form.title" :rules="rules.required" variant="outlined" />
        </v-col>
        <!-- DESCRIPTION -->
        <v-col cols="12">
          <v-textarea label="Description" v-model="form.description" rows="2" variant="outlined" />
        </v-col>
        <!-- START DATE -->
        <v-col cols="12" xl="6">
          <div class="text-body-2 text-medium-emphasis mb-2">Start Date</div>
          <v-row dense>
            <v-col cols="12" sm="4">
              <v-text-field label="Year *" v-model="form.startDateYear"
                :rules="[...rules.required, ...rules.integerPositive]" variant="outlined" />
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field label="Month" v-model="form.startDateMonth" :rules="rules.integerPositive"
                variant="outlined" />
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field label="Day" v-model="form.startDateDay" :rules="rules.integerPositive" variant="outlined" />
            </v-col>
          </v-row>
        </v-col>
        <!-- END DATE -->
        <v-col cols="12" xl="6">
          <div class="text-body-2 text-medium-emphasis mb-2">End Date</div>
          <v-row dense>
            <v-col cols="12" sm="4">
              <v-text-field label="Year" v-model="form.endDateYear" :rules="rules.integerPositive" variant="outlined" />
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field label="Month" v-model="form.endDateMonth" :rules="rules.integerPositive"
                variant="outlined" />
            </v-col>
            <v-col cols="12" sm="4">
              <v-text-field label="Day" v-model="form.endDateDay" :rules="rules.integerPositive" variant="outlined" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <!-- BTNS CANCEL / SAVE -->
    <div class="d-flex justify-space-between align-center">
      <v-btn prepend-icon="mdi-close" variant="outlined" :loading="loading.save" @click="cancel()">
        Cancel
      </v-btn>
      <v-btn prepend-icon="mdi-floppy" color="success" variant="flat" :loading="loading.save" @click="saveDebounce()">
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, inject, onMounted, Ref } from "vue";
import { debounce } from "lodash";
import { Dataset, Version } from "@backPrisma/client";
import { CreateVersionDto, UpdateVersionDto } from "@backSrc/versions/dto";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";

// PROPS
export interface Props {
  version?: Version;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "version-created", version: Version): void;
  (e: "version-updated", version: Version): void;
  (e: "cancel"): void;
}>();

// DATA

const dataset = inject<Ref<Dataset>>("dataset");

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  uri: "",
  title: "",
  description: "",
  startDateYear: "",
  startDateMonth: "",
  startDateDay: "",
  endDateYear: "",
  endDateMonth: "",
  endDateDay: "",
});

const rules = ref({
  required: [(v: string) => !!v || "Required"],
  integerPositive: [
    (v: string) => !v || Number.isInteger(Number(v)) || "Must be an integer",
    (v: string) => !v || Number(v) > 0 || "Must be positive",
  ],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.version) return;
  form.value.uri = props.version.uri || "";
  form.value.title = props.version.title || "";
  form.value.description = props.version.description || "";
  form.value.startDateYear = String(props.version.startDateYear || "");
  form.value.startDateMonth = String(props.version.startDateMonth || "");
  form.value.startDateDay = String(props.version.startDateDay || "");
  form.value.endDateYear = String(props.version.endDateYear || "");
  form.value.endDateMonth = String(props.version.endDateMonth || "");
  form.value.endDateDay = String(props.version.endDateDay || "");
}

function clearForm() {
  form.value.uri = "";
  form.value.title = "";
  form.value.description = "";
  form.value.startDateYear = "";
  form.value.startDateMonth = "";
  form.value.startDateDay = "";
  form.value.endDateYear = "";
  form.value.endDateMonth = "";
  form.value.endDateDay = "";
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateVersionDto = {
      uri: form.value.uri?.trim()?.toLowerCase() || null,
      title: form.value.title?.trim() || null,
      description: form.value.description?.trim() || null,
      startDateYear: Number(form.value.startDateYear) || null,
      startDateMonth: Number(form.value.startDateMonth) || null,
      startDateDay: Number(form.value.startDateDay) || null,
      endDateYear: Number(form.value.endDateYear) || null,
      endDateMonth: Number(form.value.endDateMonth) || null,
      endDateDay: Number(form.value.endDateDay) || null,
    };
    if (props.version) {
      const attribute = await requester.versions.update(
        props.version.id,
        dto as UpdateVersionDto
      );
      emit("version-updated", attribute);
      emitAlertSuccess("Version successfully updated");
    } else {
      const attribute = await requester.datasets.createVersion(
        dataset.value.id,
        dto
      );
      emit("version-created", attribute);
      emitAlertSuccess("Version successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
