<template>
  <v-app>
    <TheSnackbarAlert />
    <router-view />
  </v-app>
</template>

<script setup lang="ts">
import { onErrorCaptured } from "vue";

import { emitAlertError } from "./plugins/eventBus";

import TheSnackbarAlert from "./components/TheSnackbarAlert.vue";

onErrorCaptured((err: any) => {
  emitAlertError(err);
  return false;
});
</script>
