<template>
  <v-row dense>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Áreas de atuação"
        v-model="formAtuacao.areasAtuacaoIds"
        :items="items.areasAtuacao"
        item-value="id"
        item-title="nome"
        multiple
        chips
        closable-chips
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Áreas de estudo/pesquisa"
        v-model="formAtuacao.areasEstudoPesquisaIds"
        :items="items.areasEstudoPesquisa"
        item-value="id"
        item-title="nome"
        multiple
        chips
        closable-chips
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-menu>
        <template v-slot:activator="{ props }">
          <v-text-field
            label="Atua nesta(s) área(s) desde que ano?"
            v-model="formAtuacao.atuaDesde"
            readonly
            v-bind="props"
            variant="outlined"
            :append-inner-icon="
              !formAtuacao.atuaDesde ? '' : 'mdi-close-circle'
            "
            @click:append-inner.stop="formAtuacao.atuaDesde = null"
          />
        </template>
        <v-card width="300">
          <v-date-picker-years
            v-model="formAtuacao.atuaDesde"
            :max="new Date()"
          />
        </v-card>
      </v-menu>
    </v-col>
    <v-col cols="12" md="6">
      <v-select
        label="Abrangência geográfica da atuação"
        v-model="formAtuacao.abrangenciaId"
        :items="items.abrangencia"
        item-value="id"
        item-title="nome"
        variant="outlined"
        clearable
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Público focal"
        v-model="formAtuacao.publicosFocaisIds"
        :items="items.publicosFocais"
        item-value="id"
        item-title="nome"
        multiple
        chips
        closable-chips
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6">
      <v-autocomplete
        label="Tipo de espaço/local de atuação"
        v-model="formAtuacao.tiposEspacosIds"
        :items="items.tiposEspacos"
        item-value="id"
        item-title="nome"
        multiple
        chips
        closable-chips
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" md="6" v-if="!hideObjetivo">
      <v-textarea
        label="Objetivo/Fim"
        v-model="formAtuacao.objetivo"
        rows="4"
        variant="outlined"
      />
    </v-col>
    <v-col cols="12" :md="hideObjetivo ? '12' : '6'">
      <v-textarea
        label="Breve histórico de atuação"
        v-model="formAtuacao.atuacao"
        rows="4"
        variant="outlined"
      />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref, inject, onMounted, Ref } from "vue";
import requester from "@/requester";
import { Opcao } from "@backPrisma/client";
import { CategoriaOpcao } from "@/utils/opcoes-helper.utils";
import { emitAlertError } from "@/plugins/eventBus";

// PROPS
export interface Props {
  hideObjetivo?: boolean;
}
withDefaults(defineProps<Props>(), {
  hideObjetivo: false,
});

// DATA

const formAtuacao = inject<
  Ref<{
    objetivo: string;
    atuacao: string;
    atuaDesde: number;
    abrangenciaId: number;
    areasAtuacaoIds: number[];
    areasEstudoPesquisaIds: number[];
    publicosFocaisIds: number[];
    tiposEspacosIds: number[];
  }>
>("formAtuacao");

const items = ref<{ [k: string]: Opcao[] }>({
  abrangencia: [],
  areasAtuacao: [],
  areasEstudoPesquisa: [],
  publicosFocais: [],
  tiposEspacos: [],
});

onMounted(async () => {
  [
    items.value.abrangencia,
    items.value.areasAtuacao,
    items.value.areasEstudoPesquisa,
    items.value.publicosFocais,
    items.value.tiposEspacos,
  ] = await Promise.all([
    getOpcoes(CategoriaOpcao.ABRANGENCIA),
    getOpcoes(CategoriaOpcao.AREA_ATUACAO),
    getOpcoes(CategoriaOpcao.AREA_ESTUDO_PESQUISA),
    getOpcoes(CategoriaOpcao.PUBLICO_FOCAL),
    getOpcoes(CategoriaOpcao.TIPO_ESPACO),
  ]);
});

async function getOpcoes(categoria: CategoriaOpcao) {
  try {
    const responseData = await requester.opcoes.findAll({ categoria });
    return responseData?.results || [];
  } catch (err) {
    emitAlertError(err);
  }
  return [];
}
</script>
