<template>
  <v-row>
    <v-col cols="12" md="4">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model.trim="formLocalizacao.codigoPostal"
            label="CEP"
            variant="outlined"
            :loading="loading.cep"
            append-inner-icon="mdi-magnify"
            @click:append-inner="buscaCepDebounce(formLocalizacao.codigoPostal)"
            @keypress.enter="buscaCepDebounce(formLocalizacao.codigoPostal)"
            @keyup="buscaCepDebounce(formLocalizacao.codigoPostal)"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="formLocalizacao.logradouro"
            label="Logradouro"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="formLocalizacao.numero"
            label="Número"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="formLocalizacao.complemento"
            label="Complemento"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="formLocalizacao.bairro"
            label="Bairro"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            label="UF"
            v-model.trim="formLocalizacao.ufSigla"
            :items="ufs"
            item-value="sigla"
            item-title="nome"
            variant="outlined"
            :loading="loading.ufs"
            @update:model-value="getMunicipiosUf(formLocalizacao.ufSigla)"
          />
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            label="Município"
            v-model.trim="formLocalizacao.municipioCodigo"
            :items="
              formLocalizacao.ufSigla
                ? municipios.get(formLocalizacao.ufSigla)
                : []
            "
            item-value="id"
            item-title="nome"
            variant="outlined"
            :loading="loading.municipios"
            @update:model-value="preencheMunicipioNome()"
          />
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" md="8" class="w-100 pr-4" style="min-height: 400px">
      <MapaEndereco
        ref="mapaEndereco"
        :zoom="14"
        lass="elevation-1"
        @update:latlng="updateLatLng"
      />
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
import { ref, inject, onMounted, Ref } from "vue";
import { debounce } from "lodash";
import { emitAlertError } from "@/plugins/eventBus";
import requester from "@/requester";
import MapaEndereco from "../mapas/MapaEndereco.vue";

// DATA

const mapaEndereco = ref();

let lastCep = "";
let lastCepLatLng = { lat: null, lng: null };
const formLocalizacao = inject<
  Ref<{
    latitude: number;
    longitude: number;
    logradouro: string;
    numero: string;
    bairro: string;
    complemento: string;
    codigoPostal: string;
    municipioCodigo: number;
    municipioNome: string;
    ufSigla: string;
    ufNome: string;
  }>
>("formLocalizacao");
const loading = ref({
  cep: false,
  municipios: false,
  ufs: false,
});
const ufs = ref([]);
const municipios = ref(new Map());

// ON MOUNTED
onMounted(() => {
  getUfs();
});

// EXPOSED METHODS
defineExpose({
  initMap: () => {
    mapaEndereco.value.initMap({
      lat: formLocalizacao.value.latitude,
      lng: formLocalizacao.value.longitude,
      zoom: 17,
    });
  },
});

// METHOS

const buscaCepDebounce = debounce(buscaCep, 300);
async function buscaCep(cep: string) {
  const cleanCep = cep.replace(/\D/g, "");
  if (cleanCep.length !== 8 || cleanCep === lastCep) {
    return;
  }
  loading.value.cep = true;
  lastCep = cleanCep;
  try {
    const address = await requester.external.awesomeapi.cep(lastCep);

    lastCepLatLng.lat = address.lat;
    lastCepLatLng.lng = address.lng;
    mapaEndereco.value?.mapMoveMarker({
      lat: lastCepLatLng.lat,
      lng: lastCepLatLng.lng,
    });

    formLocalizacao.value.logradouro = address.address;
    formLocalizacao.value.bairro = address.district;
    formLocalizacao.value.codigoPostal = address.cep;
    formLocalizacao.value.ufSigla = address.state;
    await getMunicipiosUf(formLocalizacao.value.ufSigla);
    formLocalizacao.value.municipioCodigo = Number(address.city_ibge);
    preencheMunicipioNome();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.cep = false;
  }
}

async function getUfs() {
  loading.value.ufs = true;
  try {
    ufs.value = await requester.external.localidadesIbge.ufs();
    ufs.value.forEach((uf) => {
      municipios.value.set(uf.sigla, []);
    });
    if (formLocalizacao.value.ufSigla) {
      getMunicipiosUf(formLocalizacao.value.ufSigla);
    }
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.ufs = false;
  }
}

async function getMunicipiosUf(ufSigla: string) {
  const uf = ufs.value.find((uf) => uf.sigla === ufSigla);
  formLocalizacao.value.ufNome = uf?.nome || "";
  if (municipios.value.get(ufSigla).length > 0) {
    return;
  }
  loading.value.municipios = true;
  try {
    const municipiosUf = await requester.external.localidadesIbge.municipiosUf(
      ufSigla
    );
    municipios.value.set(ufSigla, municipiosUf);
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.municipios = false;
  }
}

function preencheMunicipioNome() {
  const ufSigla = formLocalizacao.value.ufSigla;
  const municipio = municipios.value
    .get(ufSigla)
    ?.find(
      (municipio) => municipio.id === formLocalizacao.value.municipioCodigo
    );
  formLocalizacao.value.municipioNome = municipio?.nome || "";
}

function updateLatLng(latlng: { lat: number; lng: number }) {
  formLocalizacao.value.latitude = latlng.lat;
  formLocalizacao.value.longitude = latlng.lng;
}
</script>
