<template>
  <v-card floating class="pa-0 px-lg-6">
    <v-tabs show-arrows color="primary" :grow="$vuetify.display.mdAndDown">
      <v-tab v-for="(item, index) in items" :key="index" :to="item.to" exact>
        {{ item.title }}
      </v-tab>
    </v-tabs>
  </v-card>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useRoute } from "vue-router";

// DATA

const route = useRoute();
const id = route.params.id;

const items = computed(() => [
  {
    title: "Ficha",
    to: { name: "AgentesInicio", params: { id } },
  },
  {
    title: "Rede",
    to: { name: "AgentesRede", params: { id } },
  },
  {
    title: "Entorno",
    to: { name: "AgentesEntorno", params: { id } },
  },
]);
</script>
