<template>
  <v-card
    v-if="agente"
    class="card-top mb-2"
    :height="$vuetify.display.mdAndUp ? '200px' : '300px'"
    elevation="2"
  >
    <v-progress-linear
      :bg-color="loading.setores ? '' : 'white'"
      color="primary"
      :indeterminate="loading.setores"
    />
    <v-container
      class="d-flex align-end fill-height py-sm-0 w-100"
      style="z-index: 1"
    >
      <div class="d-flex flex-column flex-sm-row align-center w-100">
        <div>
          <v-avatar size="130px" color="white">
            <v-avatar size="120px" color="white">
              <v-img src="">
                <template v-slot:placeholder>
                  <div class="d-flex justify-center align-center fill-height">
                    <v-icon :icon="icon" size="65" color="neutral" />
                  </div>
                </template>
              </v-img>
            </v-avatar>
          </v-avatar>
        </div>
        <div class="text-center text-sm-start pl-sm-10 my-4 w-100">
          <h1 class="text-h6 text-lg-h5 text-xl-h4">
            {{ agente.nome }}
          </h1>
          <p v-if="routeTitle" class="text-body-2 text-disabled">
            {{ routeTitle }}
          </p>
        </div>
        <!-- <div
          v-if="$vuetify.display.smAndUp"
          class="d-flex justify-end align-end w-100"
        >
          <v-btn
            size="large"
            prepend-icon="mdi-arrow-expand-down"
            @click="expandirMapa()"
          >
            Expandir mapa
          </v-btn>
        </div> -->
      </div>
    </v-container>
    <div class="white-gradient" />
    <div class="white-strip" />
    <div
      class="container-componente-mapa"
      :style="endereco && enderecoPublico ? '' : 'filter: blur(5px);'"
    >
      <MapaGenerico ref="mapaGenerico" :zoom="zoomMapaGenerico" />
    </div>
  </v-card>
</template>

<script setup lang="ts">
import { ref, computed, inject, onMounted, Ref, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { AgenteCompleto } from "@/requester/agentes.requester";
import { TipoAgente } from "@/utils/agentes-helper.utils";
import MapaGenerico from "@/components/mapas/MapaGenerico.vue";

// DATA

const mapaGenerico = ref();

const router = useRouter();
const route = useRoute();
const routeTitle = computed(() => route?.meta?.title);
const routeName = computed(() => route?.name);
const zoomMapaGenerico = routeName.value === "AgentesEntorno" ? 14 : 17;

const loading = ref({
  setores: false,
});

const agente = inject<Ref<AgenteCompleto>>("agente");
const endereco = computed(() => agente.value?.endereco);
const enderecoPublico = computed(() =>
  agente?.value.tipo === TipoAgente.INDIVIDUAL
    ? agente.value?.agenteIndividual?.enderecoPublico
    : true
);
const icon = computed(() => {
  switch (agente?.value.tipo) {
    case TipoAgente.INDIVIDUAL:
      return "mdi-account";
    case TipoAgente.COLETIVO:
      return "mdi-account-group";
    default:
      return "mdi-account-group";
  }
});

watch(routeName, async (newRouteName) => {
  if (
    newRouteName === "AgentesEntorno" &&
    endereco.value &&
    enderecoPublico.value
  ) {
    loading.value.setores = true;
    mapaGenerico.value?.setMapZoom(14);
    await mapaGenerico.value?.loadGeojsonSetores({
      lat: agente.value?.endereco.latitude,
      lng: agente.value?.endereco.longitude,
      radiusKm: 1,
    });
    loading.value.setores = false;
  } else {
    mapaGenerico.value?.setMapZoom(17);
    mapaGenerico.value?.clearGeojsonSetores();
  }
});

// ON MOUNTED
onMounted(async () => {
  if (endereco.value && enderecoPublico.value) {
    const lat = endereco.value.latitude;
    const lng = endereco.value.longitude;
    mapaGenerico.value?.moveMarker({ lat, lng });
    if (route.name === "AgentesEntorno") {
      loading.value.setores = true;
      await mapaGenerico.value?.loadGeojsonSetores({ lat, lng, radiusKm: 1 });
      loading.value.setores = false;
    } else {
      mapaGenerico.value?.clearGeojsonSetores();
    }
  }
});

//METHODS

function getQueryExpandirMapa() {
  const markerLatLng = mapaGenerico.value?.getMarkerLatLng();
  const { lat, lng } = markerLatLng;
  const zoom = mapaGenerico.value?.getMapZoom();
  return {
    ...(lat ? { lat } : {}),
    ...(lng ? { lng } : {}),
    ...(zoom ? { zoom } : {}),
  };
}

function expandirMapa() {
  router.push({ name: "Mapa", query: getQueryExpandirMapa() });
}
</script>

<style scoped>
.card-top {
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.white-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: -1;
  pointer-events: none;
}

.white-strip {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: -1;
  pointer-events: none;
}

.container-componente-mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
}

.children-pointer-events-all > * {
  pointer-events: all;
}

.children-pointer-events-none > * {
  pointer-events: none;
}
</style>
