<template>
  <h1>Seção Ficha Completa e Resumida</h1>
  <p>
    Esta estrutura organiza informações de escolas em duas seções principais:
    Identificação e Localização. Na seção Identificação, os dados incluem o
    Código INEP (identificador único da escola), Nome da escola, Esfera
    Administrativa (tipo de administração), Telefone e Email. A seção
    Localização especifica o Logradouro (rua/avenida), Número,
    Complemento/Bairro, CEP (código postal), Município e UF (estado). Cada item
    possui uma ordem, tipo de dado e coluna correspondente no banco, facilitando
    a organização e o acesso aos dados.
  </p>
</template>
<script setup lang="ts"></script>
