<template>
  <v-tabs color="primary" class="my-2" v-model="tab">
    <!-- DETAILS -->
    <v-tab
      :to="{
        name: 'BasesStep1',
      }"
      exact
    >
      <span>Paço1</span>
    </v-tab>
  </v-tabs>
</template>

<script setup lang="ts">
import { ref } from "vue";

const tab = ref(0);
</script>
