<template>
  <v-container class="fill-height pt-14 pt-sm-4 pb-4">
    <v-row justify="space-between" align="start" align-content="center">
      <v-col>
        <div class="d-flex align-center mb-2">
          <div>
            <h1 class="text-h4 font-weight-bold">Categorias Cadastradas</h1>
            <p class="mb-6">
              É necessário selecionar a categoria a registrar a base
            </p>
          </div>

          <v-btn
            prepend-icon="mdi-plus"
            color="primary"
            variant="flat"
            class="ml-2"
            @click="addValuesToFormCreate"
          >
            Categorias
          </v-btn>
        </div>
        <div v-if="createCategoryError">
          <v-alert type="error" prominent class="mb-4">
            <div class="font-weight-medium">Erro ao buscar as bases</div>
            <div class="text-caption">{{ createCategoryError }}</div>
          </v-alert>
        </div>
        <div v-else-if="categories.values.length">
          <v-alert type="warning" prominent class="mb-4">
            <div class="font-weight-medium">Sem categorias registradas</div>
            <div class="text-caption">Registre ao menos uma categoria</div>
          </v-alert>
        </div>
        <template v-else-if="!openFormCategoryAction">
          <v-card variant="outlined" color="grey-lighten-2">
            <div class="responsive-table">
              <v-table>
                <thead>
                  <tr>
                    <th class="sticky-column">Gerênciar</th>
                    <th>Tipo</th>
                    <th>URI</th>
                    <th>Name</th>
                    <th>Icon</th>
                    <th>Color</th>
                    <th>Order</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in categories"
                    :key="item.uri"
                    @click="selectRow(item.uri)"
                    :class="{ 'selected-row': selectedRowId === item.uri }"
                    class="sticky-column"
                  >
                    <td>
                      <div class="d-flex flex-row">
                        <v-btn
                          icon="mdi-check"
                          color="primary"
                          variant="flat"
                          class="ml-2"
                          v-model="selectedRowId"
                          :value="item.uri"
                        >
                        </v-btn>

                        <v-btn
                          color="warning"
                          variant="flat"
                          class="ml-2"
                          icon="mdi-file-edit"
                          @click="addValuesToFormEdit(item)"
                        >
                        </v-btn>

                        <v-dialog max-width="500">
                          <template
                            v-slot:activator="{ props: activatorProps }"
                          >
                            <v-btn
                              prepend-icon="mdi-delete"
                              color="error"
                              variant="flat"
                              class="ml-2"
                              v-bind="activatorProps"
                              icon="mdi-delete"
                            >
                            </v-btn>
                          </template>

                          <template v-slot:default="{ isActive }">
                            <v-card title="Deseja excluir a categoria?">
                              <v-card-text>
                                Ao confirmar, a categoria será excluída
                              </v-card-text>

                              <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn
                                  text="Confirmar"
                                  color="error"
                                  variant="flat"
                                  @click="
                                    () => {
                                      isActive.value = false;
                                      removeCategory(item.uri);
                                    }
                                  "
                                ></v-btn>
                                <v-btn
                                  text="Voltar"
                                  @click="isActive.value = false"
                                  color="secondary"
                                  variant="flat"
                                ></v-btn>
                              </v-card-actions>
                            </v-card>
                          </template>
                        </v-dialog>
                      </div>
                    </td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.uri }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      <v-icon aria-hidden="false"> {{ item.icon }} </v-icon>
                    </td>
                    <td>
                      <v-chip
                        :style="{ backgroundColor: item.color, color: 'white' }"
                        class="ma-2"
                        small
                      >
                        {{ item.color }}
                      </v-chip>
                    </td>
                    <td>{{ item.order }}</td>
                  </tr>
                </tbody>
              </v-table>
            </div>
          </v-card>
        </template>
      </v-col>
    </v-row>
    <v-row v-if="openFormCategoryAction">
      <v-col>
        <v-dialog v-model="exceptionCreatingBase" persistent max-width="400">
          <v-card>
            <v-card-title>Não foi possível executar a ação</v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <p>Verifique possível duplicação para os campos:</p>
                  <ul>
                    <li>Nome</li>
                    <li>URI</li>
                  </ul>
                  <hr />
                  <p>Se o problema persistir procure ajuda técnica</p>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="exceptionCreatingBase = false"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
        <!-- <v-col cols="12" sm="10" md="8" lg="6" xl="4"> -->
        <h1 class="text-h4 font-weight-bold mb-6">Cadastro de Categoria</h1>
        <v-form ref="formCadastroCategoria">
          <v-row dense>
            <v-col cols="12">
              <v-select
                v-model="typeFormValue"
                label="Tipo"
                class="mb-2"
                :rules="rulesRequired"
                :items="['EQUIPAMENTO', 'LIMITE_TERRITORIAL', 'REDE']"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-combobox
                label="URI"
                :items="layersFormValue"
                placeholder="Insira o URI (ex: educacao)"
                class="mb-2"
                variant="outlined"
                v-model="uriFormValue"
                @update:model-value="handleValueChange"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="form.name"
                label="Nome"
                placeholder="Insira o nome (ex: Educação)"
                variant="outlined"
                :rules="rulesRequired"
                class="mb-2"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="selectedIcon"
                label="Select Icon"
                clearable
              >
                <template v-slot:append>
                  <v-icon>{{ selectedIcon }}</v-icon>
                </template>
                <template v-slot:append-inner>
                  <v-btn icon variant="text" @click="showIconPicker = true">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>
              </v-text-field>
              <v-dialog v-model="showIconPicker" persistent max-width="400">
                <v-card>
                  <v-card-title>Select an Icon</v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col
                          v-for="icon in availableIcons"
                          :key="icon"
                          cols="4"
                          class="text-center"
                        >
                          <v-btn
                            icon
                            @click="selectIcon(icon)"
                            :color="icon === selectedIcon ? 'primary' : ''"
                          >
                            <v-icon>{{ icon }}</v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                      <a>Acesse mais opçoes de ícones em </a>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="showIconPicker = false"
                      >Close</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="form.color"
                type="color"
                label="Cor"
                placeholder="Insira a cor (ex: indigo)"
                variant="outlined"
                :rules="rulesRequired"
                class="mb-2"
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="form.order"
                label="Ordem"
                type="number"
                placeholder="Insira a ordem (ex: 4)"
                variant="outlined"
                :rules="rulesRequired"
                class="mb-2"
              />
            </v-col>
          </v-row>
        </v-form>
        <v-btn
          block
          rounded
          variant="flat"
          color="primary"
          size="x-large"
          class="text-body-1 mb-2"
          :loading="loading"
          @click="registerCategoryInDebounce(openFormCategoryAction)"
        >
          Cadastrar Categoria
        </v-btn>
        <v-btn
          block
          rounded
          variant="flat"
          color="warning"
          size="x-large"
          class="text-body-1 mb-2"
          @click="openFormCategoryAction = ''"
        >
          Cancelar
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { debounce } from "lodash";
import { ref, onMounted } from "vue";
import requester from "@/requester";
import { BaseCategory, BaseCategoryType } from "@backPrisma/client";

const openFormCategoryAction = ref<"EDIT" | "CREATE" | "">("");
const loading = ref(true);
const createCategoryError = ref(null);
const formCadastroCategoria = ref();
const categories = ref<BaseCategory[]>([]);
const category = ref<BaseCategory>();
const exceptionCreatingBase = ref(false);
const selectedRowId = ref(null);
const layersFormValue = ref(null);
const uriFormValue = ref(null);
const typeFormValue = ref<BaseCategoryType>("LIMITE_TERRITORIAL");
const form = ref<BaseCategory>({
  type: typeFormValue.value,
  uri: "",
  name: "",
  icon: "",
  color: "",
  order: null,
});

const rulesRequired = [
  (v: string) => (!!v && v.length > 0) || "Campo obrigatório",
];
const selectedIcon = ref("mdi-account");
const showIconPicker = ref(false);
const availableIcons = ref([
  "mdi-account",
  "mdi-home",
  "mdi-settings",
  "mdi-bell",
  "mdi-email",
  "mdi-palette",
  "mdi-star",
  "mdi-heart",
  "mdi-help-circle",
]);

const selectIcon = (icon) => {
  selectedIcon.value = icon;
  showIconPicker.value = false;
  form.value.icon = icon;
};

const handleValueChange = (value: string | { value: string }) => {
  const finalValue = typeof value === "object" ? value.value : value;
  const normalizedValue = finalValue ? finalValue.trim().toLowerCase() : "";
  uriFormValue.value = normalizedValue;
};

// DATA

onMounted(async () => {
  try {
    categories.value = await requester.bases.listCategories();
    const geoServerData = await requester.geoServer.getLayers();
    layersFormValue.value = geoServerData.layers.layer.map((i) => {
      return { title: i.name, value: i.name };
    });
  } catch (err) {
    createCategoryError.value =
      err.response.data.message ?? "Erro ao buscar categorias";
    console.log(createCategoryError.value);
  } finally {
    loading.value = false;
  }
});

// FUNCTIONS

const selectRow = (id) => {
  selectedRowId.value = id;
};

const registerCategoryInDebounce = debounce((action) => {
  if (action === "CREATE") {
    registerCategorie();
  } else {
    updateCategory();
  }
}, 300);

async function registerCategorie() {
  loading.value = true;
  const validate = await formCadastroCategoria.value.validate();
  if (!validate.valid) {
    console.error(validate.errors);
    loading.value = false;
    return;
  }

  const categorieForm: BaseCategory = {
    type: typeFormValue.value,
    uri: uriFormValue.value,
    name: form.value.name,
    icon: selectedIcon.value,
    color: form.value.color,
    order: Number(form.value.order),
  };

  try {
    category.value = await requester.bases.createBaseCategory(categorieForm);
    location.reload();
  } catch (e) {
    console.log(e);
    exceptionCreatingBase.value = true;
  }

  loading.value = false;
}

function addValuesToFormEdit(categorie) {
  openFormCategoryAction.value = "EDIT";
  typeFormValue.value = categorie.type;
  uriFormValue.value = categorie.uri;
  // layersFormValue.value = categorie.uri;
  form.value.name = categorie.name;
  form.value.icon = categorie.icon;
  form.value.color = categorie.color;
  form.value.order = categorie.order;
}

function addValuesToFormCreate() {
  openFormCategoryAction.value = "CREATE";
  typeFormValue.value = null;
  uriFormValue.value = null;
  form.value.name = null;
  form.value.icon = null;
  form.value.color = null;
  form.value.order = null;
}

async function removeCategory(categoryUri: string) {
  loading.value = true;
  try {
    await requester.bases.deleteCategories(categoryUri);
    location.reload();
  } catch (exception) {
    console.error(exception);
  }
}

async function updateCategory() {
  loading.value = true;
  const validate = await formCadastroCategoria.value.validate();
  if (!validate.valid) {
    console.error(validate.errors);
    loading.value = false;
    return;
  }

  const categorieForm: BaseCategory = {
    type: typeFormValue.value,
    uri: uriFormValue.value,
    name: form.value.name,
    icon: selectedIcon.value,
    color: form.value.color,
    order: Number(form.value.order),
  };
  try {
    await requester.bases.updateBaseCategory(categorieForm.uri, categorieForm);
    location.reload();
  } catch (exception) {
    console.error(exception);
  }
}
</script>
