<template>
  <h1>Criação da base</h1>
  <p>
    Esta configuração define os parâmetros para exibir e acessar dados
    geográficos de escolas no sistema. A categoria principal é "educação", e os
    dados estão no servidor geoserver em culturaeduca:datasets_escolas_2024. A
    tabela escolas_2024, no esquema de banco de dados datasets, armazena os
    dados, com a chave primária codigo_inep e o nome da escola em nome_escola.
    Campos adicionais incluem geometria (_geom) e geografia (_geog), além de
    identificadores de município e estado (codigo_municipio_ibge e sigla_uf).
  </p>
</template>
