<template>
  <v-dialog
    :value="props.value"
    @update:model-value="updateModelValue"
    :width="props.width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Update Dataset #{{ dataset.id }} </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <DatasetsFormCreateUpdate
          :dataset="dataset"
          @cancel="updateModelValue(false)"
          @dataset-updated="emit('dataset-updated', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Dataset } from "@backPrisma/client";

import DatasetsFormCreateUpdate from "./DatasetsFormCreateUpdate.vue";

// PROPS
export interface Props {
  dataset: Dataset;
  value?: boolean;
  width?: number | string;
}
const props = withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "dataset-updated", dataset: Dataset): void;
}>();

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
