<template>
  <v-dialog
    :model-value="modelValue"
    @update:model-value="updateModelValue"
    :width="width"
  >
    <v-card>
      <v-card-item>
        <v-card-title> Create Dataset </v-card-title>
        <v-divider class="my-1" />
      </v-card-item>
      <v-card-text class="mb-3">
        <DatasetsFormCreateUpdate
          @cancel="updateModelValue(false)"
          @dataset-created="emit('dataset-created', $event)"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { Dataset } from "@backPrisma/client";

import DatasetsFormCreateUpdate from "./DatasetsFormCreateUpdate.vue";

// PROPS
export interface Props {
  modelValue?: boolean;
  width?: number | string;
}
withDefaults(defineProps<Props>(), {
  value: false,
  width: 960,
});

// EMITS
const emit = defineEmits<{
  (e: "update:model-value", event: boolean): void;
  (e: "dataset-created", dataset: Dataset): void;
}>();

// METHODS

function updateModelValue(event: boolean) {
  emit("update:model-value", event);
}
</script>
