<template>
  <div>
    <v-form ref="formRef">
      <v-row dense>
        <v-col cols="12">
          <v-text-field
            v-model="form.uri"
            label="URI *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model="form.title"
            label="Title *"
            :rules="rules.required"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model="form.description"
            label="Description"
            rows="2"
            variant="outlined"
          />
        </v-col>
        <v-col cols="12">
          <v-autocomplete
            v-model="form.format"
            label="Format *"
            :items="itemsFormat"
            item-value="value"
            :rules="rules.required"
            variant="outlined"
            :disabled="!!props.dataset"
            style="width: 100%"
          />
        </v-col>
        <v-col cols="12">
          <v-text-field v-model="form.owner" label="Owner" variant="outlined" />
        </v-col>
      </v-row>
    </v-form>

    <div class="d-flex justify-space-between align-center">
      <v-btn
        prepend-icon="mdi-close"
        variant="outlined"
        :loading="loading.save"
        @click="cancel()"
      >
        Cancel
      </v-btn>
      <v-btn
        prepend-icon="mdi-floppy"
        color="success"
        variant="flat"
        :loading="loading.save"
        @click="saveDebounce()"
      >
        Save
      </v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { debounce } from "lodash";
import { Dataset } from "@backPrisma/client";
import { CreateDatasetDto, UpdateDatasetDto } from "@backSrc/datasets/dto";
import { DatasetFormatEnum } from "@backSrc/datasets/datasets.constants";
import requester from "@/requester";
import { emitAlertError, emitAlertSuccess } from "@/plugins/eventBus";
import { getDatasetFormatText } from "@/utils/datasets-helper.utils";

// PROPS
export interface Props {
  dataset?: Dataset;
}
const props = defineProps<Props>();

// EMITS
const emit = defineEmits<{
  (e: "dataset-created", dataset: Dataset): void;
  (e: "dataset-updated", dataset: Dataset): void;
  (e: "cancel"): void;
}>();

const loading = ref({
  save: false,
});

const formRef = ref();
const form = ref({
  uri: "",
  title: "",
  description: "",
  format: null,
  owner: "",
});

const itemsFormat = ref(
  Object.values(DatasetFormatEnum).map((value) => ({
    value,
    title: getDatasetFormatText(value),
  }))
);

const rules = ref({
  required: [(v: string) => !!v || "Required"],
});

onMounted(() => {
  fillForm();
});

function fillForm() {
  if (!props.dataset) return;
  form.value.uri = props.dataset.uri || "";
  form.value.title = props.dataset.title || "";
  form.value.description = props.dataset.description || "";
  form.value.format = props.dataset.format || null;
  form.value.owner = props.dataset.owner || "";
}

function clearForm() {
  form.value.uri = "";
  form.value.title = "";
  form.value.description = "";
  form.value.format = null;
  form.value.owner = "";
}

function cancel() {
  emit("cancel");
  clearForm();
}

const saveDebounce = debounce(save, 300);
async function save() {
  const validate = await formRef?.value?.validate();
  if (!validate.valid) return;

  loading.value.save = true;
  try {
    const dto: CreateDatasetDto = {
      uri: form.value.uri?.trim()?.toLowerCase(),
      title: form.value.title?.trim(),
      description: form.value.description?.trim(),
      format: form.value.format,
      owner: form.value.owner?.trim(),
    };
    if (props.dataset) {
      const dataset = await requester.datasets.update(
        props.dataset.id,
        dto as UpdateDatasetDto
      );
      emit("dataset-updated", dataset);
      emitAlertSuccess("Dataset successfully updated");
    } else {
      const dataset = await requester.datasets.create(dto);
      emit("dataset-created", dataset);
      emitAlertSuccess("Dataset successfully created");
    }
    clearForm();
  } catch (err) {
    emitAlertError(err);
  } finally {
    loading.value.save = false;
  }
}
</script>
